Repository ahgraber/homelab-gitops-k3s, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/addons, area/ansible, area/bootstrap, area/github, area/kubernetes

.github/labeler.yaml:

---
area/addons:
  - "bootstrap/templates/addons/**/*"
  - "bootstrap/tasks/addons/**/*"
  - "bootstrap/vars/addons.sample.yaml"
area/ansible:
  - "ansible/**/*"
  - "bootstrap/templates/ansible/**/*"
  - "bootstrap/tasks/ansible/**/*"
area/bootstrap:
  - "bootstrap/**/*"
  - "bootstrap/configure.yaml"
area/github:
  - ".github/**/*"
area/kubernetes:
  - "kubernetes/**/*"
  - "bootstrap/templates/kubernetes/**/*"
  - "bootstrap/tasks/kubernetes/**/*"

fix(helm): update chart grafana to 7.0.8
  bootstrap/templates/addons/grafana/app/helmrelease.yaml.j2
  kubernetes/apps/monitoring/grafana/app/helmrelease.yaml
Labels: area/addons, area/bootstrap, area/kubernetes

feat(ansible)!: Update kubernetes.core to 3.0.0
  requirements.yaml
Labels: none

feat(ansible)!: Update kubernetes.core to 3.0.0
  requirements.yaml
Labels: none

fix(container): update image ghcr.io/thomiceli/opengist to v1.5.3
  kubernetes/apps/default/opengist/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/thomiceli/opengist to v1.5.3
  kubernetes/apps/default/opengist/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update prefect group to 2023.11.20
  kubernetes/apps/datasci/prefect/agent/helmrelease.yaml
  kubernetes/apps/datasci/prefect/server/helmrelease.yaml
  kubernetes/apps/datasci/prefect/worker/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update prefect group to 2023.11.20
  kubernetes/apps/datasci/prefect/agent/helmrelease.yaml
  kubernetes/apps/datasci/prefect/server/helmrelease.yaml
  kubernetes/apps/datasci/prefect/worker/helmrelease.yaml
Labels: area/kubernetes

fix: vpa version
  kubernetes/apps/monitoring/goldilocks/app/helmrelease-vpa.yaml
Labels: area/kubernetes

fix: vpa version
  kubernetes/apps/monitoring/goldilocks/app/helmrelease-vpa.yaml
Labels: area/kubernetes

fix: vpa version
  kubernetes/apps/monitoring/goldilocks/app/helmrelease-vpa.yaml
Labels: area/kubernetes

fix: vpa version
  kubernetes/apps/monitoring/goldilocks/app/helmrelease-vpa.yaml
Labels: area/kubernetes

fix(helm): update chart windmill to 2.0.30
  kubernetes/apps/datasci/windmill/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update chart windmill to 2.0.30
  kubernetes/apps/datasci/windmill/app/helmrelease.yaml
Labels: area/kubernetes

chore(deps): update ansible to 9.0.1
  requirements.txt
Labels: none

chore(deps): update ansible to 9.0.1
  requirements.txt
Labels: none

fix(container): update image ghcr.io/cloudnative-pg/postgresql to v14.10-2
  kubernetes/apps/datasci/postgres/cloudnative-pg/db/cluster.yaml
  kubernetes/apps/default/postgres/cloudnative-pg/db/cluster.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/cloudnative-pg/postgresql to v14.10-2
  kubernetes/apps/datasci/postgres/cloudnative-pg/db/cluster.yaml
  kubernetes/apps/default/postgres/cloudnative-pg/db/cluster.yaml
Labels: area/kubernetes

fix: syncthing readme
  kubernetes/apps/default/syncthing/README.md
Labels: area/kubernetes

fix: syncthing readme
  kubernetes/apps/default/syncthing/README.md
Labels: area/kubernetes

fix(container): update image weave-gitops to v4.0.35
  bootstrap/templates/addons/weave-gitops/app/helmrelease.yaml.j2
  kubernetes/apps/flux-system/weave-gitops/app/helmrelease.yaml
Labels: area/addons, area/bootstrap, area/kubernetes

fix(container): update image weave-gitops to v4.0.35
  bootstrap/templates/addons/weave-gitops/app/helmrelease.yaml.j2
  kubernetes/apps/flux-system/weave-gitops/app/helmrelease.yaml
Labels: area/addons, area/bootstrap, area/kubernetes

feat(container): update image k8s-ycl to v1.1.0
  kubernetes/apps/kube-system/ycl/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update image k8s-ycl to v1.1.0
  kubernetes/apps/kube-system/ycl/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update image kube-prometheus-stack to v54.2.1
  bootstrap/templates/addons/kube-prometheus-stack/app/helmrelease.yaml.j2
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/addons, area/bootstrap, area/kubernetes

feat(container): update image kube-prometheus-stack to v54.2.1
  bootstrap/templates/addons/kube-prometheus-stack/app/helmrelease.yaml.j2
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/addons, area/bootstrap, area/kubernetes

fix(helm): update prefect group to 2023.11.22
  kubernetes/apps/datasci/prefect/agent/helmrelease.yaml
  kubernetes/apps/datasci/prefect/server/helmrelease.yaml
  kubernetes/apps/datasci/prefect/worker/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update prefect group to 2023.11.22
  kubernetes/apps/datasci/prefect/agent/helmrelease.yaml
  kubernetes/apps/datasci/prefect/server/helmrelease.yaml
  kubernetes/apps/datasci/prefect/worker/helmrelease.yaml
Labels: area/kubernetes

fix: bump rook-ceph mds memory limit
  kubernetes/apps/rook-ceph/rook-ceph/cluster/helmrelease.yaml
Labels: area/kubernetes

fix: bump rook-ceph mds memory limit
  kubernetes/apps/rook-ceph/rook-ceph/cluster/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update chart windmill to 2.0.32
  kubernetes/apps/datasci/windmill/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update chart windmill to 2.0.32
  kubernetes/apps/datasci/windmill/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image kube-prometheus-stack to v54.2.2
  bootstrap/templates/addons/kube-prometheus-stack/app/helmrelease.yaml.j2
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/addons, area/bootstrap, area/kubernetes

fix(container): update image kube-prometheus-stack to v54.2.2
  bootstrap/templates/addons/kube-prometheus-stack/app/helmrelease.yaml.j2
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/addons, area/bootstrap, area/kubernetes

fix(container): update image ghcr.io/cloudnative-pg/postgresql to v14.10-4
  kubernetes/apps/datasci/postgres/cloudnative-pg/db/cluster.yaml
  kubernetes/apps/default/postgres/cloudnative-pg/db/cluster.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/cloudnative-pg/postgresql to v14.10-4
  kubernetes/apps/datasci/postgres/cloudnative-pg/db/cluster.yaml
  kubernetes/apps/default/postgres/cloudnative-pg/db/cluster.yaml
Labels: area/kubernetes

feat(container): update image docker.io/sissbruecker/linkding to v1.23.0
  kubernetes/apps/default/linkding/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update image docker.io/sissbruecker/linkding to v1.23.0
  kubernetes/apps/default/linkding/app/helmrelease.yaml
Labels: area/kubernetes

fix: update minio metrics scrape
  Taskfile.yaml
  kubernetes/apps/monitoring/kube-prometheus-stack/app/secret-additionalScrapeConfigs.sops.yaml
Labels: area/kubernetes

fix: update minio metrics scrape
  Taskfile.yaml
  kubernetes/apps/monitoring/kube-prometheus-stack/app/secret-additionalScrapeConfigs.sops.yaml
Labels: area/kubernetes

feat: add bot blocks to nginx configs
  kubernetes/apps/networking/nginx/external/helmrelease.yaml
  kubernetes/apps/networking/nginx/internal/helmrelease.yaml
Labels: area/kubernetes
