Repository ahgraber/homelab-gitops-k3s, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/docs, area/github, area/kubernetes, area/taskfile

chore: ignore .git* files during typo check
  .pre-commit-config.yaml
  .typos.toml
Labels: none

feat: rook-ceph scaledown tasks
  .taskfiles/rook/scripts/resume-rook-ceph.sh
  .taskfiles/rook/scripts/scaledown-consumers.sh
  .taskfiles/rook/scripts/scaledown-rook-ceph.sh
  .taskfiles/rook/taskfile.yaml
  kubernetes/apps/rook-ceph/rook-ceph/cluster/helmrelease.yaml
Labels: area/kubernetes, area/taskfile

feat: rook-ceph scaledown tasks
  .taskfiles/rook/scripts/resume-rook-ceph.sh
  .taskfiles/rook/scripts/scaledown-consumers.sh
  .taskfiles/rook/scripts/scaledown-rook-ceph.sh
  .taskfiles/rook/taskfile.yaml
  kubernetes/apps/rook-ceph/rook-ceph/cluster/helmrelease.yaml
Labels: area/kubernetes, area/taskfile

fix: kps nonsense
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
  kubernetes/apps/monitoring/kube-prometheus-stack/crds/helmrelease.yaml
  kubernetes/apps/monitoring/kube-prometheus-stack/crds/kustomization.yaml
  kubernetes/apps/monitoring/kube-prometheus-stack/ks.yaml
Labels: area/kubernetes

fix: kps nonsense
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
  kubernetes/apps/monitoring/kube-prometheus-stack/crds/helmrelease.yaml
  kubernetes/apps/monitoring/kube-prometheus-stack/crds/kustomization.yaml
  kubernetes/apps/monitoring/kube-prometheus-stack/ks.yaml
Labels: area/kubernetes

fix: kps nonsense
  kubernetes/apps/monitoring/kube-prometheus-stack/crds/kustomization.yaml
Labels: area/kubernetes

fix: kps nonsense
  kubernetes/apps/monitoring/kube-prometheus-stack/crds/kustomization.yaml
Labels: area/kubernetes

fix: kps nonsense
  kubernetes/apps/monitoring/kube-prometheus-stack/ks.yaml
Labels: area/kubernetes

fix: kps nonsense
  kubernetes/apps/monitoring/kube-prometheus-stack/ks.yaml
Labels: area/kubernetes

docs: rook-ceph
  kubernetes/apps/rook-ceph/README.md
Labels: area/kubernetes

docs: rook-ceph
  kubernetes/apps/rook-ceph/README.md
Labels: area/kubernetes

fix: storage requirements
  kubernetes/apps/blog/hugo/ks.yaml
  kubernetes/apps/blog/umami/ks.yaml
  kubernetes/apps/datasci/docat/ks.yaml
  kubernetes/apps/datasci/mlflow/ks.yaml
  kubernetes/apps/default/changedetection/ks.yaml
  kubernetes/apps/default/mealie/ks.yaml
  kubernetes/apps/default/memos/ks.yaml
  kubernetes/apps/default/syncthing/ks.yaml
Labels: area/kubernetes

fix: storage requirements
  kubernetes/apps/blog/hugo/ks.yaml
  kubernetes/apps/blog/umami/ks.yaml
  kubernetes/apps/datasci/docat/ks.yaml
  kubernetes/apps/datasci/mlflow/ks.yaml
  kubernetes/apps/default/changedetection/ks.yaml
  kubernetes/apps/default/mealie/ks.yaml
  kubernetes/apps/default/memos/ks.yaml
  kubernetes/apps/default/syncthing/ks.yaml
Labels: area/kubernetes

fix: storage requirements
  kubernetes/apps/default/mealie/ks.yaml
Labels: area/kubernetes

fix: storage requirements
  kubernetes/apps/default/mealie/ks.yaml
Labels: area/kubernetes

fix: storage requirements
  kubernetes/apps/monitoring/loki/app/objectbucketclaim.yaml
  kubernetes/apps/monitoring/thanos/app/objectbucketclaim.yaml
Labels: area/kubernetes

fix: storage requirements
  kubernetes/apps/monitoring/loki/app/objectbucketclaim.yaml
  kubernetes/apps/monitoring/thanos/app/objectbucketclaim.yaml
Labels: area/kubernetes

feat: migrate homebox from haykot to sysadminsmedia
  kubernetes/apps/default/homebox/app/helmrelease.yaml
Labels: area/kubernetes

feat: migrate homebox from haykot to sysadminsmedia
  kubernetes/apps/default/homebox/app/helmrelease.yaml
Labels: area/kubernetes

fix: linkding permissions
  kubernetes/apps/default/linkding/app/helmrelease.yaml
Labels: area/kubernetes

fix: linkding permissions
  kubernetes/apps/default/linkding/app/helmrelease.yaml
Labels: area/kubernetes

fix: prefect helm chart changes
  kubernetes/apps/datasci/prefect/server/helmrelease.yaml
  kubernetes/apps/datasci/prefect/worker/helmrelease.yaml
Labels: area/kubernetes

fix: prefect helm chart changes
  kubernetes/apps/datasci/prefect/server/helmrelease.yaml
  kubernetes/apps/datasci/prefect/worker/helmrelease.yaml
Labels: area/kubernetes

chore: change error page template
  kubernetes/apps/networking/ingress-nginx/external/helmrelease.yaml
  kubernetes/apps/networking/ingress-nginx/internal/helmrelease.yaml
Labels: area/kubernetes

chore: change error page template
  kubernetes/apps/networking/ingress-nginx/external/helmrelease.yaml
  kubernetes/apps/networking/ingress-nginx/internal/helmrelease.yaml
Labels: area/kubernetes

fix: linkding permissions
  kubernetes/apps/default/linkding/app/helmrelease.yaml
Labels: area/kubernetes

fix: linkding permissions
  kubernetes/apps/default/linkding/app/helmrelease.yaml
Labels: area/kubernetes

feat: prettier config
  .prettierrc.yaml
  pyproject.toml
Labels: none

feat: prettier config
  .prettierrc.yaml
  pyproject.toml
Labels: none

chore: bump kube-vip version in ansible template
  ansible/playbooks/templates/kube-vip-daemonset.yaml.j2
Labels: area/ansible

chore: bump kube-vip version in ansible template
  ansible/playbooks/templates/kube-vip-daemonset.yaml.j2
Labels: area/ansible

fix: cilium new crd keys
  kubernetes/apps/kube-system/cilium/app/cilium-l2.yaml
Labels: area/kubernetes

fix: cilium new crd keys
  kubernetes/apps/kube-system/cilium/app/cilium-l2.yaml
Labels: area/kubernetes

fix: disable cilium envoy
  kubernetes/apps/kube-system/cilium/app/helmrelease.yaml
Labels: area/kubernetes

fix: disable cilium envoy
  kubernetes/apps/kube-system/cilium/app/helmrelease.yaml
Labels: area/kubernetes

fix: cilium new crd keys
  kubernetes/apps/kube-system/cilium/app/cilium-l2.yaml
Labels: area/kubernetes

fix: cilium new crd keys
  kubernetes/apps/kube-system/cilium/app/cilium-l2.yaml
Labels: area/kubernetes

fix: allow updates to pgsql v16.x
  .github/renovate/allowedVersions.json5
Labels: area/github

fix: allow updates to pgsql v16.x
  .github/renovate/allowedVersions.json5
Labels: area/github

fix: use 'restic:latest' in taskfiles
  .taskfiles/volsync/templates/ListJob.tmpl.yaml
  .taskfiles/volsync/templates/UnlockJob.tmpl.yaml
Labels: area/taskfile

.github/labeler.yaml:

---
area/ansible:
  - changed-files:
      - any-glob-to-any-file: ansible/**/*
area/docs:
  - changed-files:
      - any-glob-to-any-file:
          - "docs/**/*"
          - "README.md"
area/github:
  - changed-files:
      - any-glob-to-any-file: .github/**/*
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: kubernetes/**/*
area/taskfile:
  - changed-files:
      - any-glob-to-any-file: .taskfiles/**/*
      - any-glob-to-any-file: Taskfile*
