Repository ahgraber/homelab-gitops-k3s, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/addons, area/ansible, area/bootstrap, area/github, area/kubernetes

feat(helm)!: Update chart snapshot-controller to 2.0.0
  kubernetes/apps/kube-system/snapshot-controller/app/helmrelease-controller.yaml
Labels: area/kubernetes

feat(helm)!: Update chart snapshot-controller to 2.0.0
  kubernetes/apps/kube-system/snapshot-controller/app/helmrelease-controller.yaml
Labels: area/kubernetes

fix(github-release): update pre-commit hook crate-ci/typos to v1.16.21
  .pre-commit-config.yaml
Labels: none

fix(github-release): update pre-commit hook crate-ci/typos to v1.16.21
  .pre-commit-config.yaml
Labels: none

fix(helm): update rook-ceph group to v1.12.7
  kubernetes/apps/rook-ceph/rook-ceph/cluster/helmrelease.yaml
  kubernetes/apps/rook-ceph/rook-ceph/operator/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update rook-ceph group to v1.12.7
  kubernetes/apps/rook-ceph/rook-ceph/cluster/helmrelease.yaml
  kubernetes/apps/rook-ceph/rook-ceph/operator/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image docker.io/sissbruecker/linkding to v1.22.2
  kubernetes/apps/default/linkding/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image docker.io/sissbruecker/linkding to v1.22.2
  kubernetes/apps/default/linkding/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update image ghcr.io/usememos/memos to v0.17.0
  kubernetes/apps/default/memos/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update image ghcr.io/usememos/memos to v0.17.0
  kubernetes/apps/default/memos/app/helmrelease.yaml
Labels: area/kubernetes

chore: update pre-commit
  .pre-commit-config.yaml
Labels: none

chore: update pre-commit
  .pre-commit-config.yaml
Labels: none

feat: snapshot-controller housekeeping
  kubernetes/apps/kube-system/snapshot-controller/app/helmrelease-controller.yaml
  kubernetes/apps/kube-system/snapshot-controller/app/helmrelease-webhook.yaml
  kubernetes/apps/kube-system/snapshot-controller/app/kustomization.yaml
Labels: area/kubernetes

feat: snapshot-controller housekeeping
  kubernetes/apps/kube-system/snapshot-controller/app/helmrelease-controller.yaml
  kubernetes/apps/kube-system/snapshot-controller/app/helmrelease-webhook.yaml
  kubernetes/apps/kube-system/snapshot-controller/app/kustomization.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/dgtlmoon/changedetection.io to v0.45.5
  kubernetes/apps/default/changedetection/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/dgtlmoon/changedetection.io to v0.45.5
  kubernetes/apps/default/changedetection/app/helmrelease.yaml
Labels: area/kubernetes

fix: bump kps and prom operator crd versions
  bootstrap/templates/addons/kube-prometheus-stack/app/helmrelease.yaml.j2
  bootstrap/templates/ansible/inventory/group_vars/kubernetes/main.yaml.j2
Labels: area/addons, area/ansible, area/bootstrap

fix: bump kps and prom operator crd versions
  bootstrap/templates/addons/kube-prometheus-stack/app/helmrelease.yaml.j2
  bootstrap/templates/ansible/inventory/group_vars/kubernetes/main.yaml.j2
Labels: area/addons, area/ansible, area/bootstrap

fix: break out kps and cilium helm values into separate configmap in order to make renovate happy
  bootstrap/templates/addons/kube-prometheus-stack/app/helmrelease.yaml.j2
  bootstrap/templates/addons/kube-prometheus-stack/app/helmvalues.yaml.j2
  bootstrap/templates/addons/kube-prometheus-stack/app/kustomization.yaml.j2
  bootstrap/templates/kubernetes/apps/kube-system/cilium/app/helmrelease.yaml.j2
  bootstrap/templates/kubernetes/apps/kube-system/cilium/app/helmvalues.yaml.j2
  bootstrap/templates/kubernetes/apps/kube-system/cilium/app/kustomization.yaml.j2
Labels: area/addons, area/bootstrap, area/kubernetes

fix: break out kps and cilium helm values into separate configmap in order to make renovate happy
  bootstrap/templates/addons/kube-prometheus-stack/app/helmrelease.yaml.j2
  bootstrap/templates/addons/kube-prometheus-stack/app/helmvalues.yaml.j2
  bootstrap/templates/addons/kube-prometheus-stack/app/kustomization.yaml.j2
  bootstrap/templates/kubernetes/apps/kube-system/cilium/app/helmrelease.yaml.j2
  bootstrap/templates/kubernetes/apps/kube-system/cilium/app/helmvalues.yaml.j2
  bootstrap/templates/kubernetes/apps/kube-system/cilium/app/kustomization.yaml.j2
Labels: area/addons, area/bootstrap, area/kubernetes

fix: name should be first in valuesFrom
  bootstrap/templates/addons/kube-prometheus-stack/app/helmrelease.yaml.j2
  bootstrap/templates/kubernetes/apps/kube-system/cilium/app/helmrelease.yaml.j2
Labels: area/addons, area/bootstrap, area/kubernetes

fix: name should be first in valuesFrom
  bootstrap/templates/addons/kube-prometheus-stack/app/helmrelease.yaml.j2
  bootstrap/templates/kubernetes/apps/kube-system/cilium/app/helmrelease.yaml.j2
Labels: area/addons, area/bootstrap, area/kubernetes

fix: there are not aliases in YAML multi-line strings
  bootstrap/templates/addons/kube-prometheus-stack/app/helmvalues.yaml.j2
  bootstrap/templates/kubernetes/apps/kube-system/cilium/app/helmvalues.yaml.j2
Labels: area/addons, area/bootstrap, area/kubernetes

fix: there are not aliases in YAML multi-line strings
  bootstrap/templates/addons/kube-prometheus-stack/app/helmvalues.yaml.j2
  bootstrap/templates/kubernetes/apps/kube-system/cilium/app/helmvalues.yaml.j2
Labels: area/addons, area/bootstrap, area/kubernetes

fix: remove secret on k8s dashboard ingress
  bootstrap/templates/addons/kubernetes-dashboard/app/helmrelease.yaml.j2
Labels: area/addons, area/bootstrap

fix: remove secret on k8s dashboard ingress
  bootstrap/templates/addons/kubernetes-dashboard/app/helmrelease.yaml.j2
Labels: area/addons, area/bootstrap

fix: #990 don't disable apparmor unless it's installed (#991)
  bootstrap/templates/ansible/playbooks/cluster-prepare.yaml.j2
Labels: area/ansible, area/bootstrap

fix: #990 don't disable apparmor unless it's installed (#991)
  bootstrap/templates/ansible/playbooks/cluster-prepare.yaml.j2
Labels: area/ansible, area/bootstrap

fix(helm): update chart cilium to 1.14.3
  bootstrap/templates/kubernetes/apps/kube-system/cilium/app/helmrelease.yaml.j2
Labels: area/bootstrap, area/kubernetes

fix(helm): update chart cilium to 1.14.3
  bootstrap/templates/kubernetes/apps/kube-system/cilium/app/helmrelease.yaml.j2
Labels: area/bootstrap, area/kubernetes

fix(helm): update chart grafana to 6.61.2
  bootstrap/templates/addons/grafana/app/helmrelease.yaml.j2
  kubernetes/apps/monitoring/grafana/app/helmrelease.yaml
Labels: area/addons, area/bootstrap, area/kubernetes

fix(helm): update chart grafana to 6.61.2
  bootstrap/templates/addons/grafana/app/helmrelease.yaml.j2
  kubernetes/apps/monitoring/grafana/app/helmrelease.yaml
Labels: area/addons, area/bootstrap, area/kubernetes

feat(container): update image kube-prometheus-stack to v51.10.0
  bootstrap/templates/addons/kube-prometheus-stack/app/helmrelease.yaml.j2
Labels: area/addons, area/bootstrap

feat(container): update image kube-prometheus-stack to v51.10.0
  bootstrap/templates/addons/kube-prometheus-stack/app/helmrelease.yaml.j2
Labels: area/addons, area/bootstrap

feat(container)!: Update image kube-prometheus-stack to v52
  bootstrap/templates/addons/kube-prometheus-stack/app/helmrelease.yaml.j2
Labels: area/addons, area/bootstrap

feat(container)!: Update image kube-prometheus-stack to v52
  bootstrap/templates/addons/kube-prometheus-stack/app/helmrelease.yaml.j2
Labels: area/addons, area/bootstrap

feat(helm)!: Update chart grafana to 7.0.1
  bootstrap/templates/addons/grafana/app/helmrelease.yaml.j2
  kubernetes/apps/monitoring/grafana/app/helmrelease.yaml
Labels: area/addons, area/bootstrap, area/kubernetes

feat(helm)!: Update chart grafana to 7.0.1
  bootstrap/templates/addons/grafana/app/helmrelease.yaml.j2
  kubernetes/apps/monitoring/grafana/app/helmrelease.yaml
Labels: area/addons, area/bootstrap, area/kubernetes

fix(container): update image docker.io/restic/restic to v0.16.2
  .taskfiles/volsync/ListJob.tmpl.yaml
  .taskfiles/volsync/UnlockJob.tmpl.yaml
Labels: none

fix(container): update image docker.io/restic/restic to v0.16.2
  .taskfiles/volsync/ListJob.tmpl.yaml
  .taskfiles/volsync/UnlockJob.tmpl.yaml
Labels: none

.github/labeler.yaml:

---
area/addons:
  - "bootstrap/templates/addons/**/*"
  - "bootstrap/tasks/addons/**/*"
  - "bootstrap/vars/addons.sample.yaml"
area/ansible:
  - "ansible/**/*"
  - "bootstrap/templates/ansible/**/*"
  - "bootstrap/tasks/ansible/**/*"
area/bootstrap:
  - "bootstrap/**/*"
  - "bootstrap/configure.yaml"
area/github:
  - ".github/**/*"
area/kubernetes:
  - "kubernetes/**/*"
  - "bootstrap/templates/kubernetes/**/*"
  - "bootstrap/tasks/kubernetes/**/*"
