Repository ahgraber/homelab-gitops-k3s, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/addons, area/ansible, area/bootstrap, area/github, area/kubernetes, area/taskfile

.github/labeler.yaml:

---
area/addons:
  - changed-files:
      - any-glob-to-any-file: bootstrap/templates/addons/**/*
      - any-glob-to-any-file: bootstrap/tasks/addons/**/*
      - any-glob-to-any-file: bootstrap/vars/addons.sample.yaml
area/ansible:
  - changed-files:
      - any-glob-to-any-file: ansible/**/*
      - any-glob-to-any-file: bootstrap/templates/ansible/**/*
      - any-glob-to-any-file: bootstrap/tasks/ansible/**/*
area/bootstrap:
  - changed-files:
      - any-glob-to-any-file: bootstrap/**/*
      - any-glob-to-any-file: bootstrap/configure.yaml
area/github:
  - changed-files:
      - any-glob-to-any-file: .github/**/*
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: kubernetes/**/*
      - any-glob-to-any-file: bootstrap/templates/kubernetes/**/*
      - any-glob-to-any-file: bootstrap/tasks/kubernetes/**/*
area/taskfile:
  - changed-files:
      - any-glob-to-any-file: .taskfiles/**/*
      - any-glob-to-any-file: Taskfile*

chore(template): add new local path var to required vars and fix indenting
  README.md
  bootstrap/tasks/validation/net.yaml
  bootstrap/tasks/validation/vars.yaml
  bootstrap/templates/ansible/inventory/group_vars/kubernetes/main.yaml.j2
Labels: area/ansible, area/bootstrap

chore(template): add new local path var to required vars and fix indenting
  README.md
  bootstrap/tasks/validation/net.yaml
  bootstrap/tasks/validation/vars.yaml
  bootstrap/templates/ansible/inventory/group_vars/kubernetes/main.yaml.j2
Labels: area/ansible, area/bootstrap

fix(template): update xanmanning k3s ansible role
  bootstrap/tasks/validation/vars.yaml
  bootstrap/templates/addons/kube-prometheus-stack/app/helmrelease.yaml.j2
  requirements.yaml
Labels: area/addons, area/bootstrap

fix(template): update xanmanning k3s ansible role
  bootstrap/tasks/validation/vars.yaml
  bootstrap/templates/addons/kube-prometheus-stack/app/helmrelease.yaml.j2
  requirements.yaml
Labels: area/addons, area/bootstrap

chore(container): update image lscr.io/linuxserver/pairdrop to d7d6aab
  kubernetes/apps/default/pairdrop/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image docker.io/sissbruecker/linkding to v1.23.1
  kubernetes/apps/default/linkding/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image docker.io/sissbruecker/linkding to v1.23.1
  kubernetes/apps/default/linkding/app/helmrelease.yaml
Labels: area/kubernetes

fix(github-release): update pre-commit hook crate-ci/typos to v1.16.24
  .pre-commit-config.yaml
Labels: none

fix(github-release): update pre-commit hook crate-ci/typos to v1.16.24
  .pre-commit-config.yaml
Labels: none

fix(helm): update chart windmill to 2.0.44
  kubernetes/apps/datasci/windmill/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update chart windmill to 2.0.44
  kubernetes/apps/datasci/windmill/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update image ghcr.io/bjw-s/k8s-ycl to v0.2.0
  kubernetes/apps/kube-system/ycl/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update image ghcr.io/bjw-s/k8s-ycl to v0.2.0
  kubernetes/apps/kube-system/ycl/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update image ghcr.io/onedr0p/alpine to v3.19.0
  kubernetes/apps/monitoring/scrutiny/app/helmrelease-collector.yaml
Labels: area/kubernetes

feat(container): update image ghcr.io/onedr0p/alpine to v3.19.0
  kubernetes/apps/monitoring/scrutiny/app/helmrelease-collector.yaml
Labels: area/kubernetes

feat(container): update image kube-prometheus-stack to v55.1.0
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update image kube-prometheus-stack to v55.1.0
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes

feat(github-release): update pre-commit hook igorshubovych/markdownlint-cli to v0.38.0
  .pre-commit-config.yaml
Labels: none

feat(github-release): update pre-commit hook igorshubovych/markdownlint-cli to v0.38.0
  .pre-commit-config.yaml
Labels: none

feat(helm): update chart vpa to 3.1.0
  kubernetes/apps/monitoring/goldilocks/app/helmrelease-vpa.yaml
Labels: area/kubernetes

feat(helm): update chart vpa to 3.1.0
  kubernetes/apps/monitoring/goldilocks/app/helmrelease-vpa.yaml
Labels: area/kubernetes

feat(github-action)!: Update actions/setup-python action to v5
  .github/workflows/publish-docs.yaml
Labels: area/github

feat(github-action)!: Update actions/setup-python action to v5
  .github/workflows/publish-docs.yaml
Labels: area/github

fix(container): update image ghcr.io/cloudnative-pg/postgresql to v14.10-6
  kubernetes/apps/datasci/postgres/cloudnative-pg/db/cluster.yaml
  kubernetes/apps/default/postgres/cloudnative-pg/db/cluster.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/cloudnative-pg/postgresql to v14.10-6
  kubernetes/apps/datasci/postgres/cloudnative-pg/db/cluster.yaml
  kubernetes/apps/default/postgres/cloudnative-pg/db/cluster.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/gethomepage/homepage to v0.8.3
  kubernetes/apps/default/homepage/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/gethomepage/homepage to v0.8.3
  kubernetes/apps/default/homepage/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update chart windmill to 2.0.45
  kubernetes/apps/datasci/windmill/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update chart windmill to 2.0.45
  kubernetes/apps/datasci/windmill/app/helmrelease.yaml
Labels: area/kubernetes

chore(container): update image lscr.io/linuxserver/pairdrop to d7d6aab
  kubernetes/apps/default/pairdrop/app/helmrelease.yaml
Labels: area/kubernetes

chore(container): update image lscr.io/linuxserver/pairdrop to d7d6aab
  kubernetes/apps/default/pairdrop/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update image k8s-ycl to v1.2.0
  kubernetes/apps/kube-system/ycl/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update image k8s-ycl to v1.2.0
  kubernetes/apps/kube-system/ycl/app/helmrelease.yaml
Labels: area/kubernetes

fix(homepage): use equal heights
  kubernetes/apps/default/homepage/app/configmap.yaml
Labels: area/kubernetes

fix(homepage): use equal heights
  kubernetes/apps/default/homepage/app/configmap.yaml
Labels: area/kubernetes

fix(homepage): add traefik to rbac perms
  kubernetes/apps/default/homepage/app/rbac.yaml
Labels: area/kubernetes

fix(homepage): add traefik to rbac perms
  kubernetes/apps/default/homepage/app/rbac.yaml
Labels: area/kubernetes

fix(template): ensure bootstrap vars defined
  bootstrap/tasks/validation/vars.yaml
Labels: area/bootstrap

fix(template): ensure bootstrap vars defined
  bootstrap/tasks/validation/vars.yaml
Labels: area/bootstrap

chore(template): add admonishes to readme
  README.md
  bootstrap/tasks/validation/vars.yaml
Labels: area/bootstrap
