Repository ahgraber/homelab-gitops-k3s, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/docs, area/github, area/kubernetes, area/taskfile

.github/labeler.yaml:

---
area/ansible:
  - changed-files:
      - any-glob-to-any-file: ansible/**/*
area/docs:
  - changed-files:
      - any-glob-to-any-file:
          - "docs/**/*"
          - "README.md"
area/github:
  - changed-files:
      - any-glob-to-any-file: .github/**/*
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: kubernetes/**/*
area/taskfile:
  - changed-files:
      - any-glob-to-any-file: .taskfiles/**/*
      - any-glob-to-any-file: Taskfile*

feat: update opengist to bjw-s 3.1.0
  kubernetes/apps/default/opengist/app/helmrelease.yaml
Labels: area/kubernetes

feat: fixup volsync restore task
  .taskfiles/volsync/taskfile.yaml
  .taskfiles/volsync/templates/ReplicationDestination.tmpl.yaml
  .taskfiles/volsync/templates/WipeJob.tmpl.yaml
Labels: area/taskfile

feat: prepare for volsync restore
  kubernetes/apps/default/opengist/app/backup/secret.sops.yaml
  kubernetes/apps/default/opengist/app/backup/secret.sops.yaml.tmpl
Labels: area/kubernetes

feat: prepare for volsync restore from template
  kubernetes/apps/monitoring/scrutiny/app/kustomization.yaml
  kubernetes/apps/monitoring/scrutiny/app/pvc.yaml
  kubernetes/apps/monitoring/scrutiny/ks.yaml
Labels: area/kubernetes

feat: prepare for volsync restore from template
  kubernetes/templates/volsync/claim.yaml
Labels: area/kubernetes

feat: prepare for volsync restore from template
  kubernetes/apps/default/homebox/ks.yaml
  kubernetes/apps/default/mealie/app/helmrelease.yaml
  kubernetes/apps/default/mealie/ks.yaml
  kubernetes/apps/default/memos/ks.yaml
  kubernetes/apps/default/opengist/ks.yaml
  kubernetes/apps/default/syncthing/ks.yaml
  kubernetes/apps/monitoring/scrutiny/ks.yaml
  kubernetes/templates/volsync/README.md
  kubernetes/templates/volsync/kustomization.yaml
  kubernetes/templates/volsync/replicationdestination.yaml
  kubernetes/templates/volsync/replicationsource.yaml
Labels: area/kubernetes

feat: prepare for volsync restore from template
  kubernetes/templates/volsync/secret.yaml
Labels: area/kubernetes

feat: prepare for volsync restore from template
  kubernetes/templates/volsync/replicationsource.yaml
Labels: area/kubernetes

feat: add init phase to volsync template
  kubernetes/apps/datasci/docat/app/kustomization.yaml
  kubernetes/apps/datasci/mlflow/app/kustomization.yaml
  kubernetes/apps/default/homebox/app/kustomization.yaml
  kubernetes/apps/default/mealie/app/kustomization.yaml
  kubernetes/apps/default/memos/app/kustomization.yaml
  kubernetes/apps/default/opengist/app/kustomization.yaml
  kubernetes/apps/default/syncthing/app/kustomization.yaml
  kubernetes/templates/volsync/README.md
  kubernetes/templates/volsync/init/init_claim.yaml
  kubernetes/templates/volsync/init/kustomization.yaml
  kubernetes/templates/volsync/restore/claim.yaml
  kubernetes/templates/volsync/restore/kustomization.yaml
  kubernetes/templates/volsync/restore/replicationdestination.yaml
  kubernetes/templates/volsync/restore/replicationsource.yaml
  kubernetes/templates/volsync/restore/secret.yaml
Labels: area/kubernetes

feat: add init phase to volsync template
  kubernetes/templates/volsync/restore/replicationdestination.yaml
  kubernetes/templates/volsync/restore/replicationsource.yaml
  kubernetes/templates/volsync/restore/secret.yaml
Labels: area/kubernetes

feat: add init phase to volsync template
  kubernetes/apps/default/changedetection/app/backup/kustomization.yaml
  kubernetes/apps/default/changedetection/app/backup/secret.sops.yaml
  kubernetes/apps/default/changedetection/app/backup/secret.sops.yaml.tmpl
  kubernetes/apps/default/changedetection/app/backup/volsync.yaml
  kubernetes/apps/default/changedetection/app/kustomization.yaml
  kubernetes/apps/default/changedetection/app/pvc.yaml
  kubernetes/apps/default/changedetection/ks.yaml
  kubernetes/apps/default/kustomization.yaml
Labels: area/kubernetes

feat: add init phase to volsync template
  kubernetes/apps/monitoring/scrutiny/app/kustomization.yaml
Labels: area/kubernetes

feat: add init phase to volsync template
  kubernetes/apps/monitoring/scrutiny/ks.yaml
  kubernetes/templates/volsync/init/init_claim.yaml
Labels: area/kubernetes

feat: add init phase to volsync template
  kubernetes/apps/monitoring/scrutiny/app/kustomization.yaml
  kubernetes/apps/monitoring/scrutiny/ks.yaml
  kubernetes/apps/volsync-system/README.md
Labels: area/kubernetes

feat: add init phase to volsync template
  kubernetes/apps/default/kustomization.yaml
  kubernetes/apps/monitoring/scrutiny/app/kustomization.yaml
  kubernetes/templates/volsync/restore/claim.yaml
Labels: area/kubernetes

feat: add init phase to volsync template
  kubernetes/apps/default/kustomization.yaml
Labels: area/kubernetes

feat: add init phase to volsync template
  kubernetes/flux/vars/custom-secrets.sops.yaml
  kubernetes/flux/vars/custom-secrets.sops.yaml.tmpl
  kubernetes/templates/volsync/restore/secret.yaml
Labels: area/kubernetes

feat: add init phase to volsync template
  kubernetes/templates/volsync/restore/claim.yaml
  kubernetes/templates/volsync/restore/replicationdestination.yaml
Labels: area/kubernetes

feat: add init phase to volsync template
  kubernetes/apps/datasci/docat/app/kustomization.yaml
  kubernetes/apps/datasci/docat/ks.yaml
  kubernetes/apps/datasci/mlflow/app/kustomization.yaml
  kubernetes/apps/datasci/mlflow/ks.yaml
  kubernetes/apps/default/changedetection/app/kustomization.yaml
  kubernetes/apps/default/homebox/app/kustomization.yaml
  kubernetes/apps/default/kustomization.yaml
  kubernetes/apps/default/mealie/app/kustomization.yaml
  kubernetes/apps/default/memos/app/kustomization.yaml
  kubernetes/apps/default/picoshare/app/kustomization.yaml
Labels: area/kubernetes

feat: add init phase to volsync template
  kubernetes/apps/default/picoshare/app/pvc.yaml
  kubernetes/apps/default/picoshare/ks.yaml
Labels: area/kubernetes

feat: add init phase to volsync template
  kubernetes/apps/database/ext-postgres-operator/README.md
  kubernetes/apps/datasci/mlflow/db/postgres.yaml
  kubernetes/apps/datasci/postgres/ext-postgres-operator/README.md
  kubernetes/apps/datasci/prefect/db/postgres.yaml
  kubernetes/apps/datasci/windmill/db/postgres.yaml
  kubernetes/apps/default/linkding/db/postgres.yaml
  kubernetes/apps/default/mealie/db/postgres.yaml
  kubernetes/apps/default/memos/db/postgres.yaml
  kubernetes/apps/default/miniflux/db/postgres.yaml
Labels: area/kubernetes

feat: update mealie to v1.5.1
  kubernetes/apps/default/mealie/app/helmrelease.yaml
Labels: area/kubernetes

feat: update mealie to v1.5.1
  kubernetes/apps/default/mealie/app/helmrelease.yaml
Labels: area/kubernetes

feat: recreate most replicasets (instead of rollingupdate) due to readwriteonce storage
  kubernetes/apps/database/redisinsight/app/helmrelease.yaml
  kubernetes/apps/datasci/docat/app/helmrelease.yaml
  kubernetes/apps/datasci/mlflow/app/helmrelease.yaml
  kubernetes/apps/debug/dnsutils/app/helmrelease.yaml
  kubernetes/apps/debug/echo-server/app/helmrelease.yaml
  kubernetes/apps/debug/httpbin/app/helmrelease.yaml
  kubernetes/apps/default/homebox/app/helmrelease.yaml
  kubernetes/apps/default/homepage/app/helmrelease.yaml
  kubernetes/apps/default/linkding/app/helmrelease.yaml
  kubernetes/apps/default/mealie/app/helmrelease.yaml
  kubernetes/apps/default/miniflux/app/helmrelease.yaml
  kubernetes/apps/default/opengist/app/helmrelease.yaml
  kubernetes/apps/default/pairdrop/app/helmrelease.yaml
  kubernetes/apps/default/picoshare/app/helmrelease.yaml
  kubernetes/apps/monitoring/karma/app/helmrelease.yaml
  kubernetes/apps/monitoring/nut-exporter/app/helmrelease.yaml
  kubernetes/apps/monitoring/scrutiny/app/helmrelease-scrutiny.yaml
  kubernetes/apps/monitoring/scrutiny/collector/helmrelease-collector.yaml
Labels: area/kubernetes

feat: add scaledown/up to browse-pvc task
  .taskfiles/kubernetes/taskfile.yaml
  .taskfiles/volsync/taskfile.yaml
Labels: area/taskfile

doc: update volsync template docs
  kubernetes/templates/volsync/README.md
Labels: area/kubernetes

feat: memos doesn't need PVC?
  kubernetes/apps/default/memos/app/helmrelease.yaml
  kubernetes/apps/default/memos/app/kustomization.yaml
Labels: area/kubernetes

feat: memos doesn't need PVC?
  kubernetes/apps/default/memos/README.md
Labels: area/kubernetes

doc: browse-pvc task
  .taskfiles/kubernetes/taskfile.yaml
Labels: area/taskfile

doc: update readme
  README.md
  kubernetes/apps/README.md
Labels: area/docs, area/kubernetes

feat: enable volsync restore for init'd apps
  kubernetes/apps/default/changedetection/app/kustomization.yaml
  kubernetes/apps/default/homebox/app/kustomization.yaml
  kubernetes/apps/default/mealie/app/kustomization.yaml
  kubernetes/apps/default/picoshare/app/kustomization.yaml
  kubernetes/apps/default/syncthing/app/kustomization.yaml
  kubernetes/apps/monitoring/scrutiny/app/kustomization.yaml
Labels: area/kubernetes

feat: minimal deploy for testing
  kubernetes/apps/database/kustomization.yaml
  kubernetes/apps/monitoring/kustomization.yaml
  kubernetes/apps/volsync-system/kustomization.yaml
Labels: area/kubernetes

feat: update tasks
  .taskfiles/ansible/taskfile.yaml
  .taskfiles/rook/taskfile.yaml
  README.md
  Taskfile.yaml
  ansible/playbooks/ceph-cleanup.yaml
  ansible/playbooks/k3s-nuke.yaml
  ansible/playbooks/k3s-rollout-update.yaml
Labels: area/ansible, area/docs, area/taskfile

feat: update thanos dependencies
  kubernetes/apps/monitoring/thanos/ks.yaml
Labels: area/kubernetes

feat: update thanos dependencies
  kubernetes/apps/monitoring/thanos/app/kustomization.yaml
Labels: area/kubernetes

feat: minimal deploy for testing
  kubernetes/apps/rook-ceph/rook-ceph/operator/helmrelease.yaml
Labels: area/kubernetes

feat: clean up ansible playbooks
  ansible/playbooks/ceph-cleanup.yaml
  ansible/playbooks/k3s-nuke.yaml
  ansible/playbooks/k3s-rollout-update.yaml
  ansible/playbooks/k3s-stop.yaml
Labels: area/ansible

feat: clean up tasks
  .taskfiles/ansible/taskfile.yaml
  .taskfiles/db/taskfile.yaml
  .taskfiles/flux/taskfile.yaml
  .taskfiles/hack/taskfile.yaml
  .taskfiles/kubernetes/taskfile.yaml
  .taskfiles/rook/scripts/remove-rook-ceph.sh
  .taskfiles/rook/scripts/scaledown-consumers.sh
  .taskfiles/rook/scripts/wait-for-job.sh
  .taskfiles/rook/taskfile.yaml
  .taskfiles/sops/taskfile.yaml
  .taskfiles/volsync/taskfile.yaml
  .taskfiles/workstation/taskfile.yaml
Labels: area/taskfile

fix: let rook-ceph be a resource hog
  kubernetes/apps/rook-ceph/rook-ceph/cluster/helmrelease.yaml
  kubernetes/apps/rook-ceph/rook-ceph/operator/helmrelease.yaml
Labels: area/kubernetes

feat: bring sally up bring sally down
  .taskfiles/ansible/taskfile.yaml
  .taskfiles/kubernetes/taskfile.yaml
  .taskfiles/rook/scripts/remove-rook-ceph.sh
  .taskfiles/rook/taskfile.yaml
  README.md
  kubernetes/apps/rook-ceph/rook-ceph/cluster/helmrelease.yaml
Labels: area/docs, area/kubernetes, area/taskfile
