Repository ahgraber/homelab-gitops-k3s, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/addons, area/ansible, area/bootstrap, area/github, area/kubernetes, area/taskfile

chore(template): add admonishes to readme
  README.md
  bootstrap/tasks/validation/vars.yaml
Labels: area/bootstrap

feat(template): update image app-template to v2.4.0
  bootstrap/templates/addons/discord-template-notifier/app/helmrelease.yaml.j2
  bootstrap/templates/addons/system-upgrade-controller/app/helmrelease.yaml.j2
  bootstrap/templates/kubernetes/apps/networking/cloudflared/app/helmrelease.yaml.j2
  bootstrap/templates/kubernetes/apps/networking/echo-server/app/helmrelease.yaml.j2
Labels: area/addons, area/bootstrap, area/kubernetes

feat(template): update image app-template to v2.4.0
  bootstrap/templates/addons/discord-template-notifier/app/helmrelease.yaml.j2
  bootstrap/templates/addons/system-upgrade-controller/app/helmrelease.yaml.j2
  bootstrap/templates/kubernetes/apps/networking/cloudflared/app/helmrelease.yaml.j2
  bootstrap/templates/kubernetes/apps/networking/echo-server/app/helmrelease.yaml.j2
Labels: area/addons, area/bootstrap, area/kubernetes

fix(container): update image syncthing/syncthing to v1.27.1
  kubernetes/apps/default/syncthing/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image syncthing/syncthing to v1.27.1
  kubernetes/apps/default/syncthing/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update chart windmill to 2.0.50
  kubernetes/apps/datasci/windmill/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update chart windmill to 2.0.50
  kubernetes/apps/datasci/windmill/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update chart grafana to 7.0.14
  bootstrap/templates/addons/grafana/app/helmrelease.yaml.j2
  kubernetes/apps/monitoring/grafana/app/helmrelease.yaml
Labels: area/addons, area/bootstrap, area/kubernetes

fix(helm): update chart grafana to 7.0.14
  bootstrap/templates/addons/grafana/app/helmrelease.yaml.j2
  kubernetes/apps/monitoring/grafana/app/helmrelease.yaml
Labels: area/addons, area/bootstrap, area/kubernetes

feat(container): update image kube-prometheus-stack to v55.3.0
  bootstrap/templates/addons/kube-prometheus-stack/app/helmrelease.yaml.j2
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/addons, area/bootstrap, area/kubernetes

feat(container): update image kube-prometheus-stack to v55.3.0
  bootstrap/templates/addons/kube-prometheus-stack/app/helmrelease.yaml.j2
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/addons, area/bootstrap, area/kubernetes

fix(helm): update chart cert-manager to v1.13.3
  bootstrap/templates/kubernetes/apps/cert-manager/cert-manager/app/helmrelease.yaml.j2
  kubernetes/apps/cert-manager/cert-manager/app/helmrelease.yaml
Labels: area/bootstrap, area/kubernetes

fix(helm): update chart cert-manager to v1.13.3
  bootstrap/templates/kubernetes/apps/cert-manager/cert-manager/app/helmrelease.yaml.j2
  kubernetes/apps/cert-manager/cert-manager/app/helmrelease.yaml
Labels: area/bootstrap, area/kubernetes

feat(container): update image ghcr.io/ninerealmlabs/mlflow-server to v2.9.1
  kubernetes/apps/datasci/mlflow/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update image ghcr.io/ninerealmlabs/mlflow-server to v2.9.1
  kubernetes/apps/datasci/mlflow/app/helmrelease.yaml
Labels: area/kubernetes

fix(github-release): update k3s-io/k3s to v1.28.4+k3s2
  kubernetes/apps/kube-system/system-upgrade-controller/plans/agent.yaml
  kubernetes/apps/kube-system/system-upgrade-controller/plans/server.yaml
Labels: area/kubernetes

fix(github-release): update k3s-io/k3s to v1.28.4+k3s2
  kubernetes/apps/kube-system/system-upgrade-controller/plans/agent.yaml
  kubernetes/apps/kube-system/system-upgrade-controller/plans/server.yaml
Labels: area/kubernetes

fix(helm): update chart grafana to 7.0.17
  bootstrap/templates/addons/grafana/app/helmrelease.yaml.j2
  kubernetes/apps/monitoring/grafana/app/helmrelease.yaml
Labels: area/addons, area/bootstrap, area/kubernetes

fix(helm): update chart grafana to 7.0.17
  bootstrap/templates/addons/grafana/app/helmrelease.yaml.j2
  kubernetes/apps/monitoring/grafana/app/helmrelease.yaml
Labels: area/addons, area/bootstrap, area/kubernetes

feat(github-release): update flux group to v2.2.0
  bootstrap/templates/kubernetes/bootstrap/kustomization.yaml.j2
  bootstrap/templates/kubernetes/flux/config/flux.yaml.j2
  kubernetes/bootstrap/kustomization.yaml
  kubernetes/flux/config/flux.yaml
Labels: area/bootstrap, area/kubernetes

feat(github-release): update flux group to v2.2.0
  bootstrap/templates/kubernetes/bootstrap/kustomization.yaml.j2
  bootstrap/templates/kubernetes/flux/config/flux.yaml.j2
  kubernetes/bootstrap/kustomization.yaml
  kubernetes/flux/config/flux.yaml
Labels: area/bootstrap, area/kubernetes

feat(container): update image lscr.io/linuxserver/pairdrop to v1.10.0
  kubernetes/apps/default/pairdrop/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update image lscr.io/linuxserver/pairdrop to v1.10.0
  kubernetes/apps/default/pairdrop/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update chart windmill to 2.0.52
  kubernetes/apps/datasci/windmill/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update chart windmill to 2.0.52
  kubernetes/apps/datasci/windmill/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update chart reloader to 1.0.54
  bootstrap/templates/kubernetes/apps/kube-system/reloader/app/helmrelease.yaml.j2
  kubernetes/apps/kube-system/reloader/app/helmrelease.yaml
Labels: area/bootstrap, area/kubernetes

fix(helm): update chart reloader to 1.0.54
  bootstrap/templates/kubernetes/apps/kube-system/reloader/app/helmrelease.yaml.j2
  kubernetes/apps/kube-system/reloader/app/helmrelease.yaml
Labels: area/bootstrap, area/kubernetes

chore(deps): update alert to notification.toolkit.fluxcd.io/v1beta3
  kubernetes/apps/flux-system/addons/webhooks/alert-manager/notification.yaml
Labels: area/kubernetes

chore(deps): update alert to notification.toolkit.fluxcd.io/v1beta3
  kubernetes/apps/flux-system/addons/webhooks/alert-manager/notification.yaml
Labels: area/kubernetes

chore(deps): update provider to notification.toolkit.fluxcd.io/v1beta3
  kubernetes/apps/flux-system/addons/webhooks/alert-manager/notification.yaml
Labels: area/kubernetes

chore(deps): update provider to notification.toolkit.fluxcd.io/v1beta3
  kubernetes/apps/flux-system/addons/webhooks/alert-manager/notification.yaml
Labels: area/kubernetes

fix(github-release): update pre-commit hook crate-ci/typos to v1.16.25
  .pre-commit-config.yaml
Labels: none

fix(github-release): update pre-commit hook crate-ci/typos to v1.16.25
  .pre-commit-config.yaml
Labels: none

fix(helm): update chart windmill to 2.0.53
  kubernetes/apps/datasci/windmill/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update chart windmill to 2.0.53
  kubernetes/apps/datasci/windmill/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image lscr.io/linuxserver/pairdrop to v1.10.1
  kubernetes/apps/default/pairdrop/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image lscr.io/linuxserver/pairdrop to v1.10.1
  kubernetes/apps/default/pairdrop/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update image kube-prometheus-stack to v55.3.1
  .github/workflows/meta-labeler.yaml
  bootstrap/tasks/validation/vars.yaml
  bootstrap/templates/addons/kube-prometheus-stack/app/helmrelease.yaml.j2
  bootstrap/templates/ansible/playbooks/cluster-prepare.yaml.j2
  bootstrap/templates/ansible/playbooks/cluster-rollout-update.yaml.j2
  bootstrap/templates/ansible/playbooks/templates/custom-cilium-helmchart.yaml.j2.j2
  bootstrap/templates/kubernetes/apps/kube-system/cilium/app/helmvalues.yaml.j2
  bootstrap/vars/config.sample.yaml
Labels: area/addons, area/ansible, area/bootstrap, area/github, area/kubernetes

feat(container): update image kube-prometheus-stack to v55.3.1
  .github/workflows/meta-labeler.yaml
  bootstrap/tasks/validation/vars.yaml
  bootstrap/templates/addons/kube-prometheus-stack/app/helmrelease.yaml.j2
  bootstrap/templates/ansible/playbooks/cluster-prepare.yaml.j2
  bootstrap/templates/ansible/playbooks/cluster-rollout-update.yaml.j2
  bootstrap/templates/ansible/playbooks/templates/custom-cilium-helmchart.yaml.j2.j2
  bootstrap/templates/kubernetes/apps/kube-system/cilium/app/helmvalues.yaml.j2
  bootstrap/vars/config.sample.yaml
Labels: area/addons, area/ansible, area/bootstrap, area/github, area/kubernetes

fix: instead of defining modules twice just restart the modules-load service
  bootstrap/templates/ansible/playbooks/cluster-prepare.yaml.j2
Labels: area/ansible, area/bootstrap

.github/labeler.yaml:

---
area/addons:
  - changed-files:
      - any-glob-to-any-file: bootstrap/templates/addons/**/*
      - any-glob-to-any-file: bootstrap/tasks/addons/**/*
      - any-glob-to-any-file: bootstrap/vars/addons.sample.yaml
area/ansible:
  - changed-files:
      - any-glob-to-any-file: ansible/**/*
      - any-glob-to-any-file: bootstrap/templates/ansible/**/*
      - any-glob-to-any-file: bootstrap/tasks/ansible/**/*
area/bootstrap:
  - changed-files:
      - any-glob-to-any-file: bootstrap/**/*
      - any-glob-to-any-file: bootstrap/configure.yaml
area/github:
  - changed-files:
      - any-glob-to-any-file: .github/**/*
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: kubernetes/**/*
      - any-glob-to-any-file: bootstrap/templates/kubernetes/**/*
      - any-glob-to-any-file: bootstrap/tasks/kubernetes/**/*
area/taskfile:
  - changed-files:
      - any-glob-to-any-file: .taskfiles/**/*
      - any-glob-to-any-file: Taskfile*
