Repository ahgraber/homelab-gitops-k3s, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/docs, area/github, area/kubernetes, area/taskfile

refactor: precommit
  .pre-commit-config.yaml
Labels: none

refactor: precommit
  .pre-commit-config.yaml
Labels: none

feat: renovate - use best-practices
  .github/renovate.json5
Labels: area/github

feat: renovate - use best-practices
  .github/renovate.json5
Labels: area/github

feat: deploy blog, hopefully with auto-updating deployment
  .github/renovate/autoMerge.json5
  .github/renovate/packageRules.json5
  kubernetes/apps/blog/hugo/README.md
  kubernetes/apps/blog/hugo/app/helmrelease.yaml
  kubernetes/apps/blog/hugo/app/kustomization.yaml
  kubernetes/apps/blog/hugo/ks.yaml
  kubernetes/apps/blog/kustomization.yaml
  kubernetes/apps/blog/namespace.yaml
Labels: area/github, area/kubernetes

feat: deploy blog, hopefully with auto-updating deployment
  .github/renovate/autoMerge.json5
  .github/renovate/packageRules.json5
  kubernetes/apps/blog/hugo/README.md
  kubernetes/apps/blog/hugo/app/helmrelease.yaml
  kubernetes/apps/blog/hugo/app/kustomization.yaml
  kubernetes/apps/blog/hugo/ks.yaml
  kubernetes/apps/blog/kustomization.yaml
  kubernetes/apps/blog/namespace.yaml
Labels: area/github, area/kubernetes

feat: publish blog
  kubernetes/apps/blog/hugo/app/helmrelease.yaml
Labels: area/kubernetes

feat: publish blog
  kubernetes/apps/blog/hugo/app/helmrelease.yaml
Labels: area/kubernetes

feat: automerge blog
  .github/renovate/autoMerge.json5
Labels: area/github

feat: automerge blog
  .github/renovate/autoMerge.json5
  .github/renovate/packageRules.json5
Labels: area/github

feat: automerge blog
  .github/renovate/packageRules.json5
Labels: area/github

feat: automerge blog
  .github/renovate/autoMerge.json5
  .github/renovate/packageRules.json5
  kubernetes/apps/blog/hugo/app/helmrelease.yaml
Labels: area/github, area/kubernetes

feat: automerge blog
  .github/renovate/autoMerge.json5
  .github/renovate/packageRules.json5
  kubernetes/apps/blog/hugo/app/helmrelease.yaml
Labels: area/github, area/kubernetes

feat: automerge blog
  .github/renovate/autoMerge.json5
  .github/renovate/packageRules.json5
  kubernetes/apps/blog/hugo/app/helmrelease.yaml
Labels: area/github, area/kubernetes

feat: automerge
  .github/renovate/autoMerge.json5
Labels: area/github

feat: automerge
  .github/renovate/autoMerge.json5
Labels: area/github

fix: autoMerges
  .github/renovate/autoMerge.json5
Labels: area/github

fix: autoMerges
  .github/renovate/autoMerge.json5
Labels: area/github

feat: standardize external nginx security headers
  kubernetes/apps/flux-system/addons/monitoring/prometheusrule.yaml
  kubernetes/apps/networking/ingress-nginx/external/helmrelease.yaml
  kubernetes/apps/networking/ingress-nginx/ks.yaml
Labels: area/kubernetes

feat: standardize external nginx security headers
  kubernetes/apps/flux-system/addons/monitoring/prometheusrule.yaml
  kubernetes/apps/networking/ingress-nginx/external/helmrelease.yaml
  kubernetes/apps/networking/ingress-nginx/ks.yaml
Labels: area/kubernetes

fix: clean up configmaps
  kubernetes/apps/default/homepage/app/configmap.yaml
  kubernetes/apps/default/opengist/app/configmap.yaml
Labels: area/kubernetes

fix: clean up configmaps
  kubernetes/apps/default/homepage/app/configmap.yaml
  kubernetes/apps/default/opengist/app/configmap.yaml
Labels: area/kubernetes

feat: temporarily disable maxmind
  kubernetes/apps/networking/ingress-nginx/external/helmrelease.yaml
Labels: area/kubernetes

feat: temporarily disable maxmind
  kubernetes/apps/networking/ingress-nginx/external/helmrelease.yaml
Labels: area/kubernetes

feat: temporarily disable maxmind
  kubernetes/apps/networking/ingress-nginx/external/helmrelease.yaml
Labels: area/kubernetes

feat: configure mealie's security headers
  kubernetes/apps/default/mealie/app/helmrelease.yaml
Labels: area/kubernetes

feat: debug hugo
  kubernetes/apps/blog/hugo/app/helmrelease.yaml
Labels: area/kubernetes

feat: debug hugo
  kubernetes/apps/blog/hugo/app/helmrelease.yaml
Labels: area/kubernetes

feat: debug hugo
  kubernetes/apps/blog/hugo/app/helmrelease.yaml
Labels: area/kubernetes

feat: temporarily disable maxmind
  kubernetes/apps/networking/ingress-nginx/external/helmrelease.yaml
Labels: area/kubernetes

feat: temporarily disable maxmind
  kubernetes/apps/networking/ingress-nginx/external/helmrelease.yaml
Labels: area/kubernetes

feat: debug hugo
  kubernetes/apps/blog/hugo/app/helmrelease.yaml
Labels: area/kubernetes

feat: configure mealie's security headers
  kubernetes/apps/default/mealie/app/helmrelease.yaml
Labels: area/kubernetes

feat: debug hugo
  kubernetes/apps/blog/hugo/app/helmrelease.yaml
Labels: area/kubernetes

feat: automerge blog
  .github/renovate/autoMerge.json5
Labels: area/github

feat: configure mealie's security headers
  kubernetes/apps/default/mealie/app/helmrelease.yaml
Labels: area/kubernetes

feat: umami
  kubernetes/apps/blog/umami/README.md
  kubernetes/apps/blog/umami/app/helmrelease.yaml
  kubernetes/apps/blog/umami/app/kustomization.yaml
  kubernetes/apps/blog/umami/db/kustomization.yaml
  kubernetes/apps/blog/umami/db/postgres.yaml
  kubernetes/apps/blog/umami/ks.yaml
  kubernetes/apps/database/ext-postgres-operator/app/helmrelease.yaml
Labels: area/kubernetes

Revert "feat: temporarily disable maxmind"
  kubernetes/apps/networking/ingress-nginx/external/helmrelease.yaml
Labels: area/kubernetes

feat: allow 'default' postgres operator to watch all namespaces
  kubernetes/apps/database/ext-postgres-operator/app/helmrelease.yaml
Labels: area/kubernetes

feat: allow 'default' postgres operator to watch all namespaces
  kubernetes/apps/database/ext-postgres-operator/app/helmrelease.yaml
Labels: area/kubernetes

.github/labeler.yaml:

---
area/ansible:
  - changed-files:
      - any-glob-to-any-file: ansible/**/*
area/docs:
  - changed-files:
      - any-glob-to-any-file:
          - "docs/**/*"
          - "README.md"
area/github:
  - changed-files:
      - any-glob-to-any-file: .github/**/*
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: kubernetes/**/*
area/taskfile:
  - changed-files:
      - any-glob-to-any-file: .taskfiles/**/*
      - any-glob-to-any-file: Taskfile*
