Repository ahgraber/homelab-gitops-k3s, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/addons, area/ansible, area/bootstrap, area/github, area/kubernetes, area/taskfile

.github/labeler.yaml:

---
area/addons:
  - changed-files:
      - any-glob-to-any-file: bootstrap/templates/addons/**/*
      - any-glob-to-any-file: bootstrap/tasks/addons/**/*
      - any-glob-to-any-file: bootstrap/vars/addons.sample.yaml
area/ansible:
  - changed-files:
      - any-glob-to-any-file: ansible/**/*
      - any-glob-to-any-file: bootstrap/templates/ansible/**/*
      - any-glob-to-any-file: bootstrap/tasks/ansible/**/*
area/bootstrap:
  - changed-files:
      - any-glob-to-any-file: bootstrap/**/*
      - any-glob-to-any-file: bootstrap/configure.yaml
area/github:
  - changed-files:
      - any-glob-to-any-file: .github/**/*
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: kubernetes/**/*
      - any-glob-to-any-file: bootstrap/templates/kubernetes/**/*
      - any-glob-to-any-file: bootstrap/tasks/kubernetes/**/*
area/taskfile:
  - changed-files:
      - any-glob-to-any-file: .taskfiles/**/*
      - any-glob-to-any-file: Taskfile*

feat: ++elasticsearch
  kubernetes/apps/default/elasticsearch/app/helmrelease.yaml
Labels: area/kubernetes

fix: move logseq, omnivore, elasticsearch to WIP
  kubernetes/apps/default/elasticsearch/README.md
  kubernetes/apps/default/elasticsearch/app/backup/kustomization.yaml
  kubernetes/apps/default/elasticsearch/app/backup/secret.sops.yaml
  kubernetes/apps/default/elasticsearch/app/backup/secret.sops.yaml.tmpl
  kubernetes/apps/default/elasticsearch/app/backup/volsync.yaml
  kubernetes/apps/default/elasticsearch/app/helmrelease.yaml
  kubernetes/apps/default/elasticsearch/app/kustomization.yaml
  kubernetes/apps/default/elasticsearch/app/pvc.yaml
  kubernetes/apps/default/elasticsearch/app/secret.sops.yaml
  kubernetes/apps/default/elasticsearch/app/secret.sops.yaml.tmpl
  kubernetes/apps/default/elasticsearch/ks.yaml
  kubernetes/apps/default/kustomization.yaml
  kubernetes/apps/default/logseq/README.md
  kubernetes/apps/default/logseq/app/backup/kustomization.yaml
  kubernetes/apps/default/logseq/app/backup/secret.sops.yaml
  kubernetes/apps/default/logseq/app/backup/secret.sops.yaml.tmpl
  kubernetes/apps/default/logseq/app/backup/volsync.yaml
  kubernetes/apps/default/logseq/app/helmrelease.yaml
  kubernetes/apps/default/logseq/app/kustomization.yaml
  kubernetes/apps/default/logseq/app/pvc.yaml
  kubernetes/apps/default/logseq/ks.yaml
Labels: area/kubernetes

fix: move logseq, omnivore, elasticsearch to WIP
  kubernetes/apps/default/elasticsearch/README.md
  kubernetes/apps/default/elasticsearch/app/backup/kustomization.yaml
  kubernetes/apps/default/elasticsearch/app/backup/secret.sops.yaml
  kubernetes/apps/default/elasticsearch/app/backup/secret.sops.yaml.tmpl
  kubernetes/apps/default/elasticsearch/app/backup/volsync.yaml
  kubernetes/apps/default/elasticsearch/app/helmrelease.yaml
  kubernetes/apps/default/elasticsearch/app/kustomization.yaml
  kubernetes/apps/default/elasticsearch/app/pvc.yaml
  kubernetes/apps/default/elasticsearch/app/secret.sops.yaml
  kubernetes/apps/default/elasticsearch/app/secret.sops.yaml.tmpl
  kubernetes/apps/default/elasticsearch/ks.yaml
  kubernetes/apps/default/kustomization.yaml
  kubernetes/apps/default/logseq/README.md
  kubernetes/apps/default/logseq/app/backup/kustomization.yaml
  kubernetes/apps/default/logseq/app/backup/secret.sops.yaml
  kubernetes/apps/default/logseq/app/backup/secret.sops.yaml.tmpl
  kubernetes/apps/default/logseq/app/backup/volsync.yaml
  kubernetes/apps/default/logseq/app/helmrelease.yaml
  kubernetes/apps/default/logseq/app/kustomization.yaml
  kubernetes/apps/default/logseq/app/pvc.yaml
  kubernetes/apps/default/logseq/ks.yaml
Labels: area/kubernetes

fix(container): update image syncthing/syncthing to v1.27.2
  kubernetes/apps/default/syncthing/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image syncthing/syncthing to v1.27.2
  kubernetes/apps/default/syncthing/app/helmrelease.yaml
Labels: area/kubernetes

feat(ansible): update community.general to 8.2.0
  requirements.yaml
Labels: none

feat(ansible): update community.general to 8.2.0
  requirements.yaml
Labels: none

fix(helm): update chart windmill to 2.0.62
  kubernetes/apps/datasci/windmill/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update chart windmill to 2.0.62
  kubernetes/apps/datasci/windmill/app/helmrelease.yaml
Labels: area/kubernetes

chore(deps): update netaddr to 0.10.1
  requirements.txt
Labels: none

chore(deps): update netaddr to 0.10.1
  requirements.txt
Labels: none

feat(helm): update chart descheduler to 0.29.0
  kubernetes/apps/kube-system/descheduler/app/helmrelease.yaml
Labels: area/kubernetes

feat(helm): update chart descheduler to 0.29.0
  kubernetes/apps/kube-system/descheduler/app/helmrelease.yaml
Labels: area/kubernetes

fix: flux-diff workflow
  .github/workflows/flux-diff.yaml
Labels: area/github

fix: flux-diff workflow
  .github/workflows/flux-diff.yaml
Labels: area/github

fix(helm): update chart democratic-csi to 0.14.4
  bootstrap/templates/kubernetes/apps/kube-system/local-path-provisioner/app/helmrelease.yaml.j2
Labels: area/bootstrap, area/kubernetes

fix(helm): update chart democratic-csi to 0.14.4
  bootstrap/templates/kubernetes/apps/kube-system/local-path-provisioner/app/helmrelease.yaml.j2
Labels: area/bootstrap, area/kubernetes

feat(github-release): update pre-commit hook crate-ci/typos to v1.17.0
  .pre-commit-config.yaml
Labels: none

feat(github-release): update pre-commit hook crate-ci/typos to v1.17.0
  .pre-commit-config.yaml
Labels: none

fix(helm): update chart reloader to 1.0.60
  bootstrap/templates/kubernetes/apps/kube-system/reloader/app/helmrelease.yaml.j2
  kubernetes/apps/kube-system/reloader/app/helmrelease.yaml
Labels: area/bootstrap, area/kubernetes

fix(helm): update chart reloader to 1.0.60
  bootstrap/templates/kubernetes/apps/kube-system/reloader/app/helmrelease.yaml.j2
  kubernetes/apps/kube-system/reloader/app/helmrelease.yaml
Labels: area/bootstrap, area/kubernetes

fix(container): update image lscr.io/linuxserver/pairdrop to v1.10.3
  kubernetes/apps/default/pairdrop/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image lscr.io/linuxserver/pairdrop to v1.10.3
  kubernetes/apps/default/pairdrop/app/helmrelease.yaml
Labels: area/kubernetes

fix: flux-diff workflow
  .github/workflows/flux-diff.yaml
Labels: area/github

fix: flux-diff workflow
  .github/workflows/flux-diff.yaml
Labels: area/github

chore(deps): pin dependencies
  .github/workflows/flux-diff.yaml
Labels: area/github

chore(deps): pin dependencies
  .github/workflows/flux-diff.yaml
Labels: area/github

feat(container): update image ghcr.io/usememos/memos to v0.18.2
  kubernetes/apps/default/memos/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update image ghcr.io/usememos/memos to v0.18.2
  kubernetes/apps/default/memos/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image kube-prometheus-stack to v55.5.2
  bootstrap/templates/addons/kube-prometheus-stack/app/helmrelease.yaml.j2
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/addons, area/bootstrap, area/kubernetes

fix(container): update image kube-prometheus-stack to v55.5.2
  bootstrap/templates/addons/kube-prometheus-stack/app/helmrelease.yaml.j2
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/addons, area/bootstrap, area/kubernetes

fix(helm): update chart loki-stack to 2.9.12
  kubernetes/apps/monitoring/loki-stack/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update chart loki-stack to 2.9.12
  kubernetes/apps/monitoring/loki-stack/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update image ghcr.io/thomiceli/opengist to v1.6.0
  kubernetes/apps/default/opengist/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update image ghcr.io/thomiceli/opengist to v1.6.0
  kubernetes/apps/default/opengist/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update chart ext-postgres-operator to 1.2.5
  kubernetes/apps/datasci/postgres/postgres-operator/app/helmrelease.yaml
  kubernetes/apps/default/postgres/postgres-operator/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update chart ext-postgres-operator to 1.2.5
  kubernetes/apps/datasci/postgres/postgres-operator/app/helmrelease.yaml
  kubernetes/apps/default/postgres/postgres-operator/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/hay-kot/homebox to v0.10.3
  kubernetes/apps/default/homebox/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/hay-kot/homebox to v0.10.3
  kubernetes/apps/default/homebox/app/helmrelease.yaml
Labels: area/kubernetes

fix: flux-diff workflow
  .github/workflows/flux-diff.yaml
Labels: area/github
