Repository ahgraber/homelab-gitops-k3s, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/docs, area/github, area/kubernetes, area/taskfile

.github/labeler.yaml:

---
area/ansible:
  - changed-files:
      - any-glob-to-any-file: ansible/**/*
area/docs:
  - changed-files:
      - any-glob-to-any-file:
          - "docs/**/*"
          - "README.md"
area/github:
  - changed-files:
      - any-glob-to-any-file: .github/**/*
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: kubernetes/**/*
area/taskfile:
  - changed-files:
      - any-glob-to-any-file: .taskfiles/**/*
      - any-glob-to-any-file: Taskfile*

Revert "fix(github-release): update prometheus-operator/prometheus-operator ( v0.76.1 → v0.76.2 )"
  .taskfiles/flux/taskfile.yaml
Labels: area/taskfile

fix: temp. disable maxmind x vector
  kubernetes/apps/monitoring/kustomization.yaml
Labels: area/kubernetes

fix: temp. disable maxmind x vector
  kubernetes/apps/monitoring/kustomization.yaml
Labels: area/kubernetes

feat: disable kube-cleanup-operator
  kubernetes/apps/kube-system/kustomization.yaml
Labels: area/kubernetes

feat: disable kube-cleanup-operator
  kubernetes/apps/kube-system/kustomization.yaml
Labels: area/kubernetes

chore: ansible compatibility fixes
  ansible/ansible.cfg
  ansible/playbooks/apt-update.yaml
Labels: area/ansible

chore: ansible compatibility fixes
  ansible/ansible.cfg
  ansible/playbooks/apt-update.yaml
Labels: area/ansible

fix: thanos namespacing
  kubernetes/apps/monitoring/thanos/app/kustomization.yaml
Labels: area/kubernetes

fix: thanos namespacing
  kubernetes/apps/monitoring/thanos/app/kustomization.yaml
Labels: area/kubernetes

revert: reenable maxmind x vector
  kubernetes/apps/monitoring/kustomization.yaml
Labels: area/kubernetes

revert: reenable maxmind x vector
  kubernetes/apps/monitoring/kustomization.yaml
Labels: area/kubernetes

revert: reenable maxmind x nginx
  kubernetes/apps/networking/ingress-nginx/external/helmrelease.yaml
Labels: area/kubernetes

revert: reenable maxmind x nginx
  kubernetes/apps/networking/ingress-nginx/external/helmrelease.yaml
Labels: area/kubernetes

fix: deprecated `*SelectorNilUsesHelmValues` properties
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes

fix: deprecated `*SelectorNilUsesHelmValues` properties
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes

fix: cilium 1.16 deprecations
  kubernetes/apps/kube-system/cilium/app/helmrelease.yaml
Labels: area/kubernetes

fix: cilium 1.16 deprecations
  kubernetes/apps/kube-system/cilium/app/helmrelease.yaml
Labels: area/kubernetes

feat: link-check should go deeper
  .github/workflows/link-check.yaml
  kubernetes/apps/kube-system/kustomization.yaml
Labels: area/github, area/kubernetes

feat: link-check should go deeper
  .github/workflows/link-check.yaml
  kubernetes/apps/kube-system/kustomization.yaml
Labels: area/github, area/kubernetes

feat: add workflow_dispatch to flux diff
  .github/workflows/flux-diff.yaml
Labels: area/github

feat: add workflow_dispatch to flux diff
  .github/workflows/flux-diff.yaml
Labels: area/github

revert kps v63 changes
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes

revert kps v63 changes
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes

feat: allow renovate to automerge grafana dashboard updates
  .github/renovate/grafanaDashboards.json5
Labels: area/github

feat: allow renovate to automerge grafana dashboard updates
  .github/renovate/grafanaDashboards.json5
Labels: area/github

fix: cert-manager v1.16
  kubernetes/apps/cert-manager/cert-manager/app/helmrelease.yaml
Labels: area/kubernetes

fix: cert-manager v1.16
  kubernetes/apps/cert-manager/cert-manager/app/helmrelease.yaml
Labels: area/kubernetes

fix: bump template versions and update renovate datasources
  ansible/playbooks/templates/coredns-helmchart.yaml.j2
  ansible/playbooks/templates/kube-vip-daemonset.yaml.j2
Labels: area/ansible

fix: bump template versions and update renovate datasources
  ansible/playbooks/templates/coredns-helmchart.yaml.j2
  ansible/playbooks/templates/kube-vip-daemonset.yaml.j2
Labels: area/ansible

feat: bump prefect to v3; remove deprecated agent
  kubernetes/apps/datasci/prefect/README.md
  kubernetes/apps/datasci/prefect/agent/helmrelease.yaml
  kubernetes/apps/datasci/prefect/agent/kustomization.yaml
  kubernetes/apps/datasci/prefect/ks.yaml
  kubernetes/apps/datasci/prefect/server/helmrelease.yaml
  kubernetes/apps/datasci/prefect/worker/helmrelease.yaml
Labels: area/kubernetes

feat: bump prefect to v3; remove deprecated agent
  kubernetes/apps/datasci/prefect/README.md
  kubernetes/apps/datasci/prefect/agent/helmrelease.yaml
  kubernetes/apps/datasci/prefect/agent/kustomization.yaml
  kubernetes/apps/datasci/prefect/ks.yaml
  kubernetes/apps/datasci/prefect/server/helmrelease.yaml
  kubernetes/apps/datasci/prefect/worker/helmrelease.yaml
Labels: area/kubernetes

fix: cert-manager dashboard url
  kubernetes/apps/cert-manager/addons/kustomization.yaml
Labels: area/kubernetes

fix: cert-manager dashboard url
  kubernetes/apps/cert-manager/addons/kustomization.yaml
Labels: area/kubernetes

fix: pgadmin predefined servers
  kubernetes/apps/database/pgadmin/app/secret.sops.yaml
  kubernetes/apps/database/pgadmin/app/secret.sops.yaml.tmpl
Labels: area/kubernetes

fix: pgadmin predefined servers
  kubernetes/apps/database/pgadmin/app/secret.sops.yaml
  kubernetes/apps/database/pgadmin/app/secret.sops.yaml.tmpl
Labels: area/kubernetes

fix: loki
  kubernetes/apps/monitoring/loki/app/helmrelease.yaml
Labels: area/kubernetes

fix: loki
  kubernetes/apps/monitoring/loki/app/helmrelease.yaml
Labels: area/kubernetes

feat: mlflow ai gateway
  kubernetes/apps/datasci/mlflow/app/configmap.yaml
  kubernetes/apps/datasci/mlflow/app/helmrelease.yaml
  kubernetes/apps/datasci/mlflow/app/kustomization.yaml
  kubernetes/apps/datasci/mlflow/app/secret.sops.yaml
  kubernetes/apps/datasci/mlflow/app/secret.sops.yaml.tmpl
Labels: area/kubernetes

feat: mlflow ai gateway
  kubernetes/apps/datasci/mlflow/app/configmap.yaml
  kubernetes/apps/datasci/mlflow/app/helmrelease.yaml
  kubernetes/apps/datasci/mlflow/app/kustomization.yaml
  kubernetes/apps/datasci/mlflow/app/secret.sops.yaml
  kubernetes/apps/datasci/mlflow/app/secret.sops.yaml.tmpl
Labels: area/kubernetes

feat: add readeck
  kubernetes/apps/default/kustomization.yaml
  kubernetes/apps/default/readeck/README.md
  kubernetes/apps/default/readeck/app/helmrelease.yaml
  kubernetes/apps/default/readeck/app/kustomization.yaml
  kubernetes/apps/default/readeck/app/secret.sops.yaml.tmpl
  kubernetes/apps/default/readeck/db/kustomization.yaml
  kubernetes/apps/default/readeck/db/postgres.yaml
  kubernetes/apps/default/readeck/ks.yaml
Labels: area/kubernetes
