Repository ahgraber/homelab-gitops-k3s, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/docs, area/github, area/kubernetes, area/taskfile

.github/labeler.yaml:

---
area/ansible:
  - changed-files:
      - any-glob-to-any-file: ansible/**/*
area/docs:
  - changed-files:
      - any-glob-to-any-file:
          - "docs/**/*"
          - "README.md"
area/github:
  - changed-files:
      - any-glob-to-any-file: .github/**/*
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: kubernetes/**/*
area/taskfile:
  - changed-files:
      - any-glob-to-any-file: .taskfiles/**/*
      - any-glob-to-any-file: Taskfile*

fix: app-template name in kustomization
  kubernetes/apps/monitoring/karma/app/helmrelease.yaml
  kubernetes/apps/monitoring/nut-exporter/app/helmrelease.yaml
  kubernetes/apps/monitoring/scrutiny/app/helmrelease-scrutiny.yaml
  kubernetes/apps/monitoring/scrutiny/collector/helmrelease-collector.yaml
  kubernetes/apps/monitoring/speedtest-exporter/app/helmrelease.yaml
Labels: area/kubernetes

fix: add CNPG group to Renovate configuration
  .github/renovate/groups.json5
Labels: area/github

fix(helm): update networking namespace chart references to use new app-template OCIRepository
  kubernetes/apps/networking/cloudflared/app/helmrelease.yaml
Labels: area/kubernetes

fix: app-template name in kustomization
  kubernetes/apps/networking/cloudflared/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update database namespace chart references to use new app-template OCIRepository
  kubernetes/apps/database/redisinsight/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update datasci namespace chart references to use new app-template OCIRepository
  kubernetes/apps/datasci/docat/app/helmrelease.yaml
  kubernetes/apps/datasci/mlflow/app/helmrelease.yaml
Labels: area/kubernetes

fix: app-template name in kustomization
  kubernetes/apps/database/redisinsight/app/helmrelease.yaml
  kubernetes/apps/datasci/docat/app/helmrelease.yaml
  kubernetes/apps/datasci/mlflow/app/helmrelease.yaml
Labels: area/kubernetes

fix: update service account configuration in redisinsight
  kubernetes/apps/database/redisinsight/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update default namespac echart references to use new app-template OCIRepository
  kubernetes/apps/default/cyberchef/app/helmrelease.yaml
  kubernetes/apps/default/homebox/app/helmrelease.yaml
  kubernetes/apps/default/homepage/app/helmrelease.yaml
  kubernetes/apps/default/karakeep/app/helmrelease.yaml
  kubernetes/apps/default/mealie/app/helmrelease.yaml
  kubernetes/apps/default/memos/app/helmrelease.yaml
  kubernetes/apps/default/miniflux/app/helmrelease.yaml
  kubernetes/apps/default/opengist/app/helmrelease.yaml
  kubernetes/apps/default/pairdrop/app/helmrelease.yaml
  kubernetes/apps/default/picoshare/app/helmrelease.yaml
  kubernetes/apps/default/stirling-pdf/app/helmrelease.yaml
  kubernetes/apps/default/syncthing/app/helmrelease.yaml
Labels: area/kubernetes

fix: app-template name in kustomization
  kubernetes/apps/default/cyberchef/app/helmrelease.yaml
  kubernetes/apps/default/homebox/app/helmrelease.yaml
  kubernetes/apps/default/homepage/app/helmrelease.yaml
  kubernetes/apps/default/homepage/app/kustomization.yaml
  kubernetes/apps/default/homepage/app/rbac.yaml
  kubernetes/apps/default/karakeep/app/helmrelease.yaml
  kubernetes/apps/default/mealie/app/helmrelease.yaml
  kubernetes/apps/default/memos/app/helmrelease.yaml
  kubernetes/apps/default/miniflux/app/helmrelease.yaml
  kubernetes/apps/default/opengist/app/helmrelease.yaml
  kubernetes/apps/default/pairdrop/app/helmrelease.yaml
  kubernetes/apps/default/picoshare/app/helmrelease.yaml
  kubernetes/apps/default/stirling-pdf/app/helmrelease.yaml
  kubernetes/apps/default/syncthing/app/helmrelease.yaml
Labels: area/kubernetes

chore: clean up unneeded 'enabled: true'
  kubernetes/apps/datasci/docat/app/helmrelease.yaml
  kubernetes/apps/debug/httpbin/app/helmrelease.yaml
  kubernetes/apps/monitoring/scrutiny/collector/helmrelease-collector.yaml
Labels: area/kubernetes

fix(helm): update blog namespace chart references to use new app-template OCIRepository
  kubernetes/apps/blog/hugo/app/helmrelease.yaml
  kubernetes/apps/blog/umami/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update HelmRelease remediation retries to -1
  kubernetes/apps/blog/hugo/app/helmrelease.yaml
  kubernetes/apps/blog/umami/app/helmrelease.yaml
Labels: area/kubernetes

feat(hugo): add Cloudflare cache purge job and related resources
  kubernetes/apps/blog/hugo/app/helmrelease.yaml
  kubernetes/apps/blog/hugo/cache/job.yaml
  kubernetes/apps/blog/hugo/cache/kustomization.yaml
  kubernetes/apps/blog/hugo/cache/secret.sops.yaml
  kubernetes/apps/blog/hugo/cache/secret.sops.yaml.tmpl
  kubernetes/apps/blog/hugo/ks.yaml
  kubernetes/apps/blog/umami/app/helmrelease.yaml
Labels: area/kubernetes

fix: app-template name in kustomization
  kubernetes/apps/blog/hugo/app/helmrelease.yaml
  kubernetes/apps/blog/umami/app/helmrelease.yaml
Labels: area/kubernetes

fix: migrate loki to ocirepository
  kubernetes/apps/monitoring/loki/app/helmrelease.yaml
  kubernetes/apps/monitoring/loki/app/kustomization.yaml
  kubernetes/apps/monitoring/loki/app/source.yaml
Labels: area/kubernetes

fix: rm helm repositories in favor of oci
  kubernetes/flux/repositories/helm/kustomization.yaml
Labels: area/kubernetes

fix: tweak karakeep securityContext
  kubernetes/apps/default/karakeep/app/helmrelease.yaml
Labels: area/kubernetes

fix(karakeep): bump max_asset_size_mb for singlefile integration
  kubernetes/apps/default/karakeep/app/helmrelease.yaml
Labels: area/kubernetes

fix(karakeep): enhance Chrome container configuration
  kubernetes/apps/default/karakeep/app/helmrelease.yaml
Labels: area/kubernetes

fix: remove nix-deprecated prettier-plugin-toml
  .prettierrc.yaml
Labels: none

fix(karakeep): increase resource requests and limits
  kubernetes/apps/default/karakeep/app/helmrelease.yaml
Labels: area/kubernetes

feat(mlflow): test if dev 3.1.0 image works
  kubernetes/apps/datasci/mlflow/app/helmrelease.yaml
Labels: area/kubernetes

feat(task): add safe shutdown task
  .taskfiles/ansible/taskfile.yaml
Labels: area/taskfile

feat(karakeep): specify separate image and text models
  kubernetes/apps/default/karakeep/app/secret.sops.yaml
  kubernetes/apps/default/karakeep/app/secret.sops.yaml.tmpl
Labels: area/kubernetes

chore(app-template): update yaml-language-server schema references
  kubernetes/apps/blog/hugo/app/helmrelease.yaml
  kubernetes/apps/blog/umami/app/helmrelease.yaml
  kubernetes/apps/database/redisinsight/app/helmrelease.yaml
  kubernetes/apps/datasci/docat/app/helmrelease.yaml
  kubernetes/apps/datasci/mlflow/app/helmrelease.yaml
  kubernetes/apps/debug/dnsutils/app/helmrelease.yaml
  kubernetes/apps/debug/echo-server/app/helmrelease.yaml
  kubernetes/apps/debug/httpbin/app/helmrelease.yaml
  kubernetes/apps/default/cyberchef/app/helmrelease.yaml
  kubernetes/apps/default/homebox/app/helmrelease.yaml
  kubernetes/apps/default/karakeep/app/helmrelease.yaml
  kubernetes/apps/default/mealie/app/helmrelease.yaml
  kubernetes/apps/default/memos/app/helmrelease.yaml
  kubernetes/apps/default/miniflux/app/helmrelease.yaml
  kubernetes/apps/default/opengist/app/helmrelease.yaml
  kubernetes/apps/default/pairdrop/app/helmrelease.yaml
  kubernetes/apps/default/picoshare/app/helmrelease.yaml
  kubernetes/apps/default/stirling-pdf/app/helmrelease.yaml
  kubernetes/apps/default/syncthing/app/helmrelease.yaml
  kubernetes/apps/monitoring/karma/app/helmrelease.yaml
  kubernetes/apps/monitoring/nut-exporter/app/helmrelease.yaml
  kubernetes/apps/monitoring/scrutiny/app/helmrelease-scrutiny.yaml
  kubernetes/apps/monitoring/scrutiny/collector/helmrelease-collector.yaml
  kubernetes/apps/monitoring/speedtest-exporter/app/helmrelease.yaml
  kubernetes/apps/networking/cloudflared/app/helmrelease.yaml
  kubernetes/apps/system-upgrade/controller/app/helmrelease.yaml
Labels: area/kubernetes

feat(mlflow): update model configuration for mlflow gateway
  kubernetes/apps/datasci/mlflow/app/configmap.yaml
  kubernetes/apps/datasci/mlflow/app/kustomization.yaml
  kubernetes/apps/datasci/mlflow/app/secret-gateway.sops.yaml
  kubernetes/apps/datasci/mlflow/app/secret-gateway.sops.yaml.tmpl
Labels: area/kubernetes

chore(flux): update yaml schema references from v1beta2 to v1
  kubernetes/apps/cert-manager/cert-manager/app/source.yaml
  kubernetes/apps/kube-system/coredns/app/source.yaml
  kubernetes/apps/kube-system/reloader/app/source.yaml
  kubernetes/apps/kube-system/snapshot-controller/app/source.yaml
  kubernetes/apps/monitoring/grafana/app/source.yaml
  kubernetes/apps/monitoring/kube-prometheus-stack/app/source.yaml
  kubernetes/apps/monitoring/loki/app/source.yaml
  kubernetes/apps/rook-ceph/rook-ceph/cluster/source.yaml
  kubernetes/apps/rook-ceph/rook-ceph/operator/source.yaml
  kubernetes/flux/repositories/oci/app-template.yaml
Labels: area/kubernetes

fix(flux): disable flux tracking of helm chart digests
  kubernetes/flux/config/flux.yaml
Labels: area/kubernetes

fix(container): update cilium group ( 1.17.4 → 1.17.5 )
  kubernetes/apps/kube-system/cilium/app/helmrelease.yaml
Labels: area/kubernetes

fix(flux): disable flux tracking of helm chart digests
  kubernetes/bootstrap/kustomization.yaml
Labels: area/kubernetes

fix: revert to cilium chart from home-operations/charts-mirror oci
  kubernetes/flux/repositories/helm/cilium.yaml
Labels: area/kubernetes

fix: catch up kube-vip version in template
  ansible/playbooks/templates/kube-vip-daemonset.yaml.j2
Labels: area/ansible

fix(kube-vip): error creating kubernetes client: specifying a root certificates file with the insecure flag is not allowed
  ansible/playbooks/templates/kube-vip-daemonset.yaml.j2
  kubernetes/apps/kube-system/kube-vip/app/daemonset.yaml
Labels: area/ansible, area/kubernetes

fix(kube-vip): revert v0.9.2 due to "error creating kubernetes client: specifying a root certificates file with the insecure flag is not allowed"
  ansible/playbooks/templates/kube-vip-daemonset.yaml.j2
  kubernetes/apps/kube-system/kube-vip/app/daemonset.yaml
Labels: area/ansible, area/kubernetes

fix(scrutiny): increase wait before probing scrutiny to let influxdb come up
  kubernetes/apps/monitoring/scrutiny/app/helmrelease-scrutiny.yaml
Labels: area/kubernetes

feat: add tracktor
  kubernetes/apps/default/kustomization.yaml
  kubernetes/apps/default/tracktor/README.md
  kubernetes/apps/default/tracktor/app/helmrelease.yaml
  kubernetes/apps/default/tracktor/app/kustomization.yaml
  kubernetes/apps/default/tracktor/app/pvc.yaml
  kubernetes/apps/default/tracktor/ks.yaml
Labels: area/kubernetes

fix: tracktor ingress
  kubernetes/apps/default/tracktor/app/helmrelease.yaml
  kubernetes/apps/default/tracktor/app/kustomization.yaml
  kubernetes/apps/default/tracktor/app/pvc.yaml
Labels: area/kubernetes

fix: tracktor
  kubernetes/apps/default/tracktor/app/kustomization.yaml
Labels: area/kubernetes

fix: tracktor
  kubernetes/apps/default/tracktor/app/helmrelease.yaml
Labels: area/kubernetes
