Repository ahgraber/homelab-gitops-k3s, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/docs, area/github, area/kubernetes, area/taskfile

.github/labeler.yaml:

---
area/ansible:
  - changed-files:
      - any-glob-to-any-file: ansible/**/*
area/docs:
  - changed-files:
      - any-glob-to-any-file:
          - "docs/**/*"
          - "README.md"
area/github:
  - changed-files:
      - any-glob-to-any-file: .github/**/*
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: kubernetes/**/*
area/taskfile:
  - changed-files:
      - any-glob-to-any-file: .taskfiles/**/*
      - any-glob-to-any-file: Taskfile*

fix(ceph): use cephConfig
  kubernetes/apps/rook-ceph/rook-ceph/cluster/helmrelease.yaml
Labels: area/kubernetes

feat(prefect): update helmrelease configuration for prefect 2025.3.70... breaking changes
  kubernetes/apps/datasci/prefect/server/helmrelease.yaml
  kubernetes/apps/datasci/prefect/worker/helmrelease.yaml
Labels: area/kubernetes

feat(prefect): update helmrelease configuration for prefect 2025.3.70... breaking changes
  kubernetes/apps/datasci/prefect/server/helmrelease.yaml
Labels: area/kubernetes

fix(flux): remove empty patch
  kubernetes/flux/config/flux.yaml
Labels: area/kubernetes

fix(postgres): attempt cluster restore
  kubernetes/apps/database/cloudnative-pg/cluster/cluster16.yaml
  kubernetes/apps/datasci/postgres/cloudnative-pg/cluster/cluster16.yaml
Labels: area/kubernetes

fix(postgres): downgrade PostgreSQL image version from 16.8-3 to 16.8-2
  kubernetes/apps/database/cloudnative-pg/cluster/cluster16.yaml
  kubernetes/apps/datasci/postgres/cloudnative-pg/cluster/cluster16.yaml
Labels: area/kubernetes

fix(postgres): attempt cluster restore
  kubernetes/apps/database/cloudnative-pg/cluster/cluster16.yaml
  kubernetes/apps/datasci/postgres/cloudnative-pg/cluster/cluster16.yaml
Labels: area/kubernetes

fix(postgres): attempt cluster restore
  kubernetes/apps/database/cloudnative-pg/cluster/cluster16.yaml
  kubernetes/apps/datasci/postgres/cloudnative-pg/cluster/cluster16.yaml
Labels: area/kubernetes

fix(postgres): attempt cluster restore
  kubernetes/apps/database/cloudnative-pg/cluster/cluster16.yaml
  kubernetes/apps/datasci/postgres/cloudnative-pg/cluster/cluster16.yaml
Labels: area/kubernetes

fix(postgres): attempt cluster restore
  kubernetes/apps/database/cloudnative-pg/cluster/cluster16.yaml
  kubernetes/apps/datasci/postgres/cloudnative-pg/cluster/cluster16.yaml
Labels: area/kubernetes

fix(postgres): attempt cluster restore
  kubernetes/apps/database/cloudnative-pg/cluster/cluster16.yaml
  kubernetes/apps/datasci/postgres/cloudnative-pg/cluster/cluster16.yaml
Labels: area/kubernetes

fix(postgres): attempt cluster restore
  kubernetes/apps/database/cloudnative-pg/cluster/cluster16.yaml
  kubernetes/apps/datasci/postgres/cloudnative-pg/cluster/cluster16.yaml
Labels: area/kubernetes

fix(postgres): attempt cluster restore
  kubernetes/apps/database/cloudnative-pg/cluster/cluster16.yaml
  kubernetes/apps/datasci/postgres/cloudnative-pg/cluster/cluster16.yaml
Labels: area/kubernetes

fix(homepage): adapt to breaking change HOMEPAGE_ALLOWED_HOSTS
  kubernetes/apps/default/homepage/app/configmap.yaml
  kubernetes/apps/default/homepage/app/helmrelease.yaml
Labels: area/kubernetes

fix: update nginx image to mitigate CVE-2025-1974
  kubernetes/apps/networking/ingress-nginx/external/helmrelease.yaml
  kubernetes/apps/networking/ingress-nginx/internal/helmrelease.yaml
Labels: area/kubernetes

fix: use default values for nginx image now that helm chart is updated
  kubernetes/apps/networking/ingress-nginx/external/helmrelease.yaml
  kubernetes/apps/networking/ingress-nginx/internal/helmrelease.yaml
Labels: area/kubernetes

fix: remove duplicate setup-python action
  .github/workflows/publish-docs.yaml
Labels: area/github

feat(karakeep): add initial configuration and resources for Karakeep
  kubernetes/apps/default/karakeep/README.md
  kubernetes/apps/default/karakeep/app/helmrelease.yaml
  kubernetes/apps/default/karakeep/app/kustomization.yaml
  kubernetes/apps/default/karakeep/app/secret.sops.yaml
  kubernetes/apps/default/karakeep/app/secret.sops.yaml.tmpl
  kubernetes/apps/default/karakeep/ks.yaml
  kubernetes/apps/default/kustomization.yaml
Labels: area/kubernetes

feat(karakeep): add initial configuration and resources for Karakeep
  kubernetes/apps/default/karakeep/app/secret.sops.yaml
  kubernetes/apps/default/karakeep/app/secret.sops.yaml.tmpl
Labels: area/kubernetes

feat(karakeep): pin hoarder version; migrate data to karakeep and bump version
  kubernetes/apps/default/hoarder/app/helmrelease.yaml
  kubernetes/apps/default/karakeep/app/helmrelease.yaml
Labels: area/kubernetes

fix(karakeep): debug karakeep
  kubernetes/apps/default/homepage/app/configmap.yaml
  kubernetes/apps/default/karakeep/app/helmrelease.yaml
Labels: area/kubernetes

fix(volsync): update expected secret name in volsync task templates
  .taskfiles/volsync/templates/ListJob.tmpl.yaml
  .taskfiles/volsync/templates/ReplicationDestination.tmpl.yaml
  .taskfiles/volsync/templates/UnlockJob.tmpl.yaml
Labels: area/taskfile

fix(kube-vip): v0.9.0 rename vip_cidr to vip_subnet
  kubernetes/apps/kube-system/kube-vip/app/daemonset.yaml
Labels: area/kubernetes

fix: blog
  .gitignore
  kubernetes/apps/blog/hugo/app/helmrelease.yaml
Labels: area/kubernetes

fix: blog
  kubernetes/apps/blog/hugo/app/helmrelease.yaml
Labels: area/kubernetes

fix: blog
  kubernetes/apps/blog/hugo/app/helmrelease.yaml
Labels: area/kubernetes

fix: deprecate hoarder in favor of karakeep
  kubernetes/apps/default/hoarder/README.md
  kubernetes/apps/default/hoarder/app/helmrelease.yaml
  kubernetes/apps/default/hoarder/app/kustomization.yaml
  kubernetes/apps/default/hoarder/app/secret.sops.yaml
  kubernetes/apps/default/hoarder/app/secret.sops.yaml.tmpl
  kubernetes/apps/default/hoarder/ks.yaml
  kubernetes/apps/default/kustomization.yaml
Labels: area/kubernetes

fix(external-dns): provider name value
  kubernetes/apps/networking/external-dns/app/helmrelease.yaml
Labels: area/kubernetes

fix(kube-vip): v0.9.0 rename vip_cidr to vip_subnet
  ansible/playbooks/templates/kube-vip-daemonset.yaml.j2
Labels: area/ansible

fix(env): flake should only build devenv
  flake.nix
Labels: none

feat(k3s): bump k3s v1.31.4 -> v1.31.7
  ansible/inventory/group_vars/kubernetes/main.yaml
  ansible/playbooks/templates/kube-vip-daemonset.yaml.j2
  kubernetes/apps/system-upgrade/controller/plans/k3s-agent.yaml
  kubernetes/apps/system-upgrade/controller/plans/k3s-server.yaml
Labels: area/ansible, area/kubernetes

fix: bump cloudflared req. memory
  kubernetes/apps/networking/cloudflared/app/helmrelease.yaml
Labels: area/kubernetes

feat(cilium): use gateway-api
  kubernetes/apps/kube-system/cilium/app/helmrelease.yaml
  kubernetes/apps/kube-system/cilium/gateway/external.yaml
  kubernetes/apps/kube-system/cilium/gateway/internal.yaml
  kubernetes/apps/kube-system/cilium/gateway/kustomization.yaml
  kubernetes/apps/kube-system/cilium/gateway/network-policy-bots.yaml
  kubernetes/apps/kube-system/cilium/gateway/network-policy-internal.yaml
  kubernetes/apps/kube-system/cilium/gateway/redirects-and-headers.yaml
  kubernetes/apps/kube-system/cilium/ks.yaml
Labels: area/kubernetes

feat: ensure cert and cloudflared tunnel use cilium gateway
  kubernetes/apps/cert-manager/cert-manager/certificates/production.yaml
  kubernetes/apps/kube-system/reflector/README.md
  kubernetes/apps/networking/cloudflared/app/configs/config.yaml
Labels: area/kubernetes

feat: convert apps to cilium gateway / httproute
  kubernetes/apps/blog/hugo/app/helmrelease.yaml
  kubernetes/apps/blog/umami/app/helmrelease.yaml
  kubernetes/apps/database/pgadmin/app/helmrelease.yaml
  kubernetes/apps/database/redisinsight/app/helmrelease.yaml
  kubernetes/apps/datasci/docat/app/helmrelease.yaml
  kubernetes/apps/datasci/mlflow/app/helmrelease.yaml
  kubernetes/apps/datasci/prefect/server/helmrelease.yaml
  kubernetes/apps/datasci/windmill/app/helmrelease.yaml
  kubernetes/apps/debug/echo-server/app/helmrelease.yaml
  kubernetes/apps/debug/httpbin/app/helmrelease.yaml
  kubernetes/apps/default/cyberchef/app/helmrelease.yaml
  kubernetes/apps/default/homebox/app/helmrelease.yaml
  kubernetes/apps/default/homepage/app/helmrelease.yaml
  kubernetes/apps/default/karakeep/app/helmrelease.yaml
  kubernetes/apps/default/mealie/app/helmrelease.yaml
  kubernetes/apps/default/memos/app/helmrelease.yaml
  kubernetes/apps/default/miniflux/app/helmrelease.yaml
  kubernetes/apps/default/opengist/app/helmrelease.yaml
  kubernetes/apps/default/pairdrop/app/helmrelease.yaml
  kubernetes/apps/default/picoshare/app/helmrelease.yaml
  kubernetes/apps/default/stirling-pdf/app/helmrelease.yaml
  kubernetes/apps/default/syncthing/app/helmrelease.yaml
  kubernetes/apps/monitoring/goldilocks/app/helmrelease-goldilocks.yaml
  kubernetes/apps/monitoring/grafana/app/helmrelease.yaml
  kubernetes/apps/monitoring/karma/app/helmrelease.yaml
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
  kubernetes/apps/monitoring/scrutiny/app/helmrelease-scrutiny.yaml
  kubernetes/apps/networking/external-dns/app/helmrelease.yaml
  kubernetes/apps/rook-ceph/rook-ceph/cluster/helmrelease.yaml
Labels: area/kubernetes

fix(deps): hint to use freelens instead of openlens
  flake.nix
Labels: none

refactor(tasks): restructure flux bootstrap task and add crds and _deploy_secrets tasks
  .taskfiles/flux/taskfile.yaml
Labels: area/taskfile

refactor(tasks): restructure flux bootstrap task and add crds and _deploy_secrets tasks
  .taskfiles/flux/taskfile.yaml
Labels: area/taskfile

feat: add gateway-api crds to bootstrap
  .taskfiles/flux/taskfile.yaml
Labels: area/taskfile

fix: clarify shfmt args
  .pre-commit-config.yaml
Labels: none
