Repository ahgraber/homelab-gitops-k3s, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/docs, area/github, area/kubernetes, area/taskfile

.github/labeler.yaml:

---
area/ansible:
  - changed-files:
      - any-glob-to-any-file: ansible/**/*
area/docs:
  - changed-files:
      - any-glob-to-any-file:
          - "docs/**/*"
          - "README.md"
area/github:
  - changed-files:
      - any-glob-to-any-file: .github/**/*
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: kubernetes/**/*
area/taskfile:
  - changed-files:
      - any-glob-to-any-file: .taskfiles/**/*
      - any-glob-to-any-file: Taskfile*

fix(secrets): rotate secrets and fix cert specs
  .gitignore
  bootstrap/helmfile.d/01-apps.yaml
  flake.nix
  kubernetes/apps/cert-manager/cert-manager/app/issuers/letsencrypt-production.yaml
  kubernetes/apps/cert-manager/cert-manager/app/issuers/letsencrypt-staging.yaml
  kubernetes/apps/cert-manager/cert-manager/app/issuers/secret.sops.yaml
  kubernetes/apps/cert-manager/cert-manager/app/issuers/secret.sops.yaml.tmpl
  kubernetes/apps/network/certificates/production.yaml
  kubernetes/apps/network/certificates/staging.yaml
  kubernetes/apps/network/cloudflared/app/secret.sops.yaml
  kubernetes/apps/network/external-dns/app/helmrelease.yaml
  kubernetes/apps/network/external-dns/app/secret.sops.yaml
  kubernetes/apps/network/external-dns/app/secret.sops.yaml.tmpl
  scripts/bootstrap/common.sh
Labels: area/kubernetes

fix(kustomization): ensure names/paths align with kustomization
  kubernetes/apps/external-secrets/bitwarden-sdk-server/app/certificates/certificates.yaml
  kubernetes/apps/network/envoy-gateway/instance/kustomization.yaml
Labels: area/kubernetes

feat(observability): split out goldilocks and vpa
  kubernetes/apps/observability/goldilocks/app/helmrelease.yaml
  kubernetes/apps/observability/kustomization.yaml
  kubernetes/apps/observability/vpa/app/helmrelease.yaml
  kubernetes/apps/observability/vpa/app/kustomization.yaml
  kubernetes/apps/observability/vpa/app/source.yaml
  kubernetes/apps/observability/vpa/ks.yaml
Labels: area/kubernetes

fix(grafana): ensure grafana instance waits on rook-ceph
  kubernetes/apps/observability/grafana/ks.yaml
Labels: area/kubernetes

feat(envoy): use prod certs
  kubernetes/apps/network/certificates/kustomization.yaml
  kubernetes/apps/network/envoy-gateway/instance/gateway-external.yaml
  kubernetes/apps/network/envoy-gateway/instance/gateway-internal.yaml
Labels: area/kubernetes

fix(cloudflared): config updates
  kubernetes/apps/network/cloudflared/app/kustomization.yaml
  kubernetes/apps/network/cloudflared/app/secret.sops.yaml
  kubernetes/apps/network/cloudflared/app/secret.sops.yaml.tmpl
Labels: area/kubernetes

fix(external-secrets): fluxtomization path
  kubernetes/apps/external-secrets/external-secrets-operator/ks.yaml
Labels: area/kubernetes

fix(cert-manager): update prometheus rules for new rotation schedule
  kubernetes/apps/cert-manager/cert-manager/app/prometheusrule.yaml
Labels: area/kubernetes

fix(cloudnative-pg): local-path -> ceph-block for storage
  kubernetes/apps/database/cloudnative-pg/cluster/cluster16.yaml
  kubernetes/apps/datasci/postgres/cloudnative-pg/cluster/cluster16.yaml
Labels: area/kubernetes

fix(rook-ceph): tweak ceph cluster
  kubernetes/apps/rook-ceph/rook-ceph-cluster/app/helmrelease.yaml
Labels: area/kubernetes

fix(rook-ceph): allow discovery on all nodes
  kubernetes/apps/rook-ceph/rook-ceph-operator/app/helmrelease.yaml
Labels: area/kubernetes

feat(prefect): fix deployment
  kubernetes/apps/datasci/prefect/server/helmrelease.yaml
  kubernetes/apps/datasci/prefect/server/kustomization.yaml
Labels: area/kubernetes

feat(temporal): fix deployment
  kubernetes/apps/datasci/temporal/app/helmrelease.yaml
Labels: area/kubernetes

feat(windmill): fix deployment
  kubernetes/apps/datasci/windmill/app/helmrelease.yaml
Labels: area/kubernetes

fix(homepage): update
  kubernetes/apps/default/homepage/app/configmap.yaml
  kubernetes/apps/default/homepage/app/secret.sops.yaml
Labels: area/kubernetes

fix(cloudflare): update docs on cf tunnel and gh webhook
  kubernetes/apps/flux-system/flux-instance/README.md
  kubernetes/apps/flux-system/flux-instance/app/httproute.yaml
  kubernetes/apps/flux-system/flux-instance/app/kustomization.yaml
  kubernetes/apps/flux-system/flux-instance/app/secret.sops.yaml
  kubernetes/apps/flux-system/flux-instance/app/secret.sops.yaml.tmpl
  kubernetes/apps/network/cloudflared/README.md
Labels: area/kubernetes

fix(ceph): relax bluestore slow operations warning threshold
  .pre-commit-config.yaml
  kubernetes/apps/rook-ceph/README.md
  kubernetes/apps/rook-ceph/rook-ceph-cluster/app/helmrelease.yaml
Labels: area/kubernetes

feat(actions): convert to flux-local workflow
  .github/workflows/flux-diff.yaml
  .github/workflows/flux-local.yaml
Labels: area/github

feat(check): add flux-local test task for kubernetes manifests
  .taskfiles/flux/taskfile.yaml
Labels: area/taskfile

feat(bws): migration tooling
  docs/bitwarden-eso-migration-tooling.md
  docs/bitwarden-eso-migration.md
  kubernetes/apps/external-secrets/external-secrets/operator/secret.sops.yaml
  kubernetes/apps/external-secrets/external-secrets/operator/secret.sops.yaml.tmpl
  pyproject.toml
  scripts/bitwarden-eso-migrate.py
  scripts/bws/__init__.py
  scripts/bws/crawl.py
  scripts/bws/externalsecrets.py
  scripts/bws/models.py
  scripts/bws/push.py
  uv.lock
Labels: area/docs, area/kubernetes

feat(flux): add controller-level sops decryption
  kubernetes/bootstrap/age-key.sops.yaml
  kubernetes/flux/apps.yaml
  kubernetes/flux/config/cluster.yaml
  kubernetes/flux/config/flux.yaml
Labels: area/kubernetes

feat(volsync): move volsync templates to components (part 2)
  kubernetes/apps/blog/hugo/app/kustomization.yaml
  kubernetes/apps/blog/hugo/ks.yaml
  kubernetes/apps/default/calibre-web-automated/ks.yaml
  kubernetes/apps/default/mealie/app/kustomization.yaml
  kubernetes/apps/default/mealie/ks.yaml
  kubernetes/apps/default/memos/app/kustomization.yaml
  kubernetes/apps/default/memos/ks.yaml
  kubernetes/apps/default/opengist/app/kustomization.yaml
  kubernetes/apps/default/opengist/ks.yaml
Labels: area/kubernetes

fix(pre-commit): prettier is broken
  .pre-commit-config.yaml
Labels: none

feat(volsync): use new volsync components
  kubernetes/apps/datasci/docat/ks.yaml
  kubernetes/apps/datasci/mlflow/ks.yaml
  kubernetes/apps/default/calibre-web-automated/ks.yaml
  kubernetes/apps/default/homebox/ks.yaml
  kubernetes/apps/default/jelu/ks.yaml
  kubernetes/apps/default/picoshare/ks.yaml
  kubernetes/apps/default/shelfmark/ks.yaml
  kubernetes/apps/default/stirling-pdf/ks.yaml
  kubernetes/apps/default/syncthing/ks.yaml
  kubernetes/apps/observability/scrutiny/ks.yaml
  kubernetes/components/volsync/README.md
Labels: area/kubernetes

feat(volsync): use new volsync components
  kubernetes/apps/datasci/docat/app/kustomization.yaml
  kubernetes/apps/datasci/docat/ks.yaml
  kubernetes/apps/datasci/mlflow/app/kustomization.yaml
  kubernetes/apps/datasci/mlflow/ks.yaml
  kubernetes/apps/default/calibre-web-automated/app/kustomization.yaml
  kubernetes/apps/default/calibre-web-automated/ks.yaml
  kubernetes/apps/default/calibre-web-automated/volume/kustomization.yaml
  kubernetes/apps/default/homebox/app/kustomization.yaml
  kubernetes/apps/default/homebox/ks.yaml
  kubernetes/apps/default/jelu/app/kustomization.yaml
  kubernetes/apps/default/jelu/ks.yaml
  kubernetes/apps/default/picoshare/app/kustomization.yaml
  kubernetes/apps/default/picoshare/ks.yaml
  kubernetes/apps/default/shelfmark/app/kustomization.yaml
  kubernetes/apps/default/shelfmark/ks.yaml
  kubernetes/apps/default/stirling-pdf/app/kustomization.yaml
  kubernetes/apps/default/stirling-pdf/ks.yaml
  kubernetes/apps/default/syncthing/app/kustomization.yaml
  kubernetes/apps/default/syncthing/ks.yaml
  kubernetes/apps/observability/scrutiny/app/kustomization.yaml
  kubernetes/apps/observability/scrutiny/ks.yaml
  kubernetes/apps/volsync/README.md
Labels: area/kubernetes

fix(calibre): ensure shared calibre volume exists and is backed up
  kubernetes/apps/default/calibre-web-automated/ks.yaml
  kubernetes/apps/default/calibre-web-automated/volume/kustomization.yaml
  kubernetes/apps/default/calibre-web-automated/volume/pvc.yaml
  kubernetes/apps/default/calibre-web-automated/volume/replicationdestination.yaml
  kubernetes/apps/default/calibre-web-automated/volume/replicationsource.yaml
  kubernetes/apps/default/calibre-web-automated/volume/secret.sops.yaml
  kubernetes/apps/default/calibre-web-automated/volume/secret.sops.yaml.tmpl
Labels: area/kubernetes

feat(volsync): move volsync templates to components
  .taskfiles/hack/taskfile.yaml
  .taskfiles/volsync/taskfile.yaml
  kubernetes/components/volsync/README.md
  kubernetes/components/volsync/claim.yaml
  kubernetes/components/volsync/kustomization.yaml
  kubernetes/components/volsync/replicationdestination.yaml
  kubernetes/components/volsync/replicationsource.yaml
  kubernetes/components/volsync/secret.yaml
Labels: area/kubernetes, area/taskfile

feat(flux): use sources at app level
  kubernetes/flux/repositories/README.md
  kubernetes/flux/repositories/helm/.gitkeep
  kubernetes/flux/repositories/helm/actions-runner-controller.yaml
  kubernetes/flux/repositories/helm/bjw-s.yaml
  kubernetes/flux/repositories/helm/coredns.yaml
  kubernetes/flux/repositories/helm/jetstack.yaml
  kubernetes/flux/repositories/helm/kustomization.yaml
  kubernetes/flux/repositories/helm/valheim.yaml
  kubernetes/flux/repositories/kustomization.yaml
  kubernetes/flux/repositories/oci/.gitkeep
  kubernetes/flux/repositories/oci/app-template.yaml
  kubernetes/flux/repositories/oci/kustomization.yaml
Labels: area/kubernetes

feat(flux-operator): deploy flux-operator
  kubernetes/apps/flux-system/flux-operator/app/helmrelease.yaml
  kubernetes/apps/flux-system/flux-operator/app/httproute.yaml
  kubernetes/apps/flux-system/flux-operator/app/kustomization.yaml
  kubernetes/apps/flux-system/flux-operator/app/source.yaml
  kubernetes/apps/flux-system/flux-operator/ks.yaml
Labels: area/kubernetes

feat(volsync): remove volsync templates (part 4)
  kubernetes/templates/volsync/README.md
  kubernetes/templates/volsync/init/init_claim.yaml
  kubernetes/templates/volsync/init/kustomization.yaml
  kubernetes/templates/volsync/restore/claim.yaml
  kubernetes/templates/volsync/restore/kustomization.yaml
  kubernetes/templates/volsync/restore/replicationdestination.yaml
  kubernetes/templates/volsync/restore/replicationsource.yaml
  kubernetes/templates/volsync/restore/secret.yaml
Labels: area/kubernetes

feat(volsync): move volsync templates to components (part 3)
  kubernetes/apps/default/karakeep/app/kustomization.yaml
  kubernetes/apps/default/karakeep/ks.yaml
  kubernetes/apps/security/authelia/app/kustomization.yaml
  kubernetes/apps/security/authelia/ks.yaml
  kubernetes/apps/security/lldap/app/kustomization.yaml
  kubernetes/apps/security/lldap/ks.yaml
Labels: area/kubernetes

feat(flux): add controller-level sops decryption
  kubernetes/apps/blog/kustomization.yaml
  kubernetes/apps/cert-manager/kustomization.yaml
  kubernetes/apps/database/kustomization.yaml
  kubernetes/apps/datasci/kustomization.yaml
  kubernetes/apps/debug/kustomization.yaml
  kubernetes/apps/default/kustomization.yaml
  kubernetes/apps/external-secrets/kustomization.yaml
  kubernetes/apps/flux-system/kustomization.yaml
  kubernetes/apps/kube-system/kustomization.yaml
  kubernetes/apps/kyverno/kustomization.yaml
  kubernetes/apps/network/kustomization.yaml
  kubernetes/apps/observability/kustomization.yaml
  kubernetes/apps/rook-ceph/kustomization.yaml
  kubernetes/apps/security/kustomization.yaml
  kubernetes/apps/system-upgrade/kustomization.yaml
  kubernetes/apps/volsync-system/kustomization.yaml
  kubernetes/apps/volsync-system/namespace.yaml
  kubernetes/components/sops/cluster-secrets.sops.yaml
  kubernetes/components/sops/cluster-secrets.sops.yaml.tmpl
  kubernetes/components/sops/cluster-settings.yaml
  kubernetes/components/sops/custom-secrets.sops.yaml
  kubernetes/components/sops/custom-secrets.sops.yaml.tmpl
  kubernetes/components/sops/kustomization.yaml
Labels: area/kubernetes

feat(components): move alerts to components
  kubernetes/apps/flux-system/addons/ks.yaml
  kubernetes/apps/observability/kustomization.yaml
  kubernetes/components/alerts/alertmanager/alert.yaml
  kubernetes/components/alerts/alertmanager/kustomization.yaml
  kubernetes/components/alerts/alertmanager/provider.yaml
  kubernetes/components/alerts/github-status/alert.yaml
  kubernetes/components/alerts/github-status/kustomization.yaml
  kubernetes/components/alerts/github-status/provider.yaml
  kubernetes/components/alerts/kustomization.yaml
Labels: area/kubernetes

fix(ansible): don't manage coredns with k3s
  ansible/playbooks/k3s-install.yaml
Labels: area/ansible

fix(grafana): ensure grafana instance waits on rook-ceph
  kubernetes/apps/observability/grafana/ks.yaml
Labels: area/kubernetes

feat(certificates): move certs to network
  kubernetes/apps/cert-manager/cert-manager/ks.yaml
  kubernetes/apps/network/certificates/README.md
  kubernetes/apps/network/certificates/kustomization.yaml
  kubernetes/apps/network/certificates/production.yaml
  kubernetes/apps/network/certificates/staging.yaml
  kubernetes/apps/network/envoy-gateway/ks.yaml
  kubernetes/apps/network/kustomization.yaml
Labels: area/kubernetes

fix(secrets): rotate secrets and fix cert specs
  .gitignore
  bootstrap/helmfile.d/01-apps.yaml
  flake.nix
  kubernetes/apps/cert-manager/cert-manager/app/issuers/letsencrypt-production.yaml
  kubernetes/apps/cert-manager/cert-manager/app/issuers/letsencrypt-staging.yaml
  kubernetes/apps/cert-manager/cert-manager/app/issuers/secret.sops.yaml
  kubernetes/apps/cert-manager/cert-manager/app/issuers/secret.sops.yaml.tmpl
  kubernetes/apps/network/certificates/production.yaml
  kubernetes/apps/network/certificates/staging.yaml
  kubernetes/apps/network/cloudflared/app/secret.sops.yaml
  kubernetes/apps/network/external-dns/app/helmrelease.yaml
  kubernetes/apps/network/external-dns/app/secret.sops.yaml
  kubernetes/apps/network/external-dns/app/secret.sops.yaml.tmpl
  scripts/bootstrap/common.sh
Labels: area/kubernetes

fix(cloudnative-pg): local-path -> ceph-block for storage
  kubernetes/apps/database/cloudnative-pg/cluster/cluster16.yaml
  kubernetes/apps/datasci/postgres/cloudnative-pg/cluster/cluster16.yaml
Labels: area/kubernetes

feat(envoy): use prod certs
  kubernetes/apps/network/certificates/kustomization.yaml
  kubernetes/apps/network/envoy-gateway/instance/gateway-external.yaml
  kubernetes/apps/network/envoy-gateway/instance/gateway-internal.yaml
Labels: area/kubernetes

fix(flux): update top-level fluxtomization name
  .taskfiles/flux/taskfile.yaml
  kubernetes/flux/cluster/ks.yaml
Labels: area/kubernetes, area/taskfile
