Repository ahgraber/homelab-gitops-k3s, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/addons, area/ansible, area/bootstrap, area/github, area/kubernetes

chore(deps): update ansible-lint to 6.20.3
  requirements.txt
Labels: none

chore(deps): update ansible-lint to 6.20.3
  requirements.txt
Labels: none

fix(github-release): update pre-commit hook crate-ci/typos to v1.16.17
  .pre-commit-config.yaml
Labels: none

fix(github-release): update pre-commit hook crate-ci/typos to v1.16.17
  .pre-commit-config.yaml
Labels: none

fix(helm): update chart redis-operator to 0.15.7
  kubernetes/apps/default/redis/redis/operator/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update chart redis-operator to 0.15.7
  kubernetes/apps/default/redis/redis/operator/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update chart reflector to 7.1.210
  kubernetes/apps/kube-system/reflector/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update chart reflector to 7.1.210
  kubernetes/apps/kube-system/reflector/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update image docker.io/sissbruecker/linkding to v1.22.0
  kubernetes/apps/default/linkding/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update image docker.io/sissbruecker/linkding to v1.22.0
  kubernetes/apps/default/linkding/app/helmrelease.yaml
Labels: area/kubernetes

fix: homepage config env substitution
  kubernetes/apps/default/homepage/app/configmap.yaml
  kubernetes/apps/default/homepage/app/helmrelease.yaml
  kubernetes/apps/default/homepage/app/kustomization.yaml
  kubernetes/apps/default/homepage/app/secret.sops.yaml
  kubernetes/apps/default/homepage/app/secret.sops.yaml.tmpl
Labels: area/kubernetes

fix: homepage config env substitution
  kubernetes/apps/default/homepage/app/configmap.yaml
  kubernetes/apps/default/homepage/app/helmrelease.yaml
  kubernetes/apps/default/homepage/app/kustomization.yaml
  kubernetes/apps/default/homepage/app/secret.sops.yaml
  kubernetes/apps/default/homepage/app/secret.sops.yaml.tmpl
Labels: area/kubernetes

fix: update custom-secrets
  kubernetes/flux/vars/custom-secrets.sops.yaml
  kubernetes/flux/vars/custom-secrets.sops.yaml.tmpl
Labels: area/kubernetes

fix: update custom-secrets
  kubernetes/flux/vars/custom-secrets.sops.yaml
  kubernetes/flux/vars/custom-secrets.sops.yaml.tmpl
Labels: area/kubernetes

fix: alias 'cluster' tasks
  Taskfile.yaml
Labels: none

fix: alias 'cluster' tasks
  Taskfile.yaml
Labels: none

feat: add tasks for database scaling
  .taskfiles/ClusterTasks.yaml
  .taskfiles/DBTasks.yaml
  Taskfile.yaml
Labels: none

feat: add tasks for database scaling
  .taskfiles/ClusterTasks.yaml
  .taskfiles/DBTasks.yaml
  Taskfile.yaml
Labels: none

fix(helm): update chart ingress-nginx to 4.8.1
  kubernetes/apps/networking/nginx/external/helmrelease.yaml
  kubernetes/apps/networking/nginx/internal/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update chart ingress-nginx to 4.8.1
  kubernetes/apps/networking/nginx/external/helmrelease.yaml
  kubernetes/apps/networking/nginx/internal/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update chart grafana to 6.60.2
  bootstrap/templates/addons/grafana/app/helmrelease.yaml.j2
  kubernetes/apps/monitoring/grafana/app/helmrelease.yaml
Labels: area/addons, area/bootstrap, area/kubernetes

fix(helm): update chart grafana to 6.60.2
  bootstrap/templates/addons/grafana/app/helmrelease.yaml.j2
  kubernetes/apps/monitoring/grafana/app/helmrelease.yaml
Labels: area/addons, area/bootstrap, area/kubernetes

feat: add picoshare
  kubernetes/apps/default/kustomization.yaml
  kubernetes/apps/default/picoshare/README.md
  kubernetes/apps/default/picoshare/app/helmrelease.yaml
  kubernetes/apps/default/picoshare/app/kustomization.yaml
  kubernetes/apps/default/picoshare/app/pvc.yaml
  kubernetes/apps/default/picoshare/app/secret.sops.yaml
  kubernetes/apps/default/picoshare/app/secret.sops.yaml.tmpl
  kubernetes/apps/default/picoshare/ks.yaml
Labels: area/kubernetes

feat: add picoshare
  kubernetes/apps/default/kustomization.yaml
  kubernetes/apps/default/picoshare/README.md
  kubernetes/apps/default/picoshare/app/helmrelease.yaml
  kubernetes/apps/default/picoshare/app/kustomization.yaml
  kubernetes/apps/default/picoshare/app/pvc.yaml
  kubernetes/apps/default/picoshare/app/secret.sops.yaml
  kubernetes/apps/default/picoshare/app/secret.sops.yaml.tmpl
  kubernetes/apps/default/picoshare/ks.yaml
Labels: area/kubernetes

chore: helmrelease tweaks
  kubernetes/apps/datasci/prefect/agent/helmrelease.yaml
  kubernetes/apps/default/picoshare/app/helmrelease.yaml
  kubernetes/apps/networking/crowdsec/app/helmrelease.yaml
Labels: area/kubernetes

chore: helmrelease tweaks
  kubernetes/apps/datasci/prefect/agent/helmrelease.yaml
  kubernetes/apps/default/picoshare/app/helmrelease.yaml
  kubernetes/apps/networking/crowdsec/app/helmrelease.yaml
Labels: area/kubernetes

fix: add picoshare to homepage
  kubernetes/apps/default/homepage/app/configmap.yaml
Labels: area/kubernetes

fix: add picoshare to homepage
  kubernetes/apps/default/homepage/app/configmap.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/cloudnative-pg/postgresql to v14.9-13
  kubernetes/apps/datasci/postgres/cloudnative-pg/db/cluster.yaml
  kubernetes/apps/default/postgres/cloudnative-pg/db/cluster.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/cloudnative-pg/postgresql to v14.9-13
  kubernetes/apps/datasci/postgres/cloudnative-pg/db/cluster.yaml
  kubernetes/apps/default/postgres/cloudnative-pg/db/cluster.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/kube-vip/kube-vip to v0.6.3
  ansible/playbooks/templates/custom-kube-vip-daemonset.yaml.j2
  ansible/playbooks/templates/kube-vip-static-pod.yaml.j2
  bootstrap/templates/ansible/playbooks/templates/kube-vip-static-pod.yaml.j2.j2
Labels: area/ansible, area/bootstrap

fix(container): update image ghcr.io/kube-vip/kube-vip to v0.6.3
  ansible/playbooks/templates/custom-kube-vip-daemonset.yaml.j2
  ansible/playbooks/templates/kube-vip-static-pod.yaml.j2
  bootstrap/templates/ansible/playbooks/templates/kube-vip-static-pod.yaml.j2.j2
Labels: area/ansible, area/bootstrap

fix(helm): update chart reloader to 1.0.42
  bootstrap/templates/kubernetes/apps/kube-system/reloader/app/helmrelease.yaml.j2
  kubernetes/apps/kube-system/reloader/app/helmrelease.yaml
Labels: area/bootstrap, area/kubernetes

fix(helm): update chart reloader to 1.0.42
  bootstrap/templates/kubernetes/apps/kube-system/reloader/app/helmrelease.yaml.j2
  kubernetes/apps/kube-system/reloader/app/helmrelease.yaml
Labels: area/bootstrap, area/kubernetes

feat(helm): update chart coredns to 1.27.1
  ansible/playbooks/templates/custom-coredns-helmchart.yaml.j2
  bootstrap/templates/ansible/playbooks/templates/custom-coredns-helmchart.yaml.j2.j2
  bootstrap/templates/kubernetes/apps/kube-system/coredns/app/helmrelease.yaml.j2
  kubernetes/apps/kube-system/coredns/app/helmrelease.yaml
Labels: area/ansible, area/bootstrap, area/kubernetes

feat(helm): update chart coredns to 1.27.1
  ansible/playbooks/templates/custom-coredns-helmchart.yaml.j2
  bootstrap/templates/ansible/playbooks/templates/custom-coredns-helmchart.yaml.j2.j2
  bootstrap/templates/kubernetes/apps/kube-system/coredns/app/helmrelease.yaml.j2
  kubernetes/apps/kube-system/coredns/app/helmrelease.yaml
Labels: area/ansible, area/bootstrap, area/kubernetes

fix: update renovate groups
  .github/renovate/groups.json5
Labels: area/github

fix: update renovate groups
  .github/renovate/groups.json5
Labels: area/github

fix(container): update image ghcr.io/benphelps/homepage to v0.7.1
  kubernetes/apps/default/homepage/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/benphelps/homepage to v0.7.1
  kubernetes/apps/default/homepage/app/helmrelease.yaml
Labels: area/kubernetes

.github/labeler.yaml:

---
area/addons:
  - "bootstrap/templates/addons/**/*"
  - "bootstrap/tasks/addons/**/*"
  - "bootstrap/vars/addons.sample.yaml"
area/ansible:
  - "ansible/**/*"
  - "bootstrap/templates/ansible/**/*"
  - "bootstrap/tasks/ansible/**/*"
area/bootstrap:
  - "bootstrap/**/*"
  - "bootstrap/configure.yaml"
area/github:
  - ".github/**/*"
area/kubernetes:
  - "kubernetes/**/*"
  - "bootstrap/templates/kubernetes/**/*"
  - "bootstrap/tasks/kubernetes/**/*"
