Repository ahgraber/homelab-gitops-k3s, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/addons, area/ansible, area/bootstrap, area/github, area/kubernetes, area/taskfile

fix: flux-diff workflow
  .github/workflows/flux-diff.yaml
Labels: area/github

fix(helm): update chart reflector to 7.1.238
  kubernetes/apps/kube-system/reflector/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update chart reflector to 7.1.238
  kubernetes/apps/kube-system/reflector/app/helmrelease.yaml
Labels: area/kubernetes

feat(helm): update chart pgadmin4 to 1.20.0
  kubernetes/apps/default/postgres/pgadmin/app/helmrelease.yaml
Labels: area/kubernetes

feat(helm): update chart pgadmin4 to 1.20.0
  kubernetes/apps/default/postgres/pgadmin/app/helmrelease.yaml
Labels: area/kubernetes

feat(github-action): update lycheeverse/lychee-action action to v1.9.0
  .github/workflows/link-check.yaml
Labels: area/github

feat(github-action): update lycheeverse/lychee-action action to v1.9.0
  .github/workflows/link-check.yaml
Labels: area/github

fix: flux-diff workflow
  .github/workflows/flux-diff.yaml
Labels: area/github

fix: flux-diff workflow
  .github/workflows/flux-diff.yaml
Labels: area/github

fix(container): update image ghcr.io/dgtlmoon/changedetection.io to v0.45.12
  kubernetes/apps/default/changedetection/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/dgtlmoon/changedetection.io to v0.45.12
  kubernetes/apps/default/changedetection/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update chart democratic-csi to 0.14.5
  bootstrap/templates/kubernetes/apps/kube-system/local-path-provisioner/app/helmrelease.yaml.j2
Labels: area/bootstrap, area/kubernetes

fix(helm): update chart democratic-csi to 0.14.5
  bootstrap/templates/kubernetes/apps/kube-system/local-path-provisioner/app/helmrelease.yaml.j2
Labels: area/bootstrap, area/kubernetes

fix(container): update image ghcr.io/cloudnative-pg/postgresql to v14.10-12
  kubernetes/apps/datasci/postgres/cloudnative-pg/db/cluster.yaml
  kubernetes/apps/default/postgres/cloudnative-pg/db/cluster.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/cloudnative-pg/postgresql to v14.10-12
  kubernetes/apps/datasci/postgres/cloudnative-pg/db/cluster.yaml
  kubernetes/apps/default/postgres/cloudnative-pg/db/cluster.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/thomiceli/opengist to v1.6.1
  kubernetes/apps/default/opengist/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/thomiceli/opengist to v1.6.1
  kubernetes/apps/default/opengist/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image lscr.io/linuxserver/pairdrop to v1.10.5
  kubernetes/apps/default/pairdrop/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image lscr.io/linuxserver/pairdrop to v1.10.5
  kubernetes/apps/default/pairdrop/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update image kube-prometheus-stack to v55.7.0
  bootstrap/templates/addons/kube-prometheus-stack/app/helmrelease.yaml.j2
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/addons, area/bootstrap, area/kubernetes

feat(container): update image kube-prometheus-stack to v55.7.0
  bootstrap/templates/addons/kube-prometheus-stack/app/helmrelease.yaml.j2
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/addons, area/bootstrap, area/kubernetes

fix(helm): update chart grafana to 7.0.21
  bootstrap/templates/addons/grafana/app/helmrelease.yaml.j2
  kubernetes/apps/monitoring/grafana/app/helmrelease.yaml
Labels: area/addons, area/bootstrap, area/kubernetes

fix(helm): update chart grafana to 7.0.21
  bootstrap/templates/addons/grafana/app/helmrelease.yaml.j2
  kubernetes/apps/monitoring/grafana/app/helmrelease.yaml
Labels: area/addons, area/bootstrap, area/kubernetes

fix(helm): update chart windmill to 2.0.67
  kubernetes/apps/datasci/windmill/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update chart windmill to 2.0.67
  kubernetes/apps/datasci/windmill/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update chart grafana to 7.0.22
  bootstrap/templates/addons/grafana/app/helmrelease.yaml.j2
  kubernetes/apps/monitoring/grafana/app/helmrelease.yaml
Labels: area/addons, area/bootstrap, area/kubernetes

fix(helm): update chart grafana to 7.0.22
  bootstrap/templates/addons/grafana/app/helmrelease.yaml.j2
  kubernetes/apps/monitoring/grafana/app/helmrelease.yaml
Labels: area/addons, area/bootstrap, area/kubernetes

chore(deps): update actions/create-github-app-token digest to f04aa94
  .github/workflows/flux-diff.yaml
Labels: area/github

chore(deps): update actions/create-github-app-token digest to f04aa94
  .github/workflows/flux-diff.yaml
Labels: area/github

fix(github-action): update lycheeverse/lychee-action action to v1.9.1
  .github/workflows/link-check.yaml
Labels: area/github

fix(github-action): update lycheeverse/lychee-action action to v1.9.1
  .github/workflows/link-check.yaml
Labels: area/github

feat(helm): update chart grafana to 7.1.0
  bootstrap/templates/addons/grafana/app/helmrelease.yaml.j2
  kubernetes/apps/monitoring/grafana/app/helmrelease.yaml
Labels: area/addons, area/bootstrap, area/kubernetes

feat(helm): update chart grafana to 7.1.0
  bootstrap/templates/addons/grafana/app/helmrelease.yaml.j2
  kubernetes/apps/monitoring/grafana/app/helmrelease.yaml
Labels: area/addons, area/bootstrap, area/kubernetes

fix(helm): update chart reloader to 1.0.62
  bootstrap/templates/kubernetes/apps/kube-system/reloader/app/helmrelease.yaml.j2
  kubernetes/apps/kube-system/reloader/app/helmrelease.yaml
Labels: area/bootstrap, area/kubernetes

fix(helm): update chart reloader to 1.0.62
  bootstrap/templates/kubernetes/apps/kube-system/reloader/app/helmrelease.yaml.j2
  kubernetes/apps/kube-system/reloader/app/helmrelease.yaml
Labels: area/bootstrap, area/kubernetes

fix(helm): update chart windmill to 2.0.68
  kubernetes/apps/datasci/windmill/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update chart windmill to 2.0.68
  kubernetes/apps/datasci/windmill/app/helmrelease.yaml
Labels: area/kubernetes

feat(helm): update chart loki-stack to 2.10.0
  kubernetes/apps/monitoring/loki-stack/app/helmrelease.yaml
Labels: area/kubernetes

feat(helm): update chart loki-stack to 2.10.0
  kubernetes/apps/monitoring/loki-stack/app/helmrelease.yaml
Labels: area/kubernetes

feat(helm): update chart external-dns to 1.14.0
  bootstrap/templates/kubernetes/apps/networking/external-dns/app/helmrelease.yaml.j2
  kubernetes/apps/networking/external-dns/app/helmrelease.yaml
Labels: area/bootstrap, area/kubernetes

.github/labeler.yaml:

---
area/addons:
  - changed-files:
      - any-glob-to-any-file: bootstrap/templates/addons/**/*
      - any-glob-to-any-file: bootstrap/tasks/addons/**/*
      - any-glob-to-any-file: bootstrap/vars/addons.sample.yaml
area/ansible:
  - changed-files:
      - any-glob-to-any-file: ansible/**/*
      - any-glob-to-any-file: bootstrap/templates/ansible/**/*
      - any-glob-to-any-file: bootstrap/tasks/ansible/**/*
area/bootstrap:
  - changed-files:
      - any-glob-to-any-file: bootstrap/**/*
      - any-glob-to-any-file: bootstrap/configure.yaml
area/github:
  - changed-files:
      - any-glob-to-any-file: .github/**/*
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: kubernetes/**/*
      - any-glob-to-any-file: bootstrap/templates/kubernetes/**/*
      - any-glob-to-any-file: bootstrap/tasks/kubernetes/**/*
area/taskfile:
  - changed-files:
      - any-glob-to-any-file: .taskfiles/**/*
      - any-glob-to-any-file: Taskfile*
