Repository ahgraber/homelab-gitops-k3s, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/docs, area/github, area/kubernetes, area/taskfile

fix(network): add additional ports for Envoy data plane listeners
  kubernetes/apps/network/envoy-gateway/instance/networkpolicy-external.yaml
Labels: area/kubernetes

feat(task): align readme and tasks with current configuration
  .taskfiles/ansible/taskfile.yaml
  .taskfiles/workstation/brewfile
  .taskfiles/workstation/taskfile.yaml
  README.md
  Taskfile.yaml
Labels: area/docs, area/taskfile

feat(security): add OIDC endpoints to whoami security policy
  kubernetes/apps/debug/whoami/app/securitypolicy.yaml
Labels: area/kubernetes

feat(networkpolicy): enhance ingress rules for cloudflared and internal networks
  kubernetes/apps/network/envoy-gateway/instance/networkpolicy-external.yaml
  kubernetes/apps/security/authelia/app/helmrelease.yaml
Labels: area/kubernetes

feat(components): remove gh status alerts
  kubernetes/components/alerts/github-status/README.md
  kubernetes/components/alerts/github-status/alert.yaml
  kubernetes/components/alerts/github-status/externalsecret.yaml
  kubernetes/components/alerts/github-status/kustomization.yaml
  kubernetes/components/alerts/github-status/provider.yaml
  kubernetes/components/alerts/github-status/secret.sops.yaml
  kubernetes/components/alerts/github-status/secret.sops.yaml.tmpl
  kubernetes/components/alerts/kustomization.yaml
Labels: area/kubernetes

docs: update nix develop instructions in README and AGENTS
  AGENTS.md
  README.md
Labels: area/docs

feat(karakeep): enhance chrome configuration with additional flags and health probes
  kubernetes/apps/default/karakeep/app/helmrelease.yaml
Labels: area/kubernetes

feat(karakeep): update crawler allowed internal hostnames
  kubernetes/apps/default/karakeep/app/helmrelease.yaml
Labels: area/kubernetes

fix(karakeep): enable debug logging
  kubernetes/apps/default/karakeep/app/helmrelease.yaml
Labels: area/kubernetes

feat(karakeep): add DNS configuration to default pod options
  kubernetes/apps/default/karakeep/app/helmrelease.yaml
Labels: area/kubernetes

Revert "feat(karakeep): add DNS configuration to default pod options"
  kubernetes/apps/default/karakeep/app/helmrelease.yaml
Labels: area/kubernetes

fix(karakeep): increase crawler job and screenshot timeout
  kubernetes/apps/default/karakeep/app/helmrelease.yaml
Labels: area/kubernetes

fix(karakeep): bump memory limits
  kubernetes/apps/default/karakeep/app/helmrelease.yaml
Labels: area/kubernetes

fix(rook-ceph): disable disk prediction due to sklearn bug
  kubernetes/apps/rook-ceph/rook-ceph-cluster/app/helmrelease.yaml
Labels: area/kubernetes

feat(network): add envoy-internal gateway references to multiple applications
  kubernetes/apps/blog/hugo/app/helmrelease.yaml
  kubernetes/apps/blog/umami/app/helmrelease.yaml
  kubernetes/apps/debug/echo-server/app/helmrelease.yaml
  kubernetes/apps/debug/whoami/app/helmrelease.yaml
  kubernetes/apps/default/cyberchef/app/helmrelease.yaml
  kubernetes/apps/default/jelu/README.md
  kubernetes/apps/default/jelu/app/helmrelease.yaml
  kubernetes/apps/default/mealie/app/helmrelease.yaml
  kubernetes/apps/default/miniflux/app/helmrelease.yaml
  kubernetes/apps/default/opengist/app/helmrelease.yaml
  kubernetes/apps/default/picoshare/app/helmrelease.yaml
  kubernetes/apps/network/README.md
  kubernetes/apps/network/envoy-gateway/README.md
  kubernetes/apps/network/envoy-gateway/instance/envoy.yaml
  kubernetes/apps/network/envoy-gateway/instance/gateway-external.yaml
  kubernetes/apps/network/envoy-gateway/instance/gateway-internal.yaml
  kubernetes/apps/network/envoy-gateway/instance/networkpolicy-external.yaml
  kubernetes/apps/network/k8s-gateway/app/helmrelease.yaml
Labels: area/kubernetes

fix(mlflow): fix renovate annotations and use semver tag
  kubernetes/apps/datasci/mlflow/app/helmrelease.yaml
Labels: area/kubernetes

fix(windmill): point httproute to correct service
  kubernetes/apps/datasci/windmill/app/httproute.yaml
Labels: area/kubernetes

fix(prefect): enable httproute
  kubernetes/apps/datasci/prefect/server/helmrelease.yaml
  kubernetes/apps/datasci/prefect/server/kustomization.yaml
Labels: area/kubernetes

feat(cnpg): set wal guardrails
  kubernetes/apps/database/cloudnative-pg/cluster/cluster16.yaml
  kubernetes/apps/datasci/postgres/cloudnative-pg/cluster/cluster16.yaml
Labels: area/kubernetes

fix(mlflow): set allowed hosts for ingress
  kubernetes/apps/datasci/mlflow/README.md
  kubernetes/apps/datasci/mlflow/app/helmrelease.yaml
Labels: area/kubernetes

fix(mlflow): disable usage telemetry
  kubernetes/apps/datasci/mlflow/app/helmrelease.yaml
Labels: area/kubernetes

fix(mlflow): set allowed hosts for ingress
  kubernetes/apps/datasci/mlflow/app/helmrelease.yaml
Labels: area/kubernetes

feat(pre-commit): migrate from prettier to biome
  .pre-commit-config.yaml
  biome.jsonc
Labels: none

feat(copilot): retire agents and prompts (use ahgraber/skills)
  .github/agents/code-review.agent.md
  .github/agents/commit.agent.md
  .github/agents/plan.agent.md
  .github/agents/test.agent.md
  .github/prompts/commit.prompt.md
  .github/prompts/plan.prompt.md
  .github/prompts/review.prompt.md
  .github/prompts/test.prompt.md
Labels: area/github

feat(renovate): use timestamp-optional for ghcr
  .renovate/packageRules.json5
Labels: none

feat(descheduler): update descheduler HelmRelease configuration
  AGENTS.md
  kubernetes/apps/kube-system/descheduler/README.md
  kubernetes/apps/kube-system/descheduler/app/helmrelease.yaml
Labels: area/kubernetes

fix(hugo): update helmrelease to use consistent tag for image update and cache management
  kubernetes/apps/blog/hugo/README.md
  kubernetes/apps/blog/hugo/app/helmrelease.yaml
  kubernetes/apps/blog/hugo/app/kyverno-policy.yaml
  kubernetes/components/sops/cluster-secrets.sops.yaml
Labels: area/kubernetes

feat(syncthing): add init container in helmrelease.yaml to patche config.xml on pod start to enforce local-only discovery
  kubernetes/apps/default/syncthing/README.md
  kubernetes/apps/default/syncthing/app/helmrelease.yaml
Labels: area/kubernetes

feat(renovate): add age/confidence badges
  .renovaterc.json5
Labels: none

feat(renovate): document renovate policy and configuration
  .pre-commit-config.yaml
  .renovate/AGENT.md
  .renovate/autoMerge.json5
  bootstrap/resources.yaml.j2
  docs/renovate.md
  flake.lock
  flake.nix
Labels: area/docs

refactor(renovate): improve managerFilePatterns for custom managers
  .github/workflows/renovate.yaml
  .renovate/customManagers.json5
  .renovate/grafanaDashboards.json5
  docs/renovate.md
Labels: area/docs, area/github

feat(external-secrets)!: migrate ESO secrets backend from Bitwarden to 1Password
  AGENTS.md
  bootstrap/helmfile.d/01-apps.yaml
  bootstrap/resources.yaml.j2
  docs/.gitignore
  docs/bitwarden-eso-migration-tooling.md
  docs/onepassword-eso-migration-map.example.json
  docs/onepassword-eso-migration-tooling.md
  docs/onepassword-eso-migration.md
  flake.lock
  flake.nix
  kubernetes/apps/external-secrets/_examples/clusterexternalsecret.yaml
  kubernetes/apps/external-secrets/_examples/externalsecret.yaml
  kubernetes/apps/external-secrets/bitwarden-sdk-server/README.md
  kubernetes/apps/external-secrets/bitwarden-sdk-server/app/certificates/certificates.yaml
  kubernetes/apps/external-secrets/bitwarden-sdk-server/app/certificates/kustomization.yaml
  kubernetes/apps/external-secrets/bitwarden-sdk-server/app/helmrelease.yaml
  kubernetes/apps/external-secrets/bitwarden-sdk-server/ks.yaml
  kubernetes/apps/external-secrets/external-secrets-operator/README.md
  kubernetes/apps/external-secrets/external-secrets-operator/app/helmrelease.yaml
  kubernetes/apps/external-secrets/external-secrets-operator/app/kustomization.yaml
  kubernetes/apps/external-secrets/external-secrets-operator/app/secret.sops.yaml
  kubernetes/apps/external-secrets/external-secrets-operator/app/secret.sops.yaml.tmpl
  kubernetes/apps/external-secrets/external-secrets-store/app/clustersecretstore.yaml
  kubernetes/apps/external-secrets/external-secrets-store/app/kustomization.yaml
  kubernetes/apps/external-secrets/external-secrets-store/ks.yaml
  kubernetes/apps/external-secrets/kustomization.yaml
  kubernetes/apps/external-secrets/onepassword/README.md
  kubernetes/apps/external-secrets/onepassword/app/clusterexternalsecret.yaml
  kubernetes/apps/external-secrets/onepassword/app/clustersecretstore.yaml
  kubernetes/apps/external-secrets/onepassword/app/externalsecret.yaml
  kubernetes/apps/external-secrets/onepassword/app/helmrelease.yaml
  kubernetes/apps/external-secrets/onepassword/app/kustomization.yaml
  kubernetes/apps/external-secrets/onepassword/app/source.yaml
  kubernetes/apps/external-secrets/onepassword/ks.yaml
  scripts/bws/push.py
  scripts/onepassword/__init__.py
  scripts/onepassword/crawl.py
  scripts/onepassword/externalsecrets.py
  scripts/onepassword/models.py
  scripts/onepassword/push.py
Labels: area/docs, area/kubernetes

feat(freshrss): replace miniflux with freshrss
  kubernetes/apps/default/freshrss/README.md
  kubernetes/apps/default/freshrss/app/helmrelease.yaml
  kubernetes/apps/default/freshrss/app/kustomization.yaml
  kubernetes/apps/default/freshrss/app/source.yaml
  kubernetes/apps/default/freshrss/ks.yaml
  kubernetes/apps/default/homepage/app/configmap.yaml
  kubernetes/apps/default/kustomization.yaml
  kubernetes/apps/default/miniflux/app/helmrelease.yaml
  kubernetes/apps/default/miniflux/app/secret-oidc.sops.yaml
  kubernetes/apps/default/miniflux/app/secret-oidc.sops.yaml.tmpl
  kubernetes/apps/default/miniflux/app/secret.sops.yaml
  kubernetes/apps/default/miniflux/app/secret.sops.yaml.tmpl
  kubernetes/apps/default/miniflux/app/securitypolicy.yaml
  kubernetes/apps/default/miniflux/db/kustomization.yaml
  kubernetes/apps/default/miniflux/db/postgres.yaml
  kubernetes/apps/default/miniflux/ks.yaml
  kubernetes/apps/security/authelia/app/config/configuration.yaml
Labels: area/kubernetes

feat(freshrss): replace miniflux with freshrss
  kubernetes/apps/default/freshrss/app/helmrelease.yaml
Labels: area/kubernetes

feat(freshrss): integrate oidc
  kubernetes/apps/default/freshrss/app/helmrelease.yaml
  kubernetes/apps/default/freshrss/app/kustomization.yaml
  kubernetes/apps/default/freshrss/app/secret-oidc.sops.yaml
  kubernetes/apps/default/freshrss/app/secret-oidc.sops.yaml.tmpl
  kubernetes/apps/security/authelia/app/config/configuration.yaml
  kubernetes/apps/security/authelia/app/secret.sops.yaml
  kubernetes/apps/security/authelia/app/secret.sops.yaml.tmpl
Labels: area/kubernetes

feat(freshrss): integrate oidc
  kubernetes/apps/security/authelia/app/config/configuration.yaml
Labels: area/kubernetes

feat(freshrss): integrate oidc
  kubernetes/apps/security/authelia/app/config/configuration.yaml
Labels: area/kubernetes

fix(external-secrets): refine and align
  .gitignore
  .minijinja.toml
  bootstrap/README.md
  bootstrap/resources.yaml.j2
  flake.nix
  kubernetes/apps/external-secrets/onepassword/.gitignore
  kubernetes/apps/external-secrets/onepassword/app/clustersecretstore.yaml
  kubernetes/apps/external-secrets/onepassword/app/externalsecret.yaml
  kubernetes/apps/external-secrets/onepassword/app/helmrelease.yaml
Labels: area/kubernetes

fix(external-secrets): refine and align
  bootstrap/README.md
  kubernetes/apps/external-secrets/external-secrets-operator/README.md
Labels: area/kubernetes

fix(windmill): simplify workers
  kubernetes/apps/datasci/windmill/app/helmrelease.yaml
Labels: area/kubernetes

.github/labeler.yaml:

---
area/ansible:
  - changed-files:
      - any-glob-to-any-file: ansible/**/*
area/docs:
  - changed-files:
      - any-glob-to-any-file:
          - "docs/**/*"
          - "README.md"
area/github:
  - changed-files:
      - any-glob-to-any-file: .github/**/*
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: kubernetes/**/*
area/taskfile:
  - changed-files:
      - any-glob-to-any-file: .taskfiles/**/*
      - any-glob-to-any-file: Taskfile*
