Repository ahgraber/homelab-gitops-k3s, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/docs, area/github, area/kubernetes, area/taskfile

fix(karakeep): twak config
  kubernetes/apps/default/karakeep/app/helmrelease.yaml
Labels: area/kubernetes

feat(cilium): migrate to oci and bump version 1.18.6
  ansible/playbooks/templates/cilium-helmchart.yaml.j2
  kubernetes/apps/kube-system/cilium/app/helmrelease.yaml
  kubernetes/apps/kube-system/cilium/app/source.yaml
Labels: area/ansible, area/kubernetes

fix(karakeep): set loglevel to 'notice'
  kubernetes/apps/default/karakeep/app/helmrelease.yaml
Labels: area/kubernetes

feat(renovate): defer updates for 3 days
  .renovaterc.json5
Labels: none

feat(shelfmark): rebrand calibre-web-automated-downloader
  kubernetes/apps/default/kustomization.yaml
  kubernetes/apps/default/shelfmark/README.md
  kubernetes/apps/default/shelfmark/app/helmrelease.yaml
  kubernetes/apps/default/shelfmark/app/kustomization.yaml
  kubernetes/apps/default/shelfmark/app/source.yaml
  kubernetes/apps/default/shelfmark/ks.yaml
Labels: area/kubernetes

fix(codex): fix local codex config
  .codex/rules/kubectl.rules
Labels: none

fix(codex): fix local codex config
  .codex/rules/kubectl.rules
Labels: none

fix(renovate): don't defer blog updates
  .renovate/packageRules.json5
Labels: none

fix(renovate): fix cilium annotations
  ansible/playbooks/templates/cilium-helmchart.yaml.j2
Labels: area/ansible

fix(renovate): attempt to resolve renovate yaml parse error
  kubernetes/apps/flux-system/addons/observability/prometheusrule.yaml
Labels: area/kubernetes

fix(ai): update ai assistance commit footer instructions
  .github/agents/commit.agent.md
Labels: area/github

fix(renovate): don't defer blog updates
  .codex/rules/kubectl.rules
  .renovate/packageRules.json5
Labels: none

fix(renovate): don't defer blog updates
  .renovate/packageRules.json5
Labels: none

feat(lint): convert markdownlint -> rumdl
  .markdownlint.yaml
  .pre-commit-config.yaml
  .rumdl.toml
Labels: none

fix: make scripts runnable
  scripts/authelia_hash.py
  scripts/kubeconform.sh
  scripts/yaml-hacking.py
Labels: none

feat(bws): migration tooling
  docs/bitwarden-eso-migration-tooling.md
  docs/bitwarden-eso-migration.md
  kubernetes/apps/external-secrets/external-secrets/operator/secret.sops.yaml
  kubernetes/apps/external-secrets/external-secrets/operator/secret.sops.yaml.tmpl
  pyproject.toml
  scripts/bitwarden-eso-migrate.py
  scripts/bws/__init__.py
  scripts/bws/crawl.py
  scripts/bws/externalsecrets.py
  scripts/bws/models.py
  scripts/bws/push.py
  uv.lock
Labels: area/docs, area/kubernetes

fix(pre-commit): prettier is broken
  .pre-commit-config.yaml
Labels: none

fix(ansible): don't manage coredns with k3s
  ansible/playbooks/k3s-install.yaml
Labels: area/ansible

feat(flux): use sources at app level
  kubernetes/flux/repositories/README.md
  kubernetes/flux/repositories/helm/.gitkeep
  kubernetes/flux/repositories/helm/actions-runner-controller.yaml
  kubernetes/flux/repositories/helm/bjw-s.yaml
  kubernetes/flux/repositories/helm/coredns.yaml
  kubernetes/flux/repositories/helm/jetstack.yaml
  kubernetes/flux/repositories/helm/kustomization.yaml
  kubernetes/flux/repositories/helm/valheim.yaml
  kubernetes/flux/repositories/kustomization.yaml
  kubernetes/flux/repositories/oci/.gitkeep
  kubernetes/flux/repositories/oci/app-template.yaml
  kubernetes/flux/repositories/oci/kustomization.yaml
Labels: area/kubernetes

feat(components): move alerts to components
  kubernetes/apps/flux-system/addons/ks.yaml
  kubernetes/apps/observability/kustomization.yaml
  kubernetes/components/alerts/alertmanager/alert.yaml
  kubernetes/components/alerts/alertmanager/kustomization.yaml
  kubernetes/components/alerts/alertmanager/provider.yaml
  kubernetes/components/alerts/github-status/alert.yaml
  kubernetes/components/alerts/github-status/kustomization.yaml
  kubernetes/components/alerts/github-status/provider.yaml
  kubernetes/components/alerts/kustomization.yaml
Labels: area/kubernetes

feat(volsync): move volsync templates to components
  .taskfiles/hack/taskfile.yaml
  .taskfiles/volsync/taskfile.yaml
  kubernetes/components/volsync/README.md
  kubernetes/components/volsync/claim.yaml
  kubernetes/components/volsync/kustomization.yaml
  kubernetes/components/volsync/replicationdestination.yaml
  kubernetes/components/volsync/replicationsource.yaml
  kubernetes/components/volsync/secret.yaml
Labels: area/kubernetes, area/taskfile

feat(volsync): use new volsync components
  kubernetes/apps/datasci/docat/app/kustomization.yaml
  kubernetes/apps/datasci/docat/ks.yaml
  kubernetes/apps/datasci/mlflow/app/kustomization.yaml
  kubernetes/apps/datasci/mlflow/ks.yaml
  kubernetes/apps/default/calibre-web-automated/app/kustomization.yaml
  kubernetes/apps/default/calibre-web-automated/ks.yaml
  kubernetes/apps/default/calibre-web-automated/volume/kustomization.yaml
  kubernetes/apps/default/homebox/app/kustomization.yaml
  kubernetes/apps/default/homebox/ks.yaml
  kubernetes/apps/default/jelu/app/kustomization.yaml
  kubernetes/apps/default/jelu/ks.yaml
  kubernetes/apps/default/picoshare/app/kustomization.yaml
  kubernetes/apps/default/picoshare/ks.yaml
  kubernetes/apps/default/shelfmark/app/kustomization.yaml
  kubernetes/apps/default/shelfmark/ks.yaml
  kubernetes/apps/default/stirling-pdf/app/kustomization.yaml
  kubernetes/apps/default/stirling-pdf/ks.yaml
  kubernetes/apps/default/syncthing/app/kustomization.yaml
  kubernetes/apps/default/syncthing/ks.yaml
  kubernetes/apps/observability/scrutiny/app/kustomization.yaml
  kubernetes/apps/observability/scrutiny/ks.yaml
  kubernetes/apps/volsync/README.md
Labels: area/kubernetes

feat(volsync): use new volsync components
  kubernetes/apps/datasci/docat/ks.yaml
  kubernetes/apps/datasci/mlflow/ks.yaml
  kubernetes/apps/default/calibre-web-automated/ks.yaml
  kubernetes/apps/default/homebox/ks.yaml
  kubernetes/apps/default/jelu/ks.yaml
  kubernetes/apps/default/picoshare/ks.yaml
  kubernetes/apps/default/shelfmark/ks.yaml
  kubernetes/apps/default/stirling-pdf/ks.yaml
  kubernetes/apps/default/syncthing/ks.yaml
  kubernetes/apps/observability/scrutiny/ks.yaml
  kubernetes/components/volsync/README.md
Labels: area/kubernetes

fix(calibre): ensure shared calibre volume exists and is backed up
  kubernetes/apps/default/calibre-web-automated/ks.yaml
  kubernetes/apps/default/calibre-web-automated/volume/kustomization.yaml
  kubernetes/apps/default/calibre-web-automated/volume/pvc.yaml
  kubernetes/apps/default/calibre-web-automated/volume/replicationdestination.yaml
  kubernetes/apps/default/calibre-web-automated/volume/replicationsource.yaml
  kubernetes/apps/default/calibre-web-automated/volume/secret.sops.yaml
  kubernetes/apps/default/calibre-web-automated/volume/secret.sops.yaml.tmpl
Labels: area/kubernetes

feat(volsync): move volsync templates to components (part 2)
  kubernetes/apps/blog/hugo/app/kustomization.yaml
  kubernetes/apps/blog/hugo/ks.yaml
  kubernetes/apps/default/calibre-web-automated/ks.yaml
  kubernetes/apps/default/mealie/app/kustomization.yaml
  kubernetes/apps/default/mealie/ks.yaml
  kubernetes/apps/default/memos/app/kustomization.yaml
  kubernetes/apps/default/memos/ks.yaml
  kubernetes/apps/default/opengist/app/kustomization.yaml
  kubernetes/apps/default/opengist/ks.yaml
Labels: area/kubernetes

feat(volsync): move volsync templates to components (part 3)
  kubernetes/apps/default/karakeep/app/kustomization.yaml
  kubernetes/apps/default/karakeep/ks.yaml
  kubernetes/apps/security/authelia/app/kustomization.yaml
  kubernetes/apps/security/authelia/ks.yaml
  kubernetes/apps/security/lldap/app/kustomization.yaml
  kubernetes/apps/security/lldap/ks.yaml
Labels: area/kubernetes

feat(volsync): remove volsync templates (part 4)
  kubernetes/templates/volsync/README.md
  kubernetes/templates/volsync/init/init_claim.yaml
  kubernetes/templates/volsync/init/kustomization.yaml
  kubernetes/templates/volsync/restore/claim.yaml
  kubernetes/templates/volsync/restore/kustomization.yaml
  kubernetes/templates/volsync/restore/replicationdestination.yaml
  kubernetes/templates/volsync/restore/replicationsource.yaml
  kubernetes/templates/volsync/restore/secret.yaml
Labels: area/kubernetes

feat(flux-operator): deploy flux-operator
  kubernetes/apps/flux-system/flux-operator/app/helmrelease.yaml
  kubernetes/apps/flux-system/flux-operator/app/httproute.yaml
  kubernetes/apps/flux-system/flux-operator/app/kustomization.yaml
  kubernetes/apps/flux-system/flux-operator/app/source.yaml
  kubernetes/apps/flux-system/flux-operator/ks.yaml
Labels: area/kubernetes

feat(flux): add controller-level sops decryption
  kubernetes/apps/blog/kustomization.yaml
  kubernetes/apps/cert-manager/kustomization.yaml
  kubernetes/apps/database/kustomization.yaml
  kubernetes/apps/datasci/kustomization.yaml
  kubernetes/apps/debug/kustomization.yaml
  kubernetes/apps/default/kustomization.yaml
  kubernetes/apps/external-secrets/kustomization.yaml
  kubernetes/apps/flux-system/kustomization.yaml
  kubernetes/apps/kube-system/kustomization.yaml
  kubernetes/apps/kyverno/kustomization.yaml
  kubernetes/apps/network/kustomization.yaml
  kubernetes/apps/observability/kustomization.yaml
  kubernetes/apps/rook-ceph/kustomization.yaml
  kubernetes/apps/security/kustomization.yaml
  kubernetes/apps/system-upgrade/kustomization.yaml
  kubernetes/apps/volsync-system/kustomization.yaml
  kubernetes/apps/volsync-system/namespace.yaml
  kubernetes/components/sops/cluster-secrets.sops.yaml
  kubernetes/components/sops/cluster-secrets.sops.yaml.tmpl
  kubernetes/components/sops/cluster-settings.yaml
  kubernetes/components/sops/custom-secrets.sops.yaml
  kubernetes/components/sops/custom-secrets.sops.yaml.tmpl
  kubernetes/components/sops/kustomization.yaml
Labels: area/kubernetes

feat(flux): rm (old) flux addons
  kubernetes/apps/flux-system/addons/ks.yaml
  kubernetes/apps/flux-system/addons/observability/podmonitor.yaml
  kubernetes/apps/flux-system/addons/observability/prometheusrule.yaml
  kubernetes/apps/flux-system/addons/webhooks/github/README.md
  kubernetes/apps/flux-system/addons/webhooks/kustomization.yaml
  kubernetes/apps/flux-system/kustomization.yaml
Labels: area/kubernetes

fix(grafana): align grafana dashboard labels
  kubernetes/apps/cert-manager/cert-manager/app/grafanadashboard.yaml
  kubernetes/apps/flux-system/flux-instance/app/observability/grafanadashboard.yaml
  kubernetes/apps/network/cloudflared/app/grafanadashboard.yaml
  kubernetes/apps/network/external-dns/app/grafanadashboard.yaml
  kubernetes/apps/observability/grafana/app/datasource.yaml
  kubernetes/apps/observability/grafana/app/grafana.yaml
  kubernetes/apps/observability/kube-prometheus-stack/addons/grafanadashboard.yaml
  kubernetes/apps/rook-ceph/rook-ceph/operator/grafanadashboard.yaml
  kubernetes/apps/volsync-system/volsync/app/grafanadashboard.yaml
Labels: area/kubernetes

feat(flux): add controller-level sops decryption
  kubernetes/bootstrap/age-key.sops.yaml
  kubernetes/flux/apps.yaml
  kubernetes/flux/config/cluster.yaml
  kubernetes/flux/config/flux.yaml
Labels: area/kubernetes

feat(flux): add flux-instance
  kubernetes/apps/flux-system/flux-instance/app/helmrelease.yaml
  kubernetes/apps/flux-system/flux-instance/app/httproute.yaml
  kubernetes/apps/flux-system/flux-instance/app/kustomization.yaml
  kubernetes/apps/flux-system/flux-instance/app/observability/grafanadashboard.yaml
  kubernetes/apps/flux-system/flux-instance/app/observability/kustomization.yaml
  kubernetes/apps/flux-system/flux-instance/app/observability/notification.yaml
  kubernetes/apps/flux-system/flux-instance/app/observability/podmonitor.yaml
  kubernetes/apps/flux-system/flux-instance/app/observability/prometheusrule.yaml
  kubernetes/apps/flux-system/flux-instance/app/receiver.yaml
  kubernetes/apps/flux-system/flux-instance/app/secret.sops.yaml
  kubernetes/apps/flux-system/flux-instance/app/secret.sops.yaml.tmpl
  kubernetes/apps/flux-system/flux-instance/app/source.yaml
  kubernetes/apps/flux-system/kustomization.yaml
  kubernetes/components/alerts/github-status/externalsecret.yaml
  kubernetes/flux/cluster/ks.yaml
Labels: area/kubernetes

feat(certificates): move certs to network
  kubernetes/apps/cert-manager/cert-manager/ks.yaml
  kubernetes/apps/network/certificates/README.md
  kubernetes/apps/network/certificates/kustomization.yaml
  kubernetes/apps/network/certificates/production.yaml
  kubernetes/apps/network/certificates/staging.yaml
  kubernetes/apps/network/envoy-gateway/ks.yaml
  kubernetes/apps/network/kustomization.yaml
Labels: area/kubernetes

fix(flux): allow flux to decrypt sops
  kubernetes/flux/cluster/ks.yaml
Labels: area/kubernetes

fix(flux): update top-level fluxtomization name
  .taskfiles/flux/taskfile.yaml
  kubernetes/flux/cluster/ks.yaml
Labels: area/kubernetes, area/taskfile

fix(certs): only use staging for now
  kubernetes/apps/network/certificates/kustomization.yaml
  kubernetes/apps/network/certificates/production.yaml
  kubernetes/apps/network/certificates/staging.yaml
  kubernetes/apps/network/envoy-gateway/instance/gateway-external.yaml
  kubernetes/apps/network/envoy-gateway/instance/gateway-internal.yaml
Labels: area/kubernetes

feat(bootstrap): include bitwarden sdk in bootstrap
  .renovate/customManagers.json5
  .taskfiles/bootstrap/taskfile.yaml
  README.md
  Taskfile.yaml
  bootstrap/README.md
  bootstrap/helmfile.d/00-crds.yaml
  bootstrap/helmfile.d/01-apps.yaml
  bootstrap/helmfile.d/templates/values.yaml.gotmpl
  bootstrap/resources.yaml.j2
  docs/task.md
Labels: area/docs, area/taskfile

feat(bootstrap): convert to new helmfile-based bootstrap
  .taskfiles/flux/taskfile.yaml
  bootstrap/README.md
  bootstrap/age-key.sops.yaml
  bootstrap/github-deploy-key.sops.yaml
  bootstrap/helmfile.d/00-crds.yaml
  bootstrap/helmfile.d/01-apps.yaml
  bootstrap/helmfile.d/templates/values.yaml.gotmpl
  bootstrap/resources.yaml.j2
  flake.nix
  kubernetes/bootstrap/github-deploy-key.sops.yaml.tmpl
  kubernetes/bootstrap/kustomization.yaml
  kubernetes/flux/apps.yaml
  kubernetes/flux/cluster/ks.yaml
  kubernetes/flux/config/README.md
  kubernetes/flux/config/cluster.yaml
  kubernetes/flux/config/flux.yaml
  kubernetes/flux/config/kustomization.yaml
  kubernetes/flux/vars/cluster-secrets.sops.yaml
  kubernetes/flux/vars/cluster-secrets.sops.yaml.tmpl
  kubernetes/flux/vars/cluster-settings.yaml
  kubernetes/flux/vars/custom-secrets.sops.yaml
  kubernetes/flux/vars/custom-secrets.sops.yaml.tmpl
  kubernetes/flux/vars/kustomization.yaml
  scripts/bootstrap/apply_crds.sh
  scripts/bootstrap/apply_namespaces.sh
  scripts/bootstrap/apply_sops_secrets.sh
  scripts/bootstrap/common.sh
  scripts/bootstrap/sync_hrs.sh
Labels: area/kubernetes, area/taskfile

feat(bootstrap): convert to new helmfile-based bootstrap
  .taskfiles/flux/taskfile.yaml
  .taskfiles/hack/taskfile.yaml
  bootstrap/README.md
  bootstrap/helmfile.d/01-apps.yaml
  bootstrap/helmfile.d/templates/values.yaml.gotmpl
  kubernetes/apps/blog/umami/app/helmrelease.yaml
  kubernetes/apps/datasci/docat/app/helmrelease.yaml
  kubernetes/apps/datasci/mlflow/app/helmrelease.yaml
  kubernetes/apps/default/calibre-web-automated/app/helmrelease.yaml
  kubernetes/apps/default/cyberchef/app/helmrelease.yaml
  kubernetes/apps/default/flaresolverr/app/helmrelease.yaml
  kubernetes/apps/default/homebox/app/helmrelease.yaml
  kubernetes/apps/default/homepage/app/helmrelease.yaml
  kubernetes/apps/default/jelu/app/helmrelease.yaml
  kubernetes/apps/default/mealie/app/helmrelease.yaml
  kubernetes/apps/default/memos/app/helmrelease.yaml
  kubernetes/apps/default/miniflux/app/helmrelease.yaml
  kubernetes/apps/default/pairdrop/app/helmrelease.yaml
  kubernetes/apps/default/picoshare/app/helmrelease.yaml
  kubernetes/apps/default/shelfmark/app/helmrelease.yaml
  kubernetes/apps/default/stirling-pdf/app/helmrelease.yaml
  kubernetes/apps/kube-system/cilium/app/helmrelease.yaml
  kubernetes/apps/kube-system/cilium/app/networking.yaml
  kubernetes/apps/network/cloudflared/app/helmrelease.yaml
  kubernetes/apps/observability/nut-exporter/app/helmrelease.yaml
  kubernetes/apps/security/authelia/app/helmrelease.yaml
  kubernetes/apps/security/lldap/app/helmrelease.yaml
  kubernetes/components/sops/cluster-settings.yaml
  kubernetes/components/sops/kustomization.yaml
  kubernetes/flux/cluster/ks.yaml
  scripts/bootstrap/apply_crds.sh
  scripts/bootstrap/common.sh
  scripts/bootstrap/sync_hrs.sh
Labels: area/kubernetes, area/taskfile

.github/labeler.yaml:

---
area/ansible:
  - changed-files:
      - any-glob-to-any-file: ansible/**/*
area/docs:
  - changed-files:
      - any-glob-to-any-file:
          - "docs/**/*"
          - "README.md"
area/github:
  - changed-files:
      - any-glob-to-any-file: .github/**/*
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: kubernetes/**/*
area/taskfile:
  - changed-files:
      - any-glob-to-any-file: .taskfiles/**/*
      - any-glob-to-any-file: Taskfile*
