Repository ahgraber/homelab-gitops-k3s, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/addons, area/ansible, area/bootstrap, area/github, area/kubernetes, area/taskfile

.github/labeler.yaml:

---
area/addons:
  - changed-files:
      - any-glob-to-any-file: bootstrap/templates/addons/**/*
      - any-glob-to-any-file: bootstrap/tasks/addons/**/*
      - any-glob-to-any-file: bootstrap/vars/addons.sample.yaml
area/ansible:
  - changed-files:
      - any-glob-to-any-file: ansible/**/*
      - any-glob-to-any-file: bootstrap/templates/ansible/**/*
      - any-glob-to-any-file: bootstrap/tasks/ansible/**/*
area/bootstrap:
  - changed-files:
      - any-glob-to-any-file: bootstrap/**/*
      - any-glob-to-any-file: bootstrap/configure.yaml
area/github:
  - changed-files:
      - any-glob-to-any-file: .github/**/*
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: kubernetes/**/*
      - any-glob-to-any-file: bootstrap/templates/kubernetes/**/*
      - any-glob-to-any-file: bootstrap/tasks/kubernetes/**/*
area/taskfile:
  - changed-files:
      - any-glob-to-any-file: .taskfiles/**/*
      - any-glob-to-any-file: Taskfile*

chore(container): update image lscr.io/linuxserver/pairdrop to 4e1edfc
  kubernetes/apps/default/pairdrop/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image docker.io/mtlynch/picoshare to v1.4.2
  kubernetes/apps/default/picoshare/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image docker.io/mtlynch/picoshare to v1.4.2
  kubernetes/apps/default/picoshare/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update chart windmill to 2.0.100
  kubernetes/apps/datasci/windmill/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update chart windmill to 2.0.100
  kubernetes/apps/datasci/windmill/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update image kube-prometheus-stack to v56.7.0
  bootstrap/templates/addons/kube-prometheus-stack/app/helmrelease.yaml.j2
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/addons, area/bootstrap, area/kubernetes

feat(container): update image kube-prometheus-stack to v56.7.0
  bootstrap/templates/addons/kube-prometheus-stack/app/helmrelease.yaml.j2
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/addons, area/bootstrap, area/kubernetes

chore(deps): update netaddr to 1.2.1
  requirements.txt
Labels: none

chore(deps): update netaddr to 1.2.1
  requirements.txt
Labels: none

feat(container): update image docker.io/miniflux/miniflux to v2.1.0
  kubernetes/apps/default/miniflux/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update image docker.io/miniflux/miniflux to v2.1.0
  kubernetes/apps/default/miniflux/app/helmrelease.yaml
Labels: area/kubernetes

chore(container): update image lscr.io/linuxserver/pairdrop to 4e1edfc
  kubernetes/apps/default/pairdrop/app/helmrelease.yaml
Labels: area/kubernetes

chore(container): update image lscr.io/linuxserver/pairdrop to 4e1edfc
  kubernetes/apps/default/pairdrop/app/helmrelease.yaml
Labels: area/kubernetes

chore: cleanup docs
  .devcontainer/devcontainer.json
  docs/Node Prep.md
Labels: none

chore: cleanup docs
  .devcontainer/devcontainer.json
  docs/Node Prep.md
Labels: none

feat(container)!: Update image app-template to v2.6.0
  bootstrap/templates/addons/discord-template-notifier/app/helmrelease.yaml.j2
  bootstrap/templates/addons/system-upgrade-controller/app/helmrelease.yaml.j2
  bootstrap/templates/kubernetes/apps/networking/echo-server/app/helmrelease.yaml.j2
  kubernetes/apps/datasci/docat/app/helmrelease.yaml
  kubernetes/apps/datasci/mlflow/app/helmrelease.yaml
  kubernetes/apps/debug/dnsutils/app/helmrelease.yaml
  kubernetes/apps/debug/echo-server/app/helmrelease.yaml
  kubernetes/apps/debug/httpbin/app/helmrelease.yaml
  kubernetes/apps/default/changedetection/app/helmrelease.yaml
  kubernetes/apps/default/cyberchef/app/helmrelease.yaml
  kubernetes/apps/default/homebox/app/helmrelease.yaml
  kubernetes/apps/default/homepage/app/helmrelease.yaml
  kubernetes/apps/default/linkding/app/helmrelease.yaml
  kubernetes/apps/default/mealie/app/helmrelease.yaml
  kubernetes/apps/default/memos/app/helmrelease.yaml
  kubernetes/apps/default/miniflux/app/helmrelease.yaml
  kubernetes/apps/default/opengist/app/helmrelease.yaml
  kubernetes/apps/default/pairdrop/app/helmrelease.yaml
  kubernetes/apps/default/picoshare/app/helmrelease.yaml
  kubernetes/apps/default/redis/redisinsight/app/helmrelease.yaml
  kubernetes/apps/default/syncthing/app/helmrelease.yaml
  kubernetes/apps/kube-system/system-upgrade-controller/app/helmrelease.yaml
  kubernetes/apps/monitoring/karma/app/helmrelease.yaml
  kubernetes/apps/monitoring/nut-exporter/app/helmrelease.yaml
  kubernetes/apps/monitoring/scrutiny/app/helmrelease-collector.yaml
  kubernetes/apps/monitoring/scrutiny/app/helmrelease-influxdb.yaml
  kubernetes/apps/monitoring/scrutiny/app/helmrelease-scrutiny.yaml
  kubernetes/apps/monitoring/speedtest-exporter/app/helmrelease.yaml
  kubernetes/apps/networking/cloudflared/app/helmrelease.yaml
Labels: area/addons, area/bootstrap, area/kubernetes

feat: bump mealie and app-template versions
  kubernetes/apps/default/mealie/app/helmrelease.yaml
Labels: area/kubernetes

feat: bump mealie and app-template versions
  kubernetes/apps/default/mealie/app/helmrelease.yaml
Labels: area/kubernetes

feat: bump mealie and app-template versions
  kubernetes/apps/default/mealie/app/helmrelease.yaml
Labels: area/kubernetes

feat: bump mealie and app-template versions
  kubernetes/apps/default/mealie/app/helmrelease.yaml
Labels: area/kubernetes

fix: tweak cloudflare config
  kubernetes/apps/networking/cloudflared/app/configs/config.yaml
Labels: area/kubernetes

fix: tweak cloudflare config
  kubernetes/apps/networking/cloudflared/app/configs/config.yaml
Labels: area/kubernetes

feat: bump renovate config
  .github/renovate.json5
  .github/renovate/allowedVersions.json5
  .github/renovate/autoMerge.json5
  .github/renovate/clusters.json5
  .github/renovate/customManagers.json5
  .github/renovate/grafanaDashboards.json5
  .github/renovate/groups.json5
  .github/renovate/packageRules.json5
  .github/renovate/semanticCommits.json5
Labels: area/github

feat: bump renovate config
  .github/renovate.json5
  .github/renovate/allowedVersions.json5
  .github/renovate/autoMerge.json5
  .github/renovate/clusters.json5
  .github/renovate/customManagers.json5
  .github/renovate/grafanaDashboards.json5
  .github/renovate/groups.json5
  .github/renovate/packageRules.json5
  .github/renovate/semanticCommits.json5
Labels: area/github
