Repository ahgraber/homelab-gitops-k3s, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/docs, area/github, area/kubernetes, area/taskfile

.github/labeler.yaml:

---
area/ansible:
  - changed-files:
      - any-glob-to-any-file: ansible/**/*
area/docs:
  - changed-files:
      - any-glob-to-any-file:
          - "docs/**/*"
          - "README.md"
area/github:
  - changed-files:
      - any-glob-to-any-file: .github/**/*
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: kubernetes/**/*
area/taskfile:
  - changed-files:
      - any-glob-to-any-file: .taskfiles/**/*
      - any-glob-to-any-file: Taskfile*

fix: change-detection oom
  kubernetes/apps/default/changedetection/app/helmrelease.yaml
Labels: area/kubernetes

feat: simplify kps
  kubernetes/apps/monitoring/grafana/app/helmrelease.yaml
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
  kubernetes/apps/monitoring/kube-prometheus-stack/ks.yaml
Labels: area/kubernetes

fix: update homepage config
  kubernetes/apps/default/homepage/app/configmap.yaml
Labels: area/kubernetes

debug: mlflow readonly filesystem
  kubernetes/apps/datasci/mlflow/app/helmrelease.yaml
Labels: area/kubernetes

fix: update scrutiny * truenas instructions
  kubernetes/apps/monitoring/scrutiny/README.md
Labels: area/kubernetes

fix: use s3 with loki
  kubernetes/apps/monitoring/loki/app/helmrelease.yaml
Labels: area/kubernetes

fix: don't use s3 with loki
  kubernetes/apps/monitoring/loki/app/helmrelease.yaml
  kubernetes/apps/monitoring/loki/app/kustomization.yaml
Labels: area/kubernetes

fix: ceph x prometheus
  kubernetes/apps/rook-ceph/README.md
  kubernetes/apps/rook-ceph/rook-ceph/cluster/helmrelease.yaml
Labels: area/kubernetes

debug: mlflow readonly filesystem
  kubernetes/apps/datasci/mlflow/README.md
  kubernetes/apps/datasci/mlflow/app/helmrelease.yaml
  kubernetes/apps/datasci/mlflow/app/kustomization.yaml
  kubernetes/apps/datasci/mlflow/app/objectbucketclaim.yaml
  kubernetes/apps/datasci/mlflow/app/secret-gateway.sops.yaml
  kubernetes/apps/datasci/mlflow/app/secret-gateway.sops.yaml.tmpl
  kubernetes/apps/datasci/mlflow/app/secret-s3.sops.yaml
  kubernetes/apps/datasci/mlflow/app/secret-s3.sops.yaml.tmpl
  kubernetes/apps/datasci/mlflow/app/secret.sops.yaml.tmpl
Labels: area/kubernetes

chore: update mlflow readme
  kubernetes/apps/datasci/mlflow/README.md
Labels: area/kubernetes

chore: thanos cleanup
  kubernetes/apps/monitoring/grafana/app/helmrelease.yaml
Labels: area/kubernetes

fix: mlflow
  kubernetes/apps/datasci/mlflow/app/secret-s3.sops.yaml
  kubernetes/apps/datasci/mlflow/app/secret-s3.sops.yaml.tmpl
Labels: area/kubernetes

fix prefect
  kubernetes/apps/datasci/prefect/server/helmrelease.yaml
Labels: area/kubernetes

Fix: Update stirling-pdf image name
  kubernetes/apps/default/stirling-pdf/app/helmrelease.yaml
Labels: area/kubernetes

Fix: Update stirling-pdf image name
  kubernetes/apps/default/stirling-pdf/app/helmrelease.yaml
Labels: area/kubernetes

fix prefect
  kubernetes/apps/datasci/prefect/server/helmrelease.yaml
Labels: area/kubernetes

feat: ++ archivebox
  kubernetes/apps/default/archivebox/README.md
  kubernetes/apps/default/archivebox/app/configmap.yaml
  kubernetes/apps/default/archivebox/app/helmrelease.yaml
  kubernetes/apps/default/archivebox/app/kustomization.yaml
  kubernetes/apps/default/archivebox/app/secret.sops.yaml
  kubernetes/apps/default/archivebox/app/secret.sops.yaml.tmpl
  kubernetes/apps/default/archivebox/ks.yaml
Labels: area/kubernetes

feat: enable archivebox
  kubernetes/apps/default/kustomization.yaml
Labels: area/kubernetes

fix: apps need to depend on volsync ks not hr
  kubernetes/apps/datasci/docat/app/helmrelease.yaml
  kubernetes/apps/datasci/docat/ks.yaml
  kubernetes/apps/datasci/mlflow/app/helmrelease.yaml
  kubernetes/apps/datasci/mlflow/ks.yaml
  kubernetes/apps/default/changedetection/app/helmrelease.yaml
  kubernetes/apps/default/changedetection/ks.yaml
  kubernetes/apps/default/homebox/app/helmrelease.yaml
  kubernetes/apps/default/homebox/ks.yaml
  kubernetes/apps/default/mealie/app/helmrelease.yaml
  kubernetes/apps/default/mealie/ks.yaml
  kubernetes/apps/default/memos/app/helmrelease.yaml
  kubernetes/apps/default/memos/ks.yaml
  kubernetes/apps/default/opengist/app/helmrelease.yaml
  kubernetes/apps/default/opengist/ks.yaml
  kubernetes/apps/default/picoshare/ks.yaml
  kubernetes/apps/default/readeck/ks.yaml
  kubernetes/apps/default/syncthing/app/helmrelease.yaml
  kubernetes/apps/default/syncthing/ks.yaml
  kubernetes/apps/monitoring/kube-prometheus-stack/ks.yaml
  kubernetes/apps/monitoring/scrutiny/ks.yaml
Labels: area/kubernetes

feat: enable archivebox
  kubernetes/apps/default/kustomization.yaml
Labels: area/kubernetes

feat: ++ archivebox
  kubernetes/apps/default/archivebox/README.md
  kubernetes/apps/default/archivebox/app/configmap.yaml
  kubernetes/apps/default/archivebox/app/helmrelease.yaml
  kubernetes/apps/default/archivebox/app/kustomization.yaml
  kubernetes/apps/default/archivebox/app/secret.sops.yaml
  kubernetes/apps/default/archivebox/app/secret.sops.yaml.tmpl
  kubernetes/apps/default/archivebox/ks.yaml
Labels: area/kubernetes

feat: add sonic search
  kubernetes/apps/default/archivebox/app/helmrelease.yaml
  kubernetes/apps/default/archivebox/app/secret.sops.yaml
  kubernetes/apps/default/archivebox/app/secret.sops.yaml.tmpl
Labels: area/kubernetes

fix: tweak archivebox
  kubernetes/apps/default/archivebox/app/helmrelease.yaml
  kubernetes/apps/default/archivebox/app/secret.sops.yaml
  kubernetes/apps/default/archivebox/app/secret.sops.yaml.tmpl
Labels: area/kubernetes

fix: ceph discovery daemon
  kubernetes/apps/rook-ceph/rook-ceph/operator/helmrelease.yaml
Labels: area/kubernetes

fix: revert snapshot-controller to 3.0.6
  kubernetes/apps/kube-system/snapshot-controller/app/helmrelease-controller.yaml
Labels: area/kubernetes

fix: tweak archivebox
  kubernetes/apps/default/archivebox/app/config.sops.yaml
  kubernetes/apps/default/archivebox/app/configmap.yaml
  kubernetes/apps/default/archivebox/app/helmrelease.yaml
  kubernetes/apps/default/archivebox/app/kustomization.yaml
Labels: area/kubernetes

fix: tweak archivebox
  kubernetes/apps/default/archivebox/app/helmrelease.yaml
Labels: area/kubernetes

fix: tweak archivebox
  kubernetes/apps/default/archivebox/README.md
  kubernetes/apps/default/archivebox/app/helmrelease.yaml
Labels: area/kubernetes

fix: tweak archivebox
  kubernetes/apps/default/archivebox/app/helmrelease.yaml
Labels: area/kubernetes

fix: tweak archivebox
  kubernetes/apps/default/archivebox/app/helmrelease.yaml
Labels: area/kubernetes

fix: tweak archivebox
  kubernetes/apps/default/archivebox/app/helmrelease.yaml
Labels: area/kubernetes

fix: tweak archivebox
  kubernetes/apps/default/archivebox/README.md
  kubernetes/apps/default/archivebox/app/helmrelease.yaml
Labels: area/kubernetes

fix: tweak archivebox
  kubernetes/apps/default/archivebox/README.md
  kubernetes/apps/default/archivebox/app/helmrelease.yaml
Labels: area/kubernetes

feat: add flake devshell
  flake.lock
  flake.nix
Labels: none

feat: add bitwarden secrets manager helm source
  kubernetes/flux/repositories/helm/bitwarden.yaml
  kubernetes/flux/repositories/helm/kustomization.yaml
Labels: area/kubernetes

fix: update link-check action
  .github/workflows/link-check.yaml
Labels: area/github

Revert "fix(helm): update rook-ceph group ( v1.16.0 → v1.16.1 ) (patch)"
  kubernetes/apps/rook-ceph/rook-ceph/cluster/helmrelease.yaml
  kubernetes/apps/rook-ceph/rook-ceph/operator/helmrelease.yaml
Labels: area/kubernetes

fix: project-specific ykeys
  kubernetes/apps/datasci/mlflow/app/secret.sops.yaml
  kubernetes/apps/datasci/mlflow/app/secret.sops.yaml.tmpl
Labels: area/kubernetes

feat: archivebox -> hoarder
  kubernetes/apps/default/archivebox/README.md
  kubernetes/apps/default/archivebox/app/config.sops.yaml
  kubernetes/apps/default/archivebox/app/helmrelease.yaml
  kubernetes/apps/default/archivebox/app/secret.sops.yaml
  kubernetes/apps/default/archivebox/app/secret.sops.yaml.tmpl
  kubernetes/apps/default/hoarder/README.md
  kubernetes/apps/default/hoarder/app/helmrelease.yaml
  kubernetes/apps/default/hoarder/app/kustomization.yaml
  kubernetes/apps/default/hoarder/app/secret.sops.yaml
  kubernetes/apps/default/hoarder/app/secret.sops.yaml.tmpl
  kubernetes/apps/default/hoarder/ks.yaml
  kubernetes/apps/default/kustomization.yaml
Labels: area/kubernetes

fix: flake ansible
  flake.nix
Labels: none
