Repository ahgraber/homelab-gitops-k3s, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/docs, area/github, area/kubernetes, area/taskfile

.github/labeler.yaml:

---
area/ansible:
  - changed-files:
      - any-glob-to-any-file: ansible/**/*
area/docs:
  - changed-files:
      - any-glob-to-any-file:
          - "docs/**/*"
          - "README.md"
area/github:
  - changed-files:
      - any-glob-to-any-file: .github/**/*
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: kubernetes/**/*
area/taskfile:
  - changed-files:
      - any-glob-to-any-file: .taskfiles/**/*
      - any-glob-to-any-file: Taskfile*

fix(external-dns): fix authentication
  kubernetes/apps/networking/external-dns/app/helmrelease.yaml
  kubernetes/apps/networking/external-dns/app/secret.sops.yaml
  kubernetes/apps/networking/external-dns/app/secret.sops.yaml.tmpl
Labels: area/kubernetes

fix(external-dns): fix authentication
  kubernetes/apps/networking/external-dns/app/dnsendpoint-crd.yaml
  kubernetes/apps/networking/external-dns/app/kustomization.yaml
  kubernetes/apps/networking/external-dns/ks.yaml
Labels: area/kubernetes

feat(karakeep): add init container for meilisearch readiness check and startup probe
  kubernetes/apps/default/karakeep/app/helmrelease.yaml
Labels: area/kubernetes

feat(hugo): implement kyverno policy for Cloudflare cache purge on deployment update
  kubernetes/apps/blog/hugo/app/kustomization.yaml
  kubernetes/apps/blog/hugo/app/policy.yaml
  kubernetes/apps/blog/hugo/app/secret.sops.yaml
  kubernetes/apps/blog/hugo/app/secret.sops.yaml.tmpl
  kubernetes/apps/blog/hugo/cache/job.yaml
  kubernetes/apps/blog/hugo/cache/kustomization.yaml
  kubernetes/apps/blog/hugo/ks.yaml
Labels: area/kubernetes

fix(cloudflare): align cloudflare secret name
  kubernetes/apps/cert-manager/cert-manager/issuers/letsencrypt-production.yaml
  kubernetes/apps/cert-manager/cert-manager/issuers/letsencrypt-staging.yaml
  kubernetes/apps/cert-manager/cert-manager/issuers/secret.sops.yaml
  kubernetes/apps/cert-manager/cert-manager/issuers/secret.sops.yaml.tmpl
  kubernetes/apps/networking/external-dns/app/helmrelease.yaml
  kubernetes/apps/networking/external-dns/app/secret.sops.yaml
  kubernetes/apps/networking/external-dns/app/secret.sops.yaml.tmpl
Labels: area/kubernetes

feat(hugo): implement kyverno policy for Cloudflare cache purge on deployment update
  kubernetes/apps/blog/hugo/app/kustomization.yaml
  kubernetes/apps/blog/hugo/app/policy.yaml
  kubernetes/apps/blog/hugo/app/secret.sops.yaml
  kubernetes/apps/blog/hugo/app/secret.sops.yaml.tmpl
  kubernetes/apps/blog/hugo/cache/job.yaml
  kubernetes/apps/blog/hugo/cache/kustomization.yaml
  kubernetes/apps/blog/hugo/ks.yaml
Labels: area/kubernetes

fix(cloudflare): align cloudflare secret name
  kubernetes/apps/cert-manager/cert-manager/issuers/letsencrypt-production.yaml
  kubernetes/apps/cert-manager/cert-manager/issuers/letsencrypt-staging.yaml
  kubernetes/apps/cert-manager/cert-manager/issuers/secret.sops.yaml
  kubernetes/apps/cert-manager/cert-manager/issuers/secret.sops.yaml.tmpl
  kubernetes/apps/networking/external-dns/app/helmrelease.yaml
  kubernetes/apps/networking/external-dns/app/secret.sops.yaml
  kubernetes/apps/networking/external-dns/app/secret.sops.yaml.tmpl
Labels: area/kubernetes

Document Cilium Gateway migration considerations
  kubernetes/apps/networking/README.md
Labels: area/kubernetes

feat(cilium): use gateway-api
  kubernetes/apps/kube-system/cilium/app/helmrelease.yaml
  kubernetes/apps/kube-system/cilium/gateway/external.yaml
  kubernetes/apps/kube-system/cilium/gateway/internal.yaml
  kubernetes/apps/kube-system/cilium/gateway/kustomization.yaml
  kubernetes/apps/kube-system/cilium/gateway/network-policy-bots.yaml
  kubernetes/apps/kube-system/cilium/gateway/network-policy-internal.yaml
  kubernetes/apps/kube-system/cilium/gateway/redirects-and-headers.yaml
  kubernetes/apps/kube-system/cilium/ks.yaml
Labels: area/kubernetes

Fix public HTTPRoute wiring and update gateway docs
  README.md
  ansible/inventory/group_vars/controller/main.yaml
  kubernetes/apps/blog/umami/app/helmrelease.yaml
  kubernetes/apps/datasci/prefect/server/helmrelease.yaml
  kubernetes/apps/flux-system/addons/webhooks/github/ingress.yaml
  kubernetes/apps/flux-system/addons/webhooks/github/kustomization.yaml
  kubernetes/apps/flux-system/addons/webhooks/github/route.yaml
  kubernetes/apps/kube-system/cilium/README.md
  kubernetes/apps/networking/README.md
  kubernetes/apps/networking/cloudflared/app/configs/config.yaml
  kubernetes/apps/networking/external-services/README.md
  kubernetes/apps/networking/external-services/ks.yaml
  kubernetes/apps/networking/external-services/services/homeassistant.yaml
  kubernetes/apps/networking/ingress-nginx/README.md
  kubernetes/apps/networking/ingress-nginx/external/helmrelease.yaml
  kubernetes/apps/networking/ingress-nginx/external/kustomization.yaml
  kubernetes/apps/networking/ingress-nginx/external/secret-maxmind.sops.yaml
  kubernetes/apps/networking/ingress-nginx/external/secret-maxmind.sops.yaml.tmpl
  kubernetes/apps/networking/ingress-nginx/internal/helmrelease.yaml
  kubernetes/apps/networking/ingress-nginx/internal/kustomization.yaml
  kubernetes/apps/networking/ingress-nginx/internal/source.yaml
  kubernetes/apps/networking/ingress-nginx/ks.yaml
  kubernetes/apps/networking/kustomization.yaml
  kubernetes/apps/rook-ceph/rook-ceph/ks.yaml
Labels: area/ansible, area/docs, area/kubernetes

feat: convert apps to cilium gateway / httproute
  kubernetes/apps/blog/hugo/app/helmrelease.yaml
  kubernetes/apps/blog/umami/app/helmrelease.yaml
  kubernetes/apps/database/pgadmin/app/helmrelease.yaml
  kubernetes/apps/database/redisinsight/app/helmrelease.yaml
  kubernetes/apps/datasci/docat/app/helmrelease.yaml
  kubernetes/apps/datasci/mlflow/app/helmrelease.yaml
  kubernetes/apps/datasci/prefect/server/helmrelease.yaml
  kubernetes/apps/datasci/windmill/app/helmrelease.yaml
  kubernetes/apps/debug/echo-server/app/helmrelease.yaml
  kubernetes/apps/debug/httpbin/app/helmrelease.yaml
  kubernetes/apps/default/cyberchef/app/helmrelease.yaml
  kubernetes/apps/default/homebox/app/helmrelease.yaml
  kubernetes/apps/default/homepage/app/helmrelease.yaml
  kubernetes/apps/default/karakeep/app/helmrelease.yaml
  kubernetes/apps/default/mealie/app/helmrelease.yaml
  kubernetes/apps/default/memos/app/helmrelease.yaml
  kubernetes/apps/default/miniflux/app/helmrelease.yaml
  kubernetes/apps/default/opengist/app/helmrelease.yaml
  kubernetes/apps/default/pairdrop/app/helmrelease.yaml
  kubernetes/apps/default/picoshare/app/helmrelease.yaml
  kubernetes/apps/default/stirling-pdf/app/helmrelease.yaml
  kubernetes/apps/default/syncthing/app/helmrelease.yaml
  kubernetes/apps/networking/external-dns/app/helmrelease.yaml
  kubernetes/apps/observability/goldilocks/app/helmrelease-goldilocks.yaml
  kubernetes/apps/observability/grafana/app/helmrelease.yaml
  kubernetes/apps/observability/karma/app/helmrelease.yaml
  kubernetes/apps/observability/kube-prometheus-stack/app/helmrelease.yaml
  kubernetes/apps/observability/scrutiny/app/helmrelease.yaml
  kubernetes/apps/rook-ceph/rook-ceph/cluster/helmrelease.yaml
Labels: area/kubernetes

Fix umami route gateway target
  kubernetes/apps/blog/umami/app/helmrelease.yaml
Labels: area/kubernetes

feat: add gateway-api crds to bootstrap
  .taskfiles/flux/taskfile.yaml
Labels: area/taskfile

feat(hugo): add Cloudflare cache purge job and related resources
  kubernetes/apps/blog/hugo/cache/job.yaml
  kubernetes/apps/blog/hugo/cache/kustomization.yaml
  kubernetes/apps/blog/hugo/cache/secret.sops.yaml
  kubernetes/apps/blog/hugo/cache/secret.sops.yaml.tmpl
Labels: area/kubernetes

Document gateway exposure split
  README.md
  kubernetes/apps/blog/umami/app/helmrelease.yaml
  kubernetes/apps/networking/README.md
Labels: area/docs, area/kubernetes

feat: ensure cert and cloudflared tunnel use cilium gateway
  kubernetes/apps/cert-manager/cert-manager/certificates/production.yaml
  kubernetes/apps/kube-system/reflector/README.md
  kubernetes/apps/networking/cloudflared/app/configs/config.yaml
Labels: area/kubernetes

fix(hugo): clean up hugo cache bust
  kubernetes/apps/blog/hugo/cache/job.yaml
  kubernetes/apps/blog/hugo/cache/kustomization.yaml
  kubernetes/apps/blog/hugo/cache/secret.sops.yaml
  kubernetes/apps/blog/hugo/cache/secret.sops.yaml.tmpl
Labels: area/kubernetes

fix: add explicit kustomization for flux cluster components
  kubernetes/flux/kustomization.yaml
  kubernetes/flux/repositories/helm/bitnami.yaml
  kubernetes/flux/repositories/helm/jupyterhub.yaml
  kubernetes/flux/repositories/helm/kustomization.yaml
  kubernetes/flux/repositories/helm/seldon.yaml
Labels: area/kubernetes

fix: manage nginx-ingress source from internal
  kubernetes/apps/networking/ingress-nginx/external/kustomization.yaml
Labels: area/kubernetes

fix: conflict between outer namespace ks and inner app ks when namespace name == app name
  kubernetes/apps/cert-manager/cert-manager/app/helmrelease.yaml
  kubernetes/apps/cert-manager/cert-manager/ks.yaml
  kubernetes/apps/cert-manager/ks.yaml
  kubernetes/apps/kustomization.yaml
  kubernetes/apps/kyverno/ks.yaml
  kubernetes/apps/kyverno/kyverno/app/helmrelease.yaml
  kubernetes/apps/kyverno/kyverno/ks.yaml
  kubernetes/apps/volsync-system/ks.yaml
  kubernetes/apps/volsync-system/namespace.yaml
  kubernetes/apps/volsync-system/volsync/app/helmrelease.yaml
  kubernetes/apps/volsync-system/volsync/app/source.yaml
  kubernetes/apps/volsync-system/volsync/ks.yaml
  kubernetes/flux/repositories/README.md
Labels: area/kubernetes

chore: reorg helmrelease keys
  flake.nix
  kubernetes/apps/datasci/prefect/server/helmrelease.yaml
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
  kubernetes/apps/rook-ceph/rook-ceph/cluster/helmrelease.yaml
  kubernetes/apps/rook-ceph/rook-ceph/operator/helmrelease.yaml
Labels: area/kubernetes

chore: update yaml-language-server schema references in HelmRelease files
  kubernetes/apps/database/ext-postgres-operator/app/helmrelease.yaml
  kubernetes/apps/database/pgadmin/app/helmrelease.yaml
  kubernetes/apps/datasci/postgres/ext-postgres-operator/app/helmrelease.yaml
  kubernetes/apps/datasci/windmill/app/helmrelease.yaml
  kubernetes/apps/kube-system/cilium/app/helmrelease.yaml
  kubernetes/apps/kube-system/local-path-provisioner/app/helmrelease.yaml
  kubernetes/apps/kube-system/metrics-server/app/helmrelease.yaml
  kubernetes/apps/kube-system/reflector/app/helmrelease.yaml
  kubernetes/apps/monitoring/grafana/app/helmrelease.yaml
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
  kubernetes/apps/monitoring/loki/app/helmrelease.yaml
  kubernetes/apps/monitoring/node-problem-detector/app/helmrelease.yaml
  kubernetes/apps/networking/ingress-nginx/external/helmrelease.yaml
  kubernetes/apps/networking/ingress-nginx/internal/helmrelease.yaml
  kubernetes/apps/networking/k8s-gateway/app/helmrelease.yaml
  kubernetes/apps/rook-ceph/rook-ceph/cluster/helmrelease.yaml
  kubernetes/apps/rook-ceph/rook-ceph/operator/helmrelease.yaml
  kubernetes/apps/volsync/README.md
  kubernetes/apps/volsync/ks.yaml
  kubernetes/apps/volsync/kustomization.yaml
  kubernetes/apps/volsync/namespace.yaml
  kubernetes/apps/volsync/volsync/app/helmrelease.yaml
  kubernetes/apps/volsync/volsync/app/kustomization.yaml
  kubernetes/apps/volsync/volsync/app/prometheusrule.yaml
  kubernetes/apps/volsync/volsync/app/source.yaml
  kubernetes/apps/volsync/volsync/ks.yaml
Labels: area/kubernetes

feat(kustomization): add patches for propagating substitutions to child Kustomizations
  kubernetes/apps/blog/ks.yaml
  kubernetes/apps/cert-manager/ks.yaml
  kubernetes/apps/database/ks.yaml
  kubernetes/apps/datasci/ks.yaml
  kubernetes/apps/debug/ks.yaml
  kubernetes/apps/default/ks.yaml
  kubernetes/apps/flux-system/ks.yaml
  kubernetes/apps/kube-system/ks.yaml
  kubernetes/apps/kyverno/ks.yaml
  kubernetes/apps/monitoring/ks.yaml
  kubernetes/apps/networking/ks.yaml
  kubernetes/apps/rook-ceph/ks.yaml
  kubernetes/apps/system-upgrade/ks.yaml
  kubernetes/apps/volsync/ks.yaml
Labels: area/kubernetes

fix(cert-manager): refine cert-manager Kustomization dependencies
  kubernetes/apps/cert-manager/cert-manager/ks.yaml
Labels: area/kubernetes

chore(kubernetes): simplify fluxtomization/kustomization
  kubernetes/apps/blog/ks.yaml
  kubernetes/apps/blog/kustomization.yaml
  kubernetes/apps/cert-manager/ks.yaml
  kubernetes/apps/cert-manager/kustomization.yaml
  kubernetes/apps/database/ks.yaml
  kubernetes/apps/database/kustomization.yaml
  kubernetes/apps/datasci/ks.yaml
  kubernetes/apps/datasci/kustomization.yaml
  kubernetes/apps/debug/ks.yaml
  kubernetes/apps/debug/kustomization.yaml
  kubernetes/apps/default/ks.yaml
  kubernetes/apps/default/kustomization.yaml
  kubernetes/apps/flux-system/ks.yaml
  kubernetes/apps/flux-system/kustomization.yaml
  kubernetes/apps/kube-system/ks.yaml
  kubernetes/apps/kube-system/kustomization.yaml
  kubernetes/apps/kustomization.yaml
  kubernetes/apps/kyverno/ks.yaml
  kubernetes/apps/kyverno/kustomization.yaml
  kubernetes/apps/monitoring/ks.yaml
  kubernetes/apps/monitoring/kustomization.yaml
  kubernetes/apps/networking/ks.yaml
  kubernetes/apps/networking/kustomization.yaml
  kubernetes/apps/rook-ceph/ks.yaml
  kubernetes/apps/rook-ceph/kustomization.yaml
  kubernetes/apps/system-upgrade/ks.yaml
  kubernetes/apps/system-upgrade/kustomization.yaml
  kubernetes/apps/volsync/ks.yaml
  kubernetes/apps/volsync/kustomization.yaml
Labels: area/kubernetes

fix(external-dns): update CRD and HelmRelease configurations for Cloudflare integration
  kubernetes/apps/networking/external-dns/app/dnsendpoint-crd.yaml
  kubernetes/apps/networking/external-dns/app/helmrelease.yaml
  kubernetes/apps/networking/external-dns/app/kustomization.yaml
  kubernetes/apps/networking/external-dns/app/secret.sops.yaml
  kubernetes/apps/networking/external-dns/app/secret.sops.yaml.tmpl
  kubernetes/apps/networking/external-dns/ks.yaml
Labels: area/kubernetes

fix(kubernetes): revert namespace declaration in kustomizations
  kubernetes/apps/blog/kustomization.yaml
  kubernetes/apps/cert-manager/cert-manager/app/kustomization.yaml
  kubernetes/apps/cert-manager/kustomization.yaml
  kubernetes/apps/database/kustomization.yaml
  kubernetes/apps/datasci/kustomization.yaml
  kubernetes/apps/debug/kustomization.yaml
  kubernetes/apps/default/kustomization.yaml
  kubernetes/apps/flux-system/addons/monitoring/kustomization.yaml
  kubernetes/apps/flux-system/kustomization.yaml
  kubernetes/apps/kube-system/cilium/app/kustomization.yaml
  kubernetes/apps/kube-system/kustomization.yaml
  kubernetes/apps/kube-system/local-path-provisioner/app/kustomization.yaml
  kubernetes/apps/kube-system/metrics-server/app/kustomization.yaml
  kubernetes/apps/kyverno/kustomization.yaml
  kubernetes/apps/monitoring/goldilocks/app/kustomization.yaml
  kubernetes/apps/monitoring/grafana/app/kustomization.yaml
  kubernetes/apps/monitoring/kube-prometheus-stack/app/kustomization.yaml
  kubernetes/apps/monitoring/kustomization.yaml
  kubernetes/apps/monitoring/node-problem-detector/app/kustomization.yaml
  kubernetes/apps/monitoring/nut-exporter/app/kustomization.yaml
  kubernetes/apps/monitoring/scrutiny/app/kustomization.yaml
  kubernetes/apps/monitoring/scrutiny/collector/kustomization.yaml
  kubernetes/apps/monitoring/speedtest-exporter/app/kustomization.yaml
  kubernetes/apps/networking/cloudflared/app/kustomization.yaml
  kubernetes/apps/networking/external-dns/app/kustomization.yaml
  kubernetes/apps/networking/ingress-nginx/external/kustomization.yaml
  kubernetes/apps/networking/ingress-nginx/internal/kustomization.yaml
  kubernetes/apps/networking/k8s-gateway/app/kustomization.yaml
  kubernetes/apps/networking/kustomization.yaml
  kubernetes/apps/rook-ceph/kustomization.yaml
  kubernetes/apps/system-upgrade/kustomization.yaml
  kubernetes/apps/volsync/kustomization.yaml
  kubernetes/flux/kustomization.yaml
Labels: area/kubernetes

fix(external-dns): fix authentication
  kubernetes/apps/networking/external-dns/app/dnsendpoint-crd.yaml
  kubernetes/apps/networking/external-dns/app/helmrelease.yaml
  kubernetes/apps/networking/external-dns/app/kustomization.yaml
  kubernetes/apps/networking/external-dns/app/secret.sops.yaml
  kubernetes/apps/networking/external-dns/app/secret.sops.yaml.tmpl
  kubernetes/apps/networking/external-dns/ks.yaml
Labels: area/kubernetes

feat(observability): migrate to observability ns
  kubernetes/apps/database/namespace.yaml
  kubernetes/apps/flux-system/addons/alerts/alertmanager/notification.yaml
  kubernetes/apps/flux-system/addons/ks.yaml
  kubernetes/apps/flux-system/addons/observability/kustomization.yaml
  kubernetes/apps/flux-system/addons/observability/pod-resources-max.json
  kubernetes/apps/flux-system/addons/observability/podmonitor.yaml
  kubernetes/apps/flux-system/addons/observability/prometheusrule.yaml
  kubernetes/apps/observability/goldilocks/app/helmrelease-vpa.yaml
  kubernetes/apps/observability/goldilocks/ks.yaml
  kubernetes/apps/observability/grafana/app/helmrelease.yaml
  kubernetes/apps/observability/grafana/ks.yaml
  kubernetes/apps/observability/karma/app/helmrelease.yaml
  kubernetes/apps/observability/karma/ks.yaml
  kubernetes/apps/observability/kube-prometheus-stack/ks.yaml
  kubernetes/apps/observability/loki/ks.yaml
  kubernetes/apps/observability/namespace.yaml
  kubernetes/apps/observability/node-problem-detector/ks.yaml
  kubernetes/apps/observability/nut-exporter/ks.yaml
  kubernetes/apps/observability/scrutiny/app/helmrelease.yaml
  kubernetes/apps/observability/scrutiny/collector/helmrelease-collector.yaml
  kubernetes/apps/observability/scrutiny/ks.yaml
  kubernetes/apps/observability/speedtest-exporter/ks.yaml
  kubernetes/apps/rook-ceph/rook-ceph/cluster/helmrelease.yaml
Labels: area/kubernetes

feat(testing): temporarily use staging and disable DBs
  kubernetes/apps/database/kustomization.yaml
  kubernetes/apps/datasci/kustomization.yaml
  kubernetes/apps/networking/ingress-nginx/internal/helmrelease.yaml
Labels: area/kubernetes

fix(cloudflare): align cloudflare secret name
  kubernetes/apps/cert-manager/cert-manager/issuers/letsencrypt-production.yaml
  kubernetes/apps/cert-manager/cert-manager/issuers/letsencrypt-staging.yaml
  kubernetes/apps/cert-manager/cert-manager/issuers/secret.sops.yaml
  kubernetes/apps/cert-manager/cert-manager/issuers/secret.sops.yaml.tmpl
  kubernetes/apps/networking/external-dns/app/helmrelease.yaml
  kubernetes/apps/networking/external-dns/app/secret.sops.yaml
  kubernetes/apps/networking/external-dns/app/secret.sops.yaml.tmpl
Labels: area/kubernetes

feat(karakeep): add init container for meilisearch readiness check and startup probe
  kubernetes/apps/default/karakeep/app/helmrelease.yaml
Labels: area/kubernetes

feat(hugo): implement kyverno policy for Cloudflare cache purge on deployment update
  kubernetes/apps/blog/hugo/app/kustomization.yaml
  kubernetes/apps/blog/hugo/app/policy.yaml
  kubernetes/apps/blog/hugo/app/secret.sops.yaml
  kubernetes/apps/blog/hugo/app/secret.sops.yaml.tmpl
  kubernetes/apps/blog/hugo/cache/job.yaml
  kubernetes/apps/blog/hugo/cache/kustomization.yaml
  kubernetes/apps/blog/hugo/ks.yaml
Labels: area/kubernetes

fix(nginx): reenable ingress
  kubernetes/apps/networking/ingress-nginx/external/kustomization.yaml
  kubernetes/apps/networking/ingress-nginx/internal/helmrelease.yaml
Labels: area/kubernetes

fix(blog): fix kyverno policy
  kubernetes/apps/blog/hugo/app/helmrelease.yaml
  kubernetes/apps/blog/hugo/app/kyverno-policy.yaml
  kubernetes/apps/blog/hugo/ks.yaml
  kubernetes/apps/blog/hugo/rbac/kustomization.yaml
  kubernetes/apps/blog/hugo/rbac/role.yaml
Labels: area/kubernetes

fix: reactivate db
  kubernetes/apps/database/cloudnative-pg/cluster/cluster16.yaml
  kubernetes/apps/database/kustomization.yaml
Labels: area/kubernetes

feat(envoy-gateway): add initial configuration files for Envoy Gateway setup
  kubernetes/apps/flux-system/addons/webhooks/github/httproute.yaml
  kubernetes/apps/networking/envoy-gateway/README.md
  kubernetes/apps/networking/envoy-gateway/app/helmrelease.yaml
  kubernetes/apps/networking/envoy-gateway/app/kustomization.yaml
  kubernetes/apps/networking/envoy-gateway/app/observability.yaml
  kubernetes/apps/networking/envoy-gateway/app/source.yaml
  kubernetes/apps/networking/envoy-gateway/instance/envoy.yaml
  kubernetes/apps/networking/envoy-gateway/instance/gateway-external.yaml
  kubernetes/apps/networking/envoy-gateway/instance/gateway-internal.yaml
  kubernetes/apps/networking/envoy-gateway/instance/gateway-policies.yaml
  kubernetes/apps/networking/envoy-gateway/instance/kustomization.yaml
  kubernetes/apps/networking/envoy-gateway/ks.yaml
  kubernetes/apps/networking/kustomization.yaml
Labels: area/kubernetes

fix(envoy-gateway): update connection settings and enhance security headers
  kubernetes/apps/networking/envoy-gateway/instance/gateway-policies.yaml
Labels: area/kubernetes

feat(envoy): update echo-server and httpbin from ingress to route configuration
  kubernetes/apps/debug/echo-server/app/helmrelease.yaml
  kubernetes/apps/debug/httpbin/app/helmrelease.yaml
Labels: area/kubernetes

fix(k8s-gateway): update watchedResources to include HTTPRoute
  kubernetes/apps/networking/k8s-gateway/app/helmrelease.yaml
Labels: area/kubernetes
