Repository ahgraber/homelab-gitops-k3s, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/addons, area/ansible, area/bootstrap, area/github, area/kubernetes

.github/labeler.yaml:

---
area/addons:
  - "bootstrap/templates/addons/**/*"
  - "bootstrap/tasks/addons/**/*"
  - "bootstrap/vars/addons.sample.yaml"
area/ansible:
  - "ansible/**/*"
  - "bootstrap/templates/ansible/**/*"
  - "bootstrap/tasks/ansible/**/*"
area/bootstrap:
  - "bootstrap/**/*"
  - "bootstrap/configure.yaml"
area/github:
  - ".github/**/*"
area/kubernetes:
  - "kubernetes/**/*"
  - "bootstrap/templates/kubernetes/**/*"
  - "bootstrap/tasks/kubernetes/**/*"

fix(github-action): update renovatebot/github-action action to v39.1.3
  .github/workflows/renovate.yaml
Labels: area/github

feat(container): update image kube-prometheus-stack to v54.1.0
  bootstrap/templates/addons/kube-prometheus-stack/app/helmrelease.yaml.j2
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/addons, area/bootstrap, area/kubernetes

feat(container): update image kube-prometheus-stack to v54.1.0
  bootstrap/templates/addons/kube-prometheus-stack/app/helmrelease.yaml.j2
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/addons, area/bootstrap, area/kubernetes

fix(helm): update chart snapshot-controller to 2.0.2
  kubernetes/apps/kube-system/snapshot-controller/app/helmrelease-controller.yaml
Labels: area/kubernetes

fix(helm): update chart snapshot-controller to 2.0.2
  kubernetes/apps/kube-system/snapshot-controller/app/helmrelease-controller.yaml
Labels: area/kubernetes

feat(container)!: Update image k8s-ycl to v1
  kubernetes/apps/kube-system/ycl/app/helmrelease.yaml
Labels: area/kubernetes

feat(container)!: Update image k8s-ycl to v1
  kubernetes/apps/kube-system/ycl/app/helmrelease.yaml
Labels: area/kubernetes

fix(github-release): update pre-commit hook zricethezav/gitleaks to v8.18.1
  .pre-commit-config.yaml
Labels: none

fix(github-release): update pre-commit hook zricethezav/gitleaks to v8.18.1
  .pre-commit-config.yaml
Labels: none

fix(helm): update chart windmill to 2.0.27
  kubernetes/apps/datasci/windmill/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update chart windmill to 2.0.27
  kubernetes/apps/datasci/windmill/app/helmrelease.yaml
Labels: area/kubernetes

chore(container): update image lscr.io/linuxserver/pairdrop to 6bb473a
  kubernetes/apps/default/pairdrop/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update chart windmill to 2.0.28
  kubernetes/apps/datasci/windmill/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update chart windmill to 2.0.28
  kubernetes/apps/datasci/windmill/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update image ghcr.io/letsblockit/server to v0.48.0
  kubernetes/apps/default/letsblockit/app/helmrelease.yaml
Labels: area/kubernetes

fix: rm letsblockit
  kubernetes/apps/default/kustomization.yaml
  kubernetes/apps/default/letsblockit/app/helmrelease.yaml
  kubernetes/apps/default/letsblockit/app/kustomization.yaml
  kubernetes/apps/default/letsblockit/db/kustomization.yaml
  kubernetes/apps/default/letsblockit/db/postgres.yaml
  kubernetes/apps/default/letsblockit/ks.yaml
Labels: area/kubernetes

fix: rm letsblockit
  kubernetes/apps/default/kustomization.yaml
  kubernetes/apps/default/letsblockit/app/helmrelease.yaml
  kubernetes/apps/default/letsblockit/app/kustomization.yaml
  kubernetes/apps/default/letsblockit/db/kustomization.yaml
  kubernetes/apps/default/letsblockit/db/postgres.yaml
  kubernetes/apps/default/letsblockit/ks.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/usememos/memos to v0.17.1
  kubernetes/apps/default/memos/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/usememos/memos to v0.17.1
  kubernetes/apps/default/memos/app/helmrelease.yaml
Labels: area/kubernetes

chore(container): update image lscr.io/linuxserver/pairdrop to 6bb473a
  kubernetes/apps/default/pairdrop/app/helmrelease.yaml
Labels: area/kubernetes

chore(container): update image lscr.io/linuxserver/pairdrop to 6bb473a
  kubernetes/apps/default/pairdrop/app/helmrelease.yaml
Labels: area/kubernetes

feat: ++ syncthing
  kubernetes/apps/default/kustomization.yaml
  kubernetes/apps/default/syncthing/README.md
  kubernetes/apps/default/syncthing/app/backup/kustomization.yaml
  kubernetes/apps/default/syncthing/app/backup/secret.sops.yaml
  kubernetes/apps/default/syncthing/app/backup/secret.sops.yaml.tmpl
  kubernetes/apps/default/syncthing/app/backup/volsync.yaml
  kubernetes/apps/default/syncthing/app/helmrelease.yaml
  kubernetes/apps/default/syncthing/app/kustomization.yaml
  kubernetes/apps/default/syncthing/app/pvc.yaml
  kubernetes/apps/default/syncthing/ks.yaml
Labels: area/kubernetes

feat: ++ syncthing
  kubernetes/apps/default/kustomization.yaml
  kubernetes/apps/default/syncthing/README.md
  kubernetes/apps/default/syncthing/app/backup/kustomization.yaml
  kubernetes/apps/default/syncthing/app/backup/secret.sops.yaml
  kubernetes/apps/default/syncthing/app/backup/secret.sops.yaml.tmpl
  kubernetes/apps/default/syncthing/app/backup/volsync.yaml
  kubernetes/apps/default/syncthing/app/helmrelease.yaml
  kubernetes/apps/default/syncthing/app/kustomization.yaml
  kubernetes/apps/default/syncthing/app/pvc.yaml
  kubernetes/apps/default/syncthing/ks.yaml
Labels: area/kubernetes

feat: ++ syncthing
  kubernetes/apps/default/syncthing/app/helmrelease.yaml
Labels: area/kubernetes

feat: ++ syncthing
  kubernetes/apps/default/syncthing/app/helmrelease.yaml
Labels: area/kubernetes

squash: ++ syncthing
  kubernetes/apps/default/syncthing/app/helmrelease.yaml
Labels: area/kubernetes

squash: ++ syncthing
  kubernetes/apps/default/syncthing/app/helmrelease.yaml
Labels: area/kubernetes

squash: ++ syncthing
  kubernetes/apps/default/syncthing/app/pvc.yaml
Labels: area/kubernetes

squash: ++ syncthing
  kubernetes/apps/default/syncthing/app/pvc.yaml
Labels: area/kubernetes

fix(helm): update chart windmill to 2.0.29
  kubernetes/apps/datasci/windmill/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update chart windmill to 2.0.29
  kubernetes/apps/datasci/windmill/app/helmrelease.yaml
Labels: area/kubernetes

feat(github-action): update allenporter/flux-local action to 3.2.0
  .github/workflows/flux-diff.yaml
Labels: area/github

feat(github-action): update allenporter/flux-local action to 3.2.0
  .github/workflows/flux-diff.yaml
Labels: area/github

fix(github-release): update local-path-provisioner to v0.0.25
  bootstrap/templates/kubernetes/flux/repositories/git/local-path-provisioner.yaml.j2
  kubernetes/flux/repositories/git/local-path-provisioner.yaml
Labels: area/bootstrap, area/kubernetes

fix(github-release): update local-path-provisioner to v0.0.25
  bootstrap/templates/kubernetes/flux/repositories/git/local-path-provisioner.yaml.j2
  kubernetes/flux/repositories/git/local-path-provisioner.yaml
Labels: area/bootstrap, area/kubernetes

feat(container): update image ghcr.io/tarampampam/error-pages to v2.26.0
  kubernetes/apps/networking/nginx/external/helmrelease.yaml
  kubernetes/apps/networking/nginx/internal/helmrelease.yaml
Labels: area/kubernetes

feat(container): update image ghcr.io/tarampampam/error-pages to v2.26.0
  kubernetes/apps/networking/nginx/external/helmrelease.yaml
  kubernetes/apps/networking/nginx/internal/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update chart pgadmin4 to 1.18.5
  kubernetes/apps/default/postgres/pgadmin/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update chart pgadmin4 to 1.18.5
  kubernetes/apps/default/postgres/pgadmin/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update chart grafana to 7.0.8
  bootstrap/templates/addons/grafana/app/helmrelease.yaml.j2
  kubernetes/apps/monitoring/grafana/app/helmrelease.yaml
Labels: area/addons, area/bootstrap, area/kubernetes
