Repository ahgraber/homelab-gitops-k3s, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/addons, area/ansible, area/bootstrap, area/github, area/kubernetes, area/taskfile

.github/labeler.yaml:

---
area/addons:
  - changed-files:
      - any-glob-to-any-file: bootstrap/templates/addons/**/*
      - any-glob-to-any-file: bootstrap/tasks/addons/**/*
      - any-glob-to-any-file: bootstrap/vars/addons.sample.yaml
area/ansible:
  - changed-files:
      - any-glob-to-any-file: ansible/**/*
      - any-glob-to-any-file: bootstrap/templates/ansible/**/*
      - any-glob-to-any-file: bootstrap/tasks/ansible/**/*
area/bootstrap:
  - changed-files:
      - any-glob-to-any-file: bootstrap/**/*
      - any-glob-to-any-file: bootstrap/configure.yaml
area/github:
  - changed-files:
      - any-glob-to-any-file: .github/**/*
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: kubernetes/**/*
      - any-glob-to-any-file: bootstrap/templates/kubernetes/**/*
      - any-glob-to-any-file: bootstrap/tasks/kubernetes/**/*
area/taskfile:
  - changed-files:
      - any-glob-to-any-file: .taskfiles/**/*
      - any-glob-to-any-file: Taskfile*

fix(container): update image lscr.io/linuxserver/pairdrop to v1.10.6
  kubernetes/apps/default/pairdrop/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image lscr.io/linuxserver/pairdrop to v1.10.6
  kubernetes/apps/default/pairdrop/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update image ghcr.io/crowdsecurity/crowdsec to v1.6.0
  kubernetes/apps/networking/crowdsec/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update image ghcr.io/crowdsecurity/crowdsec to v1.6.0
  kubernetes/apps/networking/crowdsec/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/cloudnative-pg/postgresql to v14.10-15
  kubernetes/apps/datasci/postgres/cloudnative-pg/db/cluster.yaml
  kubernetes/apps/default/postgres/cloudnative-pg/db/cluster.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/cloudnative-pg/postgresql to v14.10-15
  kubernetes/apps/datasci/postgres/cloudnative-pg/db/cluster.yaml
  kubernetes/apps/default/postgres/cloudnative-pg/db/cluster.yaml
Labels: area/kubernetes

feat(github-action)!: Update peter-evans/create-issue-from-file action to v5.0.0
  .github/workflows/link-check.yaml
Labels: area/github

feat(github-action)!: Update peter-evans/create-issue-from-file action to v5.0.0
  .github/workflows/link-check.yaml
Labels: area/github

fix(helm): update chart crowdsec to 0.9.12
  kubernetes/apps/networking/crowdsec/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update chart crowdsec to 0.9.12
  kubernetes/apps/networking/crowdsec/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image docker.io/cloudflare/cloudflared to v2024.1.5
  kubernetes/apps/networking/cloudflared/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image docker.io/cloudflare/cloudflared to v2024.1.5
  kubernetes/apps/networking/cloudflared/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update rook-ceph group to v1.13.3
  kubernetes/apps/rook-ceph/rook-ceph/cluster/helmrelease.yaml
  kubernetes/apps/rook-ceph/rook-ceph/operator/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update rook-ceph group to v1.13.3
  kubernetes/apps/rook-ceph/rook-ceph/cluster/helmrelease.yaml
  kubernetes/apps/rook-ceph/rook-ceph/operator/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update chart external-dns to 1.14.3
  bootstrap/templates/kubernetes/apps/networking/external-dns/app/helmrelease.yaml.j2
  kubernetes/apps/networking/external-dns/app/helmrelease.yaml
Labels: area/bootstrap, area/kubernetes

fix(helm): update chart external-dns to 1.14.3
  bootstrap/templates/kubernetes/apps/networking/external-dns/app/helmrelease.yaml.j2
  kubernetes/apps/networking/external-dns/app/helmrelease.yaml
Labels: area/bootstrap, area/kubernetes

fix(github-action): update lycheeverse/lychee-action action to v1.9.2
  .github/workflows/link-check.yaml
Labels: area/github

fix(github-action): update lycheeverse/lychee-action action to v1.9.2
  .github/workflows/link-check.yaml
Labels: area/github

chore(deps): update actions/create-github-app-token digest to 86576b3
  .github/workflows/flux-diff.yaml
Labels: area/github

chore(deps): update actions/create-github-app-token digest to 86576b3
  .github/workflows/flux-diff.yaml
Labels: area/github

feat(container): update image prometheus-node-exporter to v4.26.0
  kubernetes/apps/monitoring/node-exporter/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update image prometheus-node-exporter to v4.26.0
  kubernetes/apps/monitoring/node-exporter/app/helmrelease.yaml
Labels: area/kubernetes

feat(container)!: Update image kube-prometheus-stack to v56
  bootstrap/templates/addons/kube-prometheus-stack/app/helmrelease.yaml.j2
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/addons, area/bootstrap, area/kubernetes

feat(container)!: Update image kube-prometheus-stack to v56
  bootstrap/templates/addons/kube-prometheus-stack/app/helmrelease.yaml.j2
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/addons, area/bootstrap, area/kubernetes

chore(deps): update xanmanning.k3s to v3.4.4
  requirements.yaml
Labels: none

chore(deps): update xanmanning.k3s to v3.4.4
  requirements.yaml
Labels: none

fix(container): update image ghcr.io/gethomepage/homepage to v0.8.7
  kubernetes/apps/default/homepage/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/gethomepage/homepage to v0.8.7
  kubernetes/apps/default/homepage/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update chart ingress-nginx to 4.9.1
  kubernetes/apps/networking/nginx/external/helmrelease.yaml
  kubernetes/apps/networking/nginx/internal/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update chart ingress-nginx to 4.9.1
  kubernetes/apps/networking/nginx/external/helmrelease.yaml
  kubernetes/apps/networking/nginx/internal/helmrelease.yaml
Labels: area/kubernetes

feat(container): update image docker.io/sissbruecker/linkding to v1.24.0
  kubernetes/apps/default/linkding/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update image docker.io/sissbruecker/linkding to v1.24.0
  kubernetes/apps/default/linkding/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update chart windmill to 2.0.79
  kubernetes/apps/datasci/windmill/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update chart windmill to 2.0.79
  kubernetes/apps/datasci/windmill/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update chart grafana to 7.2.5
  bootstrap/templates/addons/grafana/app/helmrelease.yaml.j2
  kubernetes/apps/monitoring/grafana/app/helmrelease.yaml
Labels: area/addons, area/bootstrap, area/kubernetes

fix(helm): update chart grafana to 7.2.5
  bootstrap/templates/addons/grafana/app/helmrelease.yaml.j2
  kubernetes/apps/monitoring/grafana/app/helmrelease.yaml
Labels: area/addons, area/bootstrap, area/kubernetes

feat(github-release): update pre-commit hook igorshubovych/markdownlint-cli to v0.39.0
  .pre-commit-config.yaml
Labels: none

feat(github-release): update pre-commit hook igorshubovych/markdownlint-cli to v0.39.0
  .pre-commit-config.yaml
Labels: none

fix: update scrutiny notes
  kubernetes/apps/monitoring/scrutiny/README.md
Labels: area/kubernetes

fix: update scrutiny notes
  kubernetes/apps/monitoring/scrutiny/README.md
Labels: area/kubernetes
