Repository ahgraber/homelab-gitops-k3s, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/addons, area/ansible, area/bootstrap, area/github, area/kubernetes, area/taskfile

fix(github-release): update pre-commit hook crate-ci/typos to v1.18.2
  .pre-commit-config.yaml
Labels: none

fix(helm): update chart cert-manager to v1.14.2
  bootstrap/templates/kubernetes/apps/cert-manager/cert-manager/app/helmrelease.yaml.j2
  kubernetes/apps/cert-manager/cert-manager/app/helmrelease.yaml
Labels: area/bootstrap, area/kubernetes

fix(helm): update chart cert-manager to v1.14.2
  bootstrap/templates/kubernetes/apps/cert-manager/cert-manager/app/helmrelease.yaml.j2
  kubernetes/apps/cert-manager/cert-manager/app/helmrelease.yaml
Labels: area/bootstrap, area/kubernetes

fix(helm): update chart windmill to 2.0.94
  kubernetes/apps/datasci/windmill/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update chart windmill to 2.0.94
  kubernetes/apps/datasci/windmill/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update rook-ceph group to v1.13.4
  kubernetes/apps/rook-ceph/rook-ceph/cluster/helmrelease.yaml
  kubernetes/apps/rook-ceph/rook-ceph/operator/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update rook-ceph group to v1.13.4
  kubernetes/apps/rook-ceph/rook-ceph/cluster/helmrelease.yaml
  kubernetes/apps/rook-ceph/rook-ceph/operator/helmrelease.yaml
Labels: area/kubernetes

chore(deps): update actions/create-github-app-token digest to f4c6bf6
  .github/workflows/flux-diff.yaml
Labels: area/github

chore(deps): update actions/create-github-app-token digest to f4c6bf6
  .github/workflows/flux-diff.yaml
Labels: area/github

fix(container): update image lscr.io/linuxserver/pairdrop to v1.10.7
  kubernetes/apps/default/pairdrop/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image lscr.io/linuxserver/pairdrop to v1.10.7
  kubernetes/apps/default/pairdrop/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update image ghcr.io/usememos/memos to v0.20.0
  kubernetes/apps/default/memos/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update image ghcr.io/usememos/memos to v0.20.0
  kubernetes/apps/default/memos/app/helmrelease.yaml
Labels: area/kubernetes

chore(deps): update netaddr to 1.0.0
  requirements.txt
Labels: none

chore(deps): update netaddr to 1.0.0
  requirements.txt
Labels: none

fix(helm): update chart pgadmin4 to 1.23.3
  kubernetes/apps/default/postgres/pgadmin/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update chart pgadmin4 to 1.23.3
  kubernetes/apps/default/postgres/pgadmin/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update image prometheus-node-exporter to v4.30.0
  kubernetes/apps/monitoring/node-exporter/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update image prometheus-node-exporter to v4.30.0
  kubernetes/apps/monitoring/node-exporter/app/helmrelease.yaml
Labels: area/kubernetes

feat(github-action)!: Update renovatebot/github-action action to v40.1.0
  .github/workflows/renovate.yaml
Labels: area/github

chore(deps): update endbug/label-sync digest to 5207415
  .github/workflows/label-sync.yaml
Labels: area/github

chore(deps): update endbug/label-sync digest to 5207415
  .github/workflows/label-sync.yaml
Labels: area/github

fix(container): update image ghcr.io/gethomepage/homepage to v0.8.8
  kubernetes/apps/default/homepage/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/gethomepage/homepage to v0.8.8
  kubernetes/apps/default/homepage/app/helmrelease.yaml
Labels: area/kubernetes

fix(github-release): update pre-commit hook lucas-c/pre-commit-hooks to v1.5.5
  .pre-commit-config.yaml
Labels: none

fix(github-release): update pre-commit hook lucas-c/pre-commit-hooks to v1.5.5
  .pre-commit-config.yaml
Labels: none

fix(helm): update chart snapshot-controller to 2.1.1
  bootstrap/templates/kubernetes/apps/kube-system/snapshot-controller/app/helmrelease.yaml.j2
  kubernetes/apps/kube-system/snapshot-controller/app/helmrelease-controller.yaml
Labels: area/bootstrap, area/kubernetes

fix(helm): update chart snapshot-controller to 2.1.1
  bootstrap/templates/kubernetes/apps/kube-system/snapshot-controller/app/helmrelease.yaml.j2
  kubernetes/apps/kube-system/snapshot-controller/app/helmrelease-controller.yaml
Labels: area/bootstrap, area/kubernetes

feat(helm): update chart snapshot-controller to 2.2.0
  bootstrap/templates/kubernetes/apps/kube-system/snapshot-controller/app/helmrelease.yaml.j2
  kubernetes/apps/kube-system/snapshot-controller/app/helmrelease-controller.yaml
Labels: area/bootstrap, area/kubernetes

feat(helm): update chart snapshot-controller to 2.2.0
  bootstrap/templates/kubernetes/apps/kube-system/snapshot-controller/app/helmrelease.yaml.j2
  kubernetes/apps/kube-system/snapshot-controller/app/helmrelease-controller.yaml
Labels: area/bootstrap, area/kubernetes

fix(container): update image k8s-ycl to v1.2.3
  kubernetes/apps/kube-system/ycl/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image k8s-ycl to v1.2.3
  kubernetes/apps/kube-system/ycl/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update chart cilium to 1.15.1
  ansible/playbooks/templates/custom-cilium-helmchart.yaml.j2
  bootstrap/templates/ansible/playbooks/templates/custom-cilium-helmchart.yaml.j2.j2
  bootstrap/templates/kubernetes/apps/kube-system/cilium/app/helmrelease.yaml.j2
  kubernetes/apps/kube-system/cilium/app/helmrelease.yaml
Labels: area/ansible, area/bootstrap, area/kubernetes

fix(helm): update chart cilium to 1.15.1
  ansible/playbooks/templates/custom-cilium-helmchart.yaml.j2
  bootstrap/templates/ansible/playbooks/templates/custom-cilium-helmchart.yaml.j2.j2
  bootstrap/templates/kubernetes/apps/kube-system/cilium/app/helmrelease.yaml.j2
  kubernetes/apps/kube-system/cilium/app/helmrelease.yaml
Labels: area/ansible, area/bootstrap, area/kubernetes

feat(container): update image ghcr.io/cloudnative-pg/postgresql to v14.11-3
  kubernetes/apps/datasci/postgres/cloudnative-pg/db/cluster.yaml
  kubernetes/apps/default/postgres/cloudnative-pg/db/cluster.yaml
Labels: area/kubernetes

feat(container): update image ghcr.io/cloudnative-pg/postgresql to v14.11-3
  kubernetes/apps/datasci/postgres/cloudnative-pg/db/cluster.yaml
  kubernetes/apps/default/postgres/cloudnative-pg/db/cluster.yaml
Labels: area/kubernetes

feat(github-release): update pre-commit hook adrienverge/yamllint to v1.35.1
  .pre-commit-config.yaml
Labels: none

feat(github-release): update pre-commit hook adrienverge/yamllint to v1.35.1
  .pre-commit-config.yaml
Labels: none

fix(container): update image prometheus-node-exporter to v4.30.2
  kubernetes/apps/monitoring/node-exporter/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image prometheus-node-exporter to v4.30.2
  kubernetes/apps/monitoring/node-exporter/app/helmrelease.yaml
Labels: area/kubernetes

.github/labeler.yaml:

---
area/addons:
  - changed-files:
      - any-glob-to-any-file: bootstrap/templates/addons/**/*
      - any-glob-to-any-file: bootstrap/tasks/addons/**/*
      - any-glob-to-any-file: bootstrap/vars/addons.sample.yaml
area/ansible:
  - changed-files:
      - any-glob-to-any-file: ansible/**/*
      - any-glob-to-any-file: bootstrap/templates/ansible/**/*
      - any-glob-to-any-file: bootstrap/tasks/ansible/**/*
area/bootstrap:
  - changed-files:
      - any-glob-to-any-file: bootstrap/**/*
      - any-glob-to-any-file: bootstrap/configure.yaml
area/github:
  - changed-files:
      - any-glob-to-any-file: .github/**/*
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: kubernetes/**/*
      - any-glob-to-any-file: bootstrap/templates/kubernetes/**/*
      - any-glob-to-any-file: bootstrap/tasks/kubernetes/**/*
area/taskfile:
  - changed-files:
      - any-glob-to-any-file: .taskfiles/**/*
      - any-glob-to-any-file: Taskfile*
