Repository ahgraber/homelab-gitops-k3s, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/docs, area/github, area/kubernetes, area/taskfile

.github/labeler.yaml:

---
area/ansible:
  - changed-files:
      - any-glob-to-any-file: ansible/**/*
area/docs:
  - changed-files:
      - any-glob-to-any-file:
          - "docs/**/*"
          - "README.md"
area/github:
  - changed-files:
      - any-glob-to-any-file: .github/**/*
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: kubernetes/**/*
area/taskfile:
  - changed-files:
      - any-glob-to-any-file: .taskfiles/**/*
      - any-glob-to-any-file: Taskfile*

fix(ext-postgres-operator): debug postgres uses secret creation
  kubernetes/apps/database/ext-postgres-operator/app/helmrelease.yaml
Labels: area/kubernetes

feat(kube-system): clean up unused apps
  kubernetes/apps/default/kustomization.yaml
  kubernetes/apps/kube-system/coredns/app/helmrelease.yaml
  kubernetes/apps/kube-system/coredns/app/kustomization.yaml
  kubernetes/apps/kube-system/coredns/app/source.yaml
  kubernetes/apps/kube-system/coredns/ks.yaml
  kubernetes/apps/kube-system/kube-cleanup-operator/README.md
  kubernetes/apps/kube-system/kube-cleanup-operator/app/helmrelease.yaml
  kubernetes/apps/kube-system/kube-cleanup-operator/app/kustomization.yaml
  kubernetes/apps/kube-system/kube-cleanup-operator/ks.yaml
  kubernetes/apps/kube-system/kustomization.yaml
  kubernetes/apps/kube-system/ycl/README.md
  kubernetes/apps/kube-system/ycl/app/helmrelease.yaml
  kubernetes/apps/kube-system/ycl/app/kustomization.yaml
  kubernetes/apps/kube-system/ycl/ks.yaml
Labels: area/kubernetes

feat(kyverno): add kyverno and policies
  kubernetes/apps/kyverno/README.md
  kubernetes/apps/kyverno/kustomization.yaml
  kubernetes/apps/kyverno/kyverno/app/helmrelease.yaml
  kubernetes/apps/kyverno/kyverno/app/kustomization.yaml
  kubernetes/apps/kyverno/kyverno/app/rbac.yaml
  kubernetes/apps/kyverno/kyverno/app/source.yaml
  kubernetes/apps/kyverno/kyverno/ks.yaml
  kubernetes/apps/kyverno/kyverno/policies/add-safe-to-evict.yaml
  kubernetes/apps/kyverno/kyverno/policies/kustomization.yaml
  kubernetes/apps/kyverno/kyverno/policies/remove-cpu-limits.yaml
  kubernetes/apps/kyverno/namespace.yaml
Labels: area/kubernetes

chore(kube-prometheus-stack): config cleanup and alertmanager configuration
  kubernetes/apps/monitoring/kube-prometheus-stack/app/alertmanager.yaml
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
  kubernetes/apps/monitoring/kube-prometheus-stack/app/kube-state-metrics.yaml
  kubernetes/apps/monitoring/kube-prometheus-stack/app/kustomization.yaml
  kubernetes/apps/monitoring/kube-prometheus-stack/app/secret.alertmgrNotifiers.sops.yaml
  kubernetes/apps/monitoring/kube-prometheus-stack/app/secret.alertmgrNotifiers.sops.yaml.tmpl
Labels: area/kubernetes

chore(readme): typos & formatting
  README.md
Labels: area/docs

feat(kyverno): add kyverno and policies
  kubernetes/apps/kyverno/kyverno/ks.yaml
Labels: area/kubernetes

chore(kube-prometheus-stack): config cleanup and alertmanager configuration
  kubernetes/apps/monitoring/kube-prometheus-stack/app/secret-alertmgrNotifiers.sops.yaml
  kubernetes/apps/monitoring/kube-prometheus-stack/app/secret-alertmgrNotifiers.sops.yaml.tmpl
  kubernetes/flux/vars/custom-secrets.sops.yaml
  kubernetes/flux/vars/custom-secrets.sops.yaml.tmpl
Labels: area/kubernetes

feat(rook-ceph): update config
  kubernetes/apps/rook-ceph/rook-ceph/cluster/helmrelease.yaml
Labels: area/kubernetes

chore(kube-prometheus-stack): config cleanup and alertmanager configuration
  kubernetes/flux/vars/custom-secrets.sops.yaml
Labels: area/kubernetes

chore(kube-prometheus-stack): config cleanup and alertmanager configuration
  kubernetes/apps/monitoring/kube-prometheus-stack/addons/rules/etcd.yaml
  kubernetes/apps/monitoring/kube-prometheus-stack/addons/rules/kustomization.yaml
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes

chore(kube-prometheus-stack): config cleanup and alertmanager configuration
  ansible/inventory/group_vars/controller/main.yaml
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/ansible, area/kubernetes

feat(rook-ceph): add custom error handling for ingress
  kubernetes/apps/rook-ceph/rook-ceph/cluster/helmrelease.yaml
Labels: area/kubernetes

feat(rook-ceph): add custom error handling for ingress
  kubernetes/apps/rook-ceph/rook-ceph/cluster/helmrelease.yaml
Labels: area/kubernetes

chore(kube-prometheus-stack): config cleanup and alertmanager configuration
  kubernetes/apps/monitoring/kube-prometheus-stack/crds/helmrelease.yaml
  kubernetes/apps/monitoring/kube-prometheus-stack/crds/kustomization.yaml
  kubernetes/apps/monitoring/kube-prometheus-stack/crds/source.yaml
  kubernetes/apps/monitoring/kube-prometheus-stack/ks.yaml
Labels: area/kubernetes

chore(kube-prometheus-stack): config cleanup and alertmanager configuration
  kubernetes/apps/monitoring/kube-prometheus-stack/app/alertmanager.yaml
  kubernetes/apps/monitoring/kube-prometheus-stack/app/secret-alertmgrNotifiers.sops.yaml
  kubernetes/apps/monitoring/kube-prometheus-stack/app/secret-alertmgrNotifiers.sops.yaml.tmpl
Labels: area/kubernetes

chore(kube-prometheus-stack): config cleanup and alertmanager configuration
  kubernetes/apps/monitoring/kube-prometheus-stack/app/alertmanager.yaml
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes

Fix public HTTPRoute wiring and update gateway docs
  README.md
  ansible/inventory/group_vars/controller/main.yaml
  kubernetes/apps/blog/umami/app/helmrelease.yaml
  kubernetes/apps/datasci/prefect/server/helmrelease.yaml
  kubernetes/apps/flux-system/addons/webhooks/github/ingress.yaml
  kubernetes/apps/flux-system/addons/webhooks/github/kustomization.yaml
  kubernetes/apps/flux-system/addons/webhooks/github/route.yaml
  kubernetes/apps/kube-system/cilium/README.md
  kubernetes/apps/networking/README.md
  kubernetes/apps/networking/cloudflared/app/configs/config.yaml
  kubernetes/apps/networking/external-services/README.md
  kubernetes/apps/networking/external-services/ks.yaml
  kubernetes/apps/networking/external-services/services/homeassistant.yaml
  kubernetes/apps/networking/ingress-nginx/README.md
  kubernetes/apps/networking/ingress-nginx/external/helmrelease.yaml
  kubernetes/apps/networking/ingress-nginx/external/kustomization.yaml
  kubernetes/apps/networking/ingress-nginx/external/secret-maxmind.sops.yaml
  kubernetes/apps/networking/ingress-nginx/external/secret-maxmind.sops.yaml.tmpl
  kubernetes/apps/networking/ingress-nginx/internal/helmrelease.yaml
  kubernetes/apps/networking/ingress-nginx/internal/kustomization.yaml
  kubernetes/apps/networking/ingress-nginx/ks.yaml
  kubernetes/apps/networking/kustomization.yaml
  kubernetes/apps/rook-ceph/rook-ceph/ks.yaml
  kubernetes/flux/repositories/helm/ingress-nginx.yaml
  kubernetes/flux/repositories/helm/kustomization.yaml
Labels: area/ansible, area/docs, area/kubernetes

feat(openai): update openai integrations
  kubernetes/apps/default/karakeep/app/helmrelease.yaml
  kubernetes/apps/default/karakeep/app/secret.sops.yaml
  kubernetes/apps/default/karakeep/app/secret.sops.yaml.tmpl
  kubernetes/apps/default/mealie/app/helmrelease.yaml
  kubernetes/apps/default/mealie/app/secret.sops.yaml
  kubernetes/apps/default/mealie/app/secret.sops.yaml.tmpl
Labels: area/kubernetes

fix(karakeep): revert to gpt-4o* family; gpt-5* not supported yet
  kubernetes/apps/default/karakeep/app/helmrelease.yaml
Labels: area/kubernetes

fix(vpa): oom
  kubernetes/apps/monitoring/goldilocks/app/helmrelease-vpa.yaml
Labels: area/kubernetes

chore: promote flux notification apis to v1
  kubernetes/apps/database/namespace.yaml
  kubernetes/apps/flux-system/addons/alerts/alertmanager/notification.yaml
  kubernetes/apps/monitoring/namespace.yaml
Labels: area/kubernetes

chore: align flux schemas with v1 apis
  kubernetes/apps/flux-system/addons/webhooks/github/receiver.yaml
  kubernetes/apps/kyverno/kyverno/app/source.yaml
  kubernetes/apps/networking/k8s-gateway/app/source.yaml
  kubernetes/flux/repositories/helm/stevehipwell.yaml
Labels: area/kubernetes

docs: update flux bootstrap instructions
  README.md
Labels: area/docs

docs: add flux v2.7 upgrade review
  docs/flux/upgrade-2.7-review.md
Labels: area/docs

Document Cilium Gateway migration considerations
  kubernetes/apps/networking/README.md
Labels: area/kubernetes

Fix umami route gateway target
  kubernetes/apps/blog/umami/app/helmrelease.yaml
Labels: area/kubernetes

Document gateway exposure split
  README.md
  kubernetes/apps/blog/umami/app/helmrelease.yaml
  kubernetes/apps/networking/README.md
Labels: area/docs, area/kubernetes

Revert "feat(deps)!: Update pre-commit hook hukkin/mdformat ( 0.7.22 → 1.0.0 )"
  .pre-commit-config.yaml
Labels: none

fix: manage nginx-ingress source from internal
  kubernetes/apps/networking/ingress-nginx/external/kustomization.yaml
Labels: area/kubernetes

chore: reorg helmrelease keys
  flake.nix
  kubernetes/apps/datasci/prefect/server/helmrelease.yaml
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
  kubernetes/apps/rook-ceph/rook-ceph/cluster/helmrelease.yaml
  kubernetes/apps/rook-ceph/rook-ceph/operator/helmrelease.yaml
Labels: area/kubernetes

fix: conflict between outer namespace ks and inner app ks when namespace name == app name
  kubernetes/apps/cert-manager/cert-manager/app/helmrelease.yaml
  kubernetes/apps/cert-manager/cert-manager/ks.yaml
  kubernetes/apps/cert-manager/ks.yaml
  kubernetes/apps/kustomization.yaml
  kubernetes/apps/kyverno/ks.yaml
  kubernetes/apps/kyverno/kyverno/app/helmrelease.yaml
  kubernetes/apps/kyverno/kyverno/ks.yaml
  kubernetes/apps/volsync-system/ks.yaml
  kubernetes/apps/volsync-system/namespace.yaml
  kubernetes/apps/volsync-system/volsync/app/helmrelease.yaml
  kubernetes/apps/volsync-system/volsync/app/source.yaml
  kubernetes/apps/volsync-system/volsync/ks.yaml
  kubernetes/flux/repositories/README.md
Labels: area/kubernetes

chore: update yaml-language-server schema references in HelmRelease files
  kubernetes/apps/database/ext-postgres-operator/app/helmrelease.yaml
  kubernetes/apps/database/pgadmin/app/helmrelease.yaml
  kubernetes/apps/datasci/postgres/ext-postgres-operator/app/helmrelease.yaml
  kubernetes/apps/datasci/windmill/app/helmrelease.yaml
  kubernetes/apps/kube-system/cilium/app/helmrelease.yaml
  kubernetes/apps/kube-system/local-path-provisioner/app/helmrelease.yaml
  kubernetes/apps/kube-system/metrics-server/app/helmrelease.yaml
  kubernetes/apps/kube-system/reflector/app/helmrelease.yaml
  kubernetes/apps/monitoring/grafana/app/helmrelease.yaml
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
  kubernetes/apps/monitoring/loki/app/helmrelease.yaml
  kubernetes/apps/monitoring/node-problem-detector/app/helmrelease.yaml
  kubernetes/apps/networking/ingress-nginx/external/helmrelease.yaml
  kubernetes/apps/networking/ingress-nginx/internal/helmrelease.yaml
  kubernetes/apps/networking/k8s-gateway/app/helmrelease.yaml
  kubernetes/apps/rook-ceph/rook-ceph/cluster/helmrelease.yaml
  kubernetes/apps/rook-ceph/rook-ceph/operator/helmrelease.yaml
  kubernetes/apps/volsync/README.md
  kubernetes/apps/volsync/ks.yaml
  kubernetes/apps/volsync/kustomization.yaml
  kubernetes/apps/volsync/namespace.yaml
  kubernetes/apps/volsync/volsync/app/helmrelease.yaml
  kubernetes/apps/volsync/volsync/app/kustomization.yaml
  kubernetes/apps/volsync/volsync/app/prometheusrule.yaml
  kubernetes/apps/volsync/volsync/app/source.yaml
  kubernetes/apps/volsync/volsync/ks.yaml
Labels: area/kubernetes

fix: add explicit kustomization for flux cluster components
  kubernetes/flux/kustomization.yaml
  kubernetes/flux/repositories/helm/bitnami.yaml
  kubernetes/flux/repositories/helm/jupyterhub.yaml
  kubernetes/flux/repositories/helm/kustomization.yaml
  kubernetes/flux/repositories/helm/seldon.yaml
Labels: area/kubernetes

feat(kustomization): add patches for propagating substitutions to child Kustomizations
  kubernetes/apps/blog/ks.yaml
  kubernetes/apps/cert-manager/ks.yaml
  kubernetes/apps/database/ks.yaml
  kubernetes/apps/datasci/ks.yaml
  kubernetes/apps/debug/ks.yaml
  kubernetes/apps/default/ks.yaml
  kubernetes/apps/flux-system/ks.yaml
  kubernetes/apps/kube-system/ks.yaml
  kubernetes/apps/kyverno/ks.yaml
  kubernetes/apps/monitoring/ks.yaml
  kubernetes/apps/networking/ks.yaml
  kubernetes/apps/rook-ceph/ks.yaml
  kubernetes/apps/system-upgrade/ks.yaml
  kubernetes/apps/volsync/ks.yaml
Labels: area/kubernetes

fix(cert-manager): refine cert-manager Kustomization dependencies
  kubernetes/apps/cert-manager/cert-manager/ks.yaml
Labels: area/kubernetes

fix(external-dns): update CRD and HelmRelease configurations for Cloudflare integration
  kubernetes/apps/networking/external-dns/app/dnsendpoint-crd.yaml
  kubernetes/apps/networking/external-dns/app/helmrelease.yaml
  kubernetes/apps/networking/external-dns/app/kustomization.yaml
  kubernetes/apps/networking/external-dns/app/secret.sops.yaml
  kubernetes/apps/networking/external-dns/app/secret.sops.yaml.tmpl
  kubernetes/apps/networking/external-dns/ks.yaml
Labels: area/kubernetes

chore(kubernetes): simplify fluxtomization/kustomization
  kubernetes/apps/blog/ks.yaml
  kubernetes/apps/blog/kustomization.yaml
  kubernetes/apps/cert-manager/ks.yaml
  kubernetes/apps/cert-manager/kustomization.yaml
  kubernetes/apps/database/ks.yaml
  kubernetes/apps/database/kustomization.yaml
  kubernetes/apps/datasci/ks.yaml
  kubernetes/apps/datasci/kustomization.yaml
  kubernetes/apps/debug/ks.yaml
  kubernetes/apps/debug/kustomization.yaml
  kubernetes/apps/default/ks.yaml
  kubernetes/apps/default/kustomization.yaml
  kubernetes/apps/flux-system/ks.yaml
  kubernetes/apps/flux-system/kustomization.yaml
  kubernetes/apps/kube-system/ks.yaml
  kubernetes/apps/kube-system/kustomization.yaml
  kubernetes/apps/kustomization.yaml
  kubernetes/apps/kyverno/ks.yaml
  kubernetes/apps/kyverno/kustomization.yaml
  kubernetes/apps/monitoring/ks.yaml
  kubernetes/apps/monitoring/kustomization.yaml
  kubernetes/apps/networking/ks.yaml
  kubernetes/apps/networking/kustomization.yaml
  kubernetes/apps/rook-ceph/ks.yaml
  kubernetes/apps/rook-ceph/kustomization.yaml
  kubernetes/apps/system-upgrade/ks.yaml
  kubernetes/apps/system-upgrade/kustomization.yaml
  kubernetes/apps/volsync/ks.yaml
  kubernetes/apps/volsync/kustomization.yaml
Labels: area/kubernetes

fix(kubernetes): revert namespace declaration in kustomizations
  kubernetes/apps/blog/kustomization.yaml
  kubernetes/apps/cert-manager/kustomization.yaml
  kubernetes/apps/database/kustomization.yaml
  kubernetes/apps/datasci/kustomization.yaml
  kubernetes/apps/debug/kustomization.yaml
  kubernetes/apps/default/kustomization.yaml
  kubernetes/apps/flux-system/kustomization.yaml
  kubernetes/apps/kube-system/kustomization.yaml
  kubernetes/apps/kyverno/kustomization.yaml
  kubernetes/apps/monitoring/kustomization.yaml
  kubernetes/apps/networking/kustomization.yaml
  kubernetes/apps/rook-ceph/kustomization.yaml
  kubernetes/apps/system-upgrade/kustomization.yaml
  kubernetes/apps/volsync/kustomization.yaml
  kubernetes/flux/kustomization.yaml
Labels: area/kubernetes

feat(testing): temporarily use staging and disable DBs
  kubernetes/apps/database/kustomization.yaml
  kubernetes/apps/datasci/kustomization.yaml
  kubernetes/apps/networking/ingress-nginx/external/kustomization.yaml
  kubernetes/apps/networking/ingress-nginx/internal/helmrelease.yaml
Labels: area/kubernetes

feat(observability): migrate to observability ns
  kubernetes/apps/database/namespace.yaml
  kubernetes/apps/flux-system/addons/alerts/alertmanager/notification.yaml
  kubernetes/apps/flux-system/addons/ks.yaml
  kubernetes/apps/flux-system/addons/observability/kustomization.yaml
  kubernetes/apps/flux-system/addons/observability/pod-resources-max.json
  kubernetes/apps/flux-system/addons/observability/podmonitor.yaml
  kubernetes/apps/flux-system/addons/observability/prometheusrule.yaml
  kubernetes/apps/observability/goldilocks/app/helmrelease-vpa.yaml
  kubernetes/apps/observability/goldilocks/ks.yaml
  kubernetes/apps/observability/grafana/app/helmrelease.yaml
  kubernetes/apps/observability/grafana/ks.yaml
  kubernetes/apps/observability/karma/app/helmrelease.yaml
  kubernetes/apps/observability/karma/ks.yaml
  kubernetes/apps/observability/kube-prometheus-stack/ks.yaml
  kubernetes/apps/observability/loki/ks.yaml
  kubernetes/apps/observability/namespace.yaml
  kubernetes/apps/observability/node-problem-detector/ks.yaml
  kubernetes/apps/observability/nut-exporter/ks.yaml
  kubernetes/apps/observability/scrutiny/app/helmrelease.yaml
  kubernetes/apps/observability/scrutiny/collector/helmrelease-collector.yaml
  kubernetes/apps/observability/scrutiny/ks.yaml
  kubernetes/apps/observability/speedtest-exporter/ks.yaml
  kubernetes/apps/rook-ceph/rook-ceph/cluster/helmrelease.yaml
Labels: area/kubernetes
