Repository ahgraber/homelab-gitops-k3s, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/docs, area/github, area/kubernetes, area/taskfile

.github/labeler.yaml:

---
area/ansible:
  - changed-files:
      - any-glob-to-any-file: ansible/**/*
area/docs:
  - changed-files:
      - any-glob-to-any-file:
          - "docs/**/*"
          - "README.md"
area/github:
  - changed-files:
      - any-glob-to-any-file: .github/**/*
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: kubernetes/**/*
area/taskfile:
  - changed-files:
      - any-glob-to-any-file: .taskfiles/**/*
      - any-glob-to-any-file: Taskfile*

fix(kube-vip): revert v0.9.2 due to "error creating kubernetes client: specifying a root certificates file with the insecure flag is not allowed"
  ansible/playbooks/templates/kube-vip-daemonset.yaml.j2
  kubernetes/apps/kube-system/kube-vip/app/daemonset.yaml
Labels: area/ansible, area/kubernetes

fix(kube-vip): error creating kubernetes client: specifying a root certificates file with the insecure flag is not allowed
  ansible/playbooks/templates/kube-vip-daemonset.yaml.j2
  kubernetes/apps/kube-system/kube-vip/app/daemonset.yaml
Labels: area/ansible, area/kubernetes

fix: catch up kube-vip version in template
  ansible/playbooks/templates/kube-vip-daemonset.yaml.j2
Labels: area/ansible

fix: rm tracktor
  kubernetes/apps/default/kustomization.yaml
  kubernetes/apps/default/tracktor/README.md
  kubernetes/apps/default/tracktor/app/helmrelease.yaml
  kubernetes/apps/default/tracktor/app/kustomization.yaml
  kubernetes/apps/default/tracktor/ks.yaml
Labels: area/kubernetes

fix(scrutiny): increase wait before probing scrutiny to let influxdb come up
  kubernetes/apps/monitoring/scrutiny/app/helmrelease-scrutiny.yaml
Labels: area/kubernetes

fix: tracktor
  kubernetes/apps/default/tracktor/app/helmrelease.yaml
Labels: area/kubernetes

feat: add tracktor
  kubernetes/apps/default/kustomization.yaml
  kubernetes/apps/default/tracktor/README.md
  kubernetes/apps/default/tracktor/app/helmrelease.yaml
  kubernetes/apps/default/tracktor/app/kustomization.yaml
  kubernetes/apps/default/tracktor/app/pvc.yaml
  kubernetes/apps/default/tracktor/ks.yaml
Labels: area/kubernetes

fix: tracktor ingress
  kubernetes/apps/default/tracktor/app/helmrelease.yaml
  kubernetes/apps/default/tracktor/app/kustomization.yaml
  kubernetes/apps/default/tracktor/app/pvc.yaml
Labels: area/kubernetes

fix: tracktor
  kubernetes/apps/default/tracktor/app/kustomization.yaml
Labels: area/kubernetes

fix(stirling-pdf): now pvc exists, so restore
  kubernetes/apps/default/stirling-pdf/app/kustomization.yaml
Labels: area/kubernetes

fix(stirling-pdf): add config pvc
  kubernetes/apps/default/stirling-pdf/app/helmrelease.yaml
  kubernetes/apps/default/stirling-pdf/app/kustomization.yaml
  kubernetes/apps/default/stirling-pdf/ks.yaml
Labels: area/kubernetes

fix(stirling-pdf): add pipeline emptydir
  kubernetes/apps/default/stirling-pdf/app/helmrelease.yaml
Labels: area/kubernetes

Revert "fix(nginx): maxmind overload"
  kubernetes/apps/networking/ingress-nginx/external/helmrelease.yaml
Labels: area/kubernetes

fix(stirling-pdf): fix controller/pvc/host naming
  kubernetes/apps/default/stirling-pdf/app/helmrelease.yaml
Labels: area/kubernetes

fix(nginx): proxy buffer errors
  kubernetes/apps/networking/ingress-nginx/external/helmrelease.yaml
  kubernetes/apps/networking/ingress-nginx/internal/helmrelease.yaml
Labels: area/kubernetes

fix(nginx): maxmind overload
  kubernetes/apps/networking/ingress-nginx/external/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update CiliumLoadBalancerIPPool API version to v2
  kubernetes/apps/kube-system/cilium/app/cilium-l2.yaml
Labels: area/kubernetes

fix(cilium): revert CiliumLoadBalancerIPPool api version
  kubernetes/apps/kube-system/cilium/app/cilium-l2.yaml
Labels: area/kubernetes

fix(pre-commit): allow multidoc yaml files
  .pre-commit-config.yaml
Labels: none

fix: sync ansible with recent version updates
  .github/renovate.json5
  ansible/inventory/group_vars/kubernetes/main.yaml
  ansible/playbooks/templates/cilium-helmchart.yaml.j2
  ansible/playbooks/templates/kube-vip-daemonset.yaml.j2
Labels: area/ansible, area/github

fix(cilium): update CiliumLoadBalancerIPPool api version to v2
  kubernetes/apps/kube-system/cilium/app/cilium-l2.yaml
Labels: area/kubernetes

fix: system upgrade controller service account
  kubernetes/apps/system-upgrade/controller/app/helmrelease.yaml
Labels: area/kubernetes

fix: system upgrade controller service account
  kubernetes/apps/system-upgrade/controller/app/helmrelease.yaml
  kubernetes/apps/system-upgrade/controller/app/rbac.yaml
Labels: area/kubernetes

fix: system upgrade controller service account
  kubernetes/apps/system-upgrade/controller/app/helmrelease.yaml
  kubernetes/apps/system-upgrade/controller/app/kustomization.yaml
  kubernetes/apps/system-upgrade/controller/app/rbac.yaml
Labels: area/kubernetes

fix: system upgrade controller service account
  kubernetes/apps/system-upgrade/controller/app/helmrelease.yaml
Labels: area/kubernetes

fix: system upgrade controller service account
  kubernetes/apps/system-upgrade/controller/app/helmrelease.yaml
  kubernetes/apps/system-upgrade/namespace.yaml
Labels: area/kubernetes

fix: system upgrade controller service account
  kubernetes/apps/system-upgrade/controller/app/helmrelease.yaml
  kubernetes/apps/system-upgrade/controller/app/kustomization.yaml
  kubernetes/apps/system-upgrade/controller/app/rbac.yaml
Labels: area/kubernetes

fix: system upgrade controller service account
  kubernetes/apps/system-upgrade/controller/app/helmrelease.yaml
  kubernetes/apps/system-upgrade/controller/app/kustomization.yaml
  kubernetes/apps/system-upgrade/controller/plans/k3s-agent.yaml
  kubernetes/apps/system-upgrade/controller/plans/k3s-server.yaml
Labels: area/kubernetes

fix: system upgrade controller plans
  kubernetes/apps/system-upgrade/README.md
  kubernetes/apps/system-upgrade/controller/plans/k3s-agent.yaml
  kubernetes/apps/system-upgrade/controller/plans/k3s-server.yaml
Labels: area/kubernetes

fix: homepage links
  kubernetes/apps/default/homepage/app/configmap.yaml
Labels: area/kubernetes

fix(ansible): update stdout callback and result format settings
  ansible/ansible.cfg
Labels: area/ansible

fix(k3s): keep ansible k3s var in sync to v1.31.13+k3s1
  ansible/inventory/group_vars/kubernetes/main.yaml
Labels: area/ansible

fix(kube-vip): update daemonset and rbac configurations to align with recent releases
  .taskfiles/ansible/taskfile.yaml
  ansible/playbooks/templates/kube-vip-daemonset.yaml.j2
  ansible/playbooks/templates/kube-vip-rbac.yaml.j2
  kubernetes/apps/kube-system/kube-vip/app/daemonset.yaml
  kubernetes/apps/kube-system/kube-vip/app/rbac.yaml
Labels: area/ansible, area/kubernetes, area/taskfile

fix(cilium): remove deprecated containerRuntime integration settings
  ansible/playbooks/templates/cilium-helmchart.yaml.j2
Labels: area/ansible

fix(flux): update dnsendpoint CRD URL to correct path
  .taskfiles/flux/taskfile.yaml
Labels: area/taskfile

feat(kube-prometheus-stack): add source.yaml for OCIRepository configuration
  kubernetes/apps/monitoring/kube-prometheus-stack/crds/kustomization.yaml
  kubernetes/apps/monitoring/kube-prometheus-stack/crds/source.yaml
Labels: area/kubernetes

fix(kube-prometheus-stack): update HelmRelease to use OCIRepository for chart reference
  kubernetes/apps/monitoring/kube-prometheus-stack/crds/helmrelease.yaml
Labels: area/kubernetes

fix(kube-prometheus-stack): remove crds dependency
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
  kubernetes/apps/monitoring/kube-prometheus-stack/ks.yaml
Labels: area/kubernetes

fix(cloudnative-pg): update recovery source and server names
  kubernetes/apps/database/cloudnative-pg/cluster/cluster16.yaml
  kubernetes/apps/datasci/postgres/cloudnative-pg/cluster/cluster16.yaml
Labels: area/kubernetes

fix(ext-postgres-operator): debug postgres uses secret creation
  kubernetes/apps/database/ext-postgres-operator/app/helmrelease.yaml
Labels: area/kubernetes
