Repository ahgraber/homelab-gitops-k3s, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/addons, area/ansible, area/bootstrap, area/github, area/kubernetes

.github/labeler.yaml:

---
area/addons:
  - "bootstrap/templates/addons/**/*"
  - "bootstrap/tasks/addons/**/*"
  - "bootstrap/vars/addons.sample.yaml"
area/ansible:
  - "ansible/**/*"
  - "bootstrap/templates/ansible/**/*"
  - "bootstrap/tasks/ansible/**/*"
area/bootstrap:
  - "bootstrap/**/*"
  - "bootstrap/configure.yaml"
area/github:
  - ".github/**/*"
area/kubernetes:
  - "kubernetes/**/*"
  - "bootstrap/templates/kubernetes/**/*"
  - "bootstrap/tasks/kubernetes/**/*"

fix: standardize naming in tasks
  .taskfiles/ClusterTasks.yaml
  .taskfiles/KubernetesTasks.yaml
  .taskfiles/RookTasks.yaml
Labels: none

fix: standardize naming in tasks
  .taskfiles/ClusterTasks.yaml
  .taskfiles/KubernetesTasks.yaml
  .taskfiles/RookTasks.yaml
Labels: none

fix: allow patching for rook-ceph nuke task
  .taskfiles/RookTasks.yaml
Labels: none

fix: allow patching for rook-ceph nuke task
  .taskfiles/RookTasks.yaml
Labels: none

fix(container): update image lscr.io/linuxserver/pairdrop to v1.8.3
  kubernetes/apps/default/pairdrop/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image lscr.io/linuxserver/pairdrop to v1.8.3
  kubernetes/apps/default/pairdrop/app/helmrelease.yaml
Labels: area/kubernetes

fix: tasks
  .taskfiles/AnsibleTasks.yaml
  .taskfiles/ClusterTasks.yaml
  ansible/playbooks/apt-update.yaml
Labels: area/ansible

fix: tasks
  .taskfiles/AnsibleTasks.yaml
  .taskfiles/ClusterTasks.yaml
  ansible/playbooks/apt-update.yaml
Labels: area/ansible

feat(container): update image kube-prometheus-stack to v51.5.1
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update image kube-prometheus-stack to v51.5.1
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update image ghcr.io/hay-kot/homebox to v0.10.1
  kubernetes/apps/default/homebox/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update image ghcr.io/hay-kot/homebox to v0.10.1
  kubernetes/apps/default/homebox/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update chart reloader to 1.0.43
  bootstrap/templates/kubernetes/apps/kube-system/reloader/app/helmrelease.yaml.j2
  kubernetes/apps/kube-system/reloader/app/helmrelease.yaml
Labels: area/bootstrap, area/kubernetes

fix(helm): update chart reloader to 1.0.43
  bootstrap/templates/kubernetes/apps/kube-system/reloader/app/helmrelease.yaml.j2
  kubernetes/apps/kube-system/reloader/app/helmrelease.yaml
Labels: area/bootstrap, area/kubernetes

feat(helm): update chart prefect-agent to 2023.10.10
  kubernetes/apps/datasci/prefect/agent/helmrelease.yaml
Labels: area/kubernetes

feat(helm): update chart prefect-agent to 2023.10.10
  kubernetes/apps/datasci/prefect/agent/helmrelease.yaml
Labels: area/kubernetes

feat(helm): update chart prefect-server to 2023.10.10
  kubernetes/apps/datasci/prefect/server/helmrelease.yaml
Labels: area/kubernetes

feat(helm): update chart prefect-server to 2023.10.10
  kubernetes/apps/datasci/prefect/server/helmrelease.yaml
Labels: area/kubernetes

feat(helm): update chart prefect-worker to 2023.10.10
  kubernetes/apps/datasci/prefect/worker/helmrelease.yaml
Labels: area/kubernetes

feat(helm): update chart prefect-worker to 2023.10.10
  kubernetes/apps/datasci/prefect/worker/helmrelease.yaml
Labels: area/kubernetes

fix: prefect chart updates
  kubernetes/apps/datasci/prefect/agent/helmrelease.yaml
  kubernetes/apps/datasci/prefect/server/helmrelease.yaml
  kubernetes/apps/datasci/prefect/worker/helmrelease.yaml
Labels: area/kubernetes

fix: prefect chart updates
  kubernetes/apps/datasci/prefect/agent/helmrelease.yaml
  kubernetes/apps/datasci/prefect/server/helmrelease.yaml
  kubernetes/apps/datasci/prefect/worker/helmrelease.yaml
Labels: area/kubernetes

fix: ensure kustomization patch follow schema
  kubernetes/apps/rook-ceph/rook-ceph/addons/kustomization.yaml
Labels: area/kubernetes

fix: ensure kustomization patch follow schema
  kubernetes/apps/rook-ceph/rook-ceph/addons/kustomization.yaml
Labels: area/kubernetes

feat(helm): update chart pgadmin4 to 1.18.0
  kubernetes/apps/default/postgres/pgadmin/app/helmrelease.yaml
Labels: area/kubernetes

feat(helm): update chart pgadmin4 to 1.18.0
  kubernetes/apps/default/postgres/pgadmin/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image kube-prometheus-stack to v51.5.3
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image kube-prometheus-stack to v51.5.3
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image weave-gitops to v4.0.32
  bootstrap/templates/addons/weave-gitops/app/helmrelease.yaml.j2
  kubernetes/apps/flux-system/weave-gitops/app/helmrelease.yaml
Labels: area/addons, area/bootstrap, area/kubernetes

fix(container): update image weave-gitops to v4.0.32
  bootstrap/templates/addons/weave-gitops/app/helmrelease.yaml.j2
  kubernetes/apps/flux-system/weave-gitops/app/helmrelease.yaml
Labels: area/addons, area/bootstrap, area/kubernetes

chore(deps): update ansible to 8.5.0
  requirements.txt
Labels: none

chore(deps): update ansible to 8.5.0
  requirements.txt
Labels: none

fix(helm): update chart ingress-nginx to 4.8.2
  kubernetes/apps/networking/nginx/external/helmrelease.yaml
  kubernetes/apps/networking/nginx/internal/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update chart ingress-nginx to 4.8.2
  kubernetes/apps/networking/nginx/external/helmrelease.yaml
  kubernetes/apps/networking/nginx/internal/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update chart redis-operator to 0.15.9
  kubernetes/apps/default/redis/redis/operator/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update chart redis-operator to 0.15.9
  kubernetes/apps/default/redis/redis/operator/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update chart snapshot-validation-webhook to 1.8.2
  kubernetes/apps/kube-system/snapshot-controller/app/helmrelease-webhook.yaml
Labels: area/kubernetes

fix(helm): update chart snapshot-validation-webhook to 1.8.2
  kubernetes/apps/kube-system/snapshot-controller/app/helmrelease-webhook.yaml
Labels: area/kubernetes

fix(helm): update chart pgadmin4 to 1.18.2
  kubernetes/apps/default/postgres/pgadmin/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update chart pgadmin4 to 1.18.2
  kubernetes/apps/default/postgres/pgadmin/app/helmrelease.yaml
Labels: area/kubernetes
