Repository ahgraber/homelab-gitops-k3s, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/addons, area/ansible, area/bootstrap, area/github, area/kubernetes

fix(container): update image ghcr.io/dgtlmoon/changedetection.io to v0.45.3
  kubernetes/apps/default/changedetection/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/dgtlmoon/changedetection.io to v0.45.3
  kubernetes/apps/default/changedetection/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update image kube-prometheus-stack to v51.3.0
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update image kube-prometheus-stack to v51.3.0
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes

fix: move to new repo location
  kubernetes/apps/default/homepage/app/helmrelease.yaml
Labels: area/kubernetes

fix: move to new repo location
  kubernetes/apps/default/homepage/app/helmrelease.yaml
Labels: area/kubernetes

fix: bump version
  kubernetes/apps/default/homepage/app/helmrelease.yaml
Labels: area/kubernetes

fix: bump version
  kubernetes/apps/default/homepage/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/gethomepage/homepage to v0.7.3
  kubernetes/apps/default/homepage/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/gethomepage/homepage to v0.7.3
  kubernetes/apps/default/homepage/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image docker.io/sissbruecker/linkding to v1.22.1
  kubernetes/apps/default/linkding/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image docker.io/sissbruecker/linkding to v1.22.1
  kubernetes/apps/default/linkding/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update rook-ceph group to v1.12.5
  kubernetes/apps/rook-ceph/rook-ceph/cluster/helmrelease.yaml
  kubernetes/apps/rook-ceph/rook-ceph/operator/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update rook-ceph group to v1.12.5
  kubernetes/apps/rook-ceph/rook-ceph/cluster/helmrelease.yaml
  kubernetes/apps/rook-ceph/rook-ceph/operator/helmrelease.yaml
Labels: area/kubernetes

chore(container): update image lscr.io/linuxserver/pairdrop to b63fc87
  kubernetes/apps/default/pairdrop/app/helmrelease.yaml
Labels: area/kubernetes

chore(container): update image lscr.io/linuxserver/pairdrop to b63fc87
  kubernetes/apps/default/pairdrop/app/helmrelease.yaml
Labels: area/kubernetes

feat(github-release): update pre-commit hook pre-commit/pre-commit-hooks to v4.5.0
  .pre-commit-config.yaml
Labels: none

feat(github-release): update pre-commit hook pre-commit/pre-commit-hooks to v4.5.0
  .pre-commit-config.yaml
Labels: none

fix: clean up sops task
  Taskfile.yaml
Labels: none

fix: clean up sops task
  Taskfile.yaml
Labels: none

feat: ++ memos
  kubernetes/apps/default/kustomization.yaml
  kubernetes/apps/default/memos/README.md
  kubernetes/apps/default/memos/app/backup/kustomization.yaml
  kubernetes/apps/default/memos/app/backup/secret.sops.yaml
  kubernetes/apps/default/memos/app/backup/secret.sops.yaml.tmpl
  kubernetes/apps/default/memos/app/backup/volsync.yaml
  kubernetes/apps/default/memos/app/helmrelease.yaml
  kubernetes/apps/default/memos/app/kustomization.yaml
  kubernetes/apps/default/memos/app/pvc.yaml
  kubernetes/apps/default/memos/ks.yaml
Labels: area/kubernetes

feat: ++ memos
  kubernetes/apps/default/kustomization.yaml
  kubernetes/apps/default/memos/README.md
  kubernetes/apps/default/memos/app/backup/kustomization.yaml
  kubernetes/apps/default/memos/app/backup/secret.sops.yaml
  kubernetes/apps/default/memos/app/backup/secret.sops.yaml.tmpl
  kubernetes/apps/default/memos/app/backup/volsync.yaml
  kubernetes/apps/default/memos/app/helmrelease.yaml
  kubernetes/apps/default/memos/app/kustomization.yaml
  kubernetes/apps/default/memos/app/pvc.yaml
  kubernetes/apps/default/memos/ks.yaml
Labels: area/kubernetes

fix: fix broken links
  kubernetes/apps/cnpg-system/README.md
  kubernetes/apps/datasci/postgres/README.md
  kubernetes/apps/datasci/postgres/cloudnative-pg/README.md
  kubernetes/apps/default/mealie/README.md
  kubernetes/apps/default/postgres/README.md
  kubernetes/apps/default/postgres/cloudnative-pg/README.md
  kubernetes/apps/monitoring/kube-prometheus-stack/README.md
Labels: area/kubernetes

fix: fix broken links
  kubernetes/apps/cnpg-system/README.md
  kubernetes/apps/datasci/postgres/README.md
  kubernetes/apps/datasci/postgres/cloudnative-pg/README.md
  kubernetes/apps/default/mealie/README.md
  kubernetes/apps/default/postgres/README.md
  kubernetes/apps/default/postgres/cloudnative-pg/README.md
  kubernetes/apps/monitoring/kube-prometheus-stack/README.md
Labels: area/kubernetes

chore: standardize secret naming
  bootstrap/templates/kubernetes/apps/cert-manager/cert-manager/issuers/issuers.yaml.j2
  bootstrap/templates/kubernetes/apps/cert-manager/cert-manager/issuers/secret.sops.yaml.j2
  bootstrap/templates/kubernetes/apps/flux-system/addons/webhooks/github/receiver.yaml.j2
  bootstrap/templates/kubernetes/apps/flux-system/addons/webhooks/github/secret.sops.yaml.j2
  bootstrap/templates/kubernetes/apps/networking/cloudflared/app/helmrelease.yaml.j2
  bootstrap/templates/kubernetes/apps/networking/cloudflared/app/secret.sops.yaml.j2
  bootstrap/templates/kubernetes/apps/networking/external-dns/app/helmrelease.yaml.j2
  kubernetes/apps/cert-manager/cert-manager/issuers/letsencrypt-production.yaml
  kubernetes/apps/cert-manager/cert-manager/issuers/letsencrypt-staging.yaml
  kubernetes/apps/cert-manager/cert-manager/issuers/secret.sops.yaml
  kubernetes/apps/cert-manager/cert-manager/issuers/secret.sops.yaml.tmpl
  kubernetes/apps/datasci/postgres/cloudnative-pg/db/cluster.yaml
  kubernetes/apps/datasci/postgres/cloudnative-pg/db/secrets.sops.yaml
  kubernetes/apps/datasci/postgres/cloudnative-pg/db/secrets.sops.yaml.tmpl
  kubernetes/apps/default/postgres/cloudnative-pg/db/cluster.yaml
  kubernetes/apps/default/postgres/cloudnative-pg/db/secrets.sops.yaml
  kubernetes/apps/default/postgres/cloudnative-pg/db/secrets.sops.yaml.tmpl
  kubernetes/apps/default/postgres/pgadmin/app/helmrelease.yaml
  kubernetes/apps/flux-system/addons/webhooks/github/receiver.yaml
  kubernetes/apps/flux-system/addons/webhooks/github/secret.sops.yaml
  kubernetes/apps/flux-system/addons/webhooks/github/secret.sops.yaml.tmpl
  kubernetes/apps/monitoring/grafana/app/helmrelease.yaml
  kubernetes/apps/monitoring/grafana/app/secret.sops.yaml
  kubernetes/apps/monitoring/grafana/app/secret.sops.yaml.tmpl
  kubernetes/apps/networking/cloudflared/app/helmrelease.yaml
  kubernetes/apps/networking/cloudflared/app/secret.sops.yaml
  kubernetes/apps/networking/cloudflared/app/secret.sops.yaml.tmpl
  kubernetes/apps/networking/crowdsec/app/helmrelease.yaml
  kubernetes/apps/networking/external-dns/app/helmrelease.yaml
  kubernetes/apps/networking/external-dns/app/secret.sops.yaml
  kubernetes/apps/networking/external-dns/app/secret.sops.yaml.tmpl
Labels: area/bootstrap, area/kubernetes

chore: standardize secret naming
  bootstrap/templates/kubernetes/apps/cert-manager/cert-manager/issuers/issuers.yaml.j2
  bootstrap/templates/kubernetes/apps/cert-manager/cert-manager/issuers/secret.sops.yaml.j2
  bootstrap/templates/kubernetes/apps/flux-system/addons/webhooks/github/receiver.yaml.j2
  bootstrap/templates/kubernetes/apps/flux-system/addons/webhooks/github/secret.sops.yaml.j2
  bootstrap/templates/kubernetes/apps/networking/cloudflared/app/helmrelease.yaml.j2
  bootstrap/templates/kubernetes/apps/networking/cloudflared/app/secret.sops.yaml.j2
  bootstrap/templates/kubernetes/apps/networking/external-dns/app/helmrelease.yaml.j2
  kubernetes/apps/cert-manager/cert-manager/issuers/letsencrypt-production.yaml
  kubernetes/apps/cert-manager/cert-manager/issuers/letsencrypt-staging.yaml
  kubernetes/apps/cert-manager/cert-manager/issuers/secret.sops.yaml
  kubernetes/apps/cert-manager/cert-manager/issuers/secret.sops.yaml.tmpl
  kubernetes/apps/datasci/postgres/cloudnative-pg/db/cluster.yaml
  kubernetes/apps/datasci/postgres/cloudnative-pg/db/secrets.sops.yaml
  kubernetes/apps/datasci/postgres/cloudnative-pg/db/secrets.sops.yaml.tmpl
  kubernetes/apps/default/postgres/cloudnative-pg/db/cluster.yaml
  kubernetes/apps/default/postgres/cloudnative-pg/db/secrets.sops.yaml
  kubernetes/apps/default/postgres/cloudnative-pg/db/secrets.sops.yaml.tmpl
  kubernetes/apps/default/postgres/pgadmin/app/helmrelease.yaml
  kubernetes/apps/flux-system/addons/webhooks/github/receiver.yaml
  kubernetes/apps/flux-system/addons/webhooks/github/secret.sops.yaml
  kubernetes/apps/flux-system/addons/webhooks/github/secret.sops.yaml.tmpl
  kubernetes/apps/monitoring/grafana/app/helmrelease.yaml
  kubernetes/apps/monitoring/grafana/app/secret.sops.yaml
  kubernetes/apps/monitoring/grafana/app/secret.sops.yaml.tmpl
  kubernetes/apps/networking/cloudflared/app/helmrelease.yaml
  kubernetes/apps/networking/cloudflared/app/secret.sops.yaml
  kubernetes/apps/networking/cloudflared/app/secret.sops.yaml.tmpl
  kubernetes/apps/networking/crowdsec/app/helmrelease.yaml
  kubernetes/apps/networking/external-dns/app/helmrelease.yaml
  kubernetes/apps/networking/external-dns/app/secret.sops.yaml
  kubernetes/apps/networking/external-dns/app/secret.sops.yaml.tmpl
Labels: area/bootstrap, area/kubernetes

chore: standardize prometheusrule names
  kubernetes/apps/flux-system/addons/monitoring/prometheusrule.yaml
  kubernetes/apps/monitoring/kube-prometheus-stack/addons/rules/etcd.yaml
  kubernetes/apps/monitoring/kube-prometheus-stack/addons/rules/kustomization.yaml
  kubernetes/apps/monitoring/kube-prometheus-stack/addons/rules/node-exporter.yaml
  kubernetes/apps/monitoring/nut-exporter/app/prometheusrule.yaml
  kubernetes/apps/rook-ceph/rook-ceph/addons/kustomization.yaml
  kubernetes/apps/volsync/volsync/app/prometheusrule.yaml
Labels: area/kubernetes

chore: standardize prometheusrule names
  kubernetes/apps/flux-system/addons/monitoring/prometheusrule.yaml
  kubernetes/apps/monitoring/kube-prometheus-stack/addons/rules/etcd.yaml
  kubernetes/apps/monitoring/kube-prometheus-stack/addons/rules/kustomization.yaml
  kubernetes/apps/monitoring/kube-prometheus-stack/addons/rules/node-exporter.yaml
  kubernetes/apps/monitoring/nut-exporter/app/prometheusrule.yaml
  kubernetes/apps/rook-ceph/rook-ceph/addons/kustomization.yaml
  kubernetes/apps/volsync/volsync/app/prometheusrule.yaml
Labels: area/kubernetes

chore: standardize prometheusrule names
  kubernetes/apps/rook-ceph/rook-ceph/addons/kustomization.yaml
Labels: area/kubernetes

chore: standardize prometheusrule names
  kubernetes/apps/rook-ceph/rook-ceph/addons/kustomization.yaml
Labels: area/kubernetes

feat(container): update image kube-prometheus-stack to v51.4.0
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update image kube-prometheus-stack to v51.4.0
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update chart crowdsec to 0.9.9
  kubernetes/apps/networking/crowdsec/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update chart crowdsec to 0.9.9
  kubernetes/apps/networking/crowdsec/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update chart grafana to 6.60.4
  bootstrap/templates/addons/grafana/app/helmrelease.yaml.j2
  kubernetes/apps/monitoring/grafana/app/helmrelease.yaml
Labels: area/addons, area/bootstrap, area/kubernetes

fix(helm): update chart grafana to 6.60.4
  bootstrap/templates/addons/grafana/app/helmrelease.yaml.j2
  kubernetes/apps/monitoring/grafana/app/helmrelease.yaml
Labels: area/addons, area/bootstrap, area/kubernetes

fix(github-release): update pre-commit hook crate-ci/typos to v1.16.18
  .pre-commit-config.yaml
Labels: none

fix(github-release): update pre-commit hook crate-ci/typos to v1.16.18
  .pre-commit-config.yaml
Labels: none

fix: update volsync docs
  kubernetes/apps/volsync/README.md
  kubernetes/apps/volsync/volsync/app/_sample_volsync.yaml
Labels: area/kubernetes

fix: update volsync docs
  kubernetes/apps/volsync/README.md
  kubernetes/apps/volsync/volsync/app/_sample_volsync.yaml
Labels: area/kubernetes

.github/labeler.yaml:

---
area/addons:
  - "bootstrap/templates/addons/**/*"
  - "bootstrap/tasks/addons/**/*"
  - "bootstrap/vars/addons.sample.yaml"
area/ansible:
  - "ansible/**/*"
  - "bootstrap/templates/ansible/**/*"
  - "bootstrap/tasks/ansible/**/*"
area/bootstrap:
  - "bootstrap/**/*"
  - "bootstrap/configure.yaml"
area/github:
  - ".github/**/*"
area/kubernetes:
  - "kubernetes/**/*"
  - "bootstrap/templates/kubernetes/**/*"
  - "bootstrap/tasks/kubernetes/**/*"
