Repository ahgraber/homelab-gitops-k3s, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/addons, area/ansible, area/bootstrap, area/github, area/kubernetes

.github/labeler.yaml:

---
area/addons:
  - "bootstrap/templates/addons/**/*"
  - "bootstrap/tasks/addons/**/*"
  - "bootstrap/vars/addons.sample.yaml"
area/ansible:
  - "ansible/**/*"
  - "bootstrap/templates/ansible/**/*"
  - "bootstrap/tasks/ansible/**/*"
area/bootstrap:
  - "bootstrap/**/*"
  - "bootstrap/configure.yaml"
area/github:
  - ".github/**/*"
area/kubernetes:
  - "kubernetes/**/*"
  - "bootstrap/templates/kubernetes/**/*"
  - "bootstrap/tasks/kubernetes/**/*"

feat(container): update image lscr.io/linuxserver/pairdrop to v1.9.1
  kubernetes/apps/default/pairdrop/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update image lscr.io/linuxserver/pairdrop to v1.9.1
  kubernetes/apps/default/pairdrop/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/cloudnative-pg/postgresql to v14.9-15
  kubernetes/apps/datasci/postgres/cloudnative-pg/db/cluster.yaml
  kubernetes/apps/default/postgres/cloudnative-pg/db/cluster.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/cloudnative-pg/postgresql to v14.9-15
  kubernetes/apps/datasci/postgres/cloudnative-pg/db/cluster.yaml
  kubernetes/apps/default/postgres/cloudnative-pg/db/cluster.yaml
Labels: area/kubernetes

feat(container): update image ghcr.io/letsblockit/server to v0.46.0
  kubernetes/apps/default/letsblockit/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update image ghcr.io/letsblockit/server to v0.46.0
  kubernetes/apps/default/letsblockit/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update flux group
  bootstrap/templates/kubernetes/bootstrap/kustomization.yaml.j2
  bootstrap/templates/kubernetes/flux/config/flux.yaml.j2
  kubernetes/apps/default/miniflux/app/helmrelease.yaml
  kubernetes/bootstrap/kustomization.yaml
  kubernetes/flux/config/flux.yaml
Labels: area/bootstrap, area/kubernetes

fix(container): update flux group
  bootstrap/templates/kubernetes/bootstrap/kustomization.yaml.j2
  bootstrap/templates/kubernetes/flux/config/flux.yaml.j2
  kubernetes/apps/default/miniflux/app/helmrelease.yaml
  kubernetes/bootstrap/kustomization.yaml
  kubernetes/flux/config/flux.yaml
Labels: area/bootstrap, area/kubernetes

fix(github-action): update renovatebot/github-action action to v39.0.6
  .github/workflows/renovate.yaml
Labels: area/github

fix(github-action): update renovatebot/github-action action to v39.0.6
  .github/workflows/renovate.yaml
Labels: area/github

feat(github-action): update renovatebot/github-action action to v39.1.0
  .github/workflows/renovate.yaml
Labels: area/github

feat(github-action): update renovatebot/github-action action to v39.1.0
  .github/workflows/renovate.yaml
Labels: area/github

fix(container): update image ghcr.io/thomiceli/opengist to v1.5.2
  kubernetes/apps/default/opengist/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/thomiceli/opengist to v1.5.2
  kubernetes/apps/default/opengist/app/helmrelease.yaml
Labels: area/kubernetes

fix(github-release): update pre-commit hook crate-ci/typos to v1.16.20
  .pre-commit-config.yaml
Labels: none

fix(github-release): update pre-commit hook crate-ci/typos to v1.16.20
  .pre-commit-config.yaml
Labels: none

feat(helm): update chart grafana to 6.61.0
  bootstrap/templates/addons/grafana/app/helmrelease.yaml.j2
  kubernetes/apps/monitoring/grafana/app/helmrelease.yaml
Labels: area/addons, area/bootstrap, area/kubernetes

feat(helm): update chart grafana to 6.61.0
  bootstrap/templates/addons/grafana/app/helmrelease.yaml.j2
  kubernetes/apps/monitoring/grafana/app/helmrelease.yaml
Labels: area/addons, area/bootstrap, area/kubernetes

fix(helm): update chart prefect-agent to 2023.10.17
  kubernetes/apps/datasci/prefect/agent/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update chart prefect-agent to 2023.10.17
  kubernetes/apps/datasci/prefect/agent/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update chart prefect-server to 2023.10.17
  kubernetes/apps/datasci/prefect/server/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update chart prefect-server to 2023.10.17
  kubernetes/apps/datasci/prefect/server/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update chart prefect-worker to 2023.10.17
  kubernetes/apps/datasci/prefect/worker/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update chart prefect-worker to 2023.10.17
  kubernetes/apps/datasci/prefect/worker/helmrelease.yaml
Labels: area/kubernetes

chore(deps): update actions/checkout digest to b4ffde6
  .github/workflows/publish-docs.yaml
Labels: area/github

chore(deps): update actions/checkout digest to b4ffde6
  .github/workflows/publish-docs.yaml
Labels: area/github

fix(github-action): update actions/checkout action to v4.1.1
  .github/workflows/link-check.yaml
  .github/workflows/meta-sync-labels.yaml
  .github/workflows/renovate.yaml
Labels: area/github

fix(github-action): update actions/checkout action to v4.1.1
  .github/workflows/link-check.yaml
  .github/workflows/meta-sync-labels.yaml
  .github/workflows/renovate.yaml
Labels: area/github

feat(container): update image kube-prometheus-stack to v51.9.0
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update image kube-prometheus-stack to v51.9.0
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes

fix: resolve broken links
  kubernetes/apps/datasci/postgres/cloudnative-pg/README.md
  kubernetes/apps/default/postgres/cloudnative-pg/README.md
Labels: area/kubernetes

fix: resolve broken links
  kubernetes/apps/datasci/postgres/cloudnative-pg/README.md
  kubernetes/apps/default/postgres/cloudnative-pg/README.md
Labels: area/kubernetes

feat(github-release): update pre-commit hook sirosen/texthooks to 0.6.0
  .pre-commit-config.yaml
Labels: none

feat(github-release): update pre-commit hook sirosen/texthooks to 0.6.0
  .pre-commit-config.yaml
Labels: none

fix: prefect group updates
  .github/renovate/groups.json5
Labels: area/github

fix: ensure fluxcd group specificity
  .github/renovate/groups.json5
Labels: area/github

fix: ensure fluxcd group specificity
  .github/renovate/groups.json5
Labels: area/github

fix: prefect group updates
  .github/renovate/groups.json5
Labels: area/github

fix: update prefect for new chart version
  kubernetes/apps/datasci/prefect/server/helmrelease.yaml
Labels: area/kubernetes

fix: update prefect for new chart version
  kubernetes/apps/datasci/prefect/server/helmrelease.yaml
Labels: area/kubernetes
