Repository ahgraber/homelab-gitops-k3s, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/addons, area/ansible, area/bootstrap, area/github, area/kubernetes

feat: add bot blocks to nginx configs
  kubernetes/apps/networking/nginx/external/helmrelease.yaml
  kubernetes/apps/networking/nginx/internal/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update prefect group to 2023.11.24
  kubernetes/apps/datasci/prefect/agent/helmrelease.yaml
  kubernetes/apps/datasci/prefect/server/helmrelease.yaml
  kubernetes/apps/datasci/prefect/worker/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update prefect group to 2023.11.24
  kubernetes/apps/datasci/prefect/agent/helmrelease.yaml
  kubernetes/apps/datasci/prefect/server/helmrelease.yaml
  kubernetes/apps/datasci/prefect/worker/helmrelease.yaml
Labels: area/kubernetes

fix: bump rook-ceph mds memory limit
  kubernetes/apps/rook-ceph/rook-ceph/cluster/helmrelease.yaml
Labels: area/kubernetes

fix: bump rook-ceph mds memory limit
  kubernetes/apps/rook-ceph/rook-ceph/cluster/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/ninerealmlabs/mlflow-server to v2.8.1
  kubernetes/apps/datasci/mlflow/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/ninerealmlabs/mlflow-server to v2.8.1
  kubernetes/apps/datasci/mlflow/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/gethomepage/homepage to v0.8.2
  kubernetes/apps/default/homepage/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/gethomepage/homepage to v0.8.2
  kubernetes/apps/default/homepage/app/helmrelease.yaml
Labels: area/kubernetes

fix: update memos favicon in homepage
  kubernetes/apps/default/homepage/app/configmap.yaml
Labels: area/kubernetes

fix: update memos favicon in homepage
  kubernetes/apps/default/homepage/app/configmap.yaml
Labels: area/kubernetes

fix: switch syncthing to block
  kubernetes/apps/default/syncthing/app/backup/volsync.yaml
  kubernetes/apps/default/syncthing/app/pvc.yaml
Labels: area/kubernetes

fix: switch syncthing to block
  kubernetes/apps/default/syncthing/app/backup/volsync.yaml
  kubernetes/apps/default/syncthing/app/pvc.yaml
Labels: area/kubernetes

fix: switch syncthing to block
  kubernetes/apps/default/syncthing/app/pvc.yaml
Labels: area/kubernetes

fix: switch syncthing to block
  kubernetes/apps/default/syncthing/app/pvc.yaml
Labels: area/kubernetes

fix(helm): update chart windmill to 2.0.33
  kubernetes/apps/datasci/windmill/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update chart windmill to 2.0.33
  kubernetes/apps/datasci/windmill/app/helmrelease.yaml
Labels: area/kubernetes

fix(github-release): update pre-commit hook sirosen/texthooks to 0.6.3
  .pre-commit-config.yaml
Labels: none

fix(github-release): update pre-commit hook sirosen/texthooks to 0.6.3
  .pre-commit-config.yaml
Labels: none

fix(helm): update chart snapshot-controller to 2.0.3
  kubernetes/apps/kube-system/snapshot-controller/app/helmrelease-controller.yaml
Labels: area/kubernetes

fix(helm): update chart snapshot-controller to 2.0.3
  kubernetes/apps/kube-system/snapshot-controller/app/helmrelease-controller.yaml
Labels: area/kubernetes

fix(github-action): update renovatebot/github-action action to v39.1.4
  .github/workflows/renovate.yaml
Labels: area/github

fix(github-action): update renovatebot/github-action action to v39.1.4
  .github/workflows/renovate.yaml
Labels: area/github

fix(helm): update prefect group to 2023.11.28
  kubernetes/apps/datasci/prefect/agent/helmrelease.yaml
  kubernetes/apps/datasci/prefect/server/helmrelease.yaml
  kubernetes/apps/datasci/prefect/worker/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update prefect group to 2023.11.28
  kubernetes/apps/datasci/prefect/agent/helmrelease.yaml
  kubernetes/apps/datasci/prefect/server/helmrelease.yaml
  kubernetes/apps/datasci/prefect/worker/helmrelease.yaml
Labels: area/kubernetes

chore(deps): update bcrypt to 4.1.1
  requirements.txt
Labels: none

chore(deps): update bcrypt to 4.1.1
  requirements.txt
Labels: none

fix(container): update image ghcr.io/dgtlmoon/changedetection.io to v0.45.8
  kubernetes/apps/default/changedetection/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/dgtlmoon/changedetection.io to v0.45.8
  kubernetes/apps/default/changedetection/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update chart grafana to 7.0.11
  bootstrap/templates/addons/grafana/app/helmrelease.yaml.j2
  kubernetes/apps/monitoring/grafana/app/helmrelease.yaml
Labels: area/addons, area/bootstrap, area/kubernetes

fix(helm): update chart grafana to 7.0.11
  bootstrap/templates/addons/grafana/app/helmrelease.yaml.j2
  kubernetes/apps/monitoring/grafana/app/helmrelease.yaml
Labels: area/addons, area/bootstrap, area/kubernetes

chore(deps): update ansible-lint to 6.22.1
  requirements.txt
Labels: none

chore(deps): update ansible-lint to 6.22.1
  requirements.txt
Labels: none

fix(helm): update chart descheduler to 0.28.1
  kubernetes/apps/kube-system/descheduler/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update chart descheduler to 0.28.1
  kubernetes/apps/kube-system/descheduler/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update chart coredns to 1.28.2
  ansible/playbooks/templates/custom-coredns-helmchart.yaml.j2
  bootstrap/templates/ansible/playbooks/templates/custom-coredns-helmchart.yaml.j2.j2
  bootstrap/templates/kubernetes/apps/kube-system/coredns/app/helmrelease.yaml.j2
  kubernetes/apps/kube-system/coredns/app/helmrelease.yaml
Labels: area/ansible, area/bootstrap, area/kubernetes

fix(helm): update chart coredns to 1.28.2
  ansible/playbooks/templates/custom-coredns-helmchart.yaml.j2
  bootstrap/templates/ansible/playbooks/templates/custom-coredns-helmchart.yaml.j2.j2
  bootstrap/templates/kubernetes/apps/kube-system/coredns/app/helmrelease.yaml.j2
  kubernetes/apps/kube-system/coredns/app/helmrelease.yaml
Labels: area/ansible, area/bootstrap, area/kubernetes

feat(container): update image ghcr.io/druggeri/nut_exporter to v3.1.1
  kubernetes/apps/monitoring/nut-exporter/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update image ghcr.io/druggeri/nut_exporter to v3.1.1
  kubernetes/apps/monitoring/nut-exporter/app/helmrelease.yaml
Labels: area/kubernetes

feat: add task to update from template
  .gitignore
  Taskfile.yaml
Labels: none

.github/labeler.yaml:

---
area/addons:
  - "bootstrap/templates/addons/**/*"
  - "bootstrap/tasks/addons/**/*"
  - "bootstrap/vars/addons.sample.yaml"
area/ansible:
  - "ansible/**/*"
  - "bootstrap/templates/ansible/**/*"
  - "bootstrap/tasks/ansible/**/*"
area/bootstrap:
  - "bootstrap/**/*"
  - "bootstrap/configure.yaml"
area/github:
  - ".github/**/*"
area/kubernetes:
  - "kubernetes/**/*"
  - "bootstrap/templates/kubernetes/**/*"
  - "bootstrap/tasks/kubernetes/**/*"
