Repository ahgraber/homelab-gitops-k3s, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/addons, area/ansible, area/bootstrap, area/github, area/kubernetes, area/taskfile

.github/labeler.yaml:

---
area/addons:
  - changed-files:
      - any-glob-to-any-file: bootstrap/templates/addons/**/*
      - any-glob-to-any-file: bootstrap/tasks/addons/**/*
      - any-glob-to-any-file: bootstrap/vars/addons.sample.yaml
area/ansible:
  - changed-files:
      - any-glob-to-any-file: ansible/**/*
      - any-glob-to-any-file: bootstrap/templates/ansible/**/*
      - any-glob-to-any-file: bootstrap/tasks/ansible/**/*
area/bootstrap:
  - changed-files:
      - any-glob-to-any-file: bootstrap/**/*
      - any-glob-to-any-file: bootstrap/configure.yaml
area/github:
  - changed-files:
      - any-glob-to-any-file: .github/**/*
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: kubernetes/**/*
      - any-glob-to-any-file: bootstrap/templates/kubernetes/**/*
      - any-glob-to-any-file: bootstrap/tasks/kubernetes/**/*
area/taskfile:
  - changed-files:
      - any-glob-to-any-file: .taskfiles/**/*
      - any-glob-to-any-file: Taskfile*

feat(template): replace rancher/local-path-provisioner with democratic-csi in local-hostpath mode
  bootstrap/templates/addons/grafana/app/helmrelease.yaml.j2
  bootstrap/templates/addons/kube-prometheus-stack/app/helmvalues.yaml.j2
  bootstrap/templates/ansible/inventory/group_vars/controller/main.yaml.j2
  bootstrap/templates/kubernetes/apps/kube-system/local-path-provisioner/app/helmrelease.yaml.j2
  bootstrap/templates/kubernetes/flux/repositories/git/local-path-provisioner.yaml.j2
  bootstrap/templates/kubernetes/flux/repositories/helm/democratic-csi.yaml.j2
  bootstrap/templates/kubernetes/flux/repositories/helm/kustomization.yaml.j2
  bootstrap/templates/kubernetes/flux/repositories/kustomization.yaml.j2
  bootstrap/templates/kubernetes/flux/repositories/oci/.gitkeep
  bootstrap/templates/kubernetes/flux/repositories/oci/kustomization.yaml.j2
  bootstrap/vars/config.sample.yaml
Labels: area/addons, area/ansible, area/bootstrap, area/kubernetes

chore(template): democratic-csi
  bootstrap/templates/addons/system-upgrade-controller/plans/kustomization.yaml.j2
  bootstrap/templates/kubernetes/flux/repositories/helm/democratic-csi.yaml.j2
Labels: area/addons, area/bootstrap, area/kubernetes

chore(template): democratic-csi
  bootstrap/templates/addons/system-upgrade-controller/plans/kustomization.yaml.j2
  bootstrap/templates/kubernetes/flux/repositories/helm/democratic-csi.yaml.j2
Labels: area/addons, area/bootstrap, area/kubernetes

fix(github-action): update allenporter/flux-local action to 4.2.1
  .github/workflows/flux-diff.yaml
Labels: area/github

fix(github-action): update allenporter/flux-local action to 4.2.1
  .github/workflows/flux-diff.yaml
Labels: area/github

chore(deps): pin dependencies
  .github/workflows/flux-diff.yaml
  .github/workflows/label-sync.yaml
  .github/workflows/labeler.yaml
  .github/workflows/release.yaml
Labels: area/github

chore(deps): pin dependencies
  .github/workflows/flux-diff.yaml
  .github/workflows/label-sync.yaml
  .github/workflows/labeler.yaml
  .github/workflows/release.yaml
Labels: area/github

chore(template): update workflows
  .github/workflows/flux-diff.yaml
Labels: area/github

chore(template): update workflows
  .github/workflows/flux-diff.yaml
Labels: area/github

feat(helm): update chart coredns to 1.29.0
  ansible/playbooks/templates/custom-coredns-helmchart.yaml.j2
  bootstrap/templates/ansible/playbooks/templates/custom-coredns-helmchart.yaml.j2.j2
  bootstrap/templates/kubernetes/apps/kube-system/coredns/app/helmrelease.yaml.j2
  kubernetes/apps/kube-system/coredns/app/helmrelease.yaml
Labels: area/ansible, area/bootstrap, area/kubernetes

feat(helm): update chart coredns to 1.29.0
  ansible/playbooks/templates/custom-coredns-helmchart.yaml.j2
  bootstrap/templates/ansible/playbooks/templates/custom-coredns-helmchart.yaml.j2.j2
  bootstrap/templates/kubernetes/apps/kube-system/coredns/app/helmrelease.yaml.j2
  kubernetes/apps/kube-system/coredns/app/helmrelease.yaml
Labels: area/ansible, area/bootstrap, area/kubernetes

fix(container): update image kube-prometheus-stack to v55.5.1
  bootstrap/templates/addons/kube-prometheus-stack/app/helmrelease.yaml.j2
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/addons, area/bootstrap, area/kubernetes

fix(container): update image kube-prometheus-stack to v55.5.1
  bootstrap/templates/addons/kube-prometheus-stack/app/helmrelease.yaml.j2
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/addons, area/bootstrap, area/kubernetes

chore(template): update workflows
  .github/workflows/flux-diff.yaml
Labels: area/github

chore(template): update workflows
  .github/workflows/flux-diff.yaml
Labels: area/github

chore(deps): pin allenporter/flux-local action to
  .github/workflows/flux-diff.yaml
Labels: area/github

chore(deps): pin fluxcd/flux2 action to
  .github/workflows/flux-diff.yaml
Labels: area/github

chore(deps): pin fluxcd/flux2 action to
  .github/workflows/flux-diff.yaml
Labels: area/github

chore(deps): pin allenporter/flux-local action to
  .github/workflows/flux-diff.yaml
Labels: area/github

feat(container): update image prometheus-node-exporter to v4.25.0
  kubernetes/apps/monitoring/node-exporter/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update image prometheus-node-exporter to v4.25.0
  kubernetes/apps/monitoring/node-exporter/app/helmrelease.yaml
Labels: area/kubernetes

fix(github-action): update renovatebot/github-action action to v39.2.4
  .github/workflows/renovate.yaml
Labels: area/github

fix(github-action): update renovatebot/github-action action to v39.2.4
  .github/workflows/renovate.yaml
Labels: area/github

feat: ++logseq
  kubernetes/apps/default/kustomization.yaml
  kubernetes/apps/default/logseq/README.md
  kubernetes/apps/default/logseq/app/backup/kustomization.yaml
  kubernetes/apps/default/logseq/app/backup/secret.sops.yaml
  kubernetes/apps/default/logseq/app/backup/secret.sops.yaml.tmpl
  kubernetes/apps/default/logseq/app/backup/volsync.yaml
  kubernetes/apps/default/logseq/app/helmrelease.yaml
  kubernetes/apps/default/logseq/app/kustomization.yaml
  kubernetes/apps/default/logseq/app/pvc.yaml
  kubernetes/apps/default/logseq/ks.yaml
Labels: area/kubernetes

feat: ++logseq
  kubernetes/apps/default/kustomization.yaml
  kubernetes/apps/default/logseq/README.md
  kubernetes/apps/default/logseq/app/backup/kustomization.yaml
  kubernetes/apps/default/logseq/app/backup/secret.sops.yaml
  kubernetes/apps/default/logseq/app/backup/secret.sops.yaml.tmpl
  kubernetes/apps/default/logseq/app/backup/volsync.yaml
  kubernetes/apps/default/logseq/app/helmrelease.yaml
  kubernetes/apps/default/logseq/app/kustomization.yaml
  kubernetes/apps/default/logseq/app/pvc.yaml
  kubernetes/apps/default/logseq/ks.yaml
Labels: area/kubernetes

feat: ++logseq
  kubernetes/apps/default/logseq/app/helmrelease.yaml
Labels: area/kubernetes

feat: ++logseq
  kubernetes/apps/default/logseq/app/helmrelease.yaml
Labels: area/kubernetes

feat: ++logseq
  kubernetes/apps/default/logseq/app/helmrelease.yaml
Labels: area/kubernetes

feat: ++logseq
  kubernetes/apps/default/logseq/app/helmrelease.yaml
Labels: area/kubernetes

feat(github-action): update micalevisk/last-issue-action action to v2.3.0
  .github/workflows/link-check.yaml
Labels: area/github

feat(github-action): update micalevisk/last-issue-action action to v2.3.0
  .github/workflows/link-check.yaml
Labels: area/github

feat: ++logseq
  kubernetes/apps/default/logseq/README.md
  kubernetes/apps/default/logseq/app/pvc.yaml
Labels: area/kubernetes

feat: ++logseq
  kubernetes/apps/default/logseq/README.md
  kubernetes/apps/default/logseq/app/pvc.yaml
Labels: area/kubernetes

fix: disable logseq backup
  kubernetes/apps/default/logseq/app/kustomization.yaml
Labels: area/kubernetes

fix: disable logseq backup
  kubernetes/apps/default/logseq/app/kustomization.yaml
Labels: area/kubernetes

feat: ++elasticsearch
  kubernetes/apps/default/elasticsearch/README.md
  kubernetes/apps/default/elasticsearch/app/backup/kustomization.yaml
  kubernetes/apps/default/elasticsearch/app/backup/secret.sops.yaml
  kubernetes/apps/default/elasticsearch/app/backup/secret.sops.yaml.tmpl
  kubernetes/apps/default/elasticsearch/app/backup/volsync.yaml
  kubernetes/apps/default/elasticsearch/app/helmrelease.yaml
  kubernetes/apps/default/elasticsearch/app/pvc.yaml
  kubernetes/apps/default/elasticsearch/app/secret.sops.yaml
  kubernetes/apps/default/elasticsearch/app/secret.sops.yaml.tmpl
  kubernetes/apps/default/elasticsearch/kustomization.yaml
  kubernetes/apps/default/kustomization.yaml
Labels: area/kubernetes

feat: ++elasticsearch
  kubernetes/apps/default/elasticsearch/README.md
  kubernetes/apps/default/elasticsearch/app/backup/kustomization.yaml
  kubernetes/apps/default/elasticsearch/app/backup/secret.sops.yaml
  kubernetes/apps/default/elasticsearch/app/backup/secret.sops.yaml.tmpl
  kubernetes/apps/default/elasticsearch/app/backup/volsync.yaml
  kubernetes/apps/default/elasticsearch/app/helmrelease.yaml
  kubernetes/apps/default/elasticsearch/app/pvc.yaml
  kubernetes/apps/default/elasticsearch/app/secret.sops.yaml
  kubernetes/apps/default/elasticsearch/app/secret.sops.yaml.tmpl
  kubernetes/apps/default/elasticsearch/kustomization.yaml
  kubernetes/apps/default/kustomization.yaml
Labels: area/kubernetes

feat: ++elasticsearch
  kubernetes/apps/default/elasticsearch/app/kustomization.yaml
  kubernetes/apps/default/elasticsearch/ks.yaml
Labels: area/kubernetes

feat: ++elasticsearch
  kubernetes/apps/default/elasticsearch/app/kustomization.yaml
  kubernetes/apps/default/elasticsearch/ks.yaml
Labels: area/kubernetes

feat: ++elasticsearch
  kubernetes/apps/default/elasticsearch/app/helmrelease.yaml
Labels: area/kubernetes
