Repository ahgraber/homelab-gitops-k3s, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/docs, area/github, area/kubernetes, area/taskfile

.github/labeler.yaml:

---
area/ansible:
  - changed-files:
      - any-glob-to-any-file: ansible/**/*
area/docs:
  - changed-files:
      - any-glob-to-any-file:
          - "docs/**/*"
          - "README.md"
area/github:
  - changed-files:
      - any-glob-to-any-file: .github/**/*
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: kubernetes/**/*
area/taskfile:
  - changed-files:
      - any-glob-to-any-file: .taskfiles/**/*
      - any-glob-to-any-file: Taskfile*

fix: fixes/twkeas for debian
  ansible/playbooks/k3s-prepare.yaml
  ansible/playbooks/reboot.yaml
Labels: area/ansible

docs: align tasks with instructions
  README.md
  Taskfile.yaml
Labels: area/docs, area/taskfile

feat: move monitoring to app-template v3.1.0
  kubernetes/apps/monitoring/karma/app/helmrelease.yaml
  kubernetes/apps/monitoring/nut-exporter/app/helmrelease.yaml
  kubernetes/apps/monitoring/scrutiny/app/helmrelease-collector.yaml
  kubernetes/apps/monitoring/scrutiny/app/helmrelease-influxdb.yaml
  kubernetes/apps/monitoring/scrutiny/app/helmrelease-scrutiny.yaml
  kubernetes/apps/monitoring/speedtest-exporter/app/helmrelease.yaml
  kubernetes/apps/networking/cloudflared/app/helmrelease.yaml
Labels: area/kubernetes

feat: reenable kustomizations
  kubernetes/apps/cert-manager/kustomization.yaml
  kubernetes/apps/monitoring/kustomization.yaml
  kubernetes/apps/rook-ceph/kustomization.yaml
  kubernetes/apps/volsync-system/kustomization.yaml
Labels: area/kubernetes

fix: volsync ks path
  kubernetes/apps/volsync-system/volsync/ks.yaml
Labels: area/kubernetes

fix: rook-ceph does not allow 'null' in resources
  kubernetes/apps/rook-ceph/rook-ceph/operator/helmrelease.yaml
Labels: area/kubernetes

feat: standardize tolerations
  kubernetes/apps/kube-system/coredns/app/helmrelease.yaml
  kubernetes/apps/kube-system/descheduler/app/helmrelease.yaml
  kubernetes/apps/monitoring/node-problem-detector/app/helmrelease.yaml
  kubernetes/apps/networking/crowdsec/app/helmrelease.yaml
  kubernetes/apps/rook-ceph/rook-ceph/cluster/helmrelease.yaml
  kubernetes/apps/rook-ceph/rook-ceph/operator/helmrelease.yaml
  kubernetes/apps/system-upgrade/controller/app/helmrelease.yaml
  kubernetes/apps/system-upgrade/controller/plans/k3s-server.yaml
  kubernetes/bootstrap/kustomization.yaml
  kubernetes/flux/config/flux.yaml
Labels: area/kubernetes

feat: rook-ceph can't find a node it likes
  kubernetes/apps/rook-ceph/rook-ceph/operator/helmrelease.yaml
Labels: area/kubernetes

feat: rook-ceph can't find a node it likes
  kubernetes/apps/rook-ceph/rook-ceph/cluster/helmrelease.yaml
  kubernetes/apps/rook-ceph/rook-ceph/operator/helmrelease.yaml
Labels: area/kubernetes

feat: rook-ceph can't find a node it likes
  kubernetes/apps/rook-ceph/rook-ceph/cluster/helmrelease.yaml
Labels: area/kubernetes

feat: reenable kustomizations
  kubernetes/apps/networking/kustomization.yaml
Labels: area/kubernetes

fix: ingress-nginx ks path
  kubernetes/apps/networking/ingress-nginx/ks.yaml
Labels: area/kubernetes

fix: cloudflared --> app-template v3.1.0
  kubernetes/apps/networking/cloudflared/app/helmrelease.yaml
  kubernetes/apps/networking/cloudflared/app/secret.sops.yaml
Labels: area/kubernetes

fix: scrutiny --> app-template v3.1.0
  kubernetes/apps/monitoring/scrutiny/app/helmrelease-collector.yaml
  kubernetes/apps/monitoring/scrutiny/app/helmrelease-influxdb.yaml
  kubernetes/apps/monitoring/scrutiny/app/helmrelease-scrutiny.yaml
Labels: area/kubernetes

fix: ingress-nginx ks path
  kubernetes/apps/flux-system/addons/ks.yaml
  kubernetes/apps/networking/external-services/ks.yaml
  kubernetes/apps/rook-ceph/rook-ceph/ks.yaml
Labels: area/kubernetes

fix: migrations --> app-template v3.1.0
  kubernetes/apps/monitoring/scrutiny/app/helmrelease-influxdb.yaml
  kubernetes/apps/monitoring/scrutiny/app/helmrelease-scrutiny.yaml
  kubernetes/apps/monitoring/speedtest-exporter/app/helmrelease.yaml
  kubernetes/apps/networking/cloudflared/app/helmrelease.yaml
Labels: area/kubernetes

fix: migrations --> app-template v3.1.0
  kubernetes/apps/monitoring/scrutiny/app/helmrelease-influxdb.yaml
Labels: area/kubernetes

fix: scrutiny --> app-template v3.1.0
  kubernetes/apps/monitoring/scrutiny/app/helmrelease-influxdb.yaml
Labels: area/kubernetes

fix: scrutiny --> app-template v3.1.0
  kubernetes/apps/monitoring/scrutiny/app/helmrelease-influxdb.yaml
Labels: area/kubernetes

fix: scrutiny --> app-template v3.1.0
  kubernetes/apps/monitoring/scrutiny/app/helmrelease-influxdb.yaml
Labels: area/kubernetes

fix: cloudflare
  kubernetes/flux/vars/cluster-secrets.sops.yaml
  kubernetes/flux/vars/cluster-secrets.sops.yaml.tmpl
Labels: area/kubernetes

fix: cloudflare
  kubernetes/apps/cnpg-system/cloudnative-pg/operator/helmrelease.yaml
  kubernetes/apps/networking/cloudflared/app/secret.sops.yaml
Labels: area/kubernetes

fix: cloudflare
  kubernetes/apps/networking/cloudflared/app/secret.sops.yaml
  kubernetes/flux/vars/cluster-secrets.sops.yaml
Labels: area/kubernetes

fix: migrations --> app-template v3.1.0
  kubernetes/apps/monitoring/scrutiny/app/helmrelease-influxdb.yaml
Labels: area/kubernetes

feat: add volsync templates
  kubernetes/apps/volsync-system/README.md
  kubernetes/flux/vars/custom-secrets.sops.yaml
  kubernetes/flux/vars/custom-secrets.sops.yaml.tmpl
  kubernetes/templates/volsync/README.md
  kubernetes/templates/volsync/claim.yaml
  kubernetes/templates/volsync/kustomization.yaml
  kubernetes/templates/volsync/replicationdestination.yaml
  kubernetes/templates/volsync/replicationsource.yaml
  kubernetes/templates/volsync/secret.yaml
Labels: area/kubernetes

refactor: scrutiny
  kubernetes/apps/monitoring/scrutiny/app/helmrelease-scrutiny.yaml
  kubernetes/apps/monitoring/scrutiny/collector/helmrelease-collector.yaml
  kubernetes/apps/monitoring/scrutiny/collector/kustomization.yaml
  kubernetes/apps/monitoring/scrutiny/ks.yaml
  kubernetes/templates/volsync/README.md
Labels: area/kubernetes

refactor: scrutiny
  kubernetes/apps/monitoring/scrutiny/ks.yaml
Labels: area/kubernetes

refactor: scrutiny
  kubernetes/apps/monitoring/scrutiny/app/helmrelease-scrutiny.yaml
Labels: area/kubernetes

refactor: scrutiny
  kubernetes/apps/monitoring/scrutiny/app/kustomization.yaml
Labels: area/kubernetes

refactor: scrutiny
  kubernetes/apps/monitoring/scrutiny/app/helmrelease-scrutiny.yaml
Labels: area/kubernetes

refactor: scrutiny
  kubernetes/apps/monitoring/scrutiny/app/helmrelease-scrutiny.yaml
Labels: area/kubernetes

refactor: scrutiny
  kubernetes/apps/monitoring/scrutiny/collector/helmrelease-collector.yaml
Labels: area/kubernetes

refactor: scrutiny
  kubernetes/apps/monitoring/scrutiny/collector/helmrelease-collector.yaml
Labels: area/kubernetes

fix: switch from pod to defaultPodOptions
  kubernetes/apps/monitoring/karma/app/helmrelease.yaml
  kubernetes/apps/monitoring/nut-exporter/app/helmrelease.yaml
  kubernetes/apps/monitoring/scrutiny/app/helmrelease-influxdb.yaml
  kubernetes/apps/monitoring/scrutiny/app/helmrelease-scrutiny.yaml
  kubernetes/apps/monitoring/scrutiny/collector/helmrelease-collector.yaml
  kubernetes/apps/monitoring/speedtest-exporter/app/helmrelease.yaml
  kubernetes/apps/networking/cloudflared/app/helmrelease.yaml
  kubernetes/apps/system-upgrade/controller/app/helmrelease.yaml
Labels: area/kubernetes

refactor: scrutiny
  kubernetes/apps/monitoring/scrutiny/collector/helmrelease-collector.yaml
Labels: area/kubernetes

refactor: scrutiny
  kubernetes/apps/monitoring/scrutiny/app/helmrelease-scrutiny.yaml
Labels: area/kubernetes

refactor: scrutiny
  kubernetes/apps/monitoring/scrutiny/app/helmrelease-scrutiny.yaml
Labels: area/kubernetes

feat: standardize ks
  kubernetes/apps/cert-manager/cert-manager/ks.yaml
Labels: area/kubernetes

feat: yolo database upgrade
  kubernetes/apps/database/cloudnative-pg/README.md
Labels: area/kubernetes

feat: yolo datasci upgrade
  kubernetes/apps/datasci/mlflow/db/postgres.yaml
  kubernetes/apps/datasci/postgres/cloudnative-pg/cluster/cluster.yaml
  kubernetes/apps/datasci/postgres/cloudnative-pg/cluster/kustomization.yaml
  kubernetes/apps/datasci/postgres/cloudnative-pg/cluster/scheduledbackup.yaml
  kubernetes/apps/datasci/postgres/cloudnative-pg/cluster/secrets.sops.yaml
  kubernetes/apps/datasci/postgres/cloudnative-pg/cluster/secrets.sops.yaml.tmpl
  kubernetes/apps/datasci/postgres/cloudnative-pg/ks.yaml
  kubernetes/apps/datasci/postgres/ext-postgres-operator/README.md
  kubernetes/apps/datasci/postgres/ext-postgres-operator/app/helmrelease.yaml
  kubernetes/apps/datasci/postgres/ext-postgres-operator/app/kustomization.yaml
  kubernetes/apps/datasci/postgres/ext-postgres-operator/app/secret.sops.yaml
  kubernetes/apps/datasci/postgres/ext-postgres-operator/app/secret.sops.yaml.tmpl
  kubernetes/apps/datasci/postgres/ext-postgres-operator/ks.yaml
  kubernetes/apps/datasci/postgres/postgres-operator/app/secret.sops.yaml
  kubernetes/apps/datasci/postgres/postgres-operator/ks.yaml
  kubernetes/apps/datasci/prefect/db/postgres.yaml
  kubernetes/apps/datasci/windmill/db/postgres.yaml
  kubernetes/apps/default/linkding/db/postgres.yaml
  kubernetes/apps/default/mealie/db/postgres.yaml
  kubernetes/apps/default/memos/db/postgres.yaml
  kubernetes/apps/default/miniflux/db/postgres.yaml
Labels: area/kubernetes
