Repository ahgraber/homelab-gitops-k3s, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/addons, area/ansible, area/bootstrap, area/github, area/kubernetes

fix(container): update image ghcr.io/kube-vip/kube-vip to v0.6.4
  ansible/playbooks/templates/custom-kube-vip-daemonset.yaml.j2
  ansible/playbooks/templates/kube-vip-static-pod.yaml.j2
  bootstrap/templates/ansible/playbooks/templates/kube-vip-static-pod.yaml.j2.j2
Labels: area/ansible, area/bootstrap

feat(container): update image syncthing/syncthing to v1.27.0
  kubernetes/apps/default/syncthing/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update image syncthing/syncthing to v1.27.0
  kubernetes/apps/default/syncthing/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update chart windmill to 2.0.37
  kubernetes/apps/datasci/windmill/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update chart windmill to 2.0.37
  kubernetes/apps/datasci/windmill/app/helmrelease.yaml
Labels: area/kubernetes

feat(github-action)!: Update actions/labeler action to v5.0.0
  .github/workflows/meta-labeler.yaml
Labels: area/github

feat(github-action)!: Update actions/labeler action to v5.0.0
  .github/workflows/meta-labeler.yaml
Labels: area/github

feat(ansible): update community.general to 8.1.0
  requirements.yaml
Labels: none

feat(ansible): update community.general to 8.1.0
  requirements.yaml
Labels: none

chore(template): update devcontainer
  .devcontainer/devcontainer.json
Labels: none

chore(template): update devcontainer
  .devcontainer/devcontainer.json
Labels: none

feat(github-action): update renovatebot/github-action action to v39.2.0
  .github/workflows/renovate.yaml
Labels: area/github

feat(github-action): update renovatebot/github-action action to v39.2.0
  .github/workflows/renovate.yaml
Labels: area/github

fix(helm): update chart windmill to 2.0.38
  kubernetes/apps/datasci/windmill/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update chart windmill to 2.0.38
  kubernetes/apps/datasci/windmill/app/helmrelease.yaml
Labels: area/kubernetes

chore(deps): update ansible to 9.1.0
  requirements.txt
Labels: none

chore(deps): update ansible to 9.1.0
  requirements.txt
Labels: none

chore(template): update devcontainer
  .devcontainer/devcontainer.json
Labels: none

chore(template): update devcontainer
  .devcontainer/devcontainer.json
Labels: none

fix(template): run kube-vip playbook one node at a time
  README.md
  bootstrap/templates/ansible/playbooks/cluster-kube-vip.yaml.j2
Labels: area/ansible, area/bootstrap

fix(template): run kube-vip playbook one node at a time
  README.md
  bootstrap/templates/ansible/playbooks/cluster-kube-vip.yaml.j2
Labels: area/ansible, area/bootstrap

chore(template): update readme
  README.md
Labels: none

chore(template): update readme
  README.md
Labels: none

fix(template): change attribute before deleting the file
  bootstrap/templates/ansible/playbooks/cluster-prepare.yaml.j2
  requirements.txt
Labels: area/ansible, area/bootstrap

fix(template): change attribute before deleting the file
  bootstrap/templates/ansible/playbooks/cluster-prepare.yaml.j2
  requirements.txt
Labels: area/ansible, area/bootstrap

chore(template): update bcrypt
  requirements.txt
Labels: none

chore(template): update bcrypt
  requirements.txt
Labels: none

chore(template): update readme
  README.md
Labels: none

chore(template): update readme
  README.md
Labels: none

chore(template): update readme
  README.md
Labels: none

chore(template): update readme
  README.md
Labels: none

fix(template): revert bcrypt
  requirements.txt
Labels: none

fix(template): revert bcrypt
  requirements.txt
Labels: none

chore: update update-template task
  Taskfile.yaml
Labels: none

chore: update update-template task
  Taskfile.yaml
Labels: none

fix(helm): update chart windmill to 2.0.39
  kubernetes/apps/datasci/windmill/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update chart windmill to 2.0.39
  kubernetes/apps/datasci/windmill/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image weave-gitops to v4.0.36
  bootstrap/templates/addons/weave-gitops/app/helmrelease.yaml.j2
  kubernetes/apps/flux-system/weave-gitops/app/helmrelease.yaml
Labels: area/addons, area/bootstrap, area/kubernetes

fix(container): update image weave-gitops to v4.0.36
  bootstrap/templates/addons/weave-gitops/app/helmrelease.yaml.j2
  kubernetes/apps/flux-system/weave-gitops/app/helmrelease.yaml
Labels: area/addons, area/bootstrap, area/kubernetes

fix(github-action): update renovatebot/github-action action to v39.2.1
  .github/workflows/renovate.yaml
Labels: area/github

.github/labeler.yaml:

---
area/addons:
  - "bootstrap/templates/addons/**/*"
  - "bootstrap/tasks/addons/**/*"
  - "bootstrap/vars/addons.sample.yaml"
area/ansible:
  - "ansible/**/*"
  - "bootstrap/templates/ansible/**/*"
  - "bootstrap/tasks/ansible/**/*"
area/bootstrap:
  - "bootstrap/**/*"
  - "bootstrap/configure.yaml"
area/github:
  - ".github/**/*"
area/kubernetes:
  - "kubernetes/**/*"
  - "bootstrap/templates/kubernetes/**/*"
  - "bootstrap/tasks/kubernetes/**/*"
