Repository ahgraber/homelab-gitops-k3s, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/addons, area/ansible, area/bootstrap, area/github, area/kubernetes, area/taskfile

.github/labeler.yaml:

---
area/addons:
  - changed-files:
      - any-glob-to-any-file: bootstrap/templates/addons/**/*
      - any-glob-to-any-file: bootstrap/tasks/addons/**/*
      - any-glob-to-any-file: bootstrap/vars/addons.sample.yaml
area/ansible:
  - changed-files:
      - any-glob-to-any-file: ansible/**/*
      - any-glob-to-any-file: bootstrap/templates/ansible/**/*
      - any-glob-to-any-file: bootstrap/tasks/ansible/**/*
area/bootstrap:
  - changed-files:
      - any-glob-to-any-file: bootstrap/**/*
      - any-glob-to-any-file: bootstrap/configure.yaml
area/github:
  - changed-files:
      - any-glob-to-any-file: .github/**/*
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: kubernetes/**/*
      - any-glob-to-any-file: bootstrap/templates/kubernetes/**/*
      - any-glob-to-any-file: bootstrap/tasks/kubernetes/**/*
area/taskfile:
  - changed-files:
      - any-glob-to-any-file: .taskfiles/**/*
      - any-glob-to-any-file: Taskfile*

fix: rook-ceph metrics error
  kubernetes/apps/monitoring/kube-prometheus-stack/app/kube-state-metrics.yaml
  kubernetes/apps/rook-ceph/README.md
  kubernetes/apps/rook-ceph/rook-ceph/cluster/helmrelease.yaml
  kubernetes/apps/rook-ceph/rook-ceph/operator/helmrelease.yaml
Labels: area/kubernetes

fix: rook-ceph metrics error
  kubernetes/apps/monitoring/kube-prometheus-stack/app/kube-state-metrics.yaml
  kubernetes/apps/rook-ceph/README.md
  kubernetes/apps/rook-ceph/rook-ceph/cluster/helmrelease.yaml
  kubernetes/apps/rook-ceph/rook-ceph/operator/helmrelease.yaml
Labels: area/kubernetes

fix(github-action): update lycheeverse/lychee-action action to v1.9.3
  .github/workflows/link-check.yaml
Labels: area/github

fix(github-action): update lycheeverse/lychee-action action to v1.9.3
  .github/workflows/link-check.yaml
Labels: area/github

fix(github-release): update pre-commit hook sirosen/texthooks to 0.6.4
  .pre-commit-config.yaml
Labels: none

fix(github-release): update pre-commit hook sirosen/texthooks to 0.6.4
  .pre-commit-config.yaml
Labels: none

feat(ansible): update community.general to 8.3.0
  requirements.yaml
Labels: none

feat(ansible): update community.general to 8.3.0
  requirements.yaml
Labels: none

feat(helm): update chart grafana to 7.3.0
  bootstrap/templates/addons/grafana/app/helmrelease.yaml.j2
  kubernetes/apps/monitoring/grafana/app/helmrelease.yaml
Labels: area/addons, area/bootstrap, area/kubernetes

feat(helm): update chart grafana to 7.3.0
  bootstrap/templates/addons/grafana/app/helmrelease.yaml.j2
  kubernetes/apps/monitoring/grafana/app/helmrelease.yaml
Labels: area/addons, area/bootstrap, area/kubernetes

feat(ansible): update ansible.utils to 3.1.0
  requirements.yaml
Labels: none

feat(ansible): update ansible.utils to 3.1.0
  requirements.yaml
Labels: none

chore(deps): update ansible to 9.2.0
  requirements.txt
Labels: none

chore(deps): update ansible to 9.2.0
  requirements.txt
Labels: none

feat(container): update image ghcr.io/usememos/memos to v0.19.1
  kubernetes/apps/default/memos/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update image ghcr.io/usememos/memos to v0.19.1
  kubernetes/apps/default/memos/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update chart reloader to 1.0.65
  bootstrap/templates/kubernetes/apps/kube-system/reloader/app/helmrelease.yaml.j2
  kubernetes/apps/kube-system/reloader/app/helmrelease.yaml
Labels: area/bootstrap, area/kubernetes

fix(helm): update chart reloader to 1.0.65
  bootstrap/templates/kubernetes/apps/kube-system/reloader/app/helmrelease.yaml.j2
  kubernetes/apps/kube-system/reloader/app/helmrelease.yaml
Labels: area/bootstrap, area/kubernetes

fix(helm): update chart windmill to 2.0.88
  kubernetes/apps/datasci/windmill/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update chart windmill to 2.0.88
  kubernetes/apps/datasci/windmill/app/helmrelease.yaml
Labels: area/kubernetes

feat(helm): update chart cilium to 1.15.0
  ansible/playbooks/templates/custom-cilium-helmchart.yaml.j2
  bootstrap/templates/ansible/playbooks/templates/custom-cilium-helmchart.yaml.j2.j2
  bootstrap/templates/kubernetes/apps/kube-system/cilium/app/helmrelease.yaml.j2
  kubernetes/apps/kube-system/cilium/app/helmrelease.yaml
Labels: area/ansible, area/bootstrap, area/kubernetes

feat(helm): update chart cilium to 1.15.0
  ansible/playbooks/templates/custom-cilium-helmchart.yaml.j2
  bootstrap/templates/ansible/playbooks/templates/custom-cilium-helmchart.yaml.j2.j2
  bootstrap/templates/kubernetes/apps/kube-system/cilium/app/helmrelease.yaml.j2
  kubernetes/apps/kube-system/cilium/app/helmrelease.yaml
Labels: area/ansible, area/bootstrap, area/kubernetes

feat(helm): update chart snapshot-controller to 2.1.0
  bootstrap/templates/kubernetes/apps/kube-system/snapshot-controller/app/helmrelease.yaml.j2
  kubernetes/apps/kube-system/snapshot-controller/app/helmrelease-controller.yaml
Labels: area/bootstrap, area/kubernetes

feat(helm): update chart snapshot-controller to 2.1.0
  bootstrap/templates/kubernetes/apps/kube-system/snapshot-controller/app/helmrelease.yaml.j2
  kubernetes/apps/kube-system/snapshot-controller/app/helmrelease-controller.yaml
Labels: area/bootstrap, area/kubernetes

feat(github-release): update pre-commit hook crate-ci/typos to v1.18.0
  .pre-commit-config.yaml
Labels: none

feat(github-release): update pre-commit hook crate-ci/typos to v1.18.0
  .pre-commit-config.yaml
Labels: none

fix(github-release): update pre-commit hook zricethezav/gitleaks to v8.18.2
  .pre-commit-config.yaml
Labels: none

fix(github-release): update pre-commit hook zricethezav/gitleaks to v8.18.2
  .pre-commit-config.yaml
Labels: none

chore(container): update image lscr.io/linuxserver/pairdrop to 808dd09
  kubernetes/apps/default/pairdrop/app/helmrelease.yaml
Labels: area/kubernetes

chore(deps): update mshick/add-pr-comment digest to b8f338c
  .github/workflows/flux-diff.yaml
Labels: area/github

chore(deps): update mshick/add-pr-comment digest to b8f338c
  .github/workflows/flux-diff.yaml
Labels: area/github

feat(helm): update chart cert-manager to v1.14.1
  bootstrap/templates/kubernetes/apps/cert-manager/cert-manager/app/helmrelease.yaml.j2
  kubernetes/apps/cert-manager/cert-manager/app/helmrelease.yaml
Labels: area/bootstrap, area/kubernetes

feat(helm): update chart cert-manager to v1.14.1
  bootstrap/templates/kubernetes/apps/cert-manager/cert-manager/app/helmrelease.yaml.j2
  kubernetes/apps/cert-manager/cert-manager/app/helmrelease.yaml
Labels: area/bootstrap, area/kubernetes

feat(container): update image ghcr.io/morphy2k/rss-forwarder to v0.7.0
  bootstrap/templates/addons/discord-template-notifier/app/helmrelease.yaml.j2
Labels: area/addons, area/bootstrap

feat(container): update image ghcr.io/morphy2k/rss-forwarder to v0.7.0
  bootstrap/templates/addons/discord-template-notifier/app/helmrelease.yaml.j2
Labels: area/addons, area/bootstrap

chore(container): update image lscr.io/linuxserver/pairdrop to 808dd09
  kubernetes/apps/default/pairdrop/app/helmrelease.yaml
Labels: area/kubernetes

chore(container): update image lscr.io/linuxserver/pairdrop to 808dd09
  kubernetes/apps/default/pairdrop/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image k8s-ycl to v1.2.2
  kubernetes/apps/kube-system/ycl/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image k8s-ycl to v1.2.2
  kubernetes/apps/kube-system/ycl/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update image prometheus-node-exporter to v4.27.0
  kubernetes/apps/monitoring/node-exporter/app/helmrelease.yaml
Labels: area/kubernetes
