Repository ahgraber/homelab-gitops-k3s, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/docs, area/github, area/kubernetes, area/taskfile

.github/labeler.yaml:

---
area/ansible:
  - changed-files:
      - any-glob-to-any-file: ansible/**/*
area/docs:
  - changed-files:
      - any-glob-to-any-file:
          - "docs/**/*"
          - "README.md"
area/github:
  - changed-files:
      - any-glob-to-any-file: .github/**/*
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: kubernetes/**/*
area/taskfile:
  - changed-files:
      - any-glob-to-any-file: .taskfiles/**/*
      - any-glob-to-any-file: Taskfile*

fix(calibre-web-downloader): update user permissions
  kubernetes/apps/default/calibre-web-downloader/app/helmrelease.yaml
Labels: area/kubernetes

fix(calibre-web-downloader): fix ingest directory
  kubernetes/apps/default/calibre-web-downloader/README.md
  kubernetes/apps/default/calibre-web-downloader/app/helmrelease.yaml
Labels: area/kubernetes

fix(calibre-web-downloader): update environment variables and bypass configuration
  kubernetes/apps/default/calibre-web-downloader/app/helmrelease.yaml
Labels: area/kubernetes

fix(calibre-web-downloader): update environment variables and bypass configuration
  kubernetes/apps/default/calibre-web-downloader/app/helmrelease.yaml
Labels: area/kubernetes

fix(calibre-web-automated): add volsync-managed volume
  kubernetes/apps/default/calibre-web-automated/app/pvc-library.yaml
  kubernetes/apps/default/calibre-web-automated/ks.yaml
  kubernetes/apps/default/calibre-web-automated/volume/kustomization.yaml
Labels: area/kubernetes

fix(calibre-web): shrink config pvc to 128Mi
  kubernetes/apps/default/calibre-web-automated/ks.yaml
  kubernetes/apps/default/calibre-web-downloader/ks.yaml
Labels: area/kubernetes

fix(karakeep): allow k3s-internal communication
  kubernetes/apps/default/karakeep/app/helmrelease.yaml
Labels: area/kubernetes

fix(karakeep): bump memory limits
  kubernetes/apps/default/karakeep/app/helmrelease.yaml
Labels: area/kubernetes

fix(grafana): update cert-manager dashboard source
  kubernetes/apps/cert-manager/addons/cert-manager.json
  kubernetes/apps/cert-manager/addons/kustomization.yaml
Labels: area/kubernetes

feat(authelia): add calibre-web-automated
  kubernetes/apps/security/authelia/app/config/configuration.yaml
  kubernetes/apps/security/authelia/app/secret.sops.yaml
  kubernetes/apps/security/authelia/app/secret.sops.yaml.tmpl
Labels: area/kubernetes

feat(calibre): set to volsync restore; prep for v3.1.5 (OIDC, metadata sources)
  kubernetes/apps/default/calibre-web-automated/README.md
  kubernetes/apps/default/calibre-web-automated/app/helmrelease.yaml
  kubernetes/apps/default/calibre-web-automated/app/kustomization.yaml
  kubernetes/apps/default/calibre-web-automated/app/secret-oidc.sops.yaml
  kubernetes/apps/default/calibre-web-automated/app/secret-oidc.sops.yaml.tmpl
  kubernetes/apps/default/calibre-web-automated/app/secret.sops.yaml
  kubernetes/apps/default/calibre-web-automated/app/secret.sops.yaml.tmpl
  kubernetes/apps/default/calibre-web-automated/volume/kustomization.yaml
  kubernetes/apps/default/calibre-web-downloader/app/helmrelease.yaml
  kubernetes/apps/default/calibre-web-downloader/app/kustomization.yaml
Labels: area/kubernetes

fix(pdf): update permissions for new image
  kubernetes/apps/default/stirling-pdf/app/helmrelease.yaml
Labels: area/kubernetes

feat(karakeep): add crawler configuration parameters
  kubernetes/apps/default/karakeep/app/helmrelease.yaml
Labels: area/kubernetes

fix(pdf): update permissions for new image
  kubernetes/apps/default/stirling-pdf/app/helmrelease.yaml
Labels: area/kubernetes

fix(pdf): update permissions for new image
  kubernetes/apps/default/stirling-pdf/app/helmrelease.yaml
Labels: area/kubernetes

refactor(renovate): reorg renovate configuration
  .github/workflows/renovate.yaml
  .renovate/allowedVersions.json5
  .renovate/autoMerge.json5
  .renovate/customManagers.json5
  .renovate/grafanaDashboards.json5
  .renovate/groups.json5
  .renovate/labels.json5
  .renovate/packageRules.json5
  .renovate/renovate-bot.json5
  .renovate/semanticCommits.json5
  .renovaterc.json5
Labels: area/github

feat(envoy): add EnvoyPatchPolicy for external and internal gateways with Zstd compression
  kubernetes/apps/networking/envoy-gateway/app/helmrelease.yaml
  kubernetes/apps/networking/envoy-gateway/instance/gateway-external.yaml
  kubernetes/apps/networking/envoy-gateway/instance/gateway-internal.yaml
  kubernetes/apps/networking/envoy-gateway/instance/gateway-policies.yaml
Labels: area/kubernetes

fix(envoy): fix EnvoyPatchPolicy for external and internal gateways with Zstd compression
  kubernetes/apps/networking/envoy-gateway/app/helmrelease.yaml
  kubernetes/apps/networking/envoy-gateway/instance/gateway-external.yaml
  kubernetes/apps/networking/envoy-gateway/instance/gateway-internal.yaml
Labels: area/kubernetes

fix(envoy): rm Zstd compression
  kubernetes/apps/networking/envoy-gateway/app/helmrelease.yaml
  kubernetes/apps/networking/envoy-gateway/instance/gateway-external.yaml
  kubernetes/apps/networking/envoy-gateway/instance/gateway-internal.yaml
  kubernetes/apps/networking/envoy-gateway/instance/gateway-policies.yaml
Labels: area/kubernetes

Revert "feat(container): update image docker.io/library/influxdb ( 2.7 → 2.8 )"
  kubernetes/apps/observability/scrutiny/app/helmrelease.yaml
Labels: area/kubernetes

feat(ansible): ensure fstrim is enabled on k8s nodes
  ansible/playbooks/k3s-prepare.yaml
Labels: area/ansible

fix(ceph): reduce demand on system
  kubernetes/apps/rook-ceph/rook-ceph/cluster/helmrelease.yaml
Labels: area/kubernetes

fix(ext-postgres-operator): chart-spec'd image not yet available
  kubernetes/apps/database/ext-postgres-operator/app/helmrelease.yaml
  kubernetes/apps/datasci/postgres/ext-postgres-operator/app/helmrelease.yaml
Labels: area/kubernetes

feat(garage): add garage for s3-compatible storage
  kubernetes/apps/default/garage/README.md
  kubernetes/apps/default/garage/app/helmrelease.yaml
  kubernetes/apps/default/garage/app/kustomization.yaml
  kubernetes/apps/default/garage/app/resources/configuration.toml
  kubernetes/apps/default/garage/app/secret.sops.yaml
  kubernetes/apps/default/garage/app/secret.sops.yaml.tmpl
  kubernetes/apps/default/garage/app/source.yaml
  kubernetes/apps/default/garage/ks.yaml
  kubernetes/apps/default/garage/webui/helmrelease.yaml
  kubernetes/apps/default/garage/webui/kustomization.yaml
  kubernetes/apps/default/garage/webui/secret.sops.yaml
  kubernetes/apps/default/garage/webui/secret.sops.yaml.tmpl
  kubernetes/apps/default/garage/webui/source.yaml
  kubernetes/apps/default/kustomization.yaml
  kubernetes/flux/vars/custom-secrets.sops.yaml
  kubernetes/flux/vars/custom-secrets.sops.yaml.tmpl
  kubernetes/templates/volsync-ftp/README.md
  kubernetes/templates/volsync-ftp/init/init_claim.yaml
  kubernetes/templates/volsync-ftp/init/kustomization.yaml
  kubernetes/templates/volsync-ftp/restore/claim.yaml
  kubernetes/templates/volsync-ftp/restore/kustomization.yaml
  kubernetes/templates/volsync-ftp/restore/replicationdestination.yaml
  kubernetes/templates/volsync-ftp/restore/replicationsource.yaml
  kubernetes/templates/volsync-ftp/restore/secret.yaml
Labels: area/kubernetes

feat(garage): use garage on truenas
  kubernetes/apps/default/kustomization.yaml
  kubernetes/apps/networking/external-services/services/garage-s3.yaml
  kubernetes/apps/networking/external-services/services/garage-webui.yaml
  kubernetes/apps/networking/external-services/services/kustomization.yaml
  kubernetes/flux/vars/custom-secrets.sops.yaml
  kubernetes/flux/vars/custom-secrets.sops.yaml.tmpl
Labels: area/kubernetes

fix(mlflow): clean up old mlflow config
  kubernetes/apps/datasci/mlflow/app/helmrelease.yaml
  kubernetes/apps/datasci/mlflow/app/kustomization.yaml
  kubernetes/apps/datasci/mlflow/app/objectbucketclaim.yaml
  kubernetes/apps/datasci/mlflow/app/secret-s3.sops.yaml
  kubernetes/apps/datasci/mlflow/app/secret-s3.sops.yaml.tmpl
Labels: area/kubernetes

feat(s3): convert to garage s3 backend
  kubernetes/apps/database/cloudnative-pg/cluster/secrets.sops.yaml
  kubernetes/apps/datasci/postgres/cloudnative-pg/cluster/secrets.sops.yaml
  kubernetes/flux/vars/custom-secrets.sops.yaml
  kubernetes/templates/volsync-ftp/README.md
  kubernetes/templates/volsync-ftp/init/init_claim.yaml
  kubernetes/templates/volsync-ftp/init/kustomization.yaml
  kubernetes/templates/volsync-ftp/restore/claim.yaml
  kubernetes/templates/volsync-ftp/restore/kustomization.yaml
  kubernetes/templates/volsync-ftp/restore/replicationdestination.yaml
  kubernetes/templates/volsync-ftp/restore/replicationsource.yaml
  kubernetes/templates/volsync-ftp/restore/secret.yaml
  kubernetes/templates/volsync/restore/secret.yaml
Labels: area/kubernetes

feat(observability): update prometheus additionalScrapeConfigs from minio to garage
  kubernetes/apps/observability/kube-prometheus-stack/app/secret-additionalScrapeConfigs.sops.yaml
  kubernetes/apps/observability/kube-prometheus-stack/app/secret-additionalScrapeConfigs.sops.yaml.tmpl
  kubernetes/apps/observability/kube-prometheus-stack/app/secret-alertmgrNotifiers.sops.yaml
Labels: area/kubernetes

feat(s3): convert to garage s3 backend
  kubernetes/apps/database/cloudnative-pg/cluster/cluster16.yaml
  kubernetes/apps/datasci/mlflow/app/helmrelease.yaml
  kubernetes/apps/datasci/postgres/cloudnative-pg/cluster/cluster16.yaml
Labels: area/kubernetes

feat(observability): update prometheus additionalScrapeConfigs from minio to garage
  kubernetes/apps/observability/kube-prometheus-stack/app/secret-additionalScrapeConfigs.sops.yaml
  kubernetes/apps/observability/kube-prometheus-stack/app/secret-additionalScrapeConfigs.sops.yaml.tmpl
Labels: area/kubernetes

feat(garage): host garage gateway node on k3s
  kubernetes/apps/default/garage/app/helmrelease.yaml
  kubernetes/apps/default/garage/app/kustomization.yaml
  kubernetes/apps/default/garage/app/resources/configuration.toml
  kubernetes/apps/default/kustomization.yaml
Labels: area/kubernetes

feat(garage): host garage gateway node on k3s
  kubernetes/apps/default/garage/app/helmrelease.yaml
  kubernetes/apps/default/garage/app/kustomization.yaml
  kubernetes/apps/default/garage/webui/helmrelease.yaml
  kubernetes/apps/default/garage/webui/kustomization.yaml
  kubernetes/apps/networking/external-services/services/kustomization.yaml
Labels: area/kubernetes

feat(garage): revert garage on k3s
  kubernetes/apps/default/garage/README.md
  kubernetes/apps/default/garage/webui/secret.sops.yaml
  kubernetes/apps/default/kustomization.yaml
  kubernetes/apps/networking/external-services/services/kustomization.yaml
Labels: area/kubernetes

feat(barman): add CNPG Barman Cloud plugin integration
  kubernetes/apps/database/cloudnative-pg/barman/README.md
  kubernetes/apps/database/cloudnative-pg/barman/helmrelease.yaml
  kubernetes/apps/database/cloudnative-pg/barman/kustomization.yaml
  kubernetes/apps/database/cloudnative-pg/barman/source.yaml
  kubernetes/apps/database/cloudnative-pg/cluster/cluster16.yaml
  kubernetes/apps/database/cloudnative-pg/cluster/kustomization.yaml
  kubernetes/apps/database/cloudnative-pg/cluster/objectstore.yaml
  kubernetes/apps/database/cloudnative-pg/cluster/scheduledbackup16.yaml
  kubernetes/apps/database/cloudnative-pg/ks.yaml
  kubernetes/apps/database/cloudnative-pg/operator/README.md
  kubernetes/apps/datasci/postgres/cloudnative-pg/README.md
  kubernetes/apps/datasci/postgres/cloudnative-pg/cluster/cluster16.yaml
  kubernetes/apps/datasci/postgres/cloudnative-pg/cluster/kustomization.yaml
  kubernetes/apps/datasci/postgres/cloudnative-pg/cluster/objectstore.yaml
  kubernetes/apps/datasci/postgres/cloudnative-pg/cluster/scheduledbackup16.yaml
  kubernetes/apps/datasci/postgres/cloudnative-pg/ks.yaml
Labels: area/kubernetes

feat(barman): add CNPG Barman Cloud plugin integration
  kubernetes/apps/database/cloudnative-pg/barman/helmrelease.yaml
  kubernetes/apps/database/cloudnative-pg/cluster/cluster16.yaml
  kubernetes/apps/database/cloudnative-pg/cluster/objectstore.yaml
  kubernetes/apps/database/cloudnative-pg/cluster/scheduledbackup16.yaml
  kubernetes/apps/database/cloudnative-pg/cluster/secrets.sops.yaml
  kubernetes/apps/database/cloudnative-pg/cluster/secrets.sops.yaml.tmpl
  kubernetes/apps/datasci/mlflow/app/helmrelease.yaml
  kubernetes/apps/datasci/mlflow/app/secret-s3.sops.yaml
  kubernetes/apps/datasci/mlflow/app/secret-s3.sops.yaml.tmpl
  kubernetes/apps/datasci/postgres/cloudnative-pg/cluster/cluster16.yaml
  kubernetes/apps/datasci/postgres/cloudnative-pg/cluster/objectstore.yaml
  kubernetes/apps/datasci/postgres/cloudnative-pg/cluster/scheduledbackup16.yaml
  kubernetes/apps/datasci/postgres/cloudnative-pg/cluster/secrets.sops.yaml
  kubernetes/apps/datasci/postgres/cloudnative-pg/cluster/secrets.sops.yaml.tmpl
  kubernetes/flux/vars/custom-secrets.sops.yaml
  kubernetes/flux/vars/custom-secrets.sops.yaml.tmpl
  kubernetes/templates/volsync/restore/secret.yaml
Labels: area/kubernetes

docs(nosleep-remote): update guide for preventing sleep on linux during SSH sessions
  docs/nosleep-remote.md
Labels: area/docs

fix(postgres-operator): container version referenced in helm chart should be available now
  kubernetes/apps/database/ext-postgres-operator/app/helmrelease.yaml
  kubernetes/apps/datasci/postgres/ext-postgres-operator/app/helmrelease.yaml
Labels: area/kubernetes

feat(prefect): update to keep up with recent updates
  kubernetes/apps/datasci/prefect/README.md
  kubernetes/apps/datasci/prefect/server/helmrelease.yaml
  kubernetes/apps/datasci/prefect/worker/helmrelease.yaml
Labels: area/kubernetes

feat(karakeep): bump pvc capacity
  kubernetes/apps/default/karakeep/ks.yaml
Labels: area/kubernetes

feat: define copilot prompts and agents
  .github/agents/code-review.agent.md
  .github/agents/plan.agent.md
  .github/agents/test.agent.md
  .github/prompts/plan.prompt.md
  .github/prompts/review.prompt.md
  .github/prompts/test.prompt.md
Labels: area/github
