Repository ahgraber/homelab-gitops-k3s, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/addons, area/ansible, area/bootstrap, area/github, area/kubernetes

fix(container): update image docker.io/mtlynch/picoshare to v1.4.1
  kubernetes/apps/default/picoshare/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image docker.io/mtlynch/picoshare to v1.4.1
  kubernetes/apps/default/picoshare/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update chart reloader to 1.0.50
  bootstrap/templates/kubernetes/apps/kube-system/reloader/app/helmrelease.yaml.j2
  kubernetes/apps/kube-system/reloader/app/helmrelease.yaml
Labels: area/bootstrap, area/kubernetes

fix(helm): update chart reloader to 1.0.50
  bootstrap/templates/kubernetes/apps/kube-system/reloader/app/helmrelease.yaml.j2
  kubernetes/apps/kube-system/reloader/app/helmrelease.yaml
Labels: area/bootstrap, area/kubernetes

fix(helm): update chart cert-manager to v1.13.2
  bootstrap/templates/kubernetes/apps/cert-manager/cert-manager/app/helmrelease.yaml.j2
  kubernetes/apps/cert-manager/cert-manager/app/helmrelease.yaml
Labels: area/bootstrap, area/kubernetes

fix(helm): update chart cert-manager to v1.13.2
  bootstrap/templates/kubernetes/apps/cert-manager/cert-manager/app/helmrelease.yaml.j2
  kubernetes/apps/cert-manager/cert-manager/app/helmrelease.yaml
Labels: area/bootstrap, area/kubernetes

fix(container): update image docker.io/jmalloc/echo-server to v0.3.6
  bootstrap/templates/kubernetes/apps/networking/echo-server/app/helmrelease.yaml.j2
  kubernetes/apps/debug/echo-server/app/helmrelease.yaml
Labels: area/bootstrap, area/kubernetes

fix(container): update image docker.io/jmalloc/echo-server to v0.3.6
  bootstrap/templates/kubernetes/apps/networking/echo-server/app/helmrelease.yaml.j2
  kubernetes/apps/debug/echo-server/app/helmrelease.yaml
Labels: area/bootstrap, area/kubernetes

fix(helm): update chart grafana to 7.0.2
  bootstrap/templates/addons/grafana/app/helmrelease.yaml.j2
  kubernetes/apps/monitoring/grafana/app/helmrelease.yaml
Labels: area/addons, area/bootstrap, area/kubernetes

fix(helm): update chart grafana to 7.0.2
  bootstrap/templates/addons/grafana/app/helmrelease.yaml.j2
  kubernetes/apps/monitoring/grafana/app/helmrelease.yaml
Labels: area/addons, area/bootstrap, area/kubernetes

feat(container): update image docker.io/cloudflare/cloudflared to v2023.10.0
  bootstrap/templates/kubernetes/apps/networking/cloudflared/app/helmrelease.yaml.j2
  kubernetes/apps/networking/cloudflared/app/helmrelease.yaml
Labels: area/bootstrap, area/kubernetes

feat(container): update image docker.io/cloudflare/cloudflared to v2023.10.0
  bootstrap/templates/kubernetes/apps/networking/cloudflared/app/helmrelease.yaml.j2
  kubernetes/apps/networking/cloudflared/app/helmrelease.yaml
Labels: area/bootstrap, area/kubernetes

feat(helm)!: Update chart goldilocks to 8.0.0
  kubernetes/apps/monitoring/goldilocks/app/helmrelease-goldilocks.yaml
Labels: area/kubernetes

feat(helm)!: Update chart goldilocks to 8.0.0
  kubernetes/apps/monitoring/goldilocks/app/helmrelease-goldilocks.yaml
Labels: area/kubernetes

fix(github-release): update k3s-io/k3s to v1.28.3+k3s1
  bootstrap/templates/addons/system-upgrade-controller/plans/agent.yaml.j2
  bootstrap/templates/addons/system-upgrade-controller/plans/server.yaml.j2
  kubernetes/apps/system-upgrade/system-upgrade-controller/plans/agent.yaml
  kubernetes/apps/system-upgrade/system-upgrade-controller/plans/server.yaml
Labels: area/addons, area/bootstrap, area/kubernetes

fix(github-release): update k3s-io/k3s to v1.28.3+k3s1
  bootstrap/templates/addons/system-upgrade-controller/plans/agent.yaml.j2
  bootstrap/templates/addons/system-upgrade-controller/plans/server.yaml.j2
  kubernetes/apps/system-upgrade/system-upgrade-controller/plans/agent.yaml
  kubernetes/apps/system-upgrade/system-upgrade-controller/plans/server.yaml
Labels: area/addons, area/bootstrap, area/kubernetes

fix(github-release): update pre-commit hook crate-ci/typos to v1.16.22
  .pre-commit-config.yaml
Labels: none

fix(github-release): update pre-commit hook crate-ci/typos to v1.16.22
  .pre-commit-config.yaml
Labels: none

feat(helm): update chart coredns to 1.28.1
  ansible/playbooks/templates/custom-coredns-helmchart.yaml.j2
  bootstrap/templates/ansible/playbooks/templates/custom-coredns-helmchart.yaml.j2.j2
  bootstrap/templates/kubernetes/apps/kube-system/coredns/app/helmrelease.yaml.j2
  kubernetes/apps/kube-system/coredns/app/helmrelease.yaml
Labels: area/ansible, area/bootstrap, area/kubernetes

feat(helm): update chart coredns to 1.28.1
  ansible/playbooks/templates/custom-coredns-helmchart.yaml.j2
  bootstrap/templates/ansible/playbooks/templates/custom-coredns-helmchart.yaml.j2.j2
  bootstrap/templates/kubernetes/apps/kube-system/coredns/app/helmrelease.yaml.j2
  kubernetes/apps/kube-system/coredns/app/helmrelease.yaml
Labels: area/ansible, area/bootstrap, area/kubernetes

feat(container): update image ghcr.io/letsblockit/server to v0.47.0
  kubernetes/apps/default/letsblockit/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update image ghcr.io/letsblockit/server to v0.47.0
  kubernetes/apps/default/letsblockit/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update chart cloudnative-pg to 0.19.1
  kubernetes/apps/cnpg-system/cloudnative-pg/operator/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update chart cloudnative-pg to 0.19.1
  kubernetes/apps/cnpg-system/cloudnative-pg/operator/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update chart grafana to 7.0.3
  bootstrap/templates/addons/grafana/app/helmrelease.yaml.j2
  kubernetes/apps/monitoring/grafana/app/helmrelease.yaml
Labels: area/addons, area/bootstrap, area/kubernetes

fix(helm): update chart grafana to 7.0.3
  bootstrap/templates/addons/grafana/app/helmrelease.yaml.j2
  kubernetes/apps/monitoring/grafana/app/helmrelease.yaml
Labels: area/addons, area/bootstrap, area/kubernetes

fix(container): update image ghcr.io/cloudnative-pg/postgresql to v14.9-18
  kubernetes/apps/datasci/postgres/cloudnative-pg/db/cluster.yaml
  kubernetes/apps/default/postgres/cloudnative-pg/db/cluster.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/cloudnative-pg/postgresql to v14.9-18
  kubernetes/apps/datasci/postgres/cloudnative-pg/db/cluster.yaml
  kubernetes/apps/default/postgres/cloudnative-pg/db/cluster.yaml
Labels: area/kubernetes

fix(container): update image docker.io/sissbruecker/linkding to v1.22.3
  kubernetes/apps/default/linkding/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image docker.io/sissbruecker/linkding to v1.22.3
  kubernetes/apps/default/linkding/app/helmrelease.yaml
Labels: area/kubernetes

chore(container): update image lscr.io/linuxserver/pairdrop to d14bb6e
  kubernetes/apps/default/pairdrop/app/helmrelease.yaml
Labels: area/kubernetes

feat(github-action): update micalevisk/last-issue-action action to v2.2.0
  .github/workflows/link-check.yaml
Labels: area/github

feat(github-action): update micalevisk/last-issue-action action to v2.2.0
  .github/workflows/link-check.yaml
Labels: area/github

chore(container): update image lscr.io/linuxserver/pairdrop to d14bb6e
  kubernetes/apps/default/pairdrop/app/helmrelease.yaml
Labels: area/kubernetes

chore(container): update image lscr.io/linuxserver/pairdrop to d14bb6e
  kubernetes/apps/default/pairdrop/app/helmrelease.yaml
Labels: area/kubernetes

fix: remove externalTrafficPolicy refs because Cluster is default
  kubernetes/apps/datasci/prefect/server/helmrelease.yaml
  kubernetes/apps/networking/k8s-gateway/app/helmrelease.yaml
  kubernetes/apps/networking/nginx/external/helmrelease.yaml
  kubernetes/apps/networking/nginx/internal/helmrelease.yaml
Labels: area/kubernetes

fix: remove externalTrafficPolicy refs because Cluster is default
  kubernetes/apps/datasci/prefect/server/helmrelease.yaml
  kubernetes/apps/networking/k8s-gateway/app/helmrelease.yaml
  kubernetes/apps/networking/nginx/external/helmrelease.yaml
  kubernetes/apps/networking/nginx/internal/helmrelease.yaml
Labels: area/kubernetes

fix: use short vars in taskfiles
  .taskfiles/ClusterTasks.yaml
  .taskfiles/DBTasks.yaml
  .taskfiles/RookTasks.yaml
  .taskfiles/VolsyncTasks.yaml
  .taskfiles/volsync/ListJob.tmpl.yaml
  .taskfiles/volsync/ReplicationDestination.tmpl.yaml
  .taskfiles/volsync/UnlockJob.tmpl.yaml
  .taskfiles/volsync/WipeJob.tmpl.yaml
Labels: none

fix: use short vars in taskfiles
  .taskfiles/ClusterTasks.yaml
  .taskfiles/DBTasks.yaml
  .taskfiles/RookTasks.yaml
  .taskfiles/VolsyncTasks.yaml
  .taskfiles/volsync/ListJob.tmpl.yaml
  .taskfiles/volsync/ReplicationDestination.tmpl.yaml
  .taskfiles/volsync/UnlockJob.tmpl.yaml
  .taskfiles/volsync/WipeJob.tmpl.yaml
Labels: none

fix(github-release): update pre-commit hook crate-ci/typos to v1.16.23
  .pre-commit-config.yaml
Labels: none

.github/labeler.yaml:

---
area/addons:
  - "bootstrap/templates/addons/**/*"
  - "bootstrap/tasks/addons/**/*"
  - "bootstrap/vars/addons.sample.yaml"
area/ansible:
  - "ansible/**/*"
  - "bootstrap/templates/ansible/**/*"
  - "bootstrap/tasks/ansible/**/*"
area/bootstrap:
  - "bootstrap/**/*"
  - "bootstrap/configure.yaml"
area/github:
  - ".github/**/*"
area/kubernetes:
  - "kubernetes/**/*"
  - "bootstrap/templates/kubernetes/**/*"
  - "bootstrap/tasks/kubernetes/**/*"
