Repository ahgraber/homelab-gitops-k3s, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/docs, area/github, area/kubernetes, area/taskfile

fix: use 'restic:latest' in taskfiles
  .taskfiles/volsync/templates/ListJob.tmpl.yaml
  .taskfiles/volsync/templates/UnlockJob.tmpl.yaml
Labels: area/taskfile

fix: prerelease version parse error in prometheusSpec.image
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes

fix: prerelease version parse error in prometheusSpec.image
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes

chore: copy grafana env vars from onedr0p
  kubernetes/apps/monitoring/grafana/app/helmrelease.yaml
Labels: area/kubernetes

chore: copy grafana env vars from onedr0p
  kubernetes/apps/monitoring/grafana/app/helmrelease.yaml
Labels: area/kubernetes

fix: prefect -- update postgres secret mgmt
  kubernetes/apps/datasci/prefect/server/helmrelease.yaml
Labels: area/kubernetes

fix: prefect -- update postgres secret mgmt
  kubernetes/apps/datasci/prefect/server/helmrelease.yaml
Labels: area/kubernetes

fix: prefect -- update postgres secret mgmt
  kubernetes/apps/datasci/prefect/server/helmrelease.yaml
Labels: area/kubernetes

fix: prefect -- update postgres secret mgmt
  kubernetes/apps/datasci/prefect/server/helmrelease.yaml
Labels: area/kubernetes

fix: prefect -- update postgres secret mgmt
  kubernetes/apps/datasci/prefect/server/helmrelease.yaml
Labels: area/kubernetes

fix: prefect -- update postgres secret mgmt
  kubernetes/apps/datasci/prefect/server/helmrelease.yaml
Labels: area/kubernetes

fix: remove sha-based match on flux version tag
  kubernetes/flux/config/flux.yaml
Labels: area/kubernetes

fix: remove sha-based match on flux version tag
  kubernetes/flux/config/flux.yaml
Labels: area/kubernetes

refactor: reorg coredns values
  ansible/playbooks/templates/coredns-helmchart.yaml.j2
  kubernetes/apps/kube-system/coredns/app/helmrelease.yaml
Labels: area/ansible, area/kubernetes

refactor: reorg coredns values
  ansible/playbooks/templates/coredns-helmchart.yaml.j2
  kubernetes/apps/kube-system/coredns/app/helmrelease.yaml
Labels: area/ansible, area/kubernetes

fix: digest-specific reconcilation is too strict
  .github/renovate.json5
Labels: area/github

fix: digest-specific reconcilation is too strict
  .github/renovate.json5
Labels: area/github

feat: automerge grafana patch releases
  .github/renovate/autoMerge.json5
Labels: area/github

feat: automerge grafana patch releases
  .github/renovate/autoMerge.json5
Labels: area/github

fix: grafana redirect errors?
  kubernetes/apps/monitoring/grafana/app/helmrelease.yaml
  kubernetes/apps/networking/ingress-nginx/internal/helmrelease.yaml
Labels: area/kubernetes

fix: grafana redirect errors?
  kubernetes/apps/monitoring/grafana/app/helmrelease.yaml
  kubernetes/apps/networking/ingress-nginx/internal/helmrelease.yaml
Labels: area/kubernetes

fix: grafana redirect errors?
  kubernetes/apps/monitoring/grafana/app/helmrelease.yaml
Labels: area/kubernetes

fix: grafana redirect errors?
  kubernetes/apps/monitoring/grafana/app/helmrelease.yaml
Labels: area/kubernetes

fix: grafana redirect errors?
  kubernetes/apps/monitoring/grafana/app/helmrelease.yaml
Labels: area/kubernetes

fix: grafana redirect errors?
  kubernetes/apps/monitoring/grafana/app/helmrelease.yaml
Labels: area/kubernetes

fix: grafana redirect errors?
  kubernetes/apps/monitoring/grafana/app/helmrelease.yaml
Labels: area/kubernetes

fix: grafana redirect errors?
  kubernetes/apps/monitoring/grafana/app/helmrelease.yaml
Labels: area/kubernetes

fix: resource requests/limits
  kubernetes/apps/blog/hugo/app/helmrelease.yaml
  kubernetes/apps/blog/umami/app/helmrelease.yaml
Labels: area/kubernetes

fix: resource requests/limits
  kubernetes/apps/blog/hugo/app/helmrelease.yaml
  kubernetes/apps/blog/umami/app/helmrelease.yaml
Labels: area/kubernetes

fix: resource requests/limits
  kubernetes/apps/database/cloudnative-pg/operator/helmrelease.yaml
  kubernetes/apps/database/dragonfly/cluster/cluster.yaml
  kubernetes/apps/database/dragonfly/operator/helmrelease.yaml
  kubernetes/apps/database/ext-postgres-operator/app/helmrelease.yaml
  kubernetes/apps/database/pgadmin/app/helmrelease.yaml
  kubernetes/apps/database/redisinsight/app/helmrelease.yaml
Labels: area/kubernetes

fix: resource requests/limits
  kubernetes/apps/database/cloudnative-pg/operator/helmrelease.yaml
  kubernetes/apps/database/dragonfly/cluster/cluster.yaml
  kubernetes/apps/database/dragonfly/operator/helmrelease.yaml
  kubernetes/apps/database/ext-postgres-operator/app/helmrelease.yaml
  kubernetes/apps/database/pgadmin/app/helmrelease.yaml
  kubernetes/apps/database/redisinsight/app/helmrelease.yaml
Labels: area/kubernetes

fix: revert dragonfly memory limits
  kubernetes/apps/database/dragonfly/cluster/cluster.yaml
Labels: area/kubernetes

fix: revert dragonfly memory limits
  kubernetes/apps/database/dragonfly/cluster/cluster.yaml
Labels: area/kubernetes

fix: revert dragonfly memory limits
  kubernetes/apps/database/ext-postgres-operator/app/helmrelease.yaml
Labels: area/kubernetes

fix: revert dragonfly memory limits
  kubernetes/apps/database/ext-postgres-operator/app/helmrelease.yaml
Labels: area/kubernetes

feat: bump to latest 1.30
  ansible/inventory/group_vars/kubernetes/main.yaml
  kubernetes/apps/system-upgrade/controller/plans/k3s-agent.yaml
  kubernetes/apps/system-upgrade/controller/plans/k3s-server.yaml
Labels: area/ansible, area/kubernetes

feat: bump to latest 1.30
  ansible/inventory/group_vars/kubernetes/main.yaml
  kubernetes/apps/system-upgrade/controller/plans/k3s-agent.yaml
  kubernetes/apps/system-upgrade/controller/plans/k3s-server.yaml
Labels: area/ansible, area/kubernetes

fix: temp. disable maxmind x nginx
  kubernetes/apps/networking/ingress-nginx/external/helmrelease.yaml
Labels: area/kubernetes

fix: temp. disable maxmind x nginx
  kubernetes/apps/networking/ingress-nginx/external/helmrelease.yaml
Labels: area/kubernetes

Revert "fix(github-release): update prometheus-operator/prometheus-operator ( v0.76.1 → v0.76.2 )"
  .taskfiles/flux/taskfile.yaml
Labels: area/taskfile

.github/labeler.yaml:

---
area/ansible:
  - changed-files:
      - any-glob-to-any-file: ansible/**/*
area/docs:
  - changed-files:
      - any-glob-to-any-file:
          - "docs/**/*"
          - "README.md"
area/github:
  - changed-files:
      - any-glob-to-any-file: .github/**/*
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: kubernetes/**/*
area/taskfile:
  - changed-files:
      - any-glob-to-any-file: .taskfiles/**/*
      - any-glob-to-any-file: Taskfile*
