Repository ahgraber/homelab-gitops-k3s, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/docs, area/github, area/kubernetes, area/taskfile

.github/labeler.yaml:

---
area/ansible:
  - changed-files:
      - any-glob-to-any-file: ansible/**/*
area/docs:
  - changed-files:
      - any-glob-to-any-file:
          - "docs/**/*"
          - "README.md"
area/github:
  - changed-files:
      - any-glob-to-any-file: .github/**/*
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: kubernetes/**/*
area/taskfile:
  - changed-files:
      - any-glob-to-any-file: .taskfiles/**/*
      - any-glob-to-any-file: Taskfile*

feat(rook-ceph): let rook-ceph manage its own prometheus rules
  kubernetes/apps/rook-ceph/rook-ceph/addons/kustomization.yaml
  kubernetes/apps/rook-ceph/rook-ceph/cluster/helmrelease.yaml
  kubernetes/apps/rook-ceph/rook-ceph/operator/helmrelease.yaml
Labels: area/kubernetes

fix(kube-prometheus-stack): metric labels
  kubernetes/apps/observability/kube-prometheus-stack/app/helmrelease.yaml
  kubernetes/apps/rook-ceph/rook-ceph/addons/ceph-cluster-dashboard.json
Labels: area/kubernetes

feat(kubernetes): add kustomize prune label to namespaces
  kubernetes/apps/kyverno/namespace.yaml
  kubernetes/apps/rook-ceph/namespace.yaml
Labels: area/kubernetes

fix(helmrelease): increase memory limit for prometheus to 4Gi
  kubernetes/apps/observability/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes

fix(observability): add metric relabeling to drop unnecessary API server histograms
  kubernetes/apps/observability/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes

feat(flake): update flake
  flake.lock
  flake.nix
Labels: none

fix(authelia): fix disk permissions for authelia migration
  kubernetes/apps/security/authelia/app/helmrelease.yaml
Labels: area/kubernetes

feat: agents.md
  AGENTS.md
Labels: none

fix(docs): update readme
  README.md
Labels: area/docs

feat(rook-ceph): enable rocksdb performance for OSD
  kubernetes/apps/rook-ceph/rook-ceph/cluster/helmrelease.yaml
Labels: area/kubernetes

docs(rook-ceph): add notes on troubleshooting slow bluestore ops
  kubernetes/apps/rook-ceph/README.md
Labels: area/kubernetes

fix(mdformat): use simple-breaks plugin
  .pre-commit-config.yaml
Labels: none

fix(karakeep): bump meilisearch memory limit
  kubernetes/apps/default/karakeep/app/helmrelease.yaml
Labels: area/kubernetes

chore(pre-commit): mdformat-tables now included in mdformat-gfm
  .pre-commit-config.yaml
Labels: none

feat(temporal): deploy temporal
  kubernetes/apps/datasci/kustomization.yaml
  kubernetes/apps/datasci/temporal/README.md
  kubernetes/apps/datasci/temporal/app/helmrelease.yaml
  kubernetes/apps/datasci/temporal/app/httproute.yaml
  kubernetes/apps/datasci/temporal/app/kustomization.yaml
  kubernetes/apps/datasci/temporal/app/source.yaml
  kubernetes/apps/datasci/temporal/db/kustomization.yaml
  kubernetes/apps/datasci/temporal/db/postgres.yaml
  kubernetes/apps/datasci/temporal/ks.yaml
Labels: area/kubernetes

fix(datasci): redeploy/restore datasci postgres db
  kubernetes/apps/datasci/postgres/cloudnative-pg/cluster/cluster16.yaml
Labels: area/kubernetes

feat(jelu): add jelu, a selfhosted goodreads
  kubernetes/apps/default/jelu/README.md
  kubernetes/apps/default/jelu/app/helmrelease.yaml
  kubernetes/apps/default/jelu/app/kustomization.yaml
  kubernetes/apps/default/jelu/app/secret-oidc.sops.yaml
  kubernetes/apps/default/jelu/app/secret-oidc.sops.yaml.tmpl
  kubernetes/apps/default/jelu/app/source.yaml
  kubernetes/apps/default/jelu/ks.yaml
  kubernetes/apps/default/kustomization.yaml
  kubernetes/apps/security/authelia/app/config/configuration.yaml
  kubernetes/apps/security/authelia/app/secret.sops.yaml
  kubernetes/apps/security/authelia/app/secret.sops.yaml.tmpl
Labels: area/kubernetes

fix(jelu): auth configuration causing startup errors
  kubernetes/apps/default/jelu/app/helmrelease.yaml
  kubernetes/apps/default/jelu/app/kustomization.yaml
Labels: area/kubernetes

fix(jelu): auth configuration
  kubernetes/apps/default/jelu/app/helmrelease.yaml
Labels: area/kubernetes

fix(jelu): auth configuration
  kubernetes/apps/default/jelu/app/helmrelease.yaml
Labels: area/kubernetes

fix(jelu): auth configuration
  kubernetes/apps/default/jelu/app/helmrelease.yaml
Labels: area/kubernetes

fix(jelu): auth configuration
  kubernetes/apps/default/jelu/app/helmrelease.yaml
Labels: area/kubernetes

fix(jelu): auth configuration
  kubernetes/apps/default/jelu/app/configmap.yaml
  kubernetes/apps/default/jelu/app/helmrelease.yaml
  kubernetes/apps/default/jelu/app/kustomization.yaml
Labels: area/kubernetes

fix(jelu): auth configuration causing startup errors
  kubernetes/apps/default/jelu/app/helmrelease.yaml
  kubernetes/apps/default/jelu/app/kustomization.yaml
Labels: area/kubernetes

feat(jelu): add jelu, a selfhosted goodreads
  kubernetes/apps/default/jelu/README.md
  kubernetes/apps/default/jelu/app/helmrelease.yaml
  kubernetes/apps/default/jelu/app/kustomization.yaml
  kubernetes/apps/default/jelu/app/secret-oidc.sops.yaml
  kubernetes/apps/default/jelu/app/secret-oidc.sops.yaml.tmpl
  kubernetes/apps/default/jelu/app/source.yaml
  kubernetes/apps/default/jelu/ks.yaml
  kubernetes/apps/default/kustomization.yaml
  kubernetes/apps/security/authelia/app/config/configuration.yaml
  kubernetes/apps/security/authelia/app/secret.sops.yaml
  kubernetes/apps/security/authelia/app/secret.sops.yaml.tmpl
Labels: area/kubernetes

fix(jelu): auth configuration
  kubernetes/apps/default/jelu/app/configmap.yaml
  kubernetes/apps/default/jelu/app/helmrelease.yaml
  kubernetes/apps/default/jelu/app/kustomization.yaml
Labels: area/kubernetes

fix(jelu): update route
  kubernetes/apps/default/jelu/app/helmrelease.yaml
Labels: area/kubernetes

fix(karakeep): enable gpt-5 family support
  kubernetes/apps/default/karakeep/app/helmrelease.yaml
Labels: area/kubernetes

feat(calibre-web): add automated deployment and downloader setup
  kubernetes/apps/default/calibre-web-automated/README.md
  kubernetes/apps/default/calibre-web-automated/app/helmrelease.yaml
  kubernetes/apps/default/calibre-web-automated/app/kustomization.yaml
  kubernetes/apps/default/calibre-web-automated/app/pvc-library.yaml
  kubernetes/apps/default/calibre-web-automated/app/source.yaml
  kubernetes/apps/default/calibre-web-automated/ks.yaml
  kubernetes/apps/default/calibre-web-downloader/README.md
  kubernetes/apps/default/calibre-web-downloader/app/helmrelease.yaml
  kubernetes/apps/default/calibre-web-downloader/app/kustomization.yaml
  kubernetes/apps/default/calibre-web-downloader/app/source.yaml
  kubernetes/apps/default/calibre-web-downloader/ks.yaml
  kubernetes/apps/default/flaresolverr/README.md
  kubernetes/apps/default/flaresolverr/app/helmrelease.yaml
  kubernetes/apps/default/flaresolverr/app/kustomization.yaml
  kubernetes/apps/default/flaresolverr/app/source.yaml
  kubernetes/apps/default/flaresolverr/ks.yaml
  kubernetes/apps/default/kustomization.yaml
Labels: area/kubernetes

feat(openbooks): add OpenBooks application configuration and resources
  kubernetes/apps/default/kustomization.yaml
  kubernetes/apps/default/openbooks/README.md
  kubernetes/apps/default/openbooks/app/helmrelease.yaml
  kubernetes/apps/default/openbooks/app/kustomization.yaml
  kubernetes/apps/default/openbooks/app/source.yaml
  kubernetes/apps/default/openbooks/ks.yaml
Labels: area/kubernetes

feat(flaresolverr): add persistence configuration for tmpfs global mounts
  kubernetes/apps/default/flaresolverr/app/helmrelease.yaml
Labels: area/kubernetes

fix(calibre-web): correct storage class name from ceph-filesystem to ceph-fs
  kubernetes/apps/default/calibre-web-automated/app/pvc-library.yaml
Labels: area/kubernetes

fix(app-template): add subPath for global mounts in helmrelease configuration
  kubernetes/apps/default/calibre-web-automated/app/helmrelease.yaml
  kubernetes/apps/default/calibre-web-downloader/app/helmrelease.yaml
  kubernetes/apps/default/flaresolverr/app/helmrelease.yaml
Labels: area/kubernetes

fix(app-template): fix global mounts in helmrelease configuration
  kubernetes/apps/default/calibre-web-automated/app/helmrelease.yaml
  kubernetes/apps/default/calibre-web-downloader/app/helmrelease.yaml
  kubernetes/apps/default/flaresolverr/app/helmrelease.yaml
Labels: area/kubernetes

fix(flaresolverr): set readOnlyRootFilesystem to false in securityContext
  kubernetes/apps/default/flaresolverr/app/helmrelease.yaml
Labels: area/kubernetes

fix(flaresolverr): update securityContext to allow non-root user
  kubernetes/apps/default/flaresolverr/app/helmrelease.yaml
Labels: area/kubernetes

fix(rook-ceph): enforce msgr2 CRC mode across cluster and nodes
  kubernetes/apps/rook-ceph/rook-ceph/cluster/helmrelease.yaml
Labels: area/kubernetes

fix(rook-ceph): enforce msgr2 CRC mode across cluster and nodes
  kubernetes/apps/rook-ceph/rook-ceph/cluster/helmrelease.yaml
  kubernetes/apps/rook-ceph/rook-ceph/operator/helmrelease.yaml
Labels: area/kubernetes

fix(calibre-downloader): fix startup port
  kubernetes/apps/default/calibre-web-downloader/app/helmrelease.yaml
Labels: area/kubernetes

fix(calibre-web-downloader): update user specs
  kubernetes/apps/default/calibre-web-downloader/app/helmrelease.yaml
Labels: area/kubernetes
