Repository ahgraber/homelab-gitops-k3s, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/addons, area/ansible, area/bootstrap, area/github, area/kubernetes, area/taskfile

.github/labeler.yaml:

---
area/addons:
  - changed-files:
      - any-glob-to-any-file: bootstrap/templates/addons/**/*
      - any-glob-to-any-file: bootstrap/tasks/addons/**/*
      - any-glob-to-any-file: bootstrap/vars/addons.sample.yaml
area/ansible:
  - changed-files:
      - any-glob-to-any-file: ansible/**/*
      - any-glob-to-any-file: bootstrap/templates/ansible/**/*
      - any-glob-to-any-file: bootstrap/tasks/ansible/**/*
area/bootstrap:
  - changed-files:
      - any-glob-to-any-file: bootstrap/**/*
      - any-glob-to-any-file: bootstrap/configure.yaml
area/github:
  - changed-files:
      - any-glob-to-any-file: .github/**/*
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: kubernetes/**/*
      - any-glob-to-any-file: bootstrap/templates/kubernetes/**/*
      - any-glob-to-any-file: bootstrap/tasks/kubernetes/**/*
area/taskfile:
  - changed-files:
      - any-glob-to-any-file: .taskfiles/**/*
      - any-glob-to-any-file: Taskfile*

feat(container): update image prometheus-node-exporter to v4.27.0
  kubernetes/apps/monitoring/node-exporter/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update chart pgadmin4 to 1.23.2
  kubernetes/apps/default/postgres/pgadmin/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update chart pgadmin4 to 1.23.2
  kubernetes/apps/default/postgres/pgadmin/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/cloudnative-pg/postgresql to v14.10-17
  kubernetes/apps/datasci/postgres/cloudnative-pg/db/cluster.yaml
  kubernetes/apps/default/postgres/cloudnative-pg/db/cluster.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/cloudnative-pg/postgresql to v14.10-17
  kubernetes/apps/datasci/postgres/cloudnative-pg/db/cluster.yaml
  kubernetes/apps/default/postgres/cloudnative-pg/db/cluster.yaml
Labels: area/kubernetes

fix(container): update image docker.io/restic/restic to v0.16.4
  .taskfiles/volsync/ListJob.tmpl.yaml
  .taskfiles/volsync/UnlockJob.tmpl.yaml
Labels: area/taskfile

fix(container): update image docker.io/restic/restic to v0.16.4
  .taskfiles/volsync/ListJob.tmpl.yaml
  .taskfiles/volsync/UnlockJob.tmpl.yaml
Labels: area/taskfile

feat(container): update image kube-prometheus-stack to v56.6.2
  bootstrap/templates/addons/kube-prometheus-stack/app/helmrelease.yaml.j2
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/addons, area/bootstrap, area/kubernetes

feat(container): update image kube-prometheus-stack to v56.6.2
  bootstrap/templates/addons/kube-prometheus-stack/app/helmrelease.yaml.j2
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/addons, area/bootstrap, area/kubernetes

fix(cilium): "Packets must be routed through the tunnel device"
  kubernetes/apps/kube-system/cilium/app/helmrelease.yaml
Labels: area/kubernetes

fix(cilium): "Packets must be routed through the tunnel device"
  kubernetes/apps/kube-system/cilium/app/helmrelease.yaml
Labels: area/kubernetes

fix(cilium): "Packets must be routed through the tunnel device"
  kubernetes/apps/kube-system/cilium/app/helmrelease.yaml
Labels: area/kubernetes

fix(cilium): "Packets must be routed through the tunnel device"
  kubernetes/apps/kube-system/cilium/app/helmrelease.yaml
Labels: area/kubernetes

fix: simplify scrutiny collector
  kubernetes/apps/monitoring/scrutiny/app/helmrelease-collector.yaml
Labels: area/kubernetes

fix: simplify scrutiny collector
  kubernetes/apps/monitoring/scrutiny/app/helmrelease-collector.yaml
Labels: area/kubernetes

fix(helm): update chart cloudnative-pg to 0.20.1
  kubernetes/apps/cnpg-system/cloudnative-pg/operator/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update chart cloudnative-pg to 0.20.1
  kubernetes/apps/cnpg-system/cloudnative-pg/operator/helmrelease.yaml
Labels: area/kubernetes

fix(github-release): update flux group to v2.2.3
  bootstrap/templates/kubernetes/bootstrap/kustomization.yaml.j2
  bootstrap/templates/kubernetes/flux/config/flux.yaml.j2
  kubernetes/bootstrap/kustomization.yaml
  kubernetes/flux/config/flux.yaml
Labels: area/bootstrap, area/kubernetes

fix(github-release): update flux group to v2.2.3
  bootstrap/templates/kubernetes/bootstrap/kustomization.yaml.j2
  bootstrap/templates/kubernetes/flux/config/flux.yaml.j2
  kubernetes/bootstrap/kustomization.yaml
  kubernetes/flux/config/flux.yaml
Labels: area/bootstrap, area/kubernetes

fix(github-release): update pre-commit hook crate-ci/typos to v1.18.1
  .pre-commit-config.yaml
Labels: none

fix(github-release): update pre-commit hook crate-ci/typos to v1.18.1
  .pre-commit-config.yaml
Labels: none

fix(container): update image syncthing/syncthing to v1.27.3
  kubernetes/apps/default/syncthing/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image syncthing/syncthing to v1.27.3
  kubernetes/apps/default/syncthing/app/helmrelease.yaml
Labels: area/kubernetes

feat(github-release): update pre-commit hook adrienverge/yamllint to v1.34.0
  .pre-commit-config.yaml
Labels: none

feat(github-release): update pre-commit hook adrienverge/yamllint to v1.34.0
  .pre-commit-config.yaml
Labels: none

feat(container): update image ghcr.io/kube-vip/kube-vip to v0.7.0
  ansible/playbooks/templates/custom-kube-vip-daemonset.yaml.j2
  ansible/playbooks/templates/kube-vip-static-pod.yaml.j2
  bootstrap/templates/ansible/playbooks/templates/kube-vip-static-pod.yaml.j2.j2
Labels: area/ansible, area/bootstrap

feat(container): update image ghcr.io/kube-vip/kube-vip to v0.7.0
  ansible/playbooks/templates/custom-kube-vip-daemonset.yaml.j2
  ansible/playbooks/templates/kube-vip-static-pod.yaml.j2
  bootstrap/templates/ansible/playbooks/templates/kube-vip-static-pod.yaml.j2.j2
Labels: area/ansible, area/bootstrap

feat(container): update image prometheus-node-exporter to v4.29.0
  kubernetes/apps/monitoring/node-exporter/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update image prometheus-node-exporter to v4.29.0
  kubernetes/apps/monitoring/node-exporter/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update chart reloader to 1.0.67
  bootstrap/templates/kubernetes/apps/kube-system/reloader/app/helmrelease.yaml.j2
  kubernetes/apps/kube-system/reloader/app/helmrelease.yaml
Labels: area/bootstrap, area/kubernetes

fix(helm): update chart reloader to 1.0.67
  bootstrap/templates/kubernetes/apps/kube-system/reloader/app/helmrelease.yaml.j2
  kubernetes/apps/kube-system/reloader/app/helmrelease.yaml
Labels: area/bootstrap, area/kubernetes

chore(deps): update ansible-lint to 24.2.0
  requirements.txt
Labels: none

chore(deps): update ansible-lint to 24.2.0
  requirements.txt
Labels: none

fix(container): update image ghcr.io/dgtlmoon/changedetection.io to v0.45.14
  kubernetes/apps/default/changedetection/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/dgtlmoon/changedetection.io to v0.45.14
  kubernetes/apps/default/changedetection/app/helmrelease.yaml
Labels: area/kubernetes

feat(helm): update chart metrics-server to 3.12.0
  bootstrap/templates/kubernetes/apps/kube-system/metrics-server/app/helmrelease.yaml.j2
  kubernetes/apps/kube-system/metrics-server/app/helmrelease.yaml
Labels: area/bootstrap, area/kubernetes

feat(helm): update chart metrics-server to 3.12.0
  bootstrap/templates/kubernetes/apps/kube-system/metrics-server/app/helmrelease.yaml.j2
  kubernetes/apps/kube-system/metrics-server/app/helmrelease.yaml
Labels: area/bootstrap, area/kubernetes

feat(container): update image docker.io/cloudflare/cloudflared to v2024.2.0
  kubernetes/apps/networking/cloudflared/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update image docker.io/cloudflare/cloudflared to v2024.2.0
  kubernetes/apps/networking/cloudflared/app/helmrelease.yaml
Labels: area/kubernetes

fix(github-release): update pre-commit hook crate-ci/typos to v1.18.2
  .pre-commit-config.yaml
Labels: none
