Repository ahgraber/homelab-gitops-k3s, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/docs, area/github, area/kubernetes, area/taskfile

.github/labeler.yaml:

---
area/ansible:
  - changed-files:
      - any-glob-to-any-file: ansible/**/*
area/docs:
  - changed-files:
      - any-glob-to-any-file:
          - "docs/**/*"
          - "README.md"
area/github:
  - changed-files:
      - any-glob-to-any-file: .github/**/*
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: kubernetes/**/*
area/taskfile:
  - changed-files:
      - any-glob-to-any-file: .taskfiles/**/*
      - any-glob-to-any-file: Taskfile*

feat: bring sally up bring sally down
  ansible/playbooks/ceph-cleanup.yaml
Labels: area/ansible

doc: update install/decom instructions
  .taskfiles/rook/scripts/remove-rook-ceph.sh
  .taskfiles/rook/taskfile.yaml
  ansible/playbooks/ceph-cleanup.yaml
  ansible/playbooks/k3s-nuke.yaml
  ansible/playbooks/k3s-rollout-update.yaml
  ansible/playbooks/k3s-stop.yaml
  kubernetes/apps/rook-ceph/README.md
Labels: area/ansible, area/kubernetes, area/taskfile

feat: prod
  kubernetes/apps/cert-manager/cert-manager/certificates/kustomization.yaml
  kubernetes/apps/database/cloudnative-pg/cluster/cluster.yaml
  kubernetes/apps/database/cloudnative-pg/cluster/cluster16.yaml
  kubernetes/apps/database/cloudnative-pg/cluster/kustomization.yaml
  kubernetes/apps/database/cloudnative-pg/cluster/scheduledbackup.yaml
  kubernetes/apps/database/kustomization.yaml
  kubernetes/apps/datasci/kustomization.yaml
  kubernetes/apps/datasci/postgres/cloudnative-pg/cluster/cluster.yaml
  kubernetes/apps/datasci/postgres/cloudnative-pg/cluster/cluster16.yaml
  kubernetes/apps/datasci/postgres/cloudnative-pg/cluster/kustomization.yaml
  kubernetes/apps/datasci/postgres/cloudnative-pg/cluster/scheduledbackup.yaml
  kubernetes/apps/monitoring/kustomization.yaml
  kubernetes/apps/networking/ingress-nginx/external/helmrelease.yaml
  kubernetes/apps/networking/ingress-nginx/internal/helmrelease.yaml
  kubernetes/apps/volsync-system/kustomization.yaml
Labels: area/kubernetes

doc: update install/decom instructions
  .taskfiles/flux/taskfile.yaml
Labels: area/taskfile

feat: use main branch
  kubernetes/flux/config/cluster.yaml
Labels: area/kubernetes

feat: use main branch
  kubernetes/flux/config/cluster.yaml
Labels: area/kubernetes

docs: add note on 2x k3s install
  README.md
Labels: area/docs

docs: add note on 2x k3s install
  README.md
Labels: area/docs

feat: add volsync annotations to namespaces
  kubernetes/apps/database/namespace.yaml
  kubernetes/apps/debug/namespace.yaml
  kubernetes/apps/flux-system/namespace.yaml
  kubernetes/apps/kube-system/namespace.yaml
  kubernetes/apps/monitoring/namespace.yaml
  kubernetes/apps/monitoring/scrutiny/collector/helmrelease-collector.yaml
  kubernetes/apps/networking/namespace.yaml
  kubernetes/apps/rook-ceph/namespace.yaml
  kubernetes/apps/system-upgrade/namespace.yaml
  kubernetes/apps/volsync-system/namespace.yaml
Labels: area/kubernetes

feat: add volsync annotations to namespaces
  kubernetes/apps/database/namespace.yaml
  kubernetes/apps/debug/namespace.yaml
  kubernetes/apps/flux-system/namespace.yaml
  kubernetes/apps/kube-system/namespace.yaml
  kubernetes/apps/monitoring/namespace.yaml
  kubernetes/apps/monitoring/scrutiny/collector/helmrelease-collector.yaml
  kubernetes/apps/networking/namespace.yaml
  kubernetes/apps/rook-ceph/namespace.yaml
  kubernetes/apps/system-upgrade/namespace.yaml
  kubernetes/apps/volsync-system/namespace.yaml
Labels: area/kubernetes

feat: namespace specification in ks requires certs to reflect other namespaces
  kubernetes/apps/cert-manager/cert-manager/certificates/production.yaml
  kubernetes/apps/cert-manager/cert-manager/certificates/staging.yaml
Labels: area/kubernetes

feat: namespace specification in ks requires certs to reflect other namespaces
  kubernetes/apps/cert-manager/cert-manager/certificates/production.yaml
  kubernetes/apps/cert-manager/cert-manager/certificates/staging.yaml
Labels: area/kubernetes

feat: fix docat permissions
  kubernetes/apps/datasci/docat/app/helmrelease.yaml
Labels: area/kubernetes

feat: fix docat permissions
  kubernetes/apps/datasci/docat/app/helmrelease.yaml
Labels: area/kubernetes

feat: reduce to 2 replicas so rollingupdates have available node to start on
  kubernetes/apps/default/miniflux/app/helmrelease.yaml
  kubernetes/apps/kube-system/descheduler/app/helmrelease.yaml
  kubernetes/apps/kube-system/ycl/app/helmrelease.yaml
  kubernetes/apps/monitoring/grafana/app/helmrelease.yaml
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
  kubernetes/apps/monitoring/loki/app/helmrelease.yaml
  kubernetes/apps/monitoring/thanos/app/helmrelease.yaml
  kubernetes/apps/monitoring/vector/app/aggregator/helmrelease.yaml
Labels: area/kubernetes

feat: reduce to 2 replicas so rollingupdates have available node to start on
  kubernetes/apps/default/miniflux/app/helmrelease.yaml
  kubernetes/apps/kube-system/descheduler/app/helmrelease.yaml
  kubernetes/apps/kube-system/ycl/app/helmrelease.yaml
  kubernetes/apps/monitoring/grafana/app/helmrelease.yaml
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
  kubernetes/apps/monitoring/loki/app/helmrelease.yaml
  kubernetes/apps/monitoring/thanos/app/helmrelease.yaml
  kubernetes/apps/monitoring/vector/app/aggregator/helmrelease.yaml
Labels: area/kubernetes

feat: update kube-vip ansible templates
  ansible/playbooks/templates/kube-vip-daemonset.yaml.j2
Labels: area/ansible

feat: update kube-vip ansible templates
  ansible/playbooks/templates/kube-vip-daemonset.yaml.j2
Labels: area/ansible

feat: k8s-dashboard major update
  kubernetes/apps/monitoring/kubernetes-dashboard/app/clusterrolebinding.yaml
  kubernetes/apps/monitoring/kubernetes-dashboard/app/helmrelease.yaml
  kubernetes/apps/monitoring/kubernetes-dashboard/app/kustomization.yaml
  kubernetes/apps/monitoring/kubernetes-dashboard/app/rbac.yaml
Labels: area/kubernetes

feat: k8s-dashboard major update
  kubernetes/apps/monitoring/kubernetes-dashboard/app/clusterrolebinding.yaml
  kubernetes/apps/monitoring/kubernetes-dashboard/app/helmrelease.yaml
  kubernetes/apps/monitoring/kubernetes-dashboard/app/kustomization.yaml
  kubernetes/apps/monitoring/kubernetes-dashboard/app/rbac.yaml
Labels: area/kubernetes

feat: enable k8s-dashboard
  kubernetes/apps/monitoring/kustomization.yaml
Labels: area/kubernetes

feat: enable k8s-dashboard
  kubernetes/apps/monitoring/kustomization.yaml
Labels: area/kubernetes

feat: enable k8s-dashboard
  kubernetes/apps/monitoring/kubernetes-dashboard/app/helmrelease.yaml
Labels: area/kubernetes

feat: enable k8s-dashboard
  kubernetes/apps/monitoring/kubernetes-dashboard/app/helmrelease.yaml
Labels: area/kubernetes

feat: disable k8s-dashboard
  kubernetes/apps/monitoring/kubernetes-dashboard/app/helmrelease.yaml
  kubernetes/apps/monitoring/kustomization.yaml
Labels: area/kubernetes

feat: disable k8s-dashboard
  kubernetes/apps/monitoring/kubernetes-dashboard/app/helmrelease.yaml
  kubernetes/apps/monitoring/kustomization.yaml
Labels: area/kubernetes

feat: make mealie and opengist publically available
  kubernetes/apps/default/linkding/app/helmrelease.yaml
  kubernetes/apps/default/mealie/app/helmrelease.yaml
  kubernetes/apps/default/opengist/app/helmrelease.yaml
Labels: area/kubernetes

feat: make mealie and opengist publically available
  kubernetes/apps/default/linkding/app/helmrelease.yaml
  kubernetes/apps/default/mealie/app/helmrelease.yaml
  kubernetes/apps/default/opengist/app/helmrelease.yaml
Labels: area/kubernetes

fix: pgadmin server secret
  kubernetes/apps/database/pgadmin/app/helmrelease.yaml
Labels: area/kubernetes

fix: rook login task
  .taskfiles/rook/taskfile.yaml
Labels: area/taskfile

fix: pgadmin server secret
  kubernetes/apps/database/pgadmin/app/helmrelease.yaml
Labels: area/kubernetes

fix: rook login task
  .taskfiles/rook/taskfile.yaml
Labels: area/taskfile

fix: pgadmin server secret
  kubernetes/apps/database/pgadmin/app/helmrelease.yaml
Labels: area/kubernetes

fix: pgadmin server secret
  kubernetes/apps/database/pgadmin/app/helmrelease.yaml
Labels: area/kubernetes

feat: bump k3s version in ansible
  ansible/inventory/group_vars/kubernetes/main.yaml
Labels: area/ansible

feat: bump k3s version in ansible
  ansible/inventory/group_vars/kubernetes/main.yaml
Labels: area/ansible

fix: thanos prometheuswatcher target
  kubernetes/apps/monitoring/thanos/app/helmrelease.yaml
Labels: area/kubernetes

fix: thanos prometheuswatcher target
  kubernetes/apps/monitoring/thanos/app/helmrelease.yaml
Labels: area/kubernetes

fix: thanos discovery should use 'kps' instead of kube-prometheus-stack
  kubernetes/apps/monitoring/thanos/app/helmrelease.yaml
Labels: area/kubernetes

fix: thanos discovery should use 'kps' instead of kube-prometheus-stack
  kubernetes/apps/monitoring/thanos/app/helmrelease.yaml
Labels: area/kubernetes
