Repository ahgraber/homelab-gitops-k3s, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/docs, area/github, area/kubernetes, area/taskfile

.github/labeler.yaml:

---
area/ansible:
  - changed-files:
      - any-glob-to-any-file: ansible/**/*
area/docs:
  - changed-files:
      - any-glob-to-any-file:
          - "docs/**/*"
          - "README.md"
area/github:
  - changed-files:
      - any-glob-to-any-file: .github/**/*
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: kubernetes/**/*
area/taskfile:
  - changed-files:
      - any-glob-to-any-file: .taskfiles/**/*
      - any-glob-to-any-file: Taskfile*

feat(garage): archive garage
  kubernetes/apps/default/garage/README.md
  kubernetes/apps/default/garage/app/helmrelease.yaml
  kubernetes/apps/default/garage/app/kustomization.yaml
  kubernetes/apps/default/garage/app/resources/configuration.toml
  kubernetes/apps/default/garage/app/secret.sops.yaml
  kubernetes/apps/default/garage/app/secret.sops.yaml.tmpl
  kubernetes/apps/default/garage/app/source.yaml
  kubernetes/apps/default/garage/ks.yaml
  kubernetes/apps/default/garage/webui/helmrelease.yaml
  kubernetes/apps/default/garage/webui/kustomization.yaml
  kubernetes/apps/default/garage/webui/secret.sops.yaml
  kubernetes/apps/default/garage/webui/secret.sops.yaml.tmpl
  kubernetes/apps/default/garage/webui/source.yaml
  kubernetes/apps/default/kustomization.yaml
Labels: area/kubernetes

build(pre-commit): update mdformat to version 1.0.0 and fix additional dependencies
  .pre-commit-config.yaml
  .ruff.toml
Labels: none

chore(task): no requirements.txt at repo root
  Taskfile.yaml
Labels: area/taskfile

docs(calibre-web-downloader): update repository link
  kubernetes/apps/default/calibre-web-downloader/README.md
Labels: area/kubernetes

build(deps): update python requirement to >=3.13
  uv.lock
Labels: none

feat(windmill): update README and helmrelease to disable privileged workers
  kubernetes/apps/datasci/windmill/README.md
  kubernetes/apps/datasci/windmill/app/helmrelease.yaml
Labels: area/kubernetes

chore(config): update pre-commit and ruff configurations
  .copier-answers.yaml
  .pre-commit-config.yaml
  .ruff.toml
  .typos.toml
Labels: none

fix(ansible): update k3s version to v1.33.7+k3s1
  ansible/inventory/group_vars/kubernetes/main.yaml
Labels: area/ansible

feat(renovate): allow trailing comments in matchStrings
  .renovate/customManagers.json5
Labels: none

Split grafana operator and app kustomizations
  docs/observability-review.md
  kubernetes/apps/observability/grafana/app/dashboards.yaml
  kubernetes/apps/observability/grafana/app/datasources.yaml
  kubernetes/apps/observability/grafana/app/grafana.yaml
  kubernetes/apps/observability/grafana/app/helmrelease.yaml
  kubernetes/apps/observability/grafana/app/kustomization.yaml
  kubernetes/apps/observability/grafana/app/route.yaml
  kubernetes/apps/observability/grafana/app/servicemonitor.yaml
  kubernetes/apps/observability/grafana/ks.yaml
  kubernetes/apps/observability/grafana/operator/helmrelease.yaml
  kubernetes/apps/observability/grafana/operator/kustomization.yaml
  kubernetes/apps/observability/grafana/operator/source.yaml
Labels: area/docs, area/kubernetes

Colocate Grafana dashboards with apps
  kubernetes/apps/cert-manager/cert-manager/app/grafana-dashboard.yaml
  kubernetes/apps/cert-manager/cert-manager/app/kustomization.yaml
  kubernetes/apps/flux-system/addons/observability/grafana-dashboards.yaml
  kubernetes/apps/flux-system/addons/observability/kustomization.yaml
  kubernetes/apps/networking/cloudflared/app/grafana-dashboard.yaml
  kubernetes/apps/networking/cloudflared/app/kustomization.yaml
  kubernetes/apps/networking/external-dns/app/grafana-dashboard.yaml
  kubernetes/apps/networking/external-dns/app/kustomization.yaml
  kubernetes/apps/observability/grafana/app/datasources.yaml
  kubernetes/apps/observability/grafana/app/grafana.yaml
  kubernetes/apps/observability/grafana/app/kustomization.yaml
  kubernetes/apps/observability/grafana/ks.yaml
  kubernetes/apps/observability/kube-prometheus-stack/addons/grafana-dashboards.yaml
  kubernetes/apps/observability/kube-prometheus-stack/addons/kustomization.yaml
  kubernetes/apps/observability/kube-prometheus-stack/addons/pod-resources-max.json
  kubernetes/apps/rook-ceph/rook-ceph/addons/ceph-cluster-dashboard.json
  kubernetes/apps/rook-ceph/rook-ceph/addons/ceph-osd-dashboard.json
  kubernetes/apps/rook-ceph/rook-ceph/addons/ceph-pools-dashboard.json
  kubernetes/apps/rook-ceph/rook-ceph/addons/grafana-dashboards.yaml
  kubernetes/apps/rook-ceph/rook-ceph/addons/kustomization.yaml
  kubernetes/apps/volsync/volsync/app/grafana-dashboard.yaml
  kubernetes/apps/volsync/volsync/app/kustomization.yaml
Labels: area/kubernetes

Annotate Grafana resources with schemas
  kubernetes/apps/cert-manager/cert-manager/app/grafana-dashboard.yaml
  kubernetes/apps/flux-system/addons/observability/grafana-dashboards.yaml
  kubernetes/apps/networking/cloudflared/app/grafana-dashboard.yaml
  kubernetes/apps/networking/external-dns/app/grafana-dashboard.yaml
  kubernetes/apps/observability/grafana/app/datasources.yaml
  kubernetes/apps/observability/grafana/app/grafana.yaml
  kubernetes/apps/observability/grafana/app/route.yaml
  kubernetes/apps/observability/grafana/app/servicemonitor.yaml
  kubernetes/apps/observability/grafana/operator/helmrelease.yaml
  kubernetes/apps/observability/grafana/operator/source.yaml
  kubernetes/apps/observability/kube-prometheus-stack/addons/grafana-dashboards.yaml
  kubernetes/apps/rook-ceph/rook-ceph/addons/grafana-dashboards.yaml
  kubernetes/apps/volsync/volsync/app/grafana-dashboard.yaml
Labels: area/kubernetes

feat(grafana): update grafana dashboards
  kubernetes/apps/cert-manager/addons/kustomization.yaml
  kubernetes/apps/cert-manager/cert-manager/app/grafana-dashboard.yaml
  kubernetes/apps/cert-manager/cert-manager/app/grafanadashboard.yaml
  kubernetes/apps/cert-manager/cert-manager/app/kustomization.yaml
  kubernetes/apps/cert-manager/cert-manager/ks.yaml
  kubernetes/apps/flux-system/addons/observability/grafana-dashboards.yaml
  kubernetes/apps/flux-system/addons/observability/grafanadashboard.yaml
  kubernetes/apps/flux-system/addons/observability/kustomization.yaml
  kubernetes/apps/networking/cloudflared/app/grafana-dashboard.yaml
  kubernetes/apps/networking/cloudflared/app/grafanadashboard.yaml
  kubernetes/apps/networking/cloudflared/app/kustomization.yaml
  kubernetes/apps/networking/external-dns/app/grafana-dashboard.yaml
  kubernetes/apps/networking/external-dns/app/grafanadashboard.yaml
  kubernetes/apps/networking/external-dns/app/kustomization.yaml
  kubernetes/apps/observability/grafana/app/datasources.yaml
  kubernetes/apps/observability/grafana/app/grafana.yaml
  kubernetes/apps/observability/grafana/app/kustomization.yaml
  kubernetes/apps/observability/grafana/app/route.yaml
  kubernetes/apps/observability/grafana/app/servicemonitor.yaml
  kubernetes/apps/observability/grafana/ks.yaml
  kubernetes/apps/observability/grafana/operator/helmrelease.yaml
  kubernetes/apps/observability/grafana/operator/source.yaml
  kubernetes/apps/observability/kube-prometheus-stack/addons/grafana-dashboards.yaml
  kubernetes/apps/observability/kube-prometheus-stack/addons/grafanadashboard.yaml
  kubernetes/apps/observability/kube-prometheus-stack/addons/kustomization.yaml
  kubernetes/apps/rook-ceph/rook-ceph/addons/grafana-dashboards.yaml
  kubernetes/apps/rook-ceph/rook-ceph/addons/kustomization.yaml
  kubernetes/apps/rook-ceph/rook-ceph/ks.yaml
  kubernetes/apps/rook-ceph/rook-ceph/operator/grafanadashboard.yaml
  kubernetes/apps/rook-ceph/rook-ceph/operator/kustomization.yaml
  kubernetes/apps/volsync/volsync/app/grafanadashboard.yaml
  kubernetes/apps/volsync/volsync/app/kustomization.yaml
Labels: area/kubernetes

fix(grafana): expect string values in config
  kubernetes/apps/observability/grafana/app/grafana.yaml
Labels: area/kubernetes

docs: add commit message convention guidelines
  AGENTS.md
Labels: none

feat(grafana): Split grafana operator and app kustomizations
  docs/observability-review.md
  kubernetes/apps/observability/grafana/app/dashboards.yaml
  kubernetes/apps/observability/grafana/app/datasources.yaml
  kubernetes/apps/observability/grafana/app/grafana.yaml
  kubernetes/apps/observability/grafana/app/helmrelease.yaml
  kubernetes/apps/observability/grafana/app/kustomization.yaml
  kubernetes/apps/observability/grafana/app/route.yaml
  kubernetes/apps/observability/grafana/app/servicemonitor.yaml
  kubernetes/apps/observability/grafana/ks.yaml
  kubernetes/apps/observability/grafana/operator/helmrelease.yaml
  kubernetes/apps/observability/grafana/operator/kustomization.yaml
  kubernetes/apps/observability/grafana/operator/source.yaml
Labels: area/docs, area/kubernetes

fix(grafana): Annotate Grafana resources with schemas
  kubernetes/apps/cert-manager/cert-manager/app/grafana-dashboard.yaml
  kubernetes/apps/flux-system/addons/observability/grafana-dashboards.yaml
  kubernetes/apps/networking/cloudflared/app/grafana-dashboard.yaml
  kubernetes/apps/networking/external-dns/app/grafana-dashboard.yaml
  kubernetes/apps/observability/grafana/app/datasources.yaml
  kubernetes/apps/observability/grafana/app/grafana.yaml
  kubernetes/apps/observability/grafana/app/route.yaml
  kubernetes/apps/observability/grafana/app/servicemonitor.yaml
  kubernetes/apps/observability/grafana/operator/helmrelease.yaml
  kubernetes/apps/observability/grafana/operator/source.yaml
  kubernetes/apps/observability/kube-prometheus-stack/addons/grafana-dashboards.yaml
  kubernetes/apps/rook-ceph/rook-ceph/addons/grafana-dashboards.yaml
  kubernetes/apps/volsync/volsync/app/grafana-dashboard.yaml
Labels: area/kubernetes

refactor(grafana): Colocate Grafana dashboards with apps
  kubernetes/apps/cert-manager/cert-manager/app/grafana-dashboard.yaml
  kubernetes/apps/cert-manager/cert-manager/app/kustomization.yaml
  kubernetes/apps/flux-system/addons/observability/grafana-dashboards.yaml
  kubernetes/apps/flux-system/addons/observability/kustomization.yaml
  kubernetes/apps/networking/cloudflared/app/grafana-dashboard.yaml
  kubernetes/apps/networking/cloudflared/app/kustomization.yaml
  kubernetes/apps/networking/external-dns/app/grafana-dashboard.yaml
  kubernetes/apps/networking/external-dns/app/kustomization.yaml
  kubernetes/apps/observability/grafana/app/datasources.yaml
  kubernetes/apps/observability/grafana/app/grafana.yaml
  kubernetes/apps/observability/grafana/app/kustomization.yaml
  kubernetes/apps/observability/grafana/ks.yaml
  kubernetes/apps/observability/kube-prometheus-stack/addons/grafana-dashboards.yaml
  kubernetes/apps/observability/kube-prometheus-stack/addons/kustomization.yaml
  kubernetes/apps/observability/kube-prometheus-stack/addons/pod-resources-max.json
  kubernetes/apps/rook-ceph/rook-ceph/addons/ceph-cluster-dashboard.json
  kubernetes/apps/rook-ceph/rook-ceph/addons/ceph-osd-dashboard.json
  kubernetes/apps/rook-ceph/rook-ceph/addons/ceph-pools-dashboard.json
  kubernetes/apps/rook-ceph/rook-ceph/addons/grafana-dashboards.yaml
  kubernetes/apps/rook-ceph/rook-ceph/addons/kustomization.yaml
  kubernetes/apps/volsync/volsync/app/grafana-dashboard.yaml
  kubernetes/apps/volsync/volsync/app/kustomization.yaml
Labels: area/kubernetes

fix(grafana): update dashboard CR instanceSelector labels to use 'dashboards'
  kubernetes/apps/cert-manager/cert-manager/app/grafanadashboard.yaml
  kubernetes/apps/flux-system/addons/observability/grafanadashboard.yaml
  kubernetes/apps/networking/cloudflared/app/grafanadashboard.yaml
  kubernetes/apps/networking/external-dns/app/grafanadashboard.yaml
  kubernetes/apps/observability/grafana/app/datasources.yaml
  kubernetes/apps/observability/grafana/app/grafana.yaml
  kubernetes/apps/observability/kube-prometheus-stack/addons/grafanadashboard.yaml
  kubernetes/apps/rook-ceph/rook-ceph/operator/grafanadashboard.yaml
  kubernetes/apps/volsync/volsync/app/grafanadashboard.yaml
Labels: area/kubernetes

feat(grafana): update grafana dashboards
  kubernetes/apps/cert-manager/addons/kustomization.yaml
  kubernetes/apps/cert-manager/cert-manager/app/grafana-dashboard.yaml
  kubernetes/apps/cert-manager/cert-manager/app/grafanadashboard.yaml
  kubernetes/apps/cert-manager/cert-manager/app/kustomization.yaml
  kubernetes/apps/cert-manager/cert-manager/ks.yaml
  kubernetes/apps/flux-system/addons/observability/grafana-dashboards.yaml
  kubernetes/apps/flux-system/addons/observability/grafanadashboard.yaml
  kubernetes/apps/flux-system/addons/observability/kustomization.yaml
  kubernetes/apps/networking/cloudflared/app/grafana-dashboard.yaml
  kubernetes/apps/networking/cloudflared/app/grafanadashboard.yaml
  kubernetes/apps/networking/cloudflared/app/kustomization.yaml
  kubernetes/apps/networking/external-dns/app/grafana-dashboard.yaml
  kubernetes/apps/networking/external-dns/app/grafanadashboard.yaml
  kubernetes/apps/networking/external-dns/app/kustomization.yaml
  kubernetes/apps/observability/grafana/app/datasources.yaml
  kubernetes/apps/observability/grafana/app/grafana.yaml
  kubernetes/apps/observability/grafana/app/kustomization.yaml
  kubernetes/apps/observability/grafana/app/route.yaml
  kubernetes/apps/observability/grafana/app/servicemonitor.yaml
  kubernetes/apps/observability/grafana/ks.yaml
  kubernetes/apps/observability/grafana/operator/helmrelease.yaml
  kubernetes/apps/observability/grafana/operator/source.yaml
  kubernetes/apps/observability/kube-prometheus-stack/addons/grafana-dashboards.yaml
  kubernetes/apps/observability/kube-prometheus-stack/addons/grafanadashboard.yaml
  kubernetes/apps/observability/kube-prometheus-stack/addons/kustomization.yaml
  kubernetes/apps/rook-ceph/rook-ceph/addons/grafana-dashboards.yaml
  kubernetes/apps/rook-ceph/rook-ceph/addons/kustomization.yaml
  kubernetes/apps/rook-ceph/rook-ceph/ks.yaml
  kubernetes/apps/rook-ceph/rook-ceph/operator/grafanadashboard.yaml
  kubernetes/apps/rook-ceph/rook-ceph/operator/kustomization.yaml
  kubernetes/apps/volsync/volsync/app/grafanadashboard.yaml
  kubernetes/apps/volsync/volsync/app/kustomization.yaml
Labels: area/kubernetes

fix(grafana): oauth
  kubernetes/apps/observability/grafana/app/grafana.yaml
  kubernetes/apps/observability/grafana/app/kustomization.yaml
  kubernetes/apps/observability/grafana/operator/kustomization.yaml
  kubernetes/apps/observability/grafana/operator/secret-oidc.sops.yaml
  kubernetes/apps/observability/grafana/operator/secret-oidc.sops.yaml.tmpl
  kubernetes/apps/observability/grafana/operator/secret.sops.yaml
  kubernetes/apps/observability/grafana/operator/secret.sops.yaml.tmpl
Labels: area/kubernetes

feat(grafana): disable oauth
  kubernetes/apps/networking/cloudflared/app/grafanadashboard.yaml
  kubernetes/apps/observability/grafana/app/grafana.yaml
Labels: area/kubernetes

fix(grafana): debug datasources
  kubernetes/apps/observability/grafana/app/datasource.yaml
  kubernetes/apps/observability/grafana/app/kustomization.yaml
Labels: area/kubernetes

feat(external-secrets): prepare resources & documentation
  AGENTS.md
  docs/bitwarden-eso-migration.md
  kubernetes/apps/external-secrets/external-secrets/README.md
  kubernetes/apps/external-secrets/external-secrets/app/certificates.yaml
  kubernetes/apps/external-secrets/external-secrets/app/clustersecretstore.yaml
  kubernetes/apps/external-secrets/external-secrets/app/grafanadashboard.yaml
  kubernetes/apps/external-secrets/external-secrets/app/helmrelease.yaml
  kubernetes/apps/external-secrets/external-secrets/app/kustomization.yaml
  kubernetes/apps/external-secrets/external-secrets/app/secret.sops.yaml
  kubernetes/apps/external-secrets/external-secrets/app/secret.sops.yaml.tmpl
  kubernetes/apps/external-secrets/external-secrets/app/source.yaml
  kubernetes/apps/external-secrets/external-secrets/examples/clusterexternalsecret.yaml
  kubernetes/apps/external-secrets/external-secrets/examples/externalsecret.yaml
  kubernetes/apps/external-secrets/external-secrets/ks.yaml
  kubernetes/apps/external-secrets/kustomization.yaml
  kubernetes/apps/external-secrets/namespace.yaml
Labels: area/docs, area/kubernetes

fix(renovate): do not check copier_answers
  .renovaterc.json5
Labels: none

fix(renovate): fix regex match for cnpg
  .renovate/customManagers.json5
  kubernetes/apps/database/cloudnative-pg/cluster/cluster16.yaml
  kubernetes/apps/datasci/postgres/cloudnative-pg/cluster/cluster16.yaml
Labels: area/kubernetes

fix(helm): enable crds and upgrade job in kube-prometheus-stack
  kubernetes/apps/observability/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes

feat(ai): add commit message agent/prompt for vscode
  .github/agents/commit.agent.md
  .github/prompts/commit.prompt.md
Labels: area/github

feat(karakeep): switch to openrouter
  kubernetes/apps/default/karakeep/app/helmrelease.yaml
  kubernetes/apps/default/karakeep/app/secret.sops.yaml
Labels: area/kubernetes

feat(external-secrets): update migration plan with status checklist and documentation tasks
  docs/bitwarden-eso-migration.md
Labels: area/docs

feat(external-secrets): update certificate and cluster secret store configurations
  kubernetes/apps/external-secrets/external-secrets/app/certificates.yaml
  kubernetes/apps/external-secrets/external-secrets/app/clustersecretstore.yaml
  kubernetes/apps/external-secrets/namespace.yaml
Labels: area/kubernetes

feat(external-secrets): add external-secrets CRDs to taskfile for bootstrap
  .taskfiles/flux/taskfile.yaml
Labels: area/taskfile

feat(migration): add Bitwarden ESO migration tooling and mapping example
  docs/bitwarden-eso-migration-map.example.json
  docs/bitwarden-eso-migration-tooling.md
  docs/bitwarden-eso-migration.md
  kubernetes/apps/external-secrets/external-secrets/README.md
  scripts/bitwarden-eso-migrate.py
Labels: area/docs, area/kubernetes

feat(external-secrets): split operator and app instance ks
  kubernetes/apps/external-secrets/external-secrets/app/clustersecretstore.yaml
  kubernetes/apps/external-secrets/external-secrets/ks.yaml
  kubernetes/apps/external-secrets/external-secrets/operator/certificates.yaml
  kubernetes/apps/external-secrets/external-secrets/operator/grafanadashboard.yaml
  kubernetes/apps/external-secrets/external-secrets/operator/helmrelease.yaml
  kubernetes/apps/external-secrets/external-secrets/operator/kustomization.yaml
  kubernetes/apps/external-secrets/external-secrets/operator/secret.sops.yaml
  kubernetes/apps/external-secrets/external-secrets/operator/secret.sops.yaml.tmpl
  kubernetes/apps/external-secrets/external-secrets/operator/source.yaml
Labels: area/kubernetes

feat(external-secrets): fix self-cert chain
  kubernetes/apps/cert-manager/cert-manager/issuers/ca-clusterissuer.yaml
  kubernetes/apps/external-secrets/external-secrets/operator/certificates.yaml
Labels: area/kubernetes

refactor(external-secrets): move bitwarden-sdk and cert chain to separate ks
  kubernetes/apps/cert-manager/cert-manager/certificates/production.yaml
  kubernetes/apps/cert-manager/cert-manager/certificates/staging.yaml
  kubernetes/apps/external-secrets/bitwarden/README.md
  kubernetes/apps/external-secrets/bitwarden/app/helmrelease.yaml
  kubernetes/apps/external-secrets/bitwarden/app/kustomization.yaml
  kubernetes/apps/external-secrets/bitwarden/app/source.yaml
  kubernetes/apps/external-secrets/bitwarden/certs/certificates.yaml
  kubernetes/apps/external-secrets/bitwarden/certs/kustomization.yaml
  kubernetes/apps/external-secrets/bitwarden/ks.yaml
  kubernetes/apps/external-secrets/examples/clusterexternalsecret.yaml
  kubernetes/apps/external-secrets/examples/externalsecret.yaml
  kubernetes/apps/external-secrets/external-secrets/README.md
  kubernetes/apps/external-secrets/external-secrets/app/clustersecretstore.yaml
  kubernetes/apps/external-secrets/external-secrets/operator/certificates.yaml
  kubernetes/apps/external-secrets/external-secrets/operator/helmrelease.yaml
  kubernetes/apps/external-secrets/kustomization.yaml
Labels: area/kubernetes

refactor(external-secrets): move bitwarden-sdk and cert chain to separate ks
  .taskfiles/flux/taskfile.yaml
  kubernetes/apps/cert-manager/cert-manager/certificates/production.yaml
  kubernetes/apps/cert-manager/cert-manager/certificates/staging.yaml
  kubernetes/apps/external-secrets/bitwarden/README.md
  kubernetes/apps/external-secrets/bitwarden/app/helmrelease.yaml
  kubernetes/apps/external-secrets/bitwarden/app/kustomization.yaml
  kubernetes/apps/external-secrets/bitwarden/app/source.yaml
  kubernetes/apps/external-secrets/bitwarden/certs/certificates.yaml
  kubernetes/apps/external-secrets/bitwarden/certs/kustomization.yaml
  kubernetes/apps/external-secrets/bitwarden/ks.yaml
  kubernetes/apps/external-secrets/examples/clusterexternalsecret.yaml
  kubernetes/apps/external-secrets/examples/externalsecret.yaml
  kubernetes/apps/external-secrets/external-secrets/README.md
  kubernetes/apps/external-secrets/external-secrets/app/clustersecretstore.yaml
  kubernetes/apps/external-secrets/external-secrets/operator/helmrelease.yaml
  kubernetes/apps/external-secrets/kustomization.yaml
Labels: area/kubernetes, area/taskfile

fix(external-secrets): fix clustersecretstore healthcheck
  kubernetes/apps/external-secrets/external-secrets/README.md
  kubernetes/apps/external-secrets/external-secrets/app/clustersecretstore.yaml
  kubernetes/apps/external-secrets/external-secrets/ks.yaml
Labels: area/kubernetes

fix(external-secrets): fix clustersecretstore healthcheck
  kubernetes/apps/external-secrets/examples/clusterexternalsecret.yaml
  kubernetes/apps/external-secrets/examples/externalsecret.yaml
  kubernetes/apps/external-secrets/external-secrets/README.md
  kubernetes/apps/external-secrets/external-secrets/app/clustersecretstore.yaml
  kubernetes/apps/external-secrets/external-secrets/ks.yaml
Labels: area/kubernetes

feat(ai): add allow/deny rules for codex
  .codex/rules/kubectl.rules
  AGENTS.md
Labels: none
