Repository ahgraber/homelab-gitops-k3s, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/docs, area/github, area/kubernetes, area/taskfile

.github/labeler.yaml:

---
area/ansible:
  - changed-files:
      - any-glob-to-any-file: ansible/**/*
area/docs:
  - changed-files:
      - any-glob-to-any-file:
          - "docs/**/*"
          - "README.md"
area/github:
  - changed-files:
      - any-glob-to-any-file: .github/**/*
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: kubernetes/**/*
area/taskfile:
  - changed-files:
      - any-glob-to-any-file: .taskfiles/**/*
      - any-glob-to-any-file: Taskfile*

fix(authelia): tweak authelia options
  .python-version
  kubernetes/apps/security/authelia/app/config/configuration.yaml
  kubernetes/apps/security/authelia/app/helmrelease.yaml
  kubernetes/apps/security/authelia/app/referencegrant.yaml
  pyproject.toml
  scripts/authelia_hash.py
Labels: area/kubernetes

fix(authelia): tweak authelia options
  kubernetes/apps/debug/whoami/app/securitypolicy.yaml
  kubernetes/apps/security/authelia/README.md
  kubernetes/apps/security/authelia/app/secret.sops.yaml
Labels: area/kubernetes

feat(grafana): add authelia login
  .gitignore
  kubernetes/apps/observability/grafana/app/helmrelease.yaml
  kubernetes/apps/observability/grafana/app/kustomization.yaml
  kubernetes/apps/observability/grafana/app/secret-oidc.sops.yaml
  kubernetes/apps/observability/grafana/app/secret-oidc.sops.yaml.tmpl
  kubernetes/apps/observability/grafana/app/securitypolicy.yaml
  kubernetes/apps/security/authelia/README.md
  kubernetes/apps/security/authelia/app/config/configuration.yaml
  kubernetes/apps/security/lldap/README.md
Labels: area/kubernetes

fix(auth): fix authelia x grafana
  kubernetes/apps/security/authelia/app/secret.sops.yaml
Labels: area/kubernetes

fix(auth): fix authelia x grafana
  kubernetes/apps/observability/grafana/app/securitypolicy.yaml
  kubernetes/apps/security/authelia/app/config/configuration.yaml
  kubernetes/apps/security/authelia/app/secret.sops.yaml
  kubernetes/apps/security/authelia/app/secret.sops.yaml.tmpl
Labels: area/kubernetes

fix(auth): fix authelia x grafana
  kubernetes/apps/blog/hugo/app/kyverno-policy.yaml
  kubernetes/apps/observability/grafana/app/helmrelease.yaml
  kubernetes/apps/observability/grafana/app/kustomization.yaml
  kubernetes/apps/security/authelia/README.md
  kubernetes/apps/security/authelia/app/kustomization.yaml
  kubernetes/apps/security/authelia/app/kyverno-policy.yaml
  kubernetes/apps/security/authelia/app/secret.sops.yaml
  kubernetes/apps/security/authelia/app/secret.sops.yaml.tmpl
Labels: area/kubernetes

fix(auth): fix authelia x grafana
  kubernetes/apps/security/authelia/app/kustomization.yaml
  kubernetes/apps/security/authelia/app/kyverno-policy.yaml
  kubernetes/apps/security/authelia/app/kyverno-secret-access.yaml
Labels: area/kubernetes

fix(auth): fix authelia x grafana
  kubernetes/apps/security/authelia/app/kustomization.yaml
  kubernetes/apps/security/authelia/ks.yaml
  kubernetes/apps/security/authelia/rbac/kustomization.yaml
  kubernetes/apps/security/authelia/rbac/role.yaml
Labels: area/kubernetes

fix(auth): fix authelia x grafana
  kubernetes/apps/blog/hugo/rbac/role.yaml
  kubernetes/apps/security/authelia/app/kyverno-policy.yaml
  kubernetes/apps/security/authelia/rbac/role.yaml
Labels: area/kubernetes

fix(auth): fix authelia x grafana
  kubernetes/apps/security/authelia/app/helmrelease.yaml
Labels: area/kubernetes

fix(auth): fix authelia x grafana
  kubernetes/apps/security/authelia/app/helmrelease.yaml
Labels: area/kubernetes

fix(auth): fix authelia x grafana
  kubernetes/apps/observability/grafana/app/helmrelease.yaml
  kubernetes/apps/security/authelia/app/config/configuration.yaml
  kubernetes/apps/security/authelia/app/referencegrant.yaml
  kubernetes/apps/security/authelia/app/secret.sops.yaml
Labels: area/kubernetes

fix(auth): fix authelia x grafana
  kubernetes/apps/observability/grafana/app/helmrelease.yaml
  kubernetes/apps/observability/grafana/app/secret.sops.yaml
Labels: area/kubernetes

fix(auth): fix authelia x grafana
  kubernetes/apps/observability/grafana/app/helmrelease.yaml
  kubernetes/apps/observability/grafana/app/securitypolicy.yaml
  kubernetes/apps/security/authelia/README.md
  kubernetes/apps/security/authelia/app/config/configuration.yaml
  kubernetes/apps/security/authelia/app/secret.sops.yaml
  kubernetes/apps/security/lldap/README.md
  kubernetes/apps/security/lldap/app/secret.sops.yaml
  kubernetes/apps/security/lldap/app/secret.sops.yaml.tmpl
Labels: area/kubernetes

fix(auth): fix authelia x grafana
  flake.nix
  kubernetes/apps/security/authelia/app/config/configuration.yaml
  kubernetes/apps/security/lldap/README.md
Labels: area/kubernetes

fix(auth): fix authelia x grafana
  kubernetes/apps/observability/grafana/app/helmrelease.yaml
  kubernetes/apps/security/authelia/app/config/configuration.yaml
Labels: area/kubernetes

feat(docs): add guide for preventing sleep on Debian during active network connections
  docs/nosleep-remote.md
Labels: area/docs

feat(ansible): replace neofetch with fastfetch
  ansible/playbooks/k3s-prepare.yaml
Labels: area/ansible

feat(mealie): oicd
  kubernetes/apps/default/mealie/app/helmrelease.yaml
  kubernetes/apps/default/mealie/app/kustomization.yaml
  kubernetes/apps/default/mealie/app/secret-oidc.sops.yaml
  kubernetes/apps/default/mealie/app/secret-oidc.sops.yaml.tmpl
  kubernetes/apps/default/mealie/app/securitypolicy.yaml
  kubernetes/apps/default/memos/app/kustomization.yaml
  kubernetes/apps/security/authelia/app/config/configuration.yaml
Labels: area/kubernetes

fix(mealie): oicd
  kubernetes/apps/default/mealie/app/helmrelease.yaml
Labels: area/kubernetes

fix(mealie): oicd
  kubernetes/apps/default/mealie/app/kustomization.yaml
  kubernetes/apps/default/mealie/app/securitypolicy.yaml
Labels: area/kubernetes

fix(mealie): oicd
  kubernetes/apps/default/mealie/app/secret.sops.yaml
  kubernetes/apps/default/mealie/app/secret.sops.yaml.tmpl
  kubernetes/apps/security/authelia/app/secret.sops.yaml
Labels: area/kubernetes

fix(pgadmin): fix httproute service reference
  kubernetes/apps/database/pgadmin/app/httproute.yaml
Labels: area/kubernetes

feat(miniflux): oicd
  kubernetes/apps/default/miniflux/app/helmrelease.yaml
  kubernetes/apps/default/miniflux/app/kustomization.yaml
  kubernetes/apps/default/miniflux/app/secret-oidc.sops.yaml
  kubernetes/apps/default/miniflux/app/secret-oidc.sops.yaml.tmpl
  kubernetes/apps/default/miniflux/app/securitypolicy.yaml
  kubernetes/apps/security/authelia/app/config/configuration.yaml
Labels: area/kubernetes

fix(miniflux): oicd
  kubernetes/apps/default/miniflux/app/helmrelease.yaml
Labels: area/kubernetes

feat(memos): oicd
  kubernetes/apps/default/memos/README.md
  kubernetes/apps/default/memos/app/kustomization.yaml
  kubernetes/apps/default/memos/app/secret-oidc.sops.yaml
  kubernetes/apps/default/memos/app/secret-oidc.sops.yaml.tmpl
  kubernetes/apps/default/memos/app/securitypolicy.yaml
  kubernetes/apps/security/authelia/README.md
  kubernetes/apps/security/authelia/app/config/configuration.yaml
Labels: area/kubernetes

feat(karakeep): oicd
  kubernetes/apps/default/karakeep/app/helmrelease.yaml
  kubernetes/apps/default/karakeep/app/kustomization.yaml
  kubernetes/apps/default/karakeep/app/secret-oidc.sops.yaml
  kubernetes/apps/default/karakeep/app/secret-oidc.sops.yaml.tmpl
  kubernetes/apps/default/karakeep/app/securitypolicy.yaml
  kubernetes/apps/security/authelia/app/config/configuration.yaml
Labels: area/kubernetes

chore(nginx): clean up nginx
  kubernetes/apps/networking/ingress-nginx/README.md
  kubernetes/apps/networking/ingress-nginx/external/helmrelease.yaml
  kubernetes/apps/networking/ingress-nginx/external/kustomization.yaml
  kubernetes/apps/networking/ingress-nginx/external/secret-maxmind.sops.yaml
  kubernetes/apps/networking/ingress-nginx/external/secret-maxmind.sops.yaml.tmpl
  kubernetes/apps/networking/ingress-nginx/internal/helmrelease.yaml
  kubernetes/apps/networking/ingress-nginx/internal/kustomization.yaml
  kubernetes/apps/networking/ingress-nginx/internal/source.yaml
  kubernetes/apps/networking/ingress-nginx/ks.yaml
  kubernetes/apps/networking/kustomization.yaml
Labels: area/kubernetes

feat(observability): replace loki with fluent-bit + victoria-metrics
  kubernetes/apps/observability/README.md
  kubernetes/apps/observability/fluent-bit/README.md
  kubernetes/apps/observability/fluent-bit/app/helmrelease.yaml
  kubernetes/apps/observability/fluent-bit/app/kustomization.yaml
  kubernetes/apps/observability/fluent-bit/app/source.yaml
  kubernetes/apps/observability/fluent-bit/ks.yaml
  kubernetes/apps/observability/grafana/app/helmrelease.yaml
  kubernetes/apps/observability/kustomization.yaml
  kubernetes/apps/observability/loki/README.md
  kubernetes/apps/observability/loki/app/helmrelease.yaml
  kubernetes/apps/observability/loki/app/objectbucketclaim.yaml
  kubernetes/apps/observability/victoria-metrics/README.md
  kubernetes/apps/observability/victoria-metrics/app/helmrelease.yaml
  kubernetes/apps/observability/victoria-metrics/app/kustomization.yaml
  kubernetes/apps/observability/victoria-metrics/app/pvc.yaml
  kubernetes/apps/observability/victoria-metrics/app/source.yaml
  kubernetes/apps/observability/victoria-metrics/ks.yaml
  kubernetes/flux/repositories/README.md
Labels: area/kubernetes

fix(observability): steal from onedr0p
  kubernetes/apps/observability/fluent-bit/README.md
  kubernetes/apps/observability/fluent-bit/app/helmrelease.yaml
  kubernetes/apps/observability/fluent-bit/ks.yaml
  kubernetes/apps/observability/grafana/app/helmrelease.yaml
  kubernetes/apps/observability/kube-prometheus-stack/app/helmrelease.yaml
  kubernetes/apps/observability/kube-prometheus-stack/ks.yaml
  kubernetes/apps/observability/kustomization.yaml
  kubernetes/apps/observability/victoria-logs/README.md
  kubernetes/apps/observability/victoria-logs/app/helmrelease.yaml
  kubernetes/apps/observability/victoria-logs/app/kustomization.yaml
  kubernetes/apps/observability/victoria-logs/app/source.yaml
  kubernetes/apps/observability/victoria-logs/ks.yaml
  kubernetes/apps/observability/victoria-metrics/README.md
  kubernetes/apps/observability/victoria-metrics/app/helmrelease.yaml
  kubernetes/apps/observability/victoria-metrics/app/pvc.yaml
Labels: area/kubernetes

feat: replace Loki with Fluent Bit and VictoriaMetrics (#4249)
  kubernetes/apps/observability/README.md
  kubernetes/apps/observability/fluent-bit/README.md
  kubernetes/apps/observability/fluent-bit/app/helmrelease.yaml
  kubernetes/apps/observability/fluent-bit/app/kustomization.yaml
  kubernetes/apps/observability/fluent-bit/app/source.yaml
  kubernetes/apps/observability/fluent-bit/ks.yaml
  kubernetes/apps/observability/grafana/app/helmrelease.yaml
  kubernetes/apps/observability/kube-prometheus-stack/app/helmrelease.yaml
  kubernetes/apps/observability/kube-prometheus-stack/ks.yaml
  kubernetes/apps/observability/kustomization.yaml
  kubernetes/apps/observability/loki/README.md
  kubernetes/apps/observability/loki/app/helmrelease.yaml
  kubernetes/apps/observability/loki/app/objectbucketclaim.yaml
  kubernetes/apps/observability/victoria-logs/README.md
  kubernetes/apps/observability/victoria-logs/app/helmrelease.yaml
  kubernetes/apps/observability/victoria-logs/app/kustomization.yaml
  kubernetes/apps/observability/victoria-logs/app/source.yaml
  kubernetes/apps/observability/victoria-logs/ks.yaml
  kubernetes/flux/repositories/README.md
Labels: area/kubernetes

fix(fluent-bit): increase buffer size to resolve warning
  kubernetes/apps/observability/fluent-bit/app/helmrelease.yaml
Labels: area/kubernetes

fix(fluent-bit): allow export on all nodes
  kubernetes/apps/observability/fluent-bit/app/helmrelease.yaml
Labels: area/kubernetes

fix(kube-prometheus-stack): metric labels
  kubernetes/apps/observability/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes

fix(node-exporter): disable bogus readings/alerts from wmi_bus_pnp0c14
  kubernetes/apps/observability/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes

fix(fluent-bit): allow export on all nodes
  kubernetes/apps/observability/fluent-bit/app/helmrelease.yaml
Labels: area/kubernetes

fix(kube-prometheus-stack): metric labels
  kubernetes/apps/observability/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes

fix(fluent-bit): increase buffer size to resolve warning
  kubernetes/apps/observability/fluent-bit/app/helmrelease.yaml
Labels: area/kubernetes

feat: replace Loki with Fluent Bit and VictoriaMetrics (#4249)
  kubernetes/apps/observability/README.md
  kubernetes/apps/observability/fluent-bit/README.md
  kubernetes/apps/observability/fluent-bit/app/helmrelease.yaml
  kubernetes/apps/observability/fluent-bit/app/kustomization.yaml
  kubernetes/apps/observability/fluent-bit/app/source.yaml
  kubernetes/apps/observability/fluent-bit/ks.yaml
  kubernetes/apps/observability/grafana/app/helmrelease.yaml
  kubernetes/apps/observability/kube-prometheus-stack/app/helmrelease.yaml
  kubernetes/apps/observability/kube-prometheus-stack/ks.yaml
  kubernetes/apps/observability/kustomization.yaml
  kubernetes/apps/observability/loki/README.md
  kubernetes/apps/observability/loki/app/helmrelease.yaml
  kubernetes/apps/observability/loki/app/objectbucketclaim.yaml
  kubernetes/apps/observability/victoria-logs/README.md
  kubernetes/apps/observability/victoria-logs/app/helmrelease.yaml
  kubernetes/apps/observability/victoria-logs/app/kustomization.yaml
  kubernetes/apps/observability/victoria-logs/app/source.yaml
  kubernetes/apps/observability/victoria-logs/ks.yaml
  kubernetes/flux/repositories/README.md
Labels: area/kubernetes

fix(node-exporter): disable bogus readings/alerts from wmi_bus_pnp0c14
  kubernetes/apps/observability/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes
