Repository ahgraber/homelab-gitops-k3s, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/addons, area/ansible, area/bootstrap, area/github, area/kubernetes, area/taskfile

fix: instead of defining modules twice just restart the modules-load service
  bootstrap/templates/ansible/playbooks/cluster-prepare.yaml.j2
Labels: area/ansible, area/bootstrap

fix(helm): update chart grafana to 7.0.17
  bootstrap/templates/addons/grafana/app/helmrelease.yaml.j2
  bootstrap/templates/ansible/playbooks/cluster-prepare.yaml.j2
Labels: area/addons, area/ansible, area/bootstrap

fix(helm): update chart grafana to 7.0.17
  bootstrap/templates/addons/grafana/app/helmrelease.yaml.j2
  bootstrap/templates/ansible/playbooks/cluster-prepare.yaml.j2
Labels: area/addons, area/ansible, area/bootstrap

feat: update flux api versions for helmrelease
  bootstrap/templates/addons/csi-driver-nfs/app/helmrelease.yaml.j2
  bootstrap/templates/addons/discord-template-notifier/app/helmrelease.yaml.j2
  bootstrap/templates/addons/grafana/app/helmrelease.yaml.j2
  bootstrap/templates/addons/hajimari/app/helmrelease.yaml.j2
  bootstrap/templates/addons/kube-prometheus-stack/app/helmrelease.yaml.j2
  bootstrap/templates/addons/kubernetes-dashboard/app/helmrelease.yaml.j2
  bootstrap/templates/addons/system-upgrade-controller/app/helmrelease.yaml.j2
  bootstrap/templates/addons/weave-gitops/app/helmrelease.yaml.j2
  bootstrap/templates/kubernetes/apps/cert-manager/cert-manager/app/helmrelease.yaml.j2
  bootstrap/templates/kubernetes/apps/kube-system/cilium/app/helmrelease.yaml.j2
  bootstrap/templates/kubernetes/apps/kube-system/coredns/app/helmrelease.yaml.j2
  bootstrap/templates/kubernetes/apps/kube-system/local-path-provisioner/app/helmrelease.yaml.j2
  bootstrap/templates/kubernetes/apps/kube-system/metrics-server/app/helmrelease.yaml.j2
  bootstrap/templates/kubernetes/apps/kube-system/reloader/app/helmrelease.yaml.j2
  bootstrap/templates/kubernetes/apps/kube-system/snapshot-controller/app/helmrelease.yaml.j2
  bootstrap/templates/kubernetes/apps/networking/cloudflared/app/helmrelease.yaml.j2
  bootstrap/templates/kubernetes/apps/networking/echo-server/app/helmrelease.yaml.j2
  bootstrap/templates/kubernetes/apps/networking/external-dns/app/helmrelease.yaml.j2
  bootstrap/templates/kubernetes/apps/networking/k8s-gateway/app/helmrelease.yaml.j2
  bootstrap/templates/kubernetes/apps/networking/nginx/external/helmrelease.yaml.j2
  bootstrap/templates/kubernetes/apps/networking/nginx/internal/helmrelease.yaml.j2
  bootstrap/templates/kubernetes/apps/volsync/volsync/app/helmrelease.yaml.j2
  bootstrap/templates/kubernetes/bootstrap/kustomization.yaml.j2
  bootstrap/templates/kubernetes/flux/config/flux.yaml.j2
Labels: area/addons, area/bootstrap, area/kubernetes

feat: update flux api versions for helmrelease
  bootstrap/templates/addons/csi-driver-nfs/app/helmrelease.yaml.j2
  bootstrap/templates/addons/discord-template-notifier/app/helmrelease.yaml.j2
  bootstrap/templates/addons/grafana/app/helmrelease.yaml.j2
  bootstrap/templates/addons/hajimari/app/helmrelease.yaml.j2
  bootstrap/templates/addons/kube-prometheus-stack/app/helmrelease.yaml.j2
  bootstrap/templates/addons/kubernetes-dashboard/app/helmrelease.yaml.j2
  bootstrap/templates/addons/system-upgrade-controller/app/helmrelease.yaml.j2
  bootstrap/templates/addons/weave-gitops/app/helmrelease.yaml.j2
  bootstrap/templates/kubernetes/apps/cert-manager/cert-manager/app/helmrelease.yaml.j2
  bootstrap/templates/kubernetes/apps/kube-system/cilium/app/helmrelease.yaml.j2
  bootstrap/templates/kubernetes/apps/kube-system/coredns/app/helmrelease.yaml.j2
  bootstrap/templates/kubernetes/apps/kube-system/local-path-provisioner/app/helmrelease.yaml.j2
  bootstrap/templates/kubernetes/apps/kube-system/metrics-server/app/helmrelease.yaml.j2
  bootstrap/templates/kubernetes/apps/kube-system/reloader/app/helmrelease.yaml.j2
  bootstrap/templates/kubernetes/apps/kube-system/snapshot-controller/app/helmrelease.yaml.j2
  bootstrap/templates/kubernetes/apps/networking/cloudflared/app/helmrelease.yaml.j2
  bootstrap/templates/kubernetes/apps/networking/echo-server/app/helmrelease.yaml.j2
  bootstrap/templates/kubernetes/apps/networking/external-dns/app/helmrelease.yaml.j2
  bootstrap/templates/kubernetes/apps/networking/k8s-gateway/app/helmrelease.yaml.j2
  bootstrap/templates/kubernetes/apps/networking/nginx/external/helmrelease.yaml.j2
  bootstrap/templates/kubernetes/apps/networking/nginx/internal/helmrelease.yaml.j2
  bootstrap/templates/kubernetes/apps/volsync/volsync/app/helmrelease.yaml.j2
  bootstrap/templates/kubernetes/bootstrap/kustomization.yaml.j2
  bootstrap/templates/kubernetes/flux/config/flux.yaml.j2
Labels: area/addons, area/bootstrap, area/kubernetes

chore: add instructions to update-template task
  Taskfile.yaml
Labels: area/taskfile

chore: add instructions to update-template task
  Taskfile.yaml
Labels: area/taskfile

fix: instead of defining modules twice just restart the modules-load service
  bootstrap/templates/ansible/playbooks/cluster-prepare.yaml.j2
Labels: area/ansible, area/bootstrap

fix: instead of defining modules twice just restart the modules-load service
  bootstrap/templates/ansible/playbooks/cluster-prepare.yaml.j2
Labels: area/ansible, area/bootstrap

feat: update flux api versions for helmrelease
  bootstrap/templates/ansible/playbooks/cluster-prepare.yaml.j2
Labels: area/ansible, area/bootstrap

feat: update flux api versions for helmrelease
  bootstrap/templates/ansible/playbooks/cluster-prepare.yaml.j2
Labels: area/ansible, area/bootstrap

chore: add instructions to update-template task
  Taskfile.yaml
Labels: area/taskfile

chore: add instructions to update-template task
  Taskfile.yaml
Labels: area/taskfile

fix(helm): update rook-ceph group to v1.12.10
  kubernetes/apps/rook-ceph/rook-ceph/cluster/helmrelease.yaml
  kubernetes/apps/rook-ceph/rook-ceph/operator/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update rook-ceph group to v1.12.10
  kubernetes/apps/rook-ceph/rook-ceph/cluster/helmrelease.yaml
  kubernetes/apps/rook-ceph/rook-ceph/operator/helmrelease.yaml
Labels: area/kubernetes

feat(container): update image kube-prometheus-stack to v55.4.0
  bootstrap/templates/addons/kube-prometheus-stack/app/helmrelease.yaml.j2
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/addons, area/bootstrap, area/kubernetes

feat(container): update image kube-prometheus-stack to v55.4.0
  bootstrap/templates/addons/kube-prometheus-stack/app/helmrelease.yaml.j2
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/addons, area/bootstrap, area/kubernetes

fix(helm): update chart cilium to 1.14.5
  ansible/playbooks/templates/custom-cilium-helmchart.yaml.j2
  bootstrap/templates/ansible/playbooks/templates/custom-cilium-helmchart.yaml.j2.j2
  bootstrap/templates/kubernetes/apps/kube-system/cilium/app/helmrelease.yaml.j2
  kubernetes/apps/kube-system/cilium/app/helmrelease.yaml
Labels: area/ansible, area/bootstrap, area/kubernetes

fix(helm): update chart cilium to 1.14.5
  ansible/playbooks/templates/custom-cilium-helmchart.yaml.j2
  bootstrap/templates/ansible/playbooks/templates/custom-cilium-helmchart.yaml.j2.j2
  bootstrap/templates/kubernetes/apps/kube-system/cilium/app/helmrelease.yaml.j2
  kubernetes/apps/kube-system/cilium/app/helmrelease.yaml
Labels: area/ansible, area/bootstrap, area/kubernetes

feat(helm): update rook-ceph group to v1.13.0
  kubernetes/apps/rook-ceph/rook-ceph/cluster/helmrelease.yaml
  kubernetes/apps/rook-ceph/rook-ceph/operator/helmrelease.yaml
Labels: area/kubernetes

feat(helm): update rook-ceph group to v1.13.0
  kubernetes/apps/rook-ceph/rook-ceph/cluster/helmrelease.yaml
  kubernetes/apps/rook-ceph/rook-ceph/operator/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image docker.io/miniflux/miniflux to v2.0.51
  kubernetes/apps/default/miniflux/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image docker.io/miniflux/miniflux to v2.0.51
  kubernetes/apps/default/miniflux/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update chart windmill to 2.0.55
  kubernetes/apps/datasci/windmill/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update chart windmill to 2.0.55
  kubernetes/apps/datasci/windmill/app/helmrelease.yaml
Labels: area/kubernetes

fix: upstream links to flux2 monitoring
  kubernetes/apps/flux-system/addons/monitoring/kustomization.yaml
Labels: area/kubernetes

fix: upstream links to flux2 monitoring
  kubernetes/apps/flux-system/addons/monitoring/kustomization.yaml
Labels: area/kubernetes

feat: ++ loki-stack
  kubernetes/apps/monitoring/kustomization.yaml
  kubernetes/apps/monitoring/loki-stack/app/helmrelease.yaml
  kubernetes/apps/monitoring/loki-stack/app/kustomization.yaml
  kubernetes/apps/monitoring/loki-stack/ks.yaml
Labels: area/kubernetes

feat: ++ loki-stack
  kubernetes/apps/monitoring/kustomization.yaml
  kubernetes/apps/monitoring/loki-stack/app/helmrelease.yaml
  kubernetes/apps/monitoring/loki-stack/app/kustomization.yaml
  kubernetes/apps/monitoring/loki-stack/ks.yaml
Labels: area/kubernetes

fix: renovate codeowners
  .github/renovate.json5
Labels: area/github

fix: renovate codeowners
  .github/renovate.json5
Labels: area/github

fix: upstream links to flux2 monitoring
  kubernetes/apps/monitoring/grafana/app/helmrelease.yaml
Labels: area/kubernetes

fix: upstream links to flux2 monitoring
  kubernetes/apps/monitoring/grafana/app/helmrelease.yaml
Labels: area/kubernetes

fix(github-action): update renovatebot/github-action action to v39.2.2
  .github/workflows/renovate.yaml
Labels: area/github

fix(github-action): update renovatebot/github-action action to v39.2.2
  .github/workflows/renovate.yaml
Labels: area/github

fix(github-action): update renovatebot/github-action action to v39.2.3
  .github/workflows/renovate.yaml
Labels: area/github

fix(github-action): update renovatebot/github-action action to v39.2.3
  .github/workflows/renovate.yaml
Labels: area/github

fix(container): update image kube-prometheus-stack to v55.4.1
  bootstrap/templates/addons/kube-prometheus-stack/app/helmrelease.yaml.j2
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/addons, area/bootstrap, area/kubernetes

fix(container): update image kube-prometheus-stack to v55.4.1
  bootstrap/templates/addons/kube-prometheus-stack/app/helmrelease.yaml.j2
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/addons, area/bootstrap, area/kubernetes

feat(helm): update prefect group to 2023.12.14
  kubernetes/apps/datasci/prefect/agent/helmrelease.yaml
  kubernetes/apps/datasci/prefect/server/helmrelease.yaml
  kubernetes/apps/datasci/prefect/worker/helmrelease.yaml
Labels: area/kubernetes

.github/labeler.yaml:

---
area/addons:
  - changed-files:
      - any-glob-to-any-file: bootstrap/templates/addons/**/*
      - any-glob-to-any-file: bootstrap/tasks/addons/**/*
      - any-glob-to-any-file: bootstrap/vars/addons.sample.yaml
area/ansible:
  - changed-files:
      - any-glob-to-any-file: ansible/**/*
      - any-glob-to-any-file: bootstrap/templates/ansible/**/*
      - any-glob-to-any-file: bootstrap/tasks/ansible/**/*
area/bootstrap:
  - changed-files:
      - any-glob-to-any-file: bootstrap/**/*
      - any-glob-to-any-file: bootstrap/configure.yaml
area/github:
  - changed-files:
      - any-glob-to-any-file: .github/**/*
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: kubernetes/**/*
      - any-glob-to-any-file: bootstrap/templates/kubernetes/**/*
      - any-glob-to-any-file: bootstrap/tasks/kubernetes/**/*
area/taskfile:
  - changed-files:
      - any-glob-to-any-file: .taskfiles/**/*
      - any-glob-to-any-file: Taskfile*
