Repository ahgraber/homelab-gitops-k3s, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/docs, area/github, area/kubernetes, area/taskfile

feat: automerge blog
  .github/renovate/autoMerge.json5
Labels: area/github

feat: automerge blog
  .github/renovate/autoMerge.json5
Labels: area/github

feat: automerge blog
  .github/renovate/autoMerge.json5
Labels: area/github

Revert "feat: temporarily disable maxmind"
  kubernetes/apps/networking/ingress-nginx/external/helmrelease.yaml
Labels: area/kubernetes

Revert "feat: temporarily disable maxmind"
  kubernetes/apps/networking/ingress-nginx/external/helmrelease.yaml
Labels: area/kubernetes

feat: allow 'default' postgres operator to watch all namespaces
  kubernetes/apps/database/ext-postgres-operator/app/helmrelease.yaml
Labels: area/kubernetes

feat: allow 'default' postgres operator to watch all namespaces
  kubernetes/apps/database/ext-postgres-operator/app/helmrelease.yaml
Labels: area/kubernetes

feat: allow 'default' postgres operator to watch all namespaces
  kubernetes/apps/database/ext-postgres-operator/app/helmrelease.yaml
Labels: area/kubernetes

feat: allow 'default' postgres operator to watch all namespaces
  kubernetes/apps/database/ext-postgres-operator/app/helmrelease.yaml
Labels: area/kubernetes

feat: umami
  kubernetes/apps/blog/umami/README.md
  kubernetes/apps/blog/umami/app/helmrelease.yaml
  kubernetes/apps/blog/umami/app/kustomization.yaml
  kubernetes/apps/blog/umami/db/kustomization.yaml
  kubernetes/apps/blog/umami/db/postgres.yaml
  kubernetes/apps/blog/umami/ks.yaml
  kubernetes/apps/database/ext-postgres-operator/app/helmrelease.yaml
Labels: area/kubernetes

feat: umami
  kubernetes/apps/blog/umami/README.md
  kubernetes/apps/blog/umami/app/helmrelease.yaml
  kubernetes/apps/blog/umami/app/kustomization.yaml
  kubernetes/apps/blog/umami/db/kustomization.yaml
  kubernetes/apps/blog/umami/db/postgres.yaml
  kubernetes/apps/blog/umami/ks.yaml
  kubernetes/apps/database/ext-postgres-operator/app/helmrelease.yaml
Labels: area/kubernetes

feat: umami + hugo
  kubernetes/apps/blog/hugo/app/helmrelease.yaml
Labels: area/kubernetes

feat: umami + hugo
  kubernetes/apps/blog/hugo/app/helmrelease.yaml
Labels: area/kubernetes

feat: copier manages precommit configs
  .copier-answers.yaml
  .editorconfig
  .gitattributes
  .markdownlint.yaml
  .pre-commit-config.yaml
  .prettierignore
  .prettierrc.yaml
  .ruff.toml
  .shellcheckrc
  .taskfiles/rook/scripts/remove-rook-ceph.sh
  .taskfiles/rook/scripts/scaledown-consumers.sh
  .typos.toml
  .yamllint.yaml
  scripts/kubeconform.sh
Labels: area/taskfile

feat: copier manages precommit configs
  .copier-answers.yaml
  .editorconfig
  .gitattributes
  .markdownlint.yaml
  .pre-commit-config.yaml
  .prettierignore
  .prettierrc.yaml
  .ruff.toml
  .shellcheckrc
  .taskfiles/rook/scripts/remove-rook-ceph.sh
  .taskfiles/rook/scripts/scaledown-consumers.sh
  .typos.toml
  .yamllint.yaml
  scripts/kubeconform.sh
Labels: area/taskfile

fix: helmrepository schemas
  kubernetes/flux/repositories/helm/actions-runner-controller.yaml
  kubernetes/flux/repositories/helm/backube.yaml
  kubernetes/flux/repositories/helm/bitnami.yaml
  kubernetes/flux/repositories/helm/bjw-s.yaml
  kubernetes/flux/repositories/helm/cilium.yaml
  kubernetes/flux/repositories/helm/cloudnativepg.yaml
  kubernetes/flux/repositories/helm/coredns.yaml
  kubernetes/flux/repositories/helm/crowdsec.yaml
  kubernetes/flux/repositories/helm/csi-driver-nfs.yaml
  kubernetes/flux/repositories/helm/deliveryhero.yaml
  kubernetes/flux/repositories/helm/democratic-csi.yaml
  kubernetes/flux/repositories/helm/descheduler.yaml
  kubernetes/flux/repositories/helm/emberstack.yaml
  kubernetes/flux/repositories/helm/external-dns.yaml
  kubernetes/flux/repositories/helm/fairwinds.yaml
  kubernetes/flux/repositories/helm/grafana.yaml
  kubernetes/flux/repositories/helm/ingress-nginx.yaml
  kubernetes/flux/repositories/helm/jetstack.yaml
  kubernetes/flux/repositories/helm/jupyterhub.yaml
  kubernetes/flux/repositories/helm/k8s-gateway.yaml
  kubernetes/flux/repositories/helm/kubernetes-dashboard.yaml
  kubernetes/flux/repositories/helm/lwolf.yaml
  kubernetes/flux/repositories/helm/metrics-server.yaml
  kubernetes/flux/repositories/helm/movetokube.yaml
  kubernetes/flux/repositories/helm/opstree.yaml
  kubernetes/flux/repositories/helm/piraeus.yaml
  kubernetes/flux/repositories/helm/prefect.yaml
  kubernetes/flux/repositories/helm/prometheus-community.yaml
  kubernetes/flux/repositories/helm/rook-ceph.yaml
  kubernetes/flux/repositories/helm/runix.yaml
  kubernetes/flux/repositories/helm/seldon.yaml
  kubernetes/flux/repositories/helm/stakater.yaml
  kubernetes/flux/repositories/helm/valheim.yaml
  kubernetes/flux/repositories/helm/weave-gitops.yaml
  kubernetes/flux/repositories/helm/windmill.yaml
Labels: area/kubernetes

fix: helmrepository schemas
  kubernetes/flux/repositories/helm/actions-runner-controller.yaml
  kubernetes/flux/repositories/helm/backube.yaml
  kubernetes/flux/repositories/helm/bitnami.yaml
  kubernetes/flux/repositories/helm/bjw-s.yaml
  kubernetes/flux/repositories/helm/cilium.yaml
  kubernetes/flux/repositories/helm/cloudnativepg.yaml
  kubernetes/flux/repositories/helm/coredns.yaml
  kubernetes/flux/repositories/helm/crowdsec.yaml
  kubernetes/flux/repositories/helm/csi-driver-nfs.yaml
  kubernetes/flux/repositories/helm/deliveryhero.yaml
  kubernetes/flux/repositories/helm/democratic-csi.yaml
  kubernetes/flux/repositories/helm/descheduler.yaml
  kubernetes/flux/repositories/helm/emberstack.yaml
  kubernetes/flux/repositories/helm/external-dns.yaml
  kubernetes/flux/repositories/helm/fairwinds.yaml
  kubernetes/flux/repositories/helm/grafana.yaml
  kubernetes/flux/repositories/helm/ingress-nginx.yaml
  kubernetes/flux/repositories/helm/jetstack.yaml
  kubernetes/flux/repositories/helm/jupyterhub.yaml
  kubernetes/flux/repositories/helm/k8s-gateway.yaml
  kubernetes/flux/repositories/helm/kubernetes-dashboard.yaml
  kubernetes/flux/repositories/helm/lwolf.yaml
  kubernetes/flux/repositories/helm/metrics-server.yaml
  kubernetes/flux/repositories/helm/movetokube.yaml
  kubernetes/flux/repositories/helm/opstree.yaml
  kubernetes/flux/repositories/helm/piraeus.yaml
  kubernetes/flux/repositories/helm/prefect.yaml
  kubernetes/flux/repositories/helm/prometheus-community.yaml
  kubernetes/flux/repositories/helm/rook-ceph.yaml
  kubernetes/flux/repositories/helm/runix.yaml
  kubernetes/flux/repositories/helm/seldon.yaml
  kubernetes/flux/repositories/helm/stakater.yaml
  kubernetes/flux/repositories/helm/valheim.yaml
  kubernetes/flux/repositories/helm/weave-gitops.yaml
  kubernetes/flux/repositories/helm/windmill.yaml
Labels: area/kubernetes

fix: helm* schema versions
  kubernetes/apps/monitoring/kube-prometheus-stack/app/kube-state-metrics.yaml
Labels: area/kubernetes

fix: helm* schema versions
  kubernetes/apps/monitoring/kube-prometheus-stack/app/kube-state-metrics.yaml
Labels: area/kubernetes

fix: volsync postrender patch
  kubernetes/apps/volsync-system/volsync/app/helmrelease.yaml
Labels: area/kubernetes

fix: volsync postrender patch
  kubernetes/apps/volsync-system/volsync/app/helmrelease.yaml
Labels: area/kubernetes

fix: helmrelease schemas
  kubernetes/apps/volsync-system/volsync/app/helmrelease.yaml
Labels: area/kubernetes

fix: helmrelease schemas
  kubernetes/apps/volsync-system/volsync/app/helmrelease.yaml
Labels: area/kubernetes

fix: gitrepository schemas
  kubernetes/flux/config/cluster.yaml
  kubernetes/flux/repositories/git/local-path-provisioner.yaml
Labels: area/kubernetes

fix: gitrepository schemas
  kubernetes/flux/config/cluster.yaml
  kubernetes/flux/repositories/git/local-path-provisioner.yaml
Labels: area/kubernetes

fix: ocirepository schemas
  kubernetes/flux/config/flux.yaml
Labels: area/kubernetes

fix: ocirepository schemas
  kubernetes/flux/config/flux.yaml
Labels: area/kubernetes

fix: be less specific with flux tag
  kubernetes/flux/config/flux.yaml
Labels: area/kubernetes

fix: be less specific with flux tag
  kubernetes/flux/config/flux.yaml
Labels: area/kubernetes

docs: update notes for scrutiny on Truenas
  kubernetes/apps/monitoring/scrutiny/README.md
Labels: area/kubernetes

docs: update notes for scrutiny on Truenas
  kubernetes/apps/monitoring/scrutiny/README.md
Labels: area/kubernetes

chore: pin version for allenporter/flux-local
  .github/workflows/flux-diff.yaml
Labels: area/github

chore: pin version for allenporter/flux-local
  .github/workflows/flux-diff.yaml
Labels: area/github

feat: make miniflux available externally
  kubernetes/apps/default/miniflux/app/helmrelease.yaml
Labels: area/kubernetes

feat: make miniflux available externally
  kubernetes/apps/default/miniflux/app/helmrelease.yaml
Labels: area/kubernetes

fix: update descheduler policy
  kubernetes/apps/kube-system/descheduler/app/helmrelease.yaml
Labels: area/kubernetes

fix: update descheduler policy
  kubernetes/apps/kube-system/descheduler/app/helmrelease.yaml
Labels: area/kubernetes

chore: automerge pre-commit
  .github/renovate/autoMerge.json5
Labels: area/github

chore: automerge pre-commit
  .github/renovate/autoMerge.json5
Labels: area/github

chore: ignore .git* files during typo check
  .pre-commit-config.yaml
  .typos.toml
Labels: none

.github/labeler.yaml:

---
area/ansible:
  - changed-files:
      - any-glob-to-any-file: ansible/**/*
area/docs:
  - changed-files:
      - any-glob-to-any-file:
          - "docs/**/*"
          - "README.md"
area/github:
  - changed-files:
      - any-glob-to-any-file: .github/**/*
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: kubernetes/**/*
area/taskfile:
  - changed-files:
      - any-glob-to-any-file: .taskfiles/**/*
      - any-glob-to-any-file: Taskfile*
