Repository ahgraber/homelab-gitops-k3s, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/addons, area/ansible, area/bootstrap, area/github, area/kubernetes

fix(container): update image ghcr.io/dgtlmoon/changedetection.io to v0.45.8.1
  kubernetes/apps/default/changedetection/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update prefect group to 2023.11.30
  kubernetes/apps/datasci/prefect/agent/helmrelease.yaml
  kubernetes/apps/datasci/prefect/server/helmrelease.yaml
  kubernetes/apps/datasci/prefect/worker/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update prefect group to 2023.11.30
  kubernetes/apps/datasci/prefect/agent/helmrelease.yaml
  kubernetes/apps/datasci/prefect/server/helmrelease.yaml
  kubernetes/apps/datasci/prefect/worker/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update rook-ceph group to v1.12.9
  kubernetes/apps/rook-ceph/rook-ceph/cluster/helmrelease.yaml
  kubernetes/apps/rook-ceph/rook-ceph/operator/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update rook-ceph group to v1.12.9
  kubernetes/apps/rook-ceph/rook-ceph/cluster/helmrelease.yaml
  kubernetes/apps/rook-ceph/rook-ceph/operator/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/alpine to v3.18.5
  kubernetes/apps/monitoring/scrutiny/app/helmrelease-collector.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/alpine to v3.18.5
  kubernetes/apps/monitoring/scrutiny/app/helmrelease-collector.yaml
Labels: area/kubernetes

fix(helm): update chart windmill to 2.0.35
  kubernetes/apps/datasci/windmill/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update chart windmill to 2.0.35
  kubernetes/apps/datasci/windmill/app/helmrelease.yaml
Labels: area/kubernetes

feat(ansible)!: Update ansible.utils to 3.0.0
  requirements.yaml
Labels: none

feat(ansible)!: Update ansible.utils to 3.0.0
  requirements.yaml
Labels: none

fix(helm): update chart windmill to 2.0.36
  kubernetes/apps/datasci/windmill/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update chart windmill to 2.0.36
  kubernetes/apps/datasci/windmill/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update image ghcr.io/prymitive/karma to v0.117
  kubernetes/apps/monitoring/karma/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update image ghcr.io/prymitive/karma to v0.117
  kubernetes/apps/monitoring/karma/app/helmrelease.yaml
Labels: area/kubernetes

chore: add release file to exclude renovate bot(s) from changelog
  .github/release.yaml
Labels: area/github

feat: swap system-upgrade-controller
  kubernetes/apps/kube-system/kustomization.yaml
  kubernetes/apps/kube-system/system-upgrade-controller/app/helmrelease.yaml
  kubernetes/apps/kube-system/system-upgrade-controller/app/kustomization.yaml
  kubernetes/apps/kube-system/system-upgrade-controller/app/rbac.yaml
  kubernetes/apps/kube-system/system-upgrade-controller/ks.yaml
  kubernetes/apps/kube-system/system-upgrade-controller/plans/agent.yaml
  kubernetes/apps/kube-system/system-upgrade-controller/plans/kustomization.yaml
  kubernetes/apps/kube-system/system-upgrade-controller/plans/server.yaml
  kubernetes/apps/system-upgrade/kustomization.yaml
  kubernetes/apps/system-upgrade/namespace.yaml
  kubernetes/apps/system-upgrade/system-upgrade-controller/app/kustomization.yaml
Labels: area/kubernetes

feat: swap system-upgrade-controller
  kubernetes/apps/kube-system/kustomization.yaml
  kubernetes/apps/kube-system/system-upgrade-controller/app/helmrelease.yaml
  kubernetes/apps/kube-system/system-upgrade-controller/app/kustomization.yaml
  kubernetes/apps/kube-system/system-upgrade-controller/app/rbac.yaml
  kubernetes/apps/kube-system/system-upgrade-controller/ks.yaml
  kubernetes/apps/kube-system/system-upgrade-controller/plans/agent.yaml
  kubernetes/apps/kube-system/system-upgrade-controller/plans/kustomization.yaml
  kubernetes/apps/kube-system/system-upgrade-controller/plans/server.yaml
  kubernetes/apps/system-upgrade/kustomization.yaml
  kubernetes/apps/system-upgrade/namespace.yaml
  kubernetes/apps/system-upgrade/system-upgrade-controller/app/kustomization.yaml
Labels: area/kubernetes

chore: add release file to exclude renovate bot(s) from changelog
  .github/release.yaml
Labels: area/github

fix: system-upgrade-controler dependsOn
  bootstrap/templates/addons/system-upgrade-controller/ks.yaml.j2
  kubernetes/apps/kube-system/system-upgrade-controller/ks.yaml
Labels: area/addons, area/bootstrap, area/kubernetes

fix: system-upgrade-controler dependsOn
  bootstrap/templates/addons/system-upgrade-controller/ks.yaml.j2
  kubernetes/apps/kube-system/system-upgrade-controller/ks.yaml
Labels: area/addons, area/bootstrap, area/kubernetes

fix(container): update image docker.io/rancher/kubectl to v1.28.4
  kubernetes/apps/kube-system/system-upgrade-controller/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image docker.io/rancher/kubectl to v1.28.4
  kubernetes/apps/kube-system/system-upgrade-controller/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image docker.io/rancher/system-upgrade-controller to v0.13.2
  bootstrap/templates/addons/system-upgrade-controller/app/helmrelease.yaml.j2
  kubernetes/apps/kube-system/system-upgrade-controller/app/helmrelease.yaml
Labels: area/addons, area/bootstrap, area/kubernetes

fix(container): update image docker.io/rancher/system-upgrade-controller to v0.13.2
  bootstrap/templates/addons/system-upgrade-controller/app/helmrelease.yaml.j2
  kubernetes/apps/kube-system/system-upgrade-controller/app/helmrelease.yaml
Labels: area/addons, area/bootstrap, area/kubernetes

fix(github-release): update rancher/system-upgrade-controller to v0.13.2
  bootstrap/templates/addons/system-upgrade-controller/app/kustomization.yaml.j2
  kubernetes/apps/kube-system/system-upgrade-controller/app/kustomization.yaml
Labels: area/addons, area/bootstrap, area/kubernetes

fix(github-release): update rancher/system-upgrade-controller to v0.13.2
  bootstrap/templates/addons/system-upgrade-controller/app/kustomization.yaml.j2
  kubernetes/apps/kube-system/system-upgrade-controller/app/kustomization.yaml
Labels: area/addons, area/bootstrap, area/kubernetes

feat: bump k3s version
  kubernetes/apps/kube-system/system-upgrade-controller/app/kustomization.yaml
  kubernetes/apps/kube-system/system-upgrade-controller/plans/agent.yaml
  kubernetes/apps/kube-system/system-upgrade-controller/plans/server.yaml
Labels: area/kubernetes

feat: bump k3s version
  kubernetes/apps/kube-system/system-upgrade-controller/app/kustomization.yaml
  kubernetes/apps/kube-system/system-upgrade-controller/plans/agent.yaml
  kubernetes/apps/kube-system/system-upgrade-controller/plans/server.yaml
Labels: area/kubernetes

fix: kubectl version string
  kubernetes/apps/kube-system/system-upgrade-controller/app/helmrelease.yaml
Labels: area/kubernetes

fix: kubectl version string
  kubernetes/apps/kube-system/system-upgrade-controller/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update chart ingress-nginx to 4.8.4
  kubernetes/apps/networking/nginx/external/helmrelease.yaml
  kubernetes/apps/networking/nginx/internal/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update chart ingress-nginx to 4.8.4
  kubernetes/apps/networking/nginx/external/helmrelease.yaml
  kubernetes/apps/networking/nginx/internal/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/cloudnative-pg/postgresql to v14.10-5
  kubernetes/apps/datasci/postgres/cloudnative-pg/db/cluster.yaml
  kubernetes/apps/default/postgres/cloudnative-pg/db/cluster.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/cloudnative-pg/postgresql to v14.10-5
  kubernetes/apps/datasci/postgres/cloudnative-pg/db/cluster.yaml
  kubernetes/apps/default/postgres/cloudnative-pg/db/cluster.yaml
Labels: area/kubernetes

fix(github-release): update local-path-provisioner to v0.0.26
  bootstrap/templates/kubernetes/flux/repositories/git/local-path-provisioner.yaml.j2
  kubernetes/flux/repositories/git/local-path-provisioner.yaml
Labels: area/bootstrap, area/kubernetes

fix(github-release): update local-path-provisioner to v0.0.26
  bootstrap/templates/kubernetes/flux/repositories/git/local-path-provisioner.yaml.j2
  kubernetes/flux/repositories/git/local-path-provisioner.yaml
Labels: area/bootstrap, area/kubernetes

feat(container)!: Update image kube-prometheus-stack to v55
  bootstrap/templates/addons/kube-prometheus-stack/app/helmrelease.yaml.j2
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/addons, area/bootstrap, area/kubernetes

feat(container)!: Update image kube-prometheus-stack to v55
  bootstrap/templates/addons/kube-prometheus-stack/app/helmrelease.yaml.j2
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/addons, area/bootstrap, area/kubernetes

fix(container): update image ghcr.io/kube-vip/kube-vip to v0.6.4
  ansible/playbooks/templates/custom-kube-vip-daemonset.yaml.j2
  ansible/playbooks/templates/kube-vip-static-pod.yaml.j2
  bootstrap/templates/ansible/playbooks/templates/kube-vip-static-pod.yaml.j2.j2
Labels: area/ansible, area/bootstrap

.github/labeler.yaml:

---
area/addons:
  - "bootstrap/templates/addons/**/*"
  - "bootstrap/tasks/addons/**/*"
  - "bootstrap/vars/addons.sample.yaml"
area/ansible:
  - "ansible/**/*"
  - "bootstrap/templates/ansible/**/*"
  - "bootstrap/tasks/ansible/**/*"
area/bootstrap:
  - "bootstrap/**/*"
  - "bootstrap/configure.yaml"
area/github:
  - ".github/**/*"
area/kubernetes:
  - "kubernetes/**/*"
  - "bootstrap/templates/kubernetes/**/*"
  - "bootstrap/tasks/kubernetes/**/*"
