Repository ahgraber/homelab-gitops-k3s, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/docs, area/github, area/kubernetes, area/taskfile

fix: update external-dns CRD source for bootstrap
  .taskfiles/flux/taskfile.yaml
Labels: area/taskfile

chore: migrate renovate config
  .github/renovate/customManagers.json5
  .github/renovate/grafanaDashboards.json5
Labels: area/github

chore(renovate): update configuration files and remove deprecated settings
  .github/renovate.json5
  .github/renovate/allowedVersions.json5
  .github/renovate/autoMerge.json5
  .github/renovate/clusters.json5
  .github/renovate/commitMessage.json5
  .github/renovate/customManagers.json5
  .github/renovate/grafanaDashboards.json5
  .github/renovate/groups.json5
  .github/renovate/labels.json5
  .github/renovate/packageRules.json5
  .github/renovate/semanticCommits.json5
Labels: area/github

chore: update copier configuration and merge resulting config updates
  .copier-answers.yaml
  .editorconfig
  .github/renovate/labels.json5
  .github/workflows/renovate.yaml
  .markdownlint.yaml
  .mdformat.toml
  .pre-commit-config.yaml
  .prettierignore
  .ruff.toml
  .typos.toml
  .yamllint.yaml
Labels: area/github

fix: renovate action configuration
  .github/workflows/renovate.yaml
Labels: area/github

chore: prettier should ignore markdown
  .prettierignore
Labels: none

chore: update copier configuration and merge resulting config updates
  .prettierrc.yaml
  .shellcheckrc
Labels: none

chore: update copier configuration and merge resulting config updates
  .copier-answers.yaml
  .editorconfig
  .mdformat.toml
  .pre-commit-config.yaml
  .ruff.toml
  .typos.toml
  .yamllint.yaml
Labels: none

fix: tweak k3s-rollout-update playbook
  ansible/playbooks/k3s-rollout-update.yaml
Labels: area/ansible

fix: ori-edge/k8s-gateway hasn't updated for latest Gateway CRDs
  kubernetes/apps/networking/k8s-gateway/app/helmrelease.yaml
  kubernetes/flux/repositories/helm/k8s-gateway.yaml
Labels: area/kubernetes

fix: ori-edge/k8s-gateway hasn't updated for latest Gateway CRDs
  kubernetes/apps/networking/k8s-gateway/app/helmrelease.yaml
  kubernetes/flux/repositories/helm/k8s-gateway.yaml
Labels: area/kubernetes

fix: ori-edge/k8s-gateway hasn't updated for latest Gateway CRDs
  kubernetes/apps/networking/k8s-gateway/app/helmrelease.yaml
Labels: area/kubernetes

fix: ori-edge/k8s-gateway hasn't updated for latest Gateway CRDs
  kubernetes/apps/networking/k8s-gateway/app/helmrelease.yaml
Labels: area/kubernetes

fix: convert k8s-gateway chart to oci
  kubernetes/flux/repositories/helm/k8s-gateway.yaml
Labels: area/kubernetes

fix: update coredns replica count and add autopath plugin
  kubernetes/apps/kube-system/coredns/app/helmrelease.yaml
Labels: area/kubernetes

feat: manage coredns
  ansible/inventory/group_vars/controller/main.yaml
  ansible/inventory/group_vars/kubernetes/main.yaml
  ansible/playbooks/k3s-install.yaml
  ansible/playbooks/templates/coredns-helmchart.yaml.j2
  kubernetes/apps/kube-system/kustomization.yaml
Labels: area/ansible, area/kubernetes

feat: revert managed coredns
  ansible/inventory/group_vars/controller/main.yaml
  ansible/inventory/group_vars/kubernetes/main.yaml
  ansible/playbooks/k3s-install.yaml
  ansible/playbooks/k3s-stop.yaml
  kubernetes/apps/kube-system/kustomization.yaml
Labels: area/ansible, area/kubernetes

feat: use oci repository links
  kubernetes/flux/repositories/helm/cilium.yaml
  kubernetes/flux/repositories/helm/coredns.yaml
  kubernetes/flux/repositories/helm/jetstack.yaml
Labels: area/kubernetes

fix: simplify cert use/access
  kubernetes/apps/cert-manager/cert-manager/app/helmrelease.yaml
  kubernetes/apps/datasci/windmill/app/helmrelease.yaml
  kubernetes/apps/networking/ingress-nginx/external/helmrelease.yaml
  kubernetes/apps/networking/ingress-nginx/internal/helmrelease.yaml
Labels: area/kubernetes

fix: set k8s-gateway to externalTrafficPolicy: Cluster
  kubernetes/apps/networking/k8s-gateway/app/helmrelease.yaml
Labels: area/kubernetes

feat: renovate comments for updates
  kubernetes/apps/blog/hugo/app/helmrelease.yaml
  kubernetes/apps/datasci/docat/app/helmrelease.yaml
  kubernetes/apps/datasci/mlflow/app/helmrelease.yaml
Labels: area/kubernetes

feat: add rebaseStalePrs configuration to Renovate
  .github/renovate.json5
Labels: area/github

fix: renovate automerge
  .github/renovate/autoMerge.json5
Labels: area/github

fix: renovate automerge
  .github/renovate.json5
Labels: area/github

feat: convert cert-manger chart to oci source
  kubernetes/apps/cert-manager/cert-manager/app/helmrelease.yaml
  kubernetes/apps/cert-manager/cert-manager/app/kustomization.yaml
  kubernetes/apps/cert-manager/cert-manager/app/source.yaml
  kubernetes/flux/repositories/helm/kustomization.yaml
Labels: area/kubernetes

feat: migrate coredns to OCI repository and update kustomization
  kubernetes/apps/kube-system/coredns/app/helmrelease.yaml
  kubernetes/apps/kube-system/coredns/app/kustomization.yaml
  kubernetes/apps/kube-system/coredns/app/source.yaml
Labels: area/kubernetes

feat: migrate reloader to OCI repository and add source configuration
  kubernetes/apps/kube-system/reloader/app/helmrelease.yaml
  kubernetes/apps/kube-system/reloader/app/kustomization.yaml
  kubernetes/apps/kube-system/reloader/app/source.yaml
Labels: area/kubernetes

feat: migrate snapshot-controller to OCI repository
  kubernetes/apps/kube-system/snapshot-controller/app/helmrelease-controller.yaml
  kubernetes/apps/kube-system/snapshot-controller/app/kustomization.yaml
  kubernetes/apps/kube-system/snapshot-controller/app/source.yaml
Labels: area/kubernetes

feat: migrate grafana to OCI repository
  kubernetes/apps/monitoring/grafana/app/helmrelease.yaml
  kubernetes/apps/monitoring/grafana/app/kustomization.yaml
  kubernetes/apps/monitoring/grafana/app/source.yaml
Labels: area/kubernetes

feat: migrate kube-prometheus-stack to OCI repository
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
  kubernetes/apps/monitoring/kube-prometheus-stack/app/kustomization.yaml
  kubernetes/apps/monitoring/kube-prometheus-stack/app/source.yaml
Labels: area/kubernetes

feat: migrate k8s-gateway to OCI repository
  kubernetes/apps/networking/k8s-gateway/app/helmrelease.yaml
  kubernetes/apps/networking/k8s-gateway/app/kustomization.yaml
  kubernetes/apps/networking/k8s-gateway/app/source.yaml
  kubernetes/flux/repositories/helm/k8s-gateway.yaml
Labels: area/kubernetes

feat: migrate rook-ceph to OCI repository
  kubernetes/apps/rook-ceph/rook-ceph/cluster/helmrelease.yaml
  kubernetes/apps/rook-ceph/rook-ceph/cluster/kustomization.yaml
  kubernetes/apps/rook-ceph/rook-ceph/cluster/source.yaml
  kubernetes/apps/rook-ceph/rook-ceph/operator/helmrelease.yaml
  kubernetes/apps/rook-ceph/rook-ceph/operator/kustomization.yaml
  kubernetes/apps/rook-ceph/rook-ceph/operator/source.yaml
Labels: area/kubernetes

feat: migrate cilium helm release to OCI repository
  kubernetes/apps/kube-system/cilium/app/helmrelease.yaml
  kubernetes/apps/kube-system/cilium/app/kustomization.yaml
  kubernetes/apps/kube-system/cilium/app/source.yaml
Labels: area/kubernetes

feat(helm): migrate app-template 3.7.3 -> 4.0.1 as OCI repository
  kubernetes/flux/repositories/helm/.gitkeep
  kubernetes/flux/repositories/oci/app-template.yaml
  kubernetes/flux/repositories/oci/kustomization.yaml
Labels: area/kubernetes

fix: app-template name in kustomization
  kubernetes/flux/repositories/oci/app-template.yaml
  kubernetes/flux/repositories/oci/kustomization.yaml
Labels: area/kubernetes

fix(helm): update debug namespace chart references to use new app-template OCIRepository
  kubernetes/apps/debug/dnsutils/app/helmrelease.yaml
  kubernetes/apps/debug/echo-server/app/helmrelease.yaml
  kubernetes/apps/debug/httpbin/app/helmrelease.yaml
Labels: area/kubernetes

fix: app-template name in kustomization
  kubernetes/apps/debug/dnsutils/app/helmrelease.yaml
  kubernetes/apps/debug/echo-server/app/helmrelease.yaml
  kubernetes/apps/debug/httpbin/app/helmrelease.yaml
Labels: area/kubernetes

fix: app-template name in kustomization
  kubernetes/apps/system-upgrade/controller/app/helmrelease.yaml
Labels: area/kubernetes

fix: rbac and serviceAccount
  kubernetes/apps/system-upgrade/controller/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update monitoring namespacechart references to use new app-template OCIRepository
  kubernetes/apps/monitoring/karma/app/helmrelease.yaml
  kubernetes/apps/monitoring/nut-exporter/app/helmrelease.yaml
  kubernetes/apps/monitoring/scrutiny/app/helmrelease-scrutiny.yaml
  kubernetes/apps/monitoring/scrutiny/collector/helmrelease-collector.yaml
  kubernetes/apps/monitoring/speedtest-exporter/app/helmrelease.yaml
Labels: area/kubernetes

.github/labeler.yaml:

---
area/ansible:
  - changed-files:
      - any-glob-to-any-file: ansible/**/*
area/docs:
  - changed-files:
      - any-glob-to-any-file:
          - "docs/**/*"
          - "README.md"
area/github:
  - changed-files:
      - any-glob-to-any-file: .github/**/*
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: kubernetes/**/*
area/taskfile:
  - changed-files:
      - any-glob-to-any-file: .taskfiles/**/*
      - any-glob-to-any-file: Taskfile*
