Repository ahgraber/homelab-gitops-k3s, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/docs, area/github, area/kubernetes, area/taskfile

fix: allow account creation
  kubernetes/apps/default/hoarder/app/helmrelease.yaml
Labels: area/kubernetes

fix: disable signups
  kubernetes/apps/default/hoarder/app/helmrelease.yaml
Labels: area/kubernetes

fix: bump ram limit
  kubernetes/apps/default/hoarder/app/helmrelease.yaml
Labels: area/kubernetes

feat: archive changedetection
  kubernetes/apps/default/changedetection/README.md
  kubernetes/apps/default/changedetection/app/helmrelease.yaml
  kubernetes/apps/default/changedetection/app/kustomization.yaml
  kubernetes/apps/default/changedetection/ks.yaml
  kubernetes/apps/default/kustomization.yaml
Labels: area/kubernetes

feat: temporarily bump hoarder mem limits
  kubernetes/apps/default/hoarder/app/helmrelease.yaml
Labels: area/kubernetes

feat: temporarily bump hoarder mem limits
  kubernetes/apps/default/hoarder/app/helmrelease.yaml
Labels: area/kubernetes

feat: update homepage
  kubernetes/apps/default/homepage/app/configmap.yaml
Labels: area/kubernetes

fix: ensure hoarder + melisearch are on same node
  kubernetes/apps/default/hoarder/app/helmrelease.yaml
Labels: area/kubernetes

fix: temp disable hoarder
  kubernetes/apps/default/kustomization.yaml
Labels: area/kubernetes

Revert "fix: temp disable hoarder"
  kubernetes/apps/default/kustomization.yaml
Labels: area/kubernetes

fix: temporarily bump hoarder mem limits
  kubernetes/apps/default/hoarder/app/helmrelease.yaml
Labels: area/kubernetes

fix: temporarily bump hoarder mem limits
  kubernetes/apps/default/hoarder/app/helmrelease.yaml
Labels: area/kubernetes

chore: update pre-commit-config stages
  .pre-commit-config.yaml
Labels: none

fix: nginx annotations
  kubernetes/apps/networking/ingress-nginx/external/helmrelease.yaml
  kubernetes/apps/networking/ingress-nginx/internal/helmrelease.yaml
Labels: area/kubernetes

feat: enable crowdsec
  kubernetes/apps/networking/kustomization.yaml
Labels: area/kubernetes

Revert "feat: enable crowdsec"
  kubernetes/apps/networking/kustomization.yaml
Labels: area/kubernetes

feat: update crowdsec
  kubernetes/apps/networking/crowdsec/app/helmrelease.yaml
Labels: area/kubernetes

feat: archive crowdsec - run on local machines, not in k8s
  kubernetes/apps/networking/crowdsec/README.md
  kubernetes/apps/networking/crowdsec/app/helmrelease.yaml
  kubernetes/apps/networking/crowdsec/app/kustomization.yaml
  kubernetes/apps/networking/crowdsec/app/secret.sops.yaml
  kubernetes/apps/networking/crowdsec/app/secret.sops.yaml.tmpl
  kubernetes/apps/networking/crowdsec/ks.yaml
Labels: area/kubernetes

feat: archive k8s-dashboard
  kubernetes/apps/monitoring/kubernetes-dashboard/app/clusterrolebinding.yaml
  kubernetes/apps/monitoring/kubernetes-dashboard/app/helmrelease.yaml
  kubernetes/apps/monitoring/kubernetes-dashboard/app/kustomization.yaml
  kubernetes/apps/monitoring/kubernetes-dashboard/ks.yaml
  kubernetes/apps/monitoring/kustomization.yaml
Labels: area/kubernetes

docs: add reset instructions for failed WAL archive
  kubernetes/apps/database/cloudnative-pg/README.md
Labels: area/kubernetes

fix: duplicate prometheus labels
  kubernetes/apps/monitoring/kube-prometheus-stack/app/secret-additionalScrapeConfigs.sops.yaml
  kubernetes/apps/monitoring/kube-prometheus-stack/app/secret-additionalScrapeConfigs.sops.yaml.tmpl
Labels: area/kubernetes

fix: duplicate prometheus labels
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes

fix: duplicate prometheus labels
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes

chore: archive linkding and readeck
  kubernetes/apps/default/kustomization.yaml
  kubernetes/apps/default/linkding/README.md
  kubernetes/apps/default/linkding/app/helmrelease.yaml
  kubernetes/apps/default/linkding/app/kustomization.yaml
  kubernetes/apps/default/linkding/app/pvc.yaml
  kubernetes/apps/default/linkding/app/secret.sops.yaml
  kubernetes/apps/default/linkding/app/secret.sops.yaml.tmpl
  kubernetes/apps/default/linkding/db/kustomization.yaml
  kubernetes/apps/default/linkding/db/postgres.yaml
  kubernetes/apps/default/linkding/ks.yaml
  kubernetes/apps/default/readeck/README.md
  kubernetes/apps/default/readeck/app/helmrelease.yaml
  kubernetes/apps/default/readeck/app/kustomization.yaml
  kubernetes/apps/default/readeck/app/secret.sops.yaml.tmpl
  kubernetes/apps/default/readeck/ks.yaml
Labels: area/kubernetes

Update k3s-agent.yaml
  kubernetes/apps/system-upgrade/controller/plans/k3s-agent.yaml
Labels: area/kubernetes

Update k3s-server.yaml
  kubernetes/apps/system-upgrade/controller/plans/k3s-server.yaml
Labels: area/kubernetes

fix(hoarder): update image tag to latest in helmrelease.yaml
  kubernetes/apps/default/hoarder/app/helmrelease.yaml
Labels: area/kubernetes

fix: allow plotly cdn in hugo blog
  kubernetes/apps/blog/hugo/app/helmrelease.yaml
Labels: area/kubernetes

fix(ingress-nginx): update HSTS settings
  kubernetes/apps/networking/ingress-nginx/external/helmrelease.yaml
  kubernetes/apps/networking/ingress-nginx/internal/helmrelease.yaml
Labels: area/kubernetes

feat(k3s): add playbooks to manage k3s service lifecycle
  .taskfiles/kubernetes/taskfile.yaml
  ansible/playbooks/k3s-disable.yaml
  ansible/playbooks/k3s-enable.yaml
  ansible/playbooks/k3s-start.yaml
  ansible/playbooks/k3s-stop.yaml
Labels: area/ansible, area/taskfile

fix(datasci): reset postgres
  kubernetes/apps/datasci/postgres/cloudnative-pg/cluster/cluster16.yaml
Labels: area/kubernetes

chore: remove unused Weave GitOps deployment
  kubernetes/apps/flux-system/kustomization.yaml
  kubernetes/apps/flux-system/weave-gitops/README.md
  kubernetes/apps/flux-system/weave-gitops/app/helmrelease.yaml
  kubernetes/apps/flux-system/weave-gitops/app/kustomization.yaml
  kubernetes/apps/flux-system/weave-gitops/app/secret.sops.yaml
  kubernetes/apps/flux-system/weave-gitops/ks.yaml
Labels: area/kubernetes

chore: refactor flux system alerts
  kubernetes/apps/flux-system/addons/alerts/alertmanager/kustomization.yaml
  kubernetes/apps/flux-system/addons/alerts/alertmanager/notification.yaml
  kubernetes/apps/flux-system/addons/alerts/kustomization.yaml
  kubernetes/apps/flux-system/addons/ks.yaml
Labels: area/kubernetes

chore: rename flux webhook resources to github-webhook
  kubernetes/apps/flux-system/addons/webhooks/github/ingress.yaml
  kubernetes/apps/flux-system/addons/webhooks/github/receiver.yaml
Labels: area/kubernetes

chore: disable pruning in flux configuration
  kubernetes/flux/config/cluster.yaml
  kubernetes/flux/config/flux.yaml
Labels: area/kubernetes

chore: clean up descheduler
  kubernetes/apps/kube-system/descheduler/app/helmrelease.yaml
Labels: area/kubernetes

fix(ansible): update k3s release version to v1.31.4+k3s1
  ansible/inventory/group_vars/kubernetes/main.yaml
Labels: area/ansible

feat(nut): add NUT client configuration and templates
  ansible/inventory/group_vars/all/secrets.sops.yaml
  ansible/inventory/group_vars/all/secrets.sops.yaml.tmpl
  ansible/inventory/group_vars/kubernetes/secrets.sops.yaml
  ansible/inventory/group_vars/kubernetes/secrets.sops.yaml.tmpl
  ansible/playbooks/nut-client.yaml
  ansible/playbooks/templates/upsmon.conf.j2
Labels: area/ansible

fix(nut): update NUT exporter
  kubernetes/apps/monitoring/nut-exporter/app/secret.sops.yaml
  kubernetes/apps/monitoring/nut-exporter/app/secret.sops.yaml.tmpl
Labels: area/kubernetes

fix(alertmanager): update YAML schema reference for notification provider
  kubernetes/apps/flux-system/addons/alerts/alertmanager/notification.yaml
Labels: area/kubernetes

.github/labeler.yaml:

---
area/ansible:
  - changed-files:
      - any-glob-to-any-file: ansible/**/*
area/docs:
  - changed-files:
      - any-glob-to-any-file:
          - "docs/**/*"
          - "README.md"
area/github:
  - changed-files:
      - any-glob-to-any-file: .github/**/*
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: kubernetes/**/*
area/taskfile:
  - changed-files:
      - any-glob-to-any-file: .taskfiles/**/*
      - any-glob-to-any-file: Taskfile*
