Repository ahgraber/homelab-gitops-k3s, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/addons, area/ansible, area/bootstrap, area/github, area/kubernetes, area/taskfile

fix(helm): update prefect group to 2023.12.20
  kubernetes/apps/datasci/prefect/agent/helmrelease.yaml
  kubernetes/apps/datasci/prefect/server/helmrelease.yaml
  kubernetes/apps/datasci/prefect/worker/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update chart windmill to 2.0.59
  kubernetes/apps/datasci/windmill/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update chart windmill to 2.0.59
  kubernetes/apps/datasci/windmill/app/helmrelease.yaml
Labels: area/kubernetes

feat(helm): update chart ingress-nginx to 4.9.0
  kubernetes/apps/networking/nginx/external/helmrelease.yaml
  kubernetes/apps/networking/nginx/internal/helmrelease.yaml
Labels: area/kubernetes

feat(helm): update chart ingress-nginx to 4.9.0
  kubernetes/apps/networking/nginx/external/helmrelease.yaml
  kubernetes/apps/networking/nginx/internal/helmrelease.yaml
Labels: area/kubernetes

feat(helm): update chart cloudnative-pg to 0.20.0
  kubernetes/apps/cnpg-system/cloudnative-pg/operator/helmrelease.yaml
Labels: area/kubernetes

feat(helm): update chart cloudnative-pg to 0.20.0
  kubernetes/apps/cnpg-system/cloudnative-pg/operator/helmrelease.yaml
Labels: area/kubernetes

feat(github-action)!: Update allenporter/flux-local action to 4.1.1
  .github/workflows/flux-diff.yaml
Labels: area/github

feat(github-action)!: Update allenporter/flux-local action to 4.1.1
  .github/workflows/flux-diff.yaml
Labels: area/github

fix(container): update image ghcr.io/cloudnative-pg/postgresql to v14.10-11
  kubernetes/apps/datasci/postgres/cloudnative-pg/db/cluster.yaml
  kubernetes/apps/default/postgres/cloudnative-pg/db/cluster.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/cloudnative-pg/postgresql to v14.10-11
  kubernetes/apps/datasci/postgres/cloudnative-pg/db/cluster.yaml
  kubernetes/apps/default/postgres/cloudnative-pg/db/cluster.yaml
Labels: area/kubernetes

fix(helm): update chart ext-postgres-operator to 1.2.4
  kubernetes/apps/datasci/postgres/postgres-operator/app/helmrelease.yaml
  kubernetes/apps/default/postgres/postgres-operator/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update chart ext-postgres-operator to 1.2.4
  kubernetes/apps/datasci/postgres/postgres-operator/app/helmrelease.yaml
  kubernetes/apps/default/postgres/postgres-operator/app/helmrelease.yaml
Labels: area/kubernetes

feat(github-action): update allenporter/flux-local action to 4.2.0
  .github/workflows/flux-diff.yaml
Labels: area/github

feat(github-action): update allenporter/flux-local action to 4.2.0
  .github/workflows/flux-diff.yaml
Labels: area/github

fix(github-action): update allenporter/flux-local action to 4.2.1
  .github/workflows/flux-diff.yaml
Labels: area/github

fix(github-action): update allenporter/flux-local action to 4.2.1
  .github/workflows/flux-diff.yaml
Labels: area/github

fix: update flux-diff workflow
  .github/workflows/flux-diff.yaml
Labels: area/github

fix: update flux-diff workflow
  .github/workflows/flux-diff.yaml
Labels: area/github

chore(deps): pin dependencies
  .github/workflows/flux-diff.yaml
Labels: area/github

chore(deps): pin dependencies
  .github/workflows/flux-diff.yaml
Labels: area/github

fix(container): update image ghcr.io/gethomepage/homepage to v0.8.4
  kubernetes/apps/default/homepage/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/gethomepage/homepage to v0.8.4
  kubernetes/apps/default/homepage/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update chart snapshot-controller to 2.0.4
  bootstrap/templates/kubernetes/apps/kube-system/snapshot-controller/app/helmrelease.yaml.j2
  kubernetes/apps/kube-system/snapshot-controller/app/helmrelease-controller.yaml
Labels: area/bootstrap, area/kubernetes

fix(helm): update chart snapshot-controller to 2.0.4
  bootstrap/templates/kubernetes/apps/kube-system/snapshot-controller/app/helmrelease.yaml.j2
  kubernetes/apps/kube-system/snapshot-controller/app/helmrelease-controller.yaml
Labels: area/bootstrap, area/kubernetes

fix(helm): update chart reloader to 1.0.58
  bootstrap/templates/kubernetes/apps/kube-system/reloader/app/helmrelease.yaml.j2
  kubernetes/apps/kube-system/reloader/app/helmrelease.yaml
Labels: area/bootstrap, area/kubernetes

fix(helm): update chart reloader to 1.0.58
  bootstrap/templates/kubernetes/apps/kube-system/reloader/app/helmrelease.yaml.j2
  kubernetes/apps/kube-system/reloader/app/helmrelease.yaml
Labels: area/bootstrap, area/kubernetes

fix(helm): update chart windmill to 2.0.61
  kubernetes/apps/datasci/windmill/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update chart windmill to 2.0.61
  kubernetes/apps/datasci/windmill/app/helmrelease.yaml
Labels: area/kubernetes

fix(github-release): update pre-commit hook crate-ci/typos to v1.16.26
  .pre-commit-config.yaml
Labels: none

fix(github-release): update pre-commit hook crate-ci/typos to v1.16.26
  .pre-commit-config.yaml
Labels: none

fix: update kps kube-state-metrics for flux best-practices
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes

fix: update kps kube-state-metrics for flux best-practices
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes

feat(template): update k3s-io/k3s to v1.29.0+k3s1
  bootstrap/templates/addons/system-upgrade-controller/plans/agent.yaml.j2
  bootstrap/templates/addons/system-upgrade-controller/plans/server.yaml.j2
  bootstrap/templates/ansible/inventory/group_vars/kubernetes/main.yaml.j2
Labels: area/addons, area/ansible, area/bootstrap

feat(template): update k3s-io/k3s to v1.29.0+k3s1
  bootstrap/templates/addons/system-upgrade-controller/plans/agent.yaml.j2
  bootstrap/templates/addons/system-upgrade-controller/plans/server.yaml.j2
  bootstrap/templates/ansible/inventory/group_vars/kubernetes/main.yaml.j2
Labels: area/addons, area/ansible, area/bootstrap

chore(template): update workflows
  .github/workflows/flux-diff.yaml
  .github/workflows/meta-labeler.yaml
  .github/workflows/meta-sync-labels.yaml
  .github/workflows/release.yaml
Labels: area/github

chore(template): update workflows
  .github/workflows/flux-diff.yaml
  .github/workflows/meta-labeler.yaml
  .github/workflows/meta-sync-labels.yaml
  .github/workflows/release.yaml
Labels: area/github

chore(template): workflows
  .github/workflows/label-sync.yaml
  .github/workflows/labeler.yaml
Labels: area/github

chore(template): workflows
  .github/workflows/label-sync.yaml
  .github/workflows/labeler.yaml
Labels: area/github

feat(template): replace rancher/local-path-provisioner with democratic-csi in local-hostpath mode
  bootstrap/templates/addons/grafana/app/helmrelease.yaml.j2
  bootstrap/templates/addons/kube-prometheus-stack/app/helmvalues.yaml.j2
  bootstrap/templates/ansible/inventory/group_vars/controller/main.yaml.j2
  bootstrap/templates/kubernetes/apps/kube-system/local-path-provisioner/app/helmrelease.yaml.j2
  bootstrap/templates/kubernetes/flux/repositories/git/local-path-provisioner.yaml.j2
  bootstrap/templates/kubernetes/flux/repositories/helm/democratic-csi.yaml.j2
  bootstrap/templates/kubernetes/flux/repositories/helm/kustomization.yaml.j2
  bootstrap/templates/kubernetes/flux/repositories/kustomization.yaml.j2
  bootstrap/templates/kubernetes/flux/repositories/oci/.gitkeep
  bootstrap/templates/kubernetes/flux/repositories/oci/kustomization.yaml.j2
  bootstrap/vars/config.sample.yaml
Labels: area/addons, area/ansible, area/bootstrap, area/kubernetes

.github/labeler.yaml:

---
area/addons:
  - changed-files:
      - any-glob-to-any-file: bootstrap/templates/addons/**/*
      - any-glob-to-any-file: bootstrap/tasks/addons/**/*
      - any-glob-to-any-file: bootstrap/vars/addons.sample.yaml
area/ansible:
  - changed-files:
      - any-glob-to-any-file: ansible/**/*
      - any-glob-to-any-file: bootstrap/templates/ansible/**/*
      - any-glob-to-any-file: bootstrap/tasks/ansible/**/*
area/bootstrap:
  - changed-files:
      - any-glob-to-any-file: bootstrap/**/*
      - any-glob-to-any-file: bootstrap/configure.yaml
area/github:
  - changed-files:
      - any-glob-to-any-file: .github/**/*
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: kubernetes/**/*
      - any-glob-to-any-file: bootstrap/templates/kubernetes/**/*
      - any-glob-to-any-file: bootstrap/tasks/kubernetes/**/*
area/taskfile:
  - changed-files:
      - any-glob-to-any-file: .taskfiles/**/*
      - any-glob-to-any-file: Taskfile*
