Repository ahgraber/homelab-gitops-k3s, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/docs, area/github, area/kubernetes, area/taskfile

feat(observability): split out goldilocks and vpa
  kubernetes/apps/observability/goldilocks/app/helmrelease.yaml
  kubernetes/apps/observability/kustomization.yaml
  kubernetes/apps/observability/vpa/app/helmrelease.yaml
  kubernetes/apps/observability/vpa/app/kustomization.yaml
  kubernetes/apps/observability/vpa/app/source.yaml
  kubernetes/apps/observability/vpa/ks.yaml
Labels: area/kubernetes

fix(cert-manager): update prometheus rules for new rotation schedule
  kubernetes/apps/cert-manager/cert-manager/app/prometheusrule.yaml
Labels: area/kubernetes

fix(rook-ceph): tweak ceph cluster
  kubernetes/apps/rook-ceph/rook-ceph-cluster/app/helmrelease.yaml
Labels: area/kubernetes

fix(external-secrets): fluxtomization path
  kubernetes/apps/external-secrets/external-secrets-operator/ks.yaml
Labels: area/kubernetes

fix(certs): only use staging for now
  kubernetes/apps/network/certificates/kustomization.yaml
  kubernetes/apps/network/certificates/production.yaml
  kubernetes/apps/network/certificates/staging.yaml
  kubernetes/apps/network/envoy-gateway/instance/gateway-external.yaml
  kubernetes/apps/network/envoy-gateway/instance/gateway-internal.yaml
Labels: area/kubernetes

fix(kustomization): ensure names/paths align with kustomization
  kubernetes/apps/external-secrets/bitwarden-sdk-server/app/certificates/certificates.yaml
  kubernetes/apps/network/envoy-gateway/instance/kustomization.yaml
Labels: area/kubernetes

feat(bootstrap): convert to new helmfile-based bootstrap
  .taskfiles/flux/taskfile.yaml
  .taskfiles/hack/taskfile.yaml
  bootstrap/README.md
  bootstrap/helmfile.d/01-apps.yaml
  bootstrap/helmfile.d/templates/values.yaml.gotmpl
  kubernetes/apps/blog/umami/app/helmrelease.yaml
  kubernetes/apps/datasci/docat/app/helmrelease.yaml
  kubernetes/apps/datasci/mlflow/app/helmrelease.yaml
  kubernetes/apps/default/calibre-web-automated/app/helmrelease.yaml
  kubernetes/apps/default/cyberchef/app/helmrelease.yaml
  kubernetes/apps/default/flaresolverr/app/helmrelease.yaml
  kubernetes/apps/default/homebox/app/helmrelease.yaml
  kubernetes/apps/default/homepage/app/helmrelease.yaml
  kubernetes/apps/default/jelu/app/helmrelease.yaml
  kubernetes/apps/default/mealie/app/helmrelease.yaml
  kubernetes/apps/default/memos/app/helmrelease.yaml
  kubernetes/apps/default/miniflux/app/helmrelease.yaml
  kubernetes/apps/default/pairdrop/app/helmrelease.yaml
  kubernetes/apps/default/picoshare/app/helmrelease.yaml
  kubernetes/apps/default/shelfmark/app/helmrelease.yaml
  kubernetes/apps/default/stirling-pdf/app/helmrelease.yaml
  kubernetes/apps/kube-system/cilium/app/helmrelease.yaml
  kubernetes/apps/kube-system/cilium/app/networking.yaml
  kubernetes/apps/network/cloudflared/app/helmrelease.yaml
  kubernetes/apps/observability/nut-exporter/app/helmrelease.yaml
  kubernetes/apps/security/authelia/app/helmrelease.yaml
  kubernetes/apps/security/lldap/app/helmrelease.yaml
  kubernetes/components/sops/cluster-settings.yaml
  kubernetes/components/sops/kustomization.yaml
  kubernetes/flux/cluster/ks.yaml
  scripts/bootstrap/apply_crds.sh
  scripts/bootstrap/common.sh
  scripts/bootstrap/sync_hrs.sh
Labels: area/kubernetes, area/taskfile

feat(flux): rm (old) flux addons
  kubernetes/apps/flux-system/addons/ks.yaml
  kubernetes/apps/flux-system/addons/observability/podmonitor.yaml
  kubernetes/apps/flux-system/addons/observability/prometheusrule.yaml
  kubernetes/apps/flux-system/addons/webhooks/github/README.md
  kubernetes/apps/flux-system/addons/webhooks/kustomization.yaml
  kubernetes/apps/flux-system/kustomization.yaml
Labels: area/kubernetes

fix(rook-ceph): allow discovery on all nodes
  kubernetes/apps/rook-ceph/rook-ceph-operator/app/helmrelease.yaml
Labels: area/kubernetes

feat(bootstrap): convert to new helmfile-based bootstrap
  .taskfiles/flux/taskfile.yaml
  bootstrap/README.md
  bootstrap/age-key.sops.yaml
  bootstrap/github-deploy-key.sops.yaml
  bootstrap/helmfile.d/00-crds.yaml
  bootstrap/helmfile.d/01-apps.yaml
  bootstrap/helmfile.d/templates/values.yaml.gotmpl
  bootstrap/resources.yaml.j2
  flake.nix
  kubernetes/bootstrap/github-deploy-key.sops.yaml.tmpl
  kubernetes/bootstrap/kustomization.yaml
  kubernetes/flux/apps.yaml
  kubernetes/flux/cluster/ks.yaml
  kubernetes/flux/config/README.md
  kubernetes/flux/config/cluster.yaml
  kubernetes/flux/config/flux.yaml
  kubernetes/flux/config/kustomization.yaml
  kubernetes/flux/vars/cluster-secrets.sops.yaml
  kubernetes/flux/vars/cluster-secrets.sops.yaml.tmpl
  kubernetes/flux/vars/cluster-settings.yaml
  kubernetes/flux/vars/custom-secrets.sops.yaml
  kubernetes/flux/vars/custom-secrets.sops.yaml.tmpl
  kubernetes/flux/vars/kustomization.yaml
  scripts/bootstrap/apply_crds.sh
  scripts/bootstrap/apply_namespaces.sh
  scripts/bootstrap/apply_sops_secrets.sh
  scripts/bootstrap/common.sh
  scripts/bootstrap/sync_hrs.sh
Labels: area/kubernetes, area/taskfile

fix(cloudflared): config updates
  kubernetes/apps/network/cloudflared/app/kustomization.yaml
  kubernetes/apps/network/cloudflared/app/secret.sops.yaml
  kubernetes/apps/network/cloudflared/app/secret.sops.yaml.tmpl
Labels: area/kubernetes

fix(grafana): align grafana dashboard labels
  kubernetes/apps/cert-manager/cert-manager/app/grafanadashboard.yaml
  kubernetes/apps/flux-system/flux-instance/app/observability/grafanadashboard.yaml
  kubernetes/apps/network/cloudflared/app/grafanadashboard.yaml
  kubernetes/apps/network/external-dns/app/grafanadashboard.yaml
  kubernetes/apps/observability/grafana/app/datasource.yaml
  kubernetes/apps/observability/grafana/app/grafana.yaml
  kubernetes/apps/observability/kube-prometheus-stack/addons/grafanadashboard.yaml
  kubernetes/apps/rook-ceph/rook-ceph/operator/grafanadashboard.yaml
  kubernetes/apps/volsync-system/volsync/app/grafanadashboard.yaml
Labels: area/kubernetes

fix(flux): allow flux to decrypt sops
  kubernetes/flux/cluster/ks.yaml
Labels: area/kubernetes

feat(flux): add flux-instance
  kubernetes/apps/flux-system/flux-instance/app/helmrelease.yaml
  kubernetes/apps/flux-system/flux-instance/app/httproute.yaml
  kubernetes/apps/flux-system/flux-instance/app/kustomization.yaml
  kubernetes/apps/flux-system/flux-instance/app/observability/grafanadashboard.yaml
  kubernetes/apps/flux-system/flux-instance/app/observability/kustomization.yaml
  kubernetes/apps/flux-system/flux-instance/app/observability/notification.yaml
  kubernetes/apps/flux-system/flux-instance/app/observability/podmonitor.yaml
  kubernetes/apps/flux-system/flux-instance/app/observability/prometheusrule.yaml
  kubernetes/apps/flux-system/flux-instance/app/receiver.yaml
  kubernetes/apps/flux-system/flux-instance/app/secret.sops.yaml
  kubernetes/apps/flux-system/flux-instance/app/secret.sops.yaml.tmpl
  kubernetes/apps/flux-system/flux-instance/app/source.yaml
  kubernetes/apps/flux-system/kustomization.yaml
  kubernetes/components/alerts/github-status/externalsecret.yaml
  kubernetes/flux/cluster/ks.yaml
Labels: area/kubernetes

fix(homepage): update
  kubernetes/apps/default/homepage/app/configmap.yaml
  kubernetes/apps/default/homepage/app/secret.sops.yaml
Labels: area/kubernetes

feat(temporal): fix deployment
  kubernetes/apps/datasci/temporal/app/helmrelease.yaml
Labels: area/kubernetes

feat(prefect): fix deployment
  kubernetes/apps/datasci/prefect/server/helmrelease.yaml
  kubernetes/apps/datasci/prefect/server/kustomization.yaml
Labels: area/kubernetes

feat(check): add flux-local test task for kubernetes manifests
  .taskfiles/flux/taskfile.yaml
Labels: area/taskfile

fix(ceph): relax bluestore slow operations warning threshold
  .pre-commit-config.yaml
  kubernetes/apps/rook-ceph/README.md
  kubernetes/apps/rook-ceph/rook-ceph-cluster/app/helmrelease.yaml
Labels: area/kubernetes

feat(windmill): fix deployment
  kubernetes/apps/datasci/windmill/app/helmrelease.yaml
Labels: area/kubernetes

fix(cloudflare): update docs on cf tunnel and gh webhook
  kubernetes/apps/flux-system/flux-instance/README.md
  kubernetes/apps/flux-system/flux-instance/app/httproute.yaml
  kubernetes/apps/flux-system/flux-instance/app/kustomization.yaml
  kubernetes/apps/flux-system/flux-instance/app/secret.sops.yaml
  kubernetes/apps/flux-system/flux-instance/app/secret.sops.yaml.tmpl
  kubernetes/apps/network/cloudflared/README.md
Labels: area/kubernetes

feat(openebs): add openebs for local-hostpath storage
  kubernetes/apps/openebs-system/kustomization.yaml
  kubernetes/apps/openebs-system/namespace.yaml
  kubernetes/apps/openebs-system/openebs/README.md
  kubernetes/apps/openebs-system/openebs/app/helmrelease.yaml
  kubernetes/apps/openebs-system/openebs/app/kustomization.yaml
  kubernetes/apps/openebs-system/openebs/app/source.yaml
  kubernetes/apps/openebs-system/openebs/ks.yaml
Labels: area/kubernetes

feat(actions): convert to flux-local workflow
  .github/workflows/flux-diff.yaml
  .github/workflows/flux-local.yaml
Labels: area/github

feat(renovate): update package rules for hugo blog
  .renovate/autoMerge.json5
  .renovate/packageRules.json5
Labels: none

feat(storage): migrate from local-path-provisioner to openebs-hostpath
  AGENTS.md
  kubernetes/apps/blog/umami/ks.yaml
  kubernetes/apps/database/cloudnative-pg/ks.yaml
  kubernetes/apps/datasci/docat/ks.yaml
  kubernetes/apps/datasci/mlflow/ks.yaml
  kubernetes/apps/datasci/postgres/cloudnative-pg/README.md
  kubernetes/apps/datasci/postgres/cloudnative-pg/ks.yaml
  kubernetes/apps/default/homebox/ks.yaml
  kubernetes/apps/default/jelu/ks.yaml
  kubernetes/apps/default/karakeep/ks.yaml
  kubernetes/apps/default/mealie/ks.yaml
  kubernetes/apps/default/memos/ks.yaml
  kubernetes/apps/default/opengist/ks.yaml
  kubernetes/apps/default/picoshare/ks.yaml
  kubernetes/apps/default/stirling-pdf/ks.yaml
  kubernetes/apps/default/syncthing/ks.yaml
  kubernetes/apps/observability/scrutiny/ks.yaml
  kubernetes/apps/rook-ceph/README.md
  kubernetes/components/volsync/replicationdestination.yaml
  kubernetes/components/volsync/replicationsource.yaml
Labels: area/kubernetes

feat(storage): migrate from local-path-provisioner to openebs-hostpath
  AGENTS.md
  kubernetes/apps/blog/umami/ks.yaml
  kubernetes/apps/database/cloudnative-pg/README.md
  kubernetes/apps/database/cloudnative-pg/ks.yaml
  kubernetes/apps/datasci/docat/ks.yaml
  kubernetes/apps/datasci/mlflow/ks.yaml
  kubernetes/apps/datasci/postgres/cloudnative-pg/README.md
  kubernetes/apps/datasci/postgres/cloudnative-pg/ks.yaml
  kubernetes/apps/default/calibre-web-automated/volume/replicationdestination.yaml
  kubernetes/apps/default/calibre-web-automated/volume/replicationsource.yaml
  kubernetes/apps/default/homebox/ks.yaml
  kubernetes/apps/default/jelu/ks.yaml
  kubernetes/apps/default/karakeep/ks.yaml
  kubernetes/apps/default/mealie/ks.yaml
  kubernetes/apps/default/memos/ks.yaml
  kubernetes/apps/default/opengist/ks.yaml
  kubernetes/apps/default/picoshare/ks.yaml
  kubernetes/apps/default/stirling-pdf/ks.yaml
  kubernetes/apps/default/syncthing/ks.yaml
  kubernetes/apps/observability/scrutiny/ks.yaml
  kubernetes/apps/rook-ceph/README.md
  kubernetes/components/volsync/README.md
  kubernetes/components/volsync/replicationdestination.yaml
  kubernetes/components/volsync/replicationsource.yaml
Labels: area/kubernetes

docs(agent): update principles for context handling and command restrictions
  .github/agents/code-review.agent.md
Labels: area/github

feat(blog): purge Cloudflare cache by tag on deploy
  .renovate/customManagers.json5
  kubernetes/apps/blog/hugo/app/helmrelease.yaml
  kubernetes/apps/blog/hugo/app/kyverno-policy.yaml
Labels: area/kubernetes

feat(local-path-provisioner): remove local path provisioner resources and related files
  kubernetes/apps/kube-system/kustomization.yaml
  kubernetes/apps/kube-system/local-path-provisioner/README.md
  kubernetes/apps/kube-system/local-path-provisioner/app/helmrelease.yaml
  kubernetes/apps/kube-system/local-path-provisioner/app/kustomization.yaml
  kubernetes/apps/kube-system/local-path-provisioner/app/source.yaml
  kubernetes/apps/kube-system/local-path-provisioner/give_helm_ownership.sh
  kubernetes/apps/kube-system/local-path-provisioner/ks.yaml
Labels: area/kubernetes

fix(rook-ceph): upgrade ceph osd
  ansible/inventory/host_vars/optiplex3.sops.yaml
  kubernetes/apps/rook-ceph/rook-ceph-cluster/README.md
  kubernetes/apps/rook-ceph/rook-ceph-cluster/app/helmrelease.yaml
Labels: area/ansible, area/kubernetes

fix(rook-ceph): upgrade ceph osd
  ansible/inventory/host_vars/optiplex4.sops.yaml
  kubernetes/apps/rook-ceph/rook-ceph-cluster/README.md
  kubernetes/apps/rook-ceph/rook-ceph-cluster/app/helmrelease.yaml
Labels: area/ansible, area/kubernetes

fix(rook-ceph): upgrade ceph osd
  ansible/inventory/host_vars/optiplex5.sops.yaml
  kubernetes/apps/rook-ceph/rook-ceph-cluster/README.md
  kubernetes/apps/rook-ceph/rook-ceph-cluster/app/helmrelease.yaml
Labels: area/ansible, area/kubernetes

fix(rook-ceph): upgrade ceph osd
  ansible/inventory/host_vars/optiplex4.sops.yaml
  kubernetes/apps/rook-ceph/rook-ceph-cluster/README.md
  kubernetes/apps/rook-ceph/rook-ceph-cluster/app/helmrelease.yaml
Labels: area/ansible, area/kubernetes

fix(rook-ceph): upgrade ceph osd
  ansible/inventory/host_vars/optiplex5.sops.yaml
  kubernetes/apps/rook-ceph/rook-ceph-cluster/README.md
  kubernetes/apps/rook-ceph/rook-ceph-cluster/app/helmrelease.yaml
Labels: area/ansible, area/kubernetes

fix(rook-ceph): upgrade ceph osd
  ansible/inventory/host_vars/optiplex3.sops.yaml
  kubernetes/apps/rook-ceph/rook-ceph-cluster/README.md
  kubernetes/apps/rook-ceph/rook-ceph-cluster/app/helmrelease.yaml
Labels: area/ansible, area/kubernetes

feat(litestream): document and template requirements to use litestream for sqlite-to-s3
  docs/sqlite-litestream.md
  kubernetes/apps/default/mealie/README.md
  kubernetes/apps/default/mealie/app/configmap-litestream.yaml
  kubernetes/apps/default/mealie/app/helmrelease.yaml
  kubernetes/apps/default/mealie/app/kustomization.yaml
  kubernetes/apps/default/mealie/app/secret-litestream.sops.yaml.tmpl
  kubernetes/apps/default/mealie/ks.yaml
  kubernetes/apps/default/memos/app/configmap-litestream.yaml
  kubernetes/apps/default/memos/app/helmrelease.yaml
  kubernetes/apps/default/memos/app/kustomization.yaml
  kubernetes/apps/default/memos/app/secret-litestream.sops.yaml.tmpl
  kubernetes/apps/default/memos/ks.yaml
  scripts/pg-to-sqlite.sh
Labels: area/docs, area/kubernetes

feat(network): enhance security and update configurations for cloudflared and envoy-gateway
  ansible/playbooks/templates/cilium-helmchart.yaml.j2
  kubernetes/apps/kube-system/cilium/app/helmrelease.yaml
  kubernetes/apps/network/README.md
  kubernetes/apps/network/cloudflared/app/dnsendpoint.yaml
  kubernetes/apps/network/cloudflared/ks.yaml
  kubernetes/apps/network/envoy-gateway/README.md
  kubernetes/apps/network/envoy-gateway/instance/kustomization.yaml
  kubernetes/apps/network/envoy-gateway/instance/networkpolicy-external.yaml
  kubernetes/apps/network/external-dns/app/dnsendpoint.yaml
  kubernetes/apps/network/external-dns/app/kustomization.yaml
  kubernetes/apps/network/external-dns/app/secret.sops.yaml
  kubernetes/apps/network/external-dns/app/secret.sops.yaml.tmpl
  scripts/bootstrap/apply_sops_secrets.sh
Labels: area/ansible, area/kubernetes

docs(agents): update guidelines for nix development environment and kubectl/flux commands
  .codex/rules/kubectl.rules
  .rumdl.toml
  AGENTS.md
Labels: none

feat(github-status): add GitHub status alerts and configuration files
  kubernetes/components/alerts/github-status/README.md
  kubernetes/components/alerts/github-status/kustomization.yaml
  kubernetes/components/alerts/github-status/provider.yaml
  kubernetes/components/alerts/github-status/secret.sops.yaml
  kubernetes/components/alerts/github-status/secret.sops.yaml.tmpl
Labels: area/kubernetes

fix(network): add additional ports for Envoy data plane listeners
  kubernetes/apps/network/envoy-gateway/instance/networkpolicy-external.yaml
Labels: area/kubernetes

.github/labeler.yaml:

---
area/ansible:
  - changed-files:
      - any-glob-to-any-file: ansible/**/*
area/docs:
  - changed-files:
      - any-glob-to-any-file:
          - "docs/**/*"
          - "README.md"
area/github:
  - changed-files:
      - any-glob-to-any-file: .github/**/*
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: kubernetes/**/*
area/taskfile:
  - changed-files:
      - any-glob-to-any-file: .taskfiles/**/*
      - any-glob-to-any-file: Taskfile*
