Repository ahgraber/homelab-gitops-k3s, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/docs, area/github, area/kubernetes, area/taskfile

fix(eso): fix initial deployment
  bootstrap/resources.yaml.j2
  kubernetes/apps/external-secrets/onepassword/app/externalsecret.yaml
Labels: area/kubernetes

fix(eso): fix initial deployment
  bootstrap/resources.yaml.j2
Labels: none

refactor(onepassword): improve script security and error handling
  scripts/onepassword/crawl.py
  scripts/onepassword/externalsecrets.py
  scripts/onepassword/push.py
Labels: none

feat(external-secrets): debug namespace
  kubernetes/apps/debug/whoami/app/kustomization.yaml
  kubernetes/apps/debug/whoami/app/secret-oidc.externalsecret.yaml
Labels: area/kubernetes

fix(external-secrets): let external-secrets manage cluster-secrets
  kubernetes/components/sops/kustomization.yaml
  kubernetes/flux/cluster/ks.yaml
Labels: area/kubernetes

fix(external-secrets): let external-secrets manage cluster-secrets
  kubernetes/apps/external-secrets/onepassword/app/clusterexternalsecret.yaml
Labels: area/kubernetes

fix(external-secrets): reformat script to use a template
  kubernetes/apps/debug/whoami/app/secret-oidc.externalsecret.yaml
  scripts/onepassword/externalsecrets.py
Labels: area/kubernetes

fix(volsync): use external-secrets
  kubernetes/components/volsync/externalsecret.yaml
  kubernetes/components/volsync/kustomization.yaml
Labels: area/kubernetes

fix(volsync): use external-secrets
  .editorconfig
  kubernetes/apps/debug/whoami/app/secret-oidc.externalsecret.yaml
  kubernetes/apps/external-secrets/_examples/clusterexternalsecret.yaml
  kubernetes/apps/external-secrets/_examples/externalsecret.yaml
  kubernetes/apps/external-secrets/onepassword/app/clusterexternalsecret.yaml
  kubernetes/apps/external-secrets/onepassword/app/externalsecret.yaml
  kubernetes/components/volsync/externalsecret.yaml
  scripts/onepassword/externalsecrets.py
Labels: area/kubernetes

fix(volsync): use external-secrets
  .editorconfig
  kubernetes/apps/debug/whoami/app/secret-oidc.externalsecret.yaml
  kubernetes/apps/external-secrets/_examples/clusterexternalsecret.yaml
  kubernetes/apps/external-secrets/_examples/externalsecret.yaml
  kubernetes/apps/external-secrets/onepassword/app/clusterexternalsecret.yaml
  kubernetes/apps/external-secrets/onepassword/app/externalsecret.yaml
  kubernetes/components/volsync/externalsecret.yaml
  scripts/onepassword/externalsecrets.py
Labels: area/kubernetes

feat(ansible): add k3s cleanup and reinstall tasks, and orphan RBD cleanup script
  .taskfiles/ansible/taskfile.yaml
  .taskfiles/rook/taskfile.yaml
  ansible/inventory/group_vars/controller/main.yaml
  ansible/inventory/group_vars/worker/main.yaml
  ansible/playbooks/node-cruft-cleanup.yaml
  kubernetes/apps/rook-ceph/README.md
  scripts/rook-rbd-orphan-cleanup.sh
Labels: area/ansible, area/kubernetes, area/taskfile

feat(ansible): add k3s cleanup and reinstall tasks, and orphan RBD cleanup script
  .taskfiles/ansible/taskfile.yaml
Labels: area/taskfile

refactor(helmrelease): remove unnecessary external-dns annotations
  kubernetes/apps/blog/hugo/app/helmrelease.yaml
  kubernetes/apps/blog/umami/app/helmrelease.yaml
  kubernetes/apps/debug/echo-server/app/helmrelease.yaml
  kubernetes/apps/debug/whoami/app/helmrelease.yaml
  kubernetes/apps/default/cyberchef/app/helmrelease.yaml
  kubernetes/apps/default/jelu/app/helmrelease.yaml
  kubernetes/apps/default/mealie/app/helmrelease.yaml
  kubernetes/apps/default/opengist/app/helmrelease.yaml
  kubernetes/apps/default/picoshare/app/helmrelease.yaml
Labels: area/kubernetes

refactor(dnsutils): undeploy dnsutils
  kubernetes/apps/debug/kustomization.yaml
Labels: area/kubernetes

fix(external-secrets): update resource naming convention
  AGENTS.md
  docs/onepassword-eso-migration.md
  kubernetes/apps/debug/whoami/app/secret-oidc.externalsecret.yaml
  scripts/onepassword/externalsecrets.py
Labels: area/docs, area/kubernetes

feat(external-secrets): migrate o11y namespace
  kubernetes/apps/observability/grafana/operator/kustomization.yaml
  kubernetes/apps/observability/grafana/operator/secret-oidc.externalsecret.yaml
  kubernetes/apps/observability/grafana/operator/secret.externalsecret.yaml
  kubernetes/apps/observability/kube-prometheus-stack/README.md
  kubernetes/apps/observability/kube-prometheus-stack/app/alertmanager.yaml
  kubernetes/apps/observability/kube-prometheus-stack/app/garage-scrapeconfig.yaml
  kubernetes/apps/observability/kube-prometheus-stack/app/helmrelease.yaml
  kubernetes/apps/observability/kube-prometheus-stack/app/kustomization.yaml
  kubernetes/apps/observability/kube-prometheus-stack/app/node-exporter-scrapeconfig.yaml
  kubernetes/apps/observability/kube-prometheus-stack/app/secret-alertmgrNotifiers.externalsecret.yaml
  kubernetes/apps/observability/kube-prometheus-stack/ks.yaml
  kubernetes/apps/observability/nut-exporter/app/kustomization.yaml
  kubernetes/apps/observability/nut-exporter/app/secret.externalsecret.yaml
  kubernetes/apps/observability/nut-exporter/app/secret.sops.yaml
Labels: area/kubernetes

feat(external-secrets): migrate o11y namespace
  kubernetes/apps/observability/grafana/operator/secret-oidc.externalsecret.yaml
  kubernetes/apps/observability/grafana/operator/secret.externalsecret.yaml
  kubernetes/apps/observability/kube-prometheus-stack/app/secret-alertmgrNotifiers.externalsecret.yaml
  kubernetes/apps/observability/nut-exporter/app/secret.externalsecret.yaml
  scripts/onepassword/externalsecrets.py
Labels: area/kubernetes

feat(external-secrets): migrate blog namespace
  kubernetes/apps/blog/hugo/app/kustomization.yaml
  kubernetes/apps/blog/hugo/app/secret.externalsecret.yaml
Labels: area/kubernetes

feat(external-secrets): migrate database namespace
  kubernetes/apps/database/ext-postgres-operator/app/secret.externalsecret.yaml
  kubernetes/apps/database/pgadmin/app/helmrelease.yaml
  kubernetes/apps/database/pgadmin/app/kustomization.yaml
  kubernetes/apps/database/pgadmin/app/secret.externalsecret.yaml
  kubernetes/apps/database/pgadmin/app/secret.sops.yaml
  kubernetes/apps/database/pgadmin/app/secret.sops.yaml.tmpl
  kubernetes/apps/database/pgadmin/app/serverdefinitions-configmap.yaml
  kubernetes/apps/database/pgadmin/ks.yaml
  scripts/onepassword/push.py
Labels: area/kubernetes

feat(external-secrets): migrate datasci namespace
  kubernetes/apps/datasci/mlflow/app/kustomization.yaml
  kubernetes/apps/datasci/mlflow/app/secret-s3.externalsecret.yaml
  kubernetes/apps/datasci/mlflow/app/secret.externalsecret.yaml
  kubernetes/apps/datasci/postgres/ext-postgres-operator/app/kustomization.yaml
  kubernetes/apps/datasci/postgres/ext-postgres-operator/app/secret.externalsecret.yaml
Labels: area/kubernetes

feat(external-secrets): migrate default namespace
  kubernetes/apps/default/calibre-web-automated/app/kustomization.yaml
  kubernetes/apps/default/calibre-web-automated/app/secret-oidc.externalsecret.yaml
  kubernetes/apps/default/calibre-web-automated/app/secret.externalsecret.yaml
  kubernetes/apps/default/calibre-web-automated/volume/secret.externalsecret.yaml
  kubernetes/apps/default/freshrss/app/kustomization.yaml
  kubernetes/apps/default/freshrss/app/secret-oidc.externalsecret.yaml
  kubernetes/apps/default/homebox/app/kustomization.yaml
  kubernetes/apps/default/homebox/app/secret.externalsecret.yaml
  kubernetes/apps/default/homepage/app/kustomization.yaml
  kubernetes/apps/default/homepage/app/secret.externalsecret.yaml
  kubernetes/apps/default/jelu/app/kustomization.yaml
  kubernetes/apps/default/jelu/app/secret-oidc.externalsecret.yaml
  kubernetes/apps/default/karakeep/app/helmrelease.yaml
  kubernetes/apps/default/karakeep/app/kustomization.yaml
  kubernetes/apps/default/karakeep/app/secret-oidc.externalsecret.yaml
  kubernetes/apps/default/karakeep/app/secret.externalsecret.yaml
  kubernetes/apps/default/karakeep/app/securitypolicy.yaml
  kubernetes/apps/default/mealie/app/kustomization.yaml
  kubernetes/apps/default/mealie/app/secret-oidc.externalsecret.yaml
  kubernetes/apps/default/mealie/app/secret.externalsecret.yaml
  kubernetes/apps/default/mealie/app/securitypolicy.yaml
  kubernetes/apps/default/memos/app/kustomization.yaml
  kubernetes/apps/default/memos/app/secret-oidc.externalsecret.yaml
  kubernetes/apps/default/memos/app/securitypolicy.yaml
  kubernetes/apps/default/picoshare/app/kustomization.yaml
  kubernetes/apps/default/picoshare/app/secret.externalsecret.yaml
Labels: area/kubernetes

fix(external-secrets): cnpg postgres secrets
  kubernetes/apps/database/cloudnative-pg/cluster/kustomization.yaml
  kubernetes/apps/database/cloudnative-pg/cluster/secret-s3.externalsecret.yaml
  kubernetes/apps/database/cloudnative-pg/cluster/secret.externalsecret.yaml
  kubernetes/apps/datasci/postgres/cloudnative-pg/cluster/kustomization.yaml
  kubernetes/apps/datasci/postgres/cloudnative-pg/cluster/secret-s3.externalsecret.yaml
  kubernetes/apps/datasci/postgres/cloudnative-pg/cluster/secret.externalsecret.yaml
Labels: area/kubernetes

fix(external-secrets): cnpg postgres secrets
  kubernetes/apps/database/cloudnative-pg/cluster/secret-s3.externalsecret.yaml
  kubernetes/apps/database/cloudnative-pg/cluster/secret.externalsecret.yaml
Labels: area/kubernetes

feat(external-secrets): migrate flux-system namespace
  kubernetes/apps/external-secrets/_examples/clusterexternalsecret.yaml
  kubernetes/apps/external-secrets/_examples/externalsecret.yaml
  kubernetes/apps/flux-system/flux-instance/app/kustomization.yaml
  kubernetes/apps/flux-system/flux-instance/app/secret.externalsecret.yaml
  kubernetes/components/volsync/externalsecret.yaml
Labels: area/kubernetes

feat(external-secrets): migrate security namespace
  kubernetes/apps/security/authelia/app/kustomization.yaml
  kubernetes/apps/security/authelia/app/secret.externalsecret.yaml
  kubernetes/apps/security/lldap/app/kustomization.yaml
  kubernetes/apps/security/lldap/app/secret.externalsecret.yaml
Labels: area/kubernetes

feat(external-secrets): migrate network namespace
  kubernetes/apps/network/cloudflared/app/helmrelease.yaml
  kubernetes/apps/network/cloudflared/app/kustomization.yaml
  kubernetes/apps/network/cloudflared/app/secret.externalsecret.yaml
  kubernetes/apps/network/external-dns/app/kustomization.yaml
  kubernetes/apps/network/external-dns/app/secret.externalsecret.yaml
Labels: area/kubernetes

feat(external-secrets): migrate network namespace
  kubernetes/apps/network/cloudflared/app/helmrelease.yaml
Labels: area/kubernetes

feat(external-secrets): migrate network namespace
  kubernetes/apps/network/cloudflared/app/secret.externalsecret.yaml
Labels: area/kubernetes

feat(authelia): add claims policies for karakeep
  kubernetes/apps/security/authelia/app/config/configuration.yaml
Labels: area/kubernetes

feat(mlflow): update deployment to leverage now-integrated ai gateway
  kubernetes/apps/datasci/mlflow/README.md
  kubernetes/apps/datasci/mlflow/app/helmrelease.yaml
  kubernetes/apps/datasci/mlflow/app/kustomization.yaml
  kubernetes/apps/datasci/mlflow/app/secret-gateway.sops.yaml
  kubernetes/apps/datasci/mlflow/app/secret-gateway.sops.yaml.tmpl
Labels: area/kubernetes

feat(shelfmark): enhance OIDC integration and update secrets management
  kubernetes/apps/default/shelfmark/README.md
  kubernetes/apps/default/shelfmark/app/helmrelease.yaml
  kubernetes/apps/default/shelfmark/app/secret-oidc.externalsecret.yaml
  kubernetes/apps/security/authelia/app/config/configuration.yaml
  kubernetes/apps/security/authelia/app/secret.externalsecret.yaml
  kubernetes/apps/security/authelia/app/secret.sops.yaml.tmpl
Labels: area/kubernetes

feat(calibre-web-automated): bump version
  kubernetes/apps/default/calibre-web-automated/README.md
  kubernetes/apps/default/calibre-web-automated/app/helmrelease.yaml
Labels: area/kubernetes

docs(calibre-web-automated): add OIDC integration instructions
  kubernetes/apps/default/calibre-web-automated/README.md
Labels: area/kubernetes

feat(mlflow): update secrets management to align with updated version
  kubernetes/apps/datasci/mlflow/app/helmrelease.yaml
  kubernetes/apps/datasci/mlflow/app/secret.externalsecret.yaml
Labels: area/kubernetes

feat(mlflow): update secrets management to align with updated version
  kubernetes/apps/datasci/mlflow/app/helmrelease.yaml
Labels: area/kubernetes

feat(mlflow): update secrets management to align with updated version
  kubernetes/apps/datasci/mlflow/app/helmrelease.yaml
Labels: area/kubernetes

fix(external-dns): align secret name
  kubernetes/apps/network/external-dns/app/secret.externalsecret.yaml
Labels: area/kubernetes

docs(karakeep): add detailed auto-tagging prompt and user-defined rules
  kubernetes/apps/default/karakeep/README.md
Labels: area/kubernetes

fix(hugo): align secret name
  kubernetes/apps/blog/hugo/app/kyverno-policy.yaml
Labels: area/kubernetes

fix(external-secrets): align secrets
  AGENTS.md
  kubernetes/apps/cert-manager/cert-manager/app/issuers/kustomization.yaml
  kubernetes/apps/cert-manager/cert-manager/app/issuers/letsencrypt-production.yaml
  kubernetes/apps/cert-manager/cert-manager/app/issuers/letsencrypt-staging.yaml
  kubernetes/apps/cert-manager/cert-manager/app/issuers/secret.externalsecret.yaml
  kubernetes/apps/database/cloudnative-pg/cluster/secret-s3.externalsecret.yaml
  kubernetes/apps/database/ext-postgres-operator/app/kustomization.yaml
  kubernetes/apps/database/ext-postgres-operator/app/secret.externalsecret.yaml
  kubernetes/apps/datasci/postgres/ext-postgres-operator/app/secret.externalsecret.yaml
  scripts/onepassword/check_secret_coverage.py
Labels: area/kubernetes

.github/labeler.yaml:

---
area/ansible:
  - changed-files:
      - any-glob-to-any-file: ansible/**/*
area/docs:
  - changed-files:
      - any-glob-to-any-file:
          - "docs/**/*"
          - "README.md"
area/github:
  - changed-files:
      - any-glob-to-any-file: .github/**/*
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: kubernetes/**/*
area/taskfile:
  - changed-files:
      - any-glob-to-any-file: .taskfiles/**/*
      - any-glob-to-any-file: Taskfile*
