Repository ahgraber/homelab-gitops-k3s, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/docs, area/github, area/kubernetes, area/taskfile

fix: prefect update and renovate rule
  .github/renovate/packageRules.json5
  kubernetes/apps/datasci/prefect/agent/helmrelease.yaml
  kubernetes/apps/datasci/prefect/server/helmrelease.yaml
  kubernetes/apps/datasci/prefect/worker/helmrelease.yaml
Labels: area/github, area/kubernetes

fix: prefect update and renovate rule
  .github/renovate/packageRules.json5
  kubernetes/apps/datasci/prefect/agent/helmrelease.yaml
  kubernetes/apps/datasci/prefect/server/helmrelease.yaml
  kubernetes/apps/datasci/prefect/worker/helmrelease.yaml
Labels: area/github, area/kubernetes

fix: use correct ingress class name
  kubernetes/apps/datasci/prefect/server/helmrelease.yaml
  kubernetes/apps/networking/crowdsec/app/helmrelease.yaml
Labels: area/kubernetes

fix: use correct ingress class name
  kubernetes/apps/datasci/prefect/server/helmrelease.yaml
  kubernetes/apps/networking/crowdsec/app/helmrelease.yaml
Labels: area/kubernetes

fix: "workers are recommended" over agents for prefect
  kubernetes/apps/datasci/prefect/ks.yaml
  kubernetes/apps/datasci/prefect/server/helmrelease.yaml
Labels: area/kubernetes

fix: "workers are recommended" over agents for prefect
  kubernetes/apps/datasci/prefect/ks.yaml
  kubernetes/apps/datasci/prefect/server/helmrelease.yaml
Labels: area/kubernetes

fix: "workers are recommended" over agents for prefect
  kubernetes/apps/datasci/prefect/worker/helmrelease.yaml
Labels: area/kubernetes

fix: "workers are recommended" over agents for prefect
  kubernetes/apps/datasci/prefect/worker/helmrelease.yaml
Labels: area/kubernetes

fix: simplify metric relabelings; use feature flags
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
  kubernetes/apps/monitoring/kube-prometheus-stack/app/kube-state-metrics.yaml
Labels: area/kubernetes

fix: simplify metric relabelings; use feature flags
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
  kubernetes/apps/monitoring/kube-prometheus-stack/app/kube-state-metrics.yaml
Labels: area/kubernetes

fix: add dockerlint and fix prettier error on nomatch
  .pre-commit-config.yaml
Labels: none

fix: add dockerlint and fix prettier error on nomatch
  .pre-commit-config.yaml
Labels: none

fix: add prom endpoint to rook-ceph cluster HR
  kubernetes/apps/rook-ceph/rook-ceph/cluster/helmrelease.yaml
Labels: area/kubernetes

fix: add prom endpoint to rook-ceph cluster HR
  kubernetes/apps/rook-ceph/rook-ceph/cluster/helmrelease.yaml
Labels: area/kubernetes

wip: fix rook-ceph prom/alertmanager api v2?
  kubernetes/apps/rook-ceph/README.md
  kubernetes/apps/rook-ceph/rook-ceph/cluster/helmrelease.yaml
Labels: area/kubernetes

wip: fix rook-ceph prom/alertmanager api v2?
  kubernetes/apps/rook-ceph/README.md
  kubernetes/apps/rook-ceph/rook-ceph/cluster/helmrelease.yaml
Labels: area/kubernetes

feat: ansible reorg
  ansible/ansible.cfg
  ansible/inventory/group_vars/controller/main.yaml
  ansible/inventory/group_vars/kubernetes/main.yaml
  ansible/inventory/group_vars/worker/main.yaml
  ansible/playbooks/.gitkeep
  ansible/playbooks/cluster-rollout-update.yaml
  ansible/playbooks/k3s-install.yaml
  ansible/playbooks/k3s-kube-vip.yaml
  ansible/playbooks/k3s-nuke.yaml
  ansible/playbooks/k3s-prepare.yaml
  ansible/playbooks/k3s-reboot.yaml
  ansible/playbooks/k3s-rollout-update.yaml
  ansible/playbooks/tasks/cruft.yaml
  ansible/playbooks/tasks/version-check.yaml
  ansible/playbooks/templates/cilium-helmchart.yaml.j2
  ansible/playbooks/templates/cilium-l2.yaml.j2
  ansible/playbooks/templates/coredns-helmchart.yaml.j2
  ansible/playbooks/templates/custom-cilium-helmchart.yaml.j2
  ansible/playbooks/templates/kube-vip-daemonset.yaml.j2
  ansible/playbooks/templates/kube-vip-rbac.yaml.j2
  ansible/playbooks/templates/kube-vip-static-pod.yaml.j2
  ansible/playbooks/templates/resolv.conf.j2
  ansible/requirements.txt
  ansible/requirements.yaml
  ansible/roles/.gitignore
  ansible/roles/.gitkeep
Labels: area/ansible

feat: reorg tasks
  .taskfiles/AnsibleTasks.yaml
  .taskfiles/BootstrapTasks.yaml
  .taskfiles/BrewTasks.yaml
  .taskfiles/ClusterTasks.yaml
  .taskfiles/KubernetesTasks.yaml
  .taskfiles/PrecommitTasks.yaml
  .taskfiles/RookTasks.yaml
  .taskfiles/ansible/taskfile.yaml
  .taskfiles/db/taskfile.yaml
  .taskfiles/flux/taskfile.yaml
  .taskfiles/hack/taskfile.yaml
  .taskfiles/kubernetes/taskfile.yaml
  .taskfiles/repository/taskfile.yaml
  .taskfiles/rook/scripts/wait-for-job.sh
  .taskfiles/rook/taskfile.yaml
  .taskfiles/rook/templates/WipeDataJob.tmpl.yaml
  .taskfiles/rook/templates/WipeDiskJob.tmpl.yaml
  .taskfiles/sops/taskfile.yaml
  .taskfiles/volsync/scripts/wait-for-job.sh
  .taskfiles/volsync/taskfile.yaml
  .taskfiles/volsync/templates/ListJob.tmpl.yaml
  .taskfiles/volsync/templates/ReplicationDestination.tmpl.yaml
  .taskfiles/volsync/templates/UnlockJob.tmpl.yaml
  .taskfiles/workstation/brewfile
  .taskfiles/workstation/taskfile.yaml
  Taskfile.yaml
Labels: area/taskfile

feat: reorg tasks
  .taskfiles/flux/taskfile.yaml
  .taskfiles/sops/taskfile.yaml
  Taskfile.yaml
Labels: area/taskfile

feat: reorg tasks
  .taskfiles/flux/taskfile.yaml
  .taskfiles/hack/taskfile.yaml
Labels: area/taskfile

fix: clean up ansible setup for k3s mgmt
  ansible/README.md
  ansible/inventory/group_vars/kubernetes/secrets.sops.yaml
  ansible/inventory/group_vars/kubernetes/secrets.sops.yaml.tmpl
  ansible/inventory/host_vars/node-template.sops.yaml.tmpl
  ansible/playbooks/ceph-cleanup.yaml
  ansible/playbooks/k3s-install.yaml
  ansible/playbooks/k3s-kube-vip.yaml
  ansible/playbooks/k3s-nuke.yaml
  ansible/playbooks/tasks/kube-vip.yaml
  ansible/playbooks/templates/cilium-helmchart.yaml.j2
  ansible/playbooks/templates/kube-vip-daemonset.yaml.j2
  ansible/playbooks/templates/kube-vip-static-pod.yaml.j2
  ansible/playbooks/templates/resolv.conf.j2
Labels: area/ansible

docs: clean up
  docs/ansible.md
  docs/node-prep.md
  docs/task.md
  kubernetes/apps/rook-ceph/README.md
Labels: area/docs, area/kubernetes

chore: cleanup; remove unnecessary custom-settings
  kubernetes/apps/kube-system/system-upgrade-controller/app/helmrelease.yaml
  kubernetes/flux/apps.yaml
  kubernetes/flux/config/cluster.yaml
  kubernetes/flux/vars/custom-settings.yaml
  kubernetes/flux/vars/kustomization.yaml
Labels: area/kubernetes

fix: try to avoid cilium/kube-vip circular dependency
  kubernetes/apps/kube-system/cilium/app/helmrelease.yaml
Labels: area/kubernetes

docs: streamline and ensure they're up-to-date
  .taskfiles/ansible/taskfile.yaml
  README.md
  Taskfile.yaml
  docs/node-prep.md
Labels: area/docs, area/taskfile

fix: copy over defaults from cluster-template
  kubernetes/apps/kube-system/metrics-server/app/helmrelease.yaml
  kubernetes/apps/kube-system/reloader/app/helmrelease.yaml
  kubernetes/apps/kube-system/reloader/app/kustomization.yaml
Labels: area/kubernetes

fix: copy over defaults from cluster-template
  kubernetes/apps/networking/cloudflared/app/helmrelease.yaml
  kubernetes/apps/networking/ingress-nginx/README.md
  kubernetes/apps/networking/ingress-nginx/external/helmrelease.yaml
  kubernetes/apps/networking/ingress-nginx/external/kustomization.yaml
  kubernetes/apps/networking/ingress-nginx/external/secret-maxmind.sops.yaml
  kubernetes/apps/networking/ingress-nginx/external/secret-maxmind.sops.yaml.tmpl
  kubernetes/apps/networking/ingress-nginx/internal/helmrelease.yaml
  kubernetes/apps/networking/ingress-nginx/internal/kustomization.yaml
  kubernetes/apps/networking/ingress-nginx/ks.yaml
  kubernetes/apps/networking/kustomization.yaml
  kubernetes/apps/rook-ceph/rook-ceph/cluster/helmrelease.yaml
  kubernetes/apps/volsync-system/README.md
  kubernetes/apps/volsync-system/kustomization.yaml
  kubernetes/apps/volsync-system/namespace.yaml
  kubernetes/apps/volsync-system/volsync/app/helmrelease.yaml
  kubernetes/apps/volsync-system/volsync/app/kustomization.yaml
  kubernetes/apps/volsync-system/volsync/app/prometheusrule.yaml
  kubernetes/apps/volsync-system/volsync/ks.yaml
Labels: area/kubernetes

fix: use the current api for daemonsets
  ansible/playbooks/templates/kube-vip-daemonset.yaml.j2
Labels: area/ansible

fix: catchup with template; at least k3s deploys...
  .taskfiles/ansible/taskfile.yaml
  ansible/inventory/group_vars/controller/main.yaml
  ansible/inventory/group_vars/kubernetes/main.yaml
  ansible/inventory/group_vars/worker/main.yaml
  ansible/playbooks/k3s-install.yaml
  ansible/playbooks/templates/cilium-l2.yaml.j2
  ansible/playbooks/templates/coredns-helmchart.yaml.j2
  docs/node-prep.md
  kubernetes/apps/kube-system/cilium/app/helmrelease.yaml
  kubernetes/apps/kube-system/coredns/app/helmrelease.yaml
  kubernetes/apps/kube-system/kube-vip/app/daemonset.yaml
  kubernetes/apps/kube-system/kube-vip/app/kustomization.yaml
  kubernetes/apps/kube-system/kube-vip/app/rbac.yaml
  kubernetes/apps/kube-system/kube-vip/ks.yaml
  kubernetes/apps/kube-system/kustomization.yaml
  kubernetes/apps/kube-system/system-upgrade-controller/README.md
  kubernetes/apps/kube-system/system-upgrade-controller/app/helmrelease.yaml
  kubernetes/apps/kube-system/system-upgrade-controller/plans/agent.yaml
  kubernetes/apps/kube-system/system-upgrade-controller/plans/server.yaml
  scripts/kubeconform.sh
Labels: area/ansible, area/docs, area/kubernetes, area/taskfile

feat: use staging for testing
  kubernetes/apps/cert-manager/cert-manager/certificates/kustomization.yaml
  kubernetes/apps/networking/ingress-nginx/external/helmrelease.yaml
  kubernetes/apps/networking/ingress-nginx/internal/helmrelease.yaml
  kubernetes/flux/config/cluster.yaml
Labels: area/kubernetes

feat!: revertme - disable full app deployment
  kubernetes/apps/cert-manager/kustomization.yaml
  kubernetes/apps/cnpg-system/kustomization.yaml
  kubernetes/apps/datasci/kustomization.yaml
  kubernetes/apps/default/kustomization.yaml
  kubernetes/apps/monitoring/kustomization.yaml
  kubernetes/apps/networking/kustomization.yaml
  kubernetes/apps/rook-ceph/kustomization.yaml
  kubernetes/apps/volsync-system/kustomization.yaml
Labels: area/kubernetes

fix: fix paths in flux taskfile
  .taskfiles/flux/taskfile.yaml
Labels: area/taskfile

refactor: reorg system-upgrade-controller
  kubernetes/apps/kube-system/system-upgrade-controller/app/rbac.yaml
  kubernetes/apps/system-upgrade/README.md
  kubernetes/apps/system-upgrade/controller/app/helmrelease.yaml
  kubernetes/apps/system-upgrade/controller/app/kustomization.yaml
  kubernetes/apps/system-upgrade/controller/app/rbac.yaml
  kubernetes/apps/system-upgrade/controller/ks.yaml
  kubernetes/apps/system-upgrade/controller/plans/agent.yaml
  kubernetes/apps/system-upgrade/controller/plans/kustomization.yaml
  kubernetes/apps/system-upgrade/controller/plans/server.yaml
  kubernetes/apps/system-upgrade/kustomization.yaml
  kubernetes/apps/system-upgrade/namespace.yaml
Labels: area/kubernetes

refactor: reorg system-upgrade-controller
  kubernetes/apps/kube-system/kustomization.yaml
Labels: area/kubernetes

refactor: reorg system-upgrade-controller
  kubernetes/apps/system-upgrade/controller/plans/k3s-agent.yaml
  kubernetes/apps/system-upgrade/controller/plans/k3s-server.yaml
  kubernetes/apps/system-upgrade/controller/plans/kustomization.yaml
  kubernetes/apps/system-upgrade/kustomization.yaml
Labels: area/kubernetes

feat: update kube-vip
  kubernetes/apps/kube-system/kube-vip/app/daemonset.yaml
Labels: area/kubernetes

refactor: reorg system-upgrade-controller
  kubernetes/apps/system-upgrade/controller/ks.yaml
Labels: area/kubernetes

fix: update ansible task summaries
  .taskfiles/ansible/taskfile.yaml
Labels: area/taskfile

docs: update node prep with ssh-copy-id
  docs/node-prep.md
Labels: area/docs

feat: add smartctl and smartd configuration
  ansible/playbooks/k3s-prepare.yaml
  ansible/playbooks/templates/smartd.conf.j2
Labels: area/ansible

.github/labeler.yaml:

---
area/ansible:
  - changed-files:
      - any-glob-to-any-file: ansible/**/*
area/docs:
  - changed-files:
      - any-glob-to-any-file:
          - "docs/**/*"
          - "README.md"
area/github:
  - changed-files:
      - any-glob-to-any-file: .github/**/*
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: kubernetes/**/*
area/taskfile:
  - changed-files:
      - any-glob-to-any-file: .taskfiles/**/*
      - any-glob-to-any-file: Taskfile*
