Repository ahgraber/homelab-gitops-k3s, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/addons, area/ansible, area/bootstrap, area/github, area/kubernetes

fix(container): update image ghcr.io/ninerealmlabs/mlflow-server to v2.4.1
  kubernetes/apps/datasci/mlflow/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/ninerealmlabs/mlflow-server to v2.4.1
  kubernetes/apps/datasci/mlflow/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/ninerealmlabs/mlflow-server to v2.4.2
  kubernetes/apps/datasci/mlflow/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/ninerealmlabs/mlflow-server to v2.4.2
  kubernetes/apps/datasci/mlflow/app/helmrelease.yaml
Labels: area/kubernetes

fix: mlflow - add initcontainer for db migrations
  kubernetes/apps/datasci/mlflow/app/helmrelease.yaml
Labels: area/kubernetes

fix: mlflow - add initcontainer for db migrations
  kubernetes/apps/datasci/mlflow/app/helmrelease.yaml
Labels: area/kubernetes

fix: mlflow - add initcontainer for db migrations
  kubernetes/apps/datasci/mlflow/app/helmrelease.yaml
Labels: area/kubernetes

fix: mlflow - add initcontainer for db migrations
  kubernetes/apps/datasci/mlflow/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update external snapshotter group
  kubernetes/apps/kube-system/snapshot-controller/app/helmrelease-controller.yaml
  kubernetes/apps/kube-system/snapshot-controller/app/helmrelease-webhook.yaml
Labels: area/kubernetes

fix(helm): update external snapshotter group
  kubernetes/apps/kube-system/snapshot-controller/app/helmrelease-controller.yaml
  kubernetes/apps/kube-system/snapshot-controller/app/helmrelease-webhook.yaml
Labels: area/kubernetes

feat(container): update image ghcr.io/ninerealmlabs/mlflow-server to v2.5.0
  kubernetes/apps/datasci/mlflow/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update image ghcr.io/ninerealmlabs/mlflow-server to v2.5.0
  kubernetes/apps/datasci/mlflow/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update image ghcr.io/ninerealmlabs/mlflow-server to v2.6.0
  kubernetes/apps/datasci/mlflow/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update image ghcr.io/ninerealmlabs/mlflow-server to v2.6.0
  kubernetes/apps/datasci/mlflow/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update image ghcr.io/ninerealmlabs/mlflow-server to v2.7.0
  kubernetes/apps/datasci/mlflow/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update image ghcr.io/ninerealmlabs/mlflow-server to v2.7.0
  kubernetes/apps/datasci/mlflow/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image docker.io/restic/restic to v0.16.1
  .taskfiles/volsync/ListJob.tmpl.yaml
  .taskfiles/volsync/UnlockJob.tmpl.yaml
Labels: none

fix(container): update image docker.io/restic/restic to v0.16.1
  .taskfiles/volsync/ListJob.tmpl.yaml
  .taskfiles/volsync/UnlockJob.tmpl.yaml
Labels: none

fix(container): update image ghcr.io/ninerealmlabs/mlflow-server to v2.7.1
  kubernetes/apps/datasci/mlflow/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/ninerealmlabs/mlflow-server to v2.7.1
  kubernetes/apps/datasci/mlflow/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update prefect group to 2023.10.24
  kubernetes/apps/datasci/prefect/agent/helmrelease.yaml
  kubernetes/apps/datasci/prefect/server/helmrelease.yaml
  kubernetes/apps/datasci/prefect/worker/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update prefect group to 2023.10.24
  kubernetes/apps/datasci/prefect/agent/helmrelease.yaml
  kubernetes/apps/datasci/prefect/server/helmrelease.yaml
  kubernetes/apps/datasci/prefect/worker/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update chart reloader to 1.0.47
  bootstrap/templates/kubernetes/apps/kube-system/reloader/app/helmrelease.yaml.j2
  kubernetes/apps/kube-system/reloader/app/helmrelease.yaml
Labels: area/bootstrap, area/kubernetes

fix(helm): update chart reloader to 1.0.47
  bootstrap/templates/kubernetes/apps/kube-system/reloader/app/helmrelease.yaml.j2
  kubernetes/apps/kube-system/reloader/app/helmrelease.yaml
Labels: area/bootstrap, area/kubernetes

fix(helm): update chart reloader to 1.0.48
  bootstrap/templates/kubernetes/apps/kube-system/reloader/app/helmrelease.yaml.j2
  kubernetes/apps/kube-system/reloader/app/helmrelease.yaml
Labels: area/bootstrap, area/kubernetes

fix(helm): update chart reloader to 1.0.48
  bootstrap/templates/kubernetes/apps/kube-system/reloader/app/helmrelease.yaml.j2
  kubernetes/apps/kube-system/reloader/app/helmrelease.yaml
Labels: area/bootstrap, area/kubernetes

fix(helm): update chart ingress-nginx to 4.8.3
  kubernetes/apps/networking/nginx/external/helmrelease.yaml
  kubernetes/apps/networking/nginx/internal/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update chart ingress-nginx to 4.8.3
  kubernetes/apps/networking/nginx/external/helmrelease.yaml
  kubernetes/apps/networking/nginx/internal/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update prefect group to 2023.10.25
  kubernetes/apps/datasci/prefect/agent/helmrelease.yaml
  kubernetes/apps/datasci/prefect/server/helmrelease.yaml
  kubernetes/apps/datasci/prefect/worker/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update prefect group to 2023.10.25
  kubernetes/apps/datasci/prefect/agent/helmrelease.yaml
  kubernetes/apps/datasci/prefect/server/helmrelease.yaml
  kubernetes/apps/datasci/prefect/worker/helmrelease.yaml
Labels: area/kubernetes

fix(github-action): update renovatebot/github-action action to v39.1.1
  .github/workflows/renovate.yaml
Labels: area/github

fix(github-action): update renovatebot/github-action action to v39.1.1
  .github/workflows/renovate.yaml
Labels: area/github

fix(container): update image weave-gitops to v4.0.33
  bootstrap/templates/addons/weave-gitops/app/helmrelease.yaml.j2
  kubernetes/apps/flux-system/weave-gitops/app/helmrelease.yaml
Labels: area/addons, area/bootstrap, area/kubernetes

fix(container): update image weave-gitops to v4.0.33
  bootstrap/templates/addons/weave-gitops/app/helmrelease.yaml.j2
  kubernetes/apps/flux-system/weave-gitops/app/helmrelease.yaml
Labels: area/addons, area/bootstrap, area/kubernetes

feat(container)!: Update image kube-prometheus-stack to v52
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes

feat(container)!: Update image kube-prometheus-stack to v52
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update prefect group to 2023.10.26
  kubernetes/apps/datasci/prefect/agent/helmrelease.yaml
  kubernetes/apps/datasci/prefect/server/helmrelease.yaml
  kubernetes/apps/datasci/prefect/worker/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update prefect group to 2023.10.26
  kubernetes/apps/datasci/prefect/agent/helmrelease.yaml
  kubernetes/apps/datasci/prefect/server/helmrelease.yaml
  kubernetes/apps/datasci/prefect/worker/helmrelease.yaml
Labels: area/kubernetes

feat(helm): update chart snapshot-validation-webhook to 1.9.0
  kubernetes/apps/kube-system/snapshot-controller/app/helmrelease-webhook.yaml
Labels: area/kubernetes

feat(helm): update chart snapshot-validation-webhook to 1.9.0
  kubernetes/apps/kube-system/snapshot-controller/app/helmrelease-webhook.yaml
Labels: area/kubernetes

.github/labeler.yaml:

---
area/addons:
  - "bootstrap/templates/addons/**/*"
  - "bootstrap/tasks/addons/**/*"
  - "bootstrap/vars/addons.sample.yaml"
area/ansible:
  - "ansible/**/*"
  - "bootstrap/templates/ansible/**/*"
  - "bootstrap/tasks/ansible/**/*"
area/bootstrap:
  - "bootstrap/**/*"
  - "bootstrap/configure.yaml"
area/github:
  - ".github/**/*"
area/kubernetes:
  - "kubernetes/**/*"
  - "bootstrap/templates/kubernetes/**/*"
  - "bootstrap/tasks/kubernetes/**/*"
