Repository ahgraber/homelab-gitops-k3s, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/addons, area/ansible, area/bootstrap, area/github, area/kubernetes

.github/labeler.yaml:

---
area/addons:
  - "bootstrap/templates/addons/**/*"
  - "bootstrap/tasks/addons/**/*"
  - "bootstrap/vars/addons.sample.yaml"
area/ansible:
  - "ansible/**/*"
  - "bootstrap/templates/ansible/**/*"
  - "bootstrap/tasks/ansible/**/*"
area/bootstrap:
  - "bootstrap/**/*"
  - "bootstrap/configure.yaml"
area/github:
  - ".github/**/*"
area/kubernetes:
  - "kubernetes/**/*"
  - "bootstrap/templates/kubernetes/**/*"
  - "bootstrap/tasks/kubernetes/**/*"

feat: add task to update from template
  .gitignore
  Taskfile.yaml
Labels: none

feat(ansible): remove search domain from /etc/resolv.conf
  ansible/playbooks/cluster-prepare.yaml
  bootstrap/templates/ansible/playbooks/cluster-prepare.yaml.j2
Labels: area/ansible, area/bootstrap

feat(ansible): remove search domain from /etc/resolv.conf
  ansible/playbooks/cluster-prepare.yaml
  bootstrap/templates/ansible/playbooks/cluster-prepare.yaml.j2
Labels: area/ansible, area/bootstrap

feat(helm): update chart k8s-gateway to 2.1.0
  bootstrap/templates/kubernetes/apps/networking/k8s-gateway/app/helmrelease.yaml.j2
  kubernetes/apps/networking/k8s-gateway/app/helmrelease.yaml
Labels: area/bootstrap, area/kubernetes

feat(helm): update chart k8s-gateway to 2.1.0
  bootstrap/templates/kubernetes/apps/networking/k8s-gateway/app/helmrelease.yaml.j2
  kubernetes/apps/networking/k8s-gateway/app/helmrelease.yaml
Labels: area/bootstrap, area/kubernetes

fix: merge template
  bootstrap/templates/addons/discord-template-notifier/app/helmrelease.yaml.j2
  bootstrap/templates/kubernetes/apps/networking/cloudflared/app/helmrelease.yaml.j2
  bootstrap/templates/kubernetes/apps/networking/echo-server/app/helmrelease.yaml.j2
Labels: area/addons, area/bootstrap, area/kubernetes

fix: merge template
  bootstrap/templates/addons/discord-template-notifier/app/helmrelease.yaml.j2
  bootstrap/templates/kubernetes/apps/networking/cloudflared/app/helmrelease.yaml.j2
  bootstrap/templates/kubernetes/apps/networking/echo-server/app/helmrelease.yaml.j2
Labels: area/addons, area/bootstrap, area/kubernetes

feat: merge template
  .github/workflows/release.yaml
  bootstrap/templates/kubernetes/apps/networking/echo-server/app/helmrelease.yaml.j2
  requirements.yaml
Labels: area/bootstrap, area/github, area/kubernetes

feat: merge template
  .github/workflows/release.yaml
  bootstrap/templates/kubernetes/apps/networking/echo-server/app/helmrelease.yaml.j2
  requirements.yaml
Labels: area/bootstrap, area/github, area/kubernetes

feat: merge template
  bootstrap/templates/addons/discord-template-notifier/app/helmrelease.yaml.j2
  bootstrap/templates/addons/kube-prometheus-stack/app/helmrelease.yaml.j2
  bootstrap/templates/ansible/inventory/group_vars/kubernetes/main.yaml.j2
  bootstrap/templates/kubernetes/apps/networking/cloudflared/app/helmrelease.yaml.j2
  bootstrap/templates/kubernetes/apps/networking/echo-server/app/helmrelease.yaml.j2
Labels: area/addons, area/ansible, area/bootstrap, area/kubernetes

feat: merge template
  bootstrap/templates/addons/discord-template-notifier/app/helmrelease.yaml.j2
  bootstrap/templates/addons/kube-prometheus-stack/app/helmrelease.yaml.j2
  bootstrap/templates/ansible/inventory/group_vars/kubernetes/main.yaml.j2
  bootstrap/templates/kubernetes/apps/networking/cloudflared/app/helmrelease.yaml.j2
  bootstrap/templates/kubernetes/apps/networking/echo-server/app/helmrelease.yaml.j2
Labels: area/addons, area/ansible, area/bootstrap, area/kubernetes

feat: merge template
  bootstrap/templates/kubernetes/flux/config/flux.yaml.j2
Labels: area/bootstrap, area/kubernetes

feat: merge template
  bootstrap/templates/kubernetes/flux/config/flux.yaml.j2
Labels: area/bootstrap, area/kubernetes

feat: merge template
  bootstrap/templates/addons/discord-template-notifier/app/helmrelease.yaml.j2
  bootstrap/templates/kubernetes/apps/networking/cloudflared/app/helmrelease.yaml.j2
  bootstrap/templates/kubernetes/apps/networking/echo-server/app/helmrelease.yaml.j2
Labels: area/addons, area/bootstrap, area/kubernetes

feat: merge template
  bootstrap/templates/addons/discord-template-notifier/app/helmrelease.yaml.j2
  bootstrap/templates/kubernetes/apps/networking/cloudflared/app/helmrelease.yaml.j2
  bootstrap/templates/kubernetes/apps/networking/echo-server/app/helmrelease.yaml.j2
Labels: area/addons, area/bootstrap, area/kubernetes

feat(ansible): update ansible.utils to 2.12.0
  requirements.yaml
Labels: none

feat(ansible): update ansible.utils to 2.12.0
  requirements.yaml
Labels: none

fea: merge template - Update cluster-rollout-update.yaml.j2 (#1035)
  bootstrap/templates/ansible/playbooks/cluster-rollout-update.yaml.j2
Labels: area/ansible, area/bootstrap

fea: merge template - Update cluster-rollout-update.yaml.j2 (#1035)
  bootstrap/templates/ansible/playbooks/cluster-rollout-update.yaml.j2
Labels: area/ansible, area/bootstrap

feat: merge template
  .github/renovate/packageRules.json5
  bootstrap/tasks/addons/system_upgrade_controller.yaml
  bootstrap/templates/addons/system-upgrade-controller/app/helmrelease.yaml.j2
  bootstrap/templates/addons/system-upgrade-controller/app/kustomization.yaml.j2
  bootstrap/templates/addons/system-upgrade-controller/app/rbac.yaml.j2
  bootstrap/templates/addons/system-upgrade-controller/ks.yaml.j2
  bootstrap/templates/addons/system-upgrade-controller/plans/kustomization.yaml.j2
  bootstrap/templates/kubernetes/apps/kube-system/kustomization.yaml.j2
  bootstrap/templates/kubernetes/apps/kube-system/snapshot-controller/app/kustomization.yaml.j2
  bootstrap/templates/kubernetes/apps/system-upgrade/kustomization.yaml.j2
  bootstrap/templates/kubernetes/apps/system-upgrade/namespace.yaml.j2
  bootstrap/templates/kubernetes/apps/volsync/kustomization.yaml.j2
  bootstrap/templates/kubernetes/apps/volsync/volsync/app/kustomization.yaml.j2
  bootstrap/templates/kubernetes/apps/volsync/volsync/app/prometheusrule.yaml.j2
Labels: area/addons, area/bootstrap, area/github, area/kubernetes

feat: merge template
  .github/renovate/packageRules.json5
  bootstrap/tasks/addons/system_upgrade_controller.yaml
  bootstrap/templates/addons/system-upgrade-controller/app/helmrelease.yaml.j2
  bootstrap/templates/addons/system-upgrade-controller/app/kustomization.yaml.j2
  bootstrap/templates/addons/system-upgrade-controller/app/rbac.yaml.j2
  bootstrap/templates/addons/system-upgrade-controller/ks.yaml.j2
  bootstrap/templates/addons/system-upgrade-controller/plans/kustomization.yaml.j2
  bootstrap/templates/kubernetes/apps/kube-system/kustomization.yaml.j2
  bootstrap/templates/kubernetes/apps/kube-system/snapshot-controller/app/kustomization.yaml.j2
  bootstrap/templates/kubernetes/apps/system-upgrade/kustomization.yaml.j2
  bootstrap/templates/kubernetes/apps/system-upgrade/namespace.yaml.j2
  bootstrap/templates/kubernetes/apps/volsync/kustomization.yaml.j2
  bootstrap/templates/kubernetes/apps/volsync/volsync/app/kustomization.yaml.j2
  bootstrap/templates/kubernetes/apps/volsync/volsync/app/prometheusrule.yaml.j2
Labels: area/addons, area/bootstrap, area/github, area/kubernetes

feat: merge template
  bootstrap/templates/ansible/inventory/group_vars/kubernetes/main.yaml.j2
Labels: area/ansible, area/bootstrap

feat: merge template
  bootstrap/templates/ansible/inventory/group_vars/kubernetes/main.yaml.j2
Labels: area/ansible, area/bootstrap

feat: merge template
  bootstrap/templates/kubernetes/apps/networking/nginx/external/helmrelease.yaml.j2
  bootstrap/templates/kubernetes/apps/networking/nginx/internal/helmrelease.yaml.j2
Labels: area/bootstrap, area/kubernetes

feat: merge template
  bootstrap/templates/kubernetes/apps/networking/nginx/external/helmrelease.yaml.j2
  bootstrap/templates/kubernetes/apps/networking/nginx/internal/helmrelease.yaml.j2
Labels: area/bootstrap, area/kubernetes

fix: add tolerations back to suc server plan
  README.md
  bootstrap/templates/addons/system-upgrade-controller/app/helmrelease.yaml.j2
  bootstrap/templates/addons/system-upgrade-controller/plans/server.yaml.j2
Labels: area/addons, area/bootstrap

fix: add tolerations back to suc server plan
  README.md
  bootstrap/templates/addons/system-upgrade-controller/app/helmrelease.yaml.j2
  bootstrap/templates/addons/system-upgrade-controller/plans/server.yaml.j2
Labels: area/addons, area/bootstrap

feat: merge template
  .gitignore
Labels: none

feat: merge template
  .gitignore
Labels: none

feat: merge template
  .devcontainer/devcontainer.json
  README.md
Labels: none

feat: merge template
  .devcontainer/devcontainer.json
  README.md
Labels: none

chore: add ansible-lint
  bootstrap/templates/ansible/.ansible-lint.j2
Labels: area/ansible, area/bootstrap

chore: add ansible-lint
  bootstrap/templates/ansible/.ansible-lint.j2
Labels: area/ansible, area/bootstrap

task: add update-template task
  .gitignore
  Taskfile.yaml
Labels: none

task: add update-template task
  .gitignore
  Taskfile.yaml
Labels: none

fix(container): update image docker.io/rancher/kubectl to v1.28.4
  bootstrap/templates/addons/system-upgrade-controller/app/helmrelease.yaml.j2
Labels: area/addons, area/bootstrap

fix(container): update image docker.io/rancher/kubectl to v1.28.4
  bootstrap/templates/addons/system-upgrade-controller/app/helmrelease.yaml.j2
Labels: area/addons, area/bootstrap

fix(helm): update chart snapshot-controller to 2.0.3
  bootstrap/templates/kubernetes/apps/kube-system/snapshot-controller/app/helmrelease.yaml.j2
Labels: area/bootstrap, area/kubernetes

fix(helm): update chart snapshot-controller to 2.0.3
  bootstrap/templates/kubernetes/apps/kube-system/snapshot-controller/app/helmrelease.yaml.j2
Labels: area/bootstrap, area/kubernetes

fix(container): update image ghcr.io/dgtlmoon/changedetection.io to v0.45.8.1
  kubernetes/apps/default/changedetection/app/helmrelease.yaml
Labels: area/kubernetes
