Repository ahgraber/homelab-gitops-k3s, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/addons, area/ansible, area/bootstrap, area/github, area/kubernetes

fix(github-release): update pre-commit hook crate-ci/typos to v1.16.23
  .pre-commit-config.yaml
Labels: none

chore(deps): update ansible-lint to 6.22.0
  requirements.txt
Labels: none

chore(deps): update ansible-lint to 6.22.0
  requirements.txt
Labels: none

fix(github-action): update micalevisk/last-issue-action action to v2.2.1
  .github/workflows/link-check.yaml
Labels: area/github

fix(github-action): update micalevisk/last-issue-action action to v2.2.1
  .github/workflows/link-check.yaml
Labels: area/github

fix(helm): update chart reloader to 1.0.51
  bootstrap/templates/kubernetes/apps/kube-system/reloader/app/helmrelease.yaml.j2
  kubernetes/apps/kube-system/reloader/app/helmrelease.yaml
Labels: area/bootstrap, area/kubernetes

fix(helm): update chart reloader to 1.0.51
  bootstrap/templates/kubernetes/apps/kube-system/reloader/app/helmrelease.yaml.j2
  kubernetes/apps/kube-system/reloader/app/helmrelease.yaml
Labels: area/bootstrap, area/kubernetes

feat(container): update image ghcr.io/gethomepage/homepage to v0.8.0
  kubernetes/apps/default/homepage/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update image ghcr.io/gethomepage/homepage to v0.8.0
  kubernetes/apps/default/homepage/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image weave-gitops to v4.0.34
  bootstrap/templates/addons/weave-gitops/app/helmrelease.yaml.j2
  kubernetes/apps/flux-system/weave-gitops/app/helmrelease.yaml
Labels: area/addons, area/bootstrap, area/kubernetes

fix(container): update image weave-gitops to v4.0.34
  bootstrap/templates/addons/weave-gitops/app/helmrelease.yaml.j2
  kubernetes/apps/flux-system/weave-gitops/app/helmrelease.yaml
Labels: area/addons, area/bootstrap, area/kubernetes

feat(github-release): update pre-commit hook adrienverge/yamllint to v1.33.0
  .pre-commit-config.yaml
Labels: none

feat(github-release): update pre-commit hook adrienverge/yamllint to v1.33.0
  .pre-commit-config.yaml
Labels: none

feat(helm): update chart csi-driver-nfs to v4.5.0
  bootstrap/templates/addons/csi-driver-nfs/app/helmrelease.yaml.j2
Labels: area/addons, area/bootstrap

feat(helm): update chart csi-driver-nfs to v4.5.0
  bootstrap/templates/addons/csi-driver-nfs/app/helmrelease.yaml.j2
Labels: area/addons, area/bootstrap

chore(deps): update ansible to 8.6.1
  requirements.txt
Labels: none

chore(deps): update ansible to 8.6.1
  requirements.txt
Labels: none

fix(ansible): update community.sops to 1.6.7
  requirements.yaml
Labels: none

fix(ansible): update community.sops to 1.6.7
  requirements.yaml
Labels: none

feat(ansible): update community.general to 7.5.1
  requirements.yaml
Labels: none

feat(ansible): update community.general to 7.5.1
  requirements.yaml
Labels: none

feat(ansible)!: Update community.general to 8.0.1
  requirements.yaml
Labels: none

feat(ansible)!: Update community.general to 8.0.1
  requirements.yaml
Labels: none

fix(container): update image ghcr.io/dgtlmoon/changedetection.io to v0.45.7.3
  kubernetes/apps/default/changedetection/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/dgtlmoon/changedetection.io to v0.45.7.3
  kubernetes/apps/default/changedetection/app/helmrelease.yaml
Labels: area/kubernetes

feat(container)!: Update image kube-prometheus-stack to v53
  bootstrap/templates/addons/kube-prometheus-stack/app/helmrelease.yaml.j2
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/addons, area/bootstrap, area/kubernetes

feat(container)!: Update image kube-prometheus-stack to v53
  bootstrap/templates/addons/kube-prometheus-stack/app/helmrelease.yaml.j2
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/addons, area/bootstrap, area/kubernetes

fix(container): update image docker.io/miniflux/miniflux to v2.0.50
  kubernetes/apps/default/miniflux/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image docker.io/miniflux/miniflux to v2.0.50
  kubernetes/apps/default/miniflux/app/helmrelease.yaml
Labels: area/kubernetes

fix: add memos to homepage
  kubernetes/apps/default/homepage/app/configmap.yaml
Labels: area/kubernetes

fix: add memos to homepage
  kubernetes/apps/default/homepage/app/configmap.yaml
Labels: area/kubernetes

feat: ++windmill
  .gitignore
  .taskfiles/ClusterTasks.yaml
  kubernetes/apps/datasci/kustomization.yaml
  kubernetes/apps/datasci/windmill/README.md
  kubernetes/apps/datasci/windmill/app/helmrelease.yaml
  kubernetes/apps/datasci/windmill/app/kustomization.yaml
  kubernetes/apps/datasci/windmill/db/kustomization.yaml
  kubernetes/apps/datasci/windmill/db/postgres.yaml
  kubernetes/apps/datasci/windmill/ks.yaml
  kubernetes/flux/repositories/helm/kustomization.yaml
  kubernetes/flux/repositories/helm/seldon.yaml
  kubernetes/flux/repositories/helm/windmill.yaml
Labels: area/kubernetes

feat: ++windmill
  .gitignore
  .taskfiles/ClusterTasks.yaml
  kubernetes/apps/datasci/kustomization.yaml
  kubernetes/apps/datasci/windmill/README.md
  kubernetes/apps/datasci/windmill/app/helmrelease.yaml
  kubernetes/apps/datasci/windmill/app/kustomization.yaml
  kubernetes/apps/datasci/windmill/db/kustomization.yaml
  kubernetes/apps/datasci/windmill/db/postgres.yaml
  kubernetes/apps/datasci/windmill/ks.yaml
  kubernetes/flux/repositories/helm/kustomization.yaml
  kubernetes/flux/repositories/helm/seldon.yaml
  kubernetes/flux/repositories/helm/windmill.yaml
Labels: area/kubernetes

feat(github-release): update pre-commit hook pre-commit/mirrors-prettier to v3.1.0
  .pre-commit-config.yaml
Labels: none

feat(github-release): update pre-commit hook pre-commit/mirrors-prettier to v3.1.0
  .pre-commit-config.yaml
Labels: none

feat(container)!: Update image kube-prometheus-stack to v54
  bootstrap/templates/addons/kube-prometheus-stack/app/helmrelease.yaml.j2
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/addons, area/bootstrap, area/kubernetes

feat(container)!: Update image kube-prometheus-stack to v54
  bootstrap/templates/addons/kube-prometheus-stack/app/helmrelease.yaml.j2
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/addons, area/bootstrap, area/kubernetes

feat(helm): update chart volsync to 0.8.0
  kubernetes/apps/volsync/volsync/app/helmrelease.yaml
Labels: area/kubernetes

feat(helm): update chart volsync to 0.8.0
  kubernetes/apps/volsync/volsync/app/helmrelease.yaml
Labels: area/kubernetes

fix(ansible): update community.general to 8.0.2
  requirements.yaml
Labels: none

.github/labeler.yaml:

---
area/addons:
  - "bootstrap/templates/addons/**/*"
  - "bootstrap/tasks/addons/**/*"
  - "bootstrap/vars/addons.sample.yaml"
area/ansible:
  - "ansible/**/*"
  - "bootstrap/templates/ansible/**/*"
  - "bootstrap/tasks/ansible/**/*"
area/bootstrap:
  - "bootstrap/**/*"
  - "bootstrap/configure.yaml"
area/github:
  - ".github/**/*"
area/kubernetes:
  - "kubernetes/**/*"
  - "bootstrap/templates/kubernetes/**/*"
  - "bootstrap/tasks/kubernetes/**/*"
