Repository ahgraber/homelab-gitops-k3s, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/github, area/kubernetes

.github/labeler.yaml:

---
area/addons:
  - changed-files:
      - any-glob-to-any-file: "bootstrap/templates/addons/**/*"
      - any-glob-to-any-file: "bootstrap/tasks/addons/**/*"
      - "bootstrap/vars/addons.sample.yaml"
area/ansible:
  - changed-files:
      - any-glob-to-any-file: "ansible/**/*"
      - any-glob-to-any-file: "bootstrap/templates/ansible/**/*"
      - any-glob-to-any-file: "bootstrap/tasks/ansible/**/*"
area/bootstrap:
  - changed-files:
      - any-glob-to-any-file: "bootstrap/**/*"
      - "bootstrap/configure.yaml"
area/github:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: kubernetes/**/*
      - any-glob-to-any-file: "bootstrap/templates/kubernetes/**/*"
      - any-glob-to-any-file: "bootstrap/tasks/kubernetes/**/*"

fix: update links (closes #2005)
  README.md
  kubernetes/apps/networking/cloudflared/README.md
Labels: area/kubernetes

fix: update links (closes #2005)
  README.md
  kubernetes/apps/networking/cloudflared/README.md
Labels: area/kubernetes

chore(deps): update xanmanning.k3s to v3.4.3
  requirements.yaml
Labels: none

feat(template): use official pause image
  bootstrap/templates/ansible/inventory/group_vars/controller/main.yaml.j2
  bootstrap/templates/ansible/inventory/group_vars/worker/main.yaml.j2
Labels: area/ansible

feat(template): use official pause image
  bootstrap/templates/ansible/inventory/group_vars/controller/main.yaml.j2
  bootstrap/templates/ansible/inventory/group_vars/worker/main.yaml.j2
Labels: area/ansible

feat(template): target cluster ansible plays only to kubernetes in case other hosts are used
  bootstrap/templates/ansible/playbooks/cluster-installation.yaml.j2
  bootstrap/templates/ansible/playbooks/cluster-nuke.yaml.j2
  bootstrap/templates/ansible/playbooks/cluster-prepare.yaml.j2
  bootstrap/templates/ansible/playbooks/cluster-reboot.yaml.j2
  bootstrap/templates/ansible/playbooks/cluster-rollout-update.yaml.j2
Labels: area/ansible

feat(template): target cluster ansible plays only to kubernetes in case other hosts are used
  bootstrap/templates/ansible/playbooks/cluster-installation.yaml.j2
  bootstrap/templates/ansible/playbooks/cluster-nuke.yaml.j2
  bootstrap/templates/ansible/playbooks/cluster-prepare.yaml.j2
  bootstrap/templates/ansible/playbooks/cluster-reboot.yaml.j2
  bootstrap/templates/ansible/playbooks/cluster-rollout-update.yaml.j2
Labels: area/ansible

fix: update pipx ansible install
  .taskfiles/BootstrapTasks.yaml
Labels: none

fix: update pipx ansible install
  .taskfiles/BootstrapTasks.yaml
Labels: none

feat(template): add kubeconfig ansible tasks
  ansible/playbooks/tasks/kubeconfig.yaml
  bootstrap/templates/ansible/playbooks/tasks/kubeconfig.yaml.j2
Labels: area/ansible

feat(template): add kubeconfig ansible tasks
  ansible/playbooks/tasks/kubeconfig.yaml
  bootstrap/templates/ansible/playbooks/tasks/kubeconfig.yaml.j2
Labels: area/ansible

feat(template): allow overriding the default local-path-provisioner path for PVC data
  bootstrap/templates/ansible/inventory/group_vars/controller/main.yaml.j2
  bootstrap/templates/kubernetes/apps/kube-system/local-path-provisioner/app/helmrelease.yaml.j2
  bootstrap/vars/config.sample.yaml
Labels: area/ansible, area/kubernetes

feat(template): allow overriding the default local-path-provisioner path for PVC data
  bootstrap/templates/ansible/inventory/group_vars/controller/main.yaml.j2
  bootstrap/templates/kubernetes/apps/kube-system/local-path-provisioner/app/helmrelease.yaml.j2
  bootstrap/vars/config.sample.yaml
Labels: area/ansible, area/kubernetes

fix(template): update k3s-io/k3s to v1.28.4+k3s2 (#1068)
  bootstrap/templates/addons/system-upgrade-controller/plans/agent.yaml.j2
  bootstrap/templates/addons/system-upgrade-controller/plans/server.yaml.j2
  bootstrap/templates/ansible/inventory/group_vars/kubernetes/main.yaml.j2
Labels: area/ansible

fix(template): update k3s-io/k3s to v1.28.4+k3s2 (#1068)
  bootstrap/templates/addons/system-upgrade-controller/plans/agent.yaml.j2
  bootstrap/templates/addons/system-upgrade-controller/plans/server.yaml.j2
  bootstrap/templates/ansible/inventory/group_vars/kubernetes/main.yaml.j2
Labels: area/ansible
