Repository ahgraber/homelab-gitops-k3s, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/addons, area/ansible, area/bootstrap, area/github, area/kubernetes, area/taskfile

.github/labeler.yaml:

---
area/addons:
  - changed-files:
      - any-glob-to-any-file: bootstrap/templates/addons/**/*
      - any-glob-to-any-file: bootstrap/tasks/addons/**/*
      - any-glob-to-any-file: bootstrap/vars/addons.sample.yaml
area/ansible:
  - changed-files:
      - any-glob-to-any-file: ansible/**/*
      - any-glob-to-any-file: bootstrap/templates/ansible/**/*
      - any-glob-to-any-file: bootstrap/tasks/ansible/**/*
area/bootstrap:
  - changed-files:
      - any-glob-to-any-file: bootstrap/**/*
      - any-glob-to-any-file: bootstrap/configure.yaml
area/github:
  - changed-files:
      - any-glob-to-any-file: .github/**/*
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: kubernetes/**/*
      - any-glob-to-any-file: bootstrap/templates/kubernetes/**/*
      - any-glob-to-any-file: bootstrap/tasks/kubernetes/**/*
area/taskfile:
  - changed-files:
      - any-glob-to-any-file: .taskfiles/**/*
      - any-glob-to-any-file: Taskfile*

feat(helm): update chart external-dns to 1.14.0
  bootstrap/templates/kubernetes/apps/networking/external-dns/app/helmrelease.yaml.j2
  kubernetes/apps/networking/external-dns/app/helmrelease.yaml
Labels: area/bootstrap, area/kubernetes

feat(container)!: Update image registry.k8s.io/sig-storage/csi-provisioner to v4
  bootstrap/templates/kubernetes/apps/kube-system/local-path-provisioner/app/helmrelease.yaml.j2
Labels: area/bootstrap, area/kubernetes

feat(container)!: Update image registry.k8s.io/sig-storage/csi-provisioner to v4
  bootstrap/templates/kubernetes/apps/kube-system/local-path-provisioner/app/helmrelease.yaml.j2
Labels: area/bootstrap, area/kubernetes

fix: flux-diff
  .github/workflows/flux-diff.yaml
Labels: area/github

fix: flux-diff
  .github/workflows/flux-diff.yaml
Labels: area/github

fix(container): update image kube-prometheus-stack to v55.7.1
  bootstrap/templates/addons/kube-prometheus-stack/app/helmrelease.yaml.j2
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/addons, area/bootstrap, area/kubernetes

fix(container): update image kube-prometheus-stack to v55.7.1
  bootstrap/templates/addons/kube-prometheus-stack/app/helmrelease.yaml.j2
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/addons, area/bootstrap, area/kubernetes

fix(helm): update chart windmill to 2.0.70
  kubernetes/apps/datasci/windmill/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update chart windmill to 2.0.70
  kubernetes/apps/datasci/windmill/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update chart crowdsec to 0.9.11
  kubernetes/apps/networking/crowdsec/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update chart crowdsec to 0.9.11
  kubernetes/apps/networking/crowdsec/app/helmrelease.yaml
Labels: area/kubernetes

feat(container)!: Update image docker.io/cloudflare/cloudflared to v2024
  kubernetes/apps/networking/cloudflared/app/helmrelease.yaml
Labels: area/kubernetes

feat(container)!: Update image docker.io/cloudflare/cloudflared to v2024
  kubernetes/apps/networking/cloudflared/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update rook-ceph group to v1.13.2
  kubernetes/apps/rook-ceph/rook-ceph/cluster/helmrelease.yaml
  kubernetes/apps/rook-ceph/rook-ceph/operator/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update rook-ceph group to v1.13.2
  kubernetes/apps/rook-ceph/rook-ceph/cluster/helmrelease.yaml
  kubernetes/apps/rook-ceph/rook-ceph/operator/helmrelease.yaml
Labels: area/kubernetes

fix: flux-diff
  .github/workflows/flux-diff.yaml
Labels: area/github

fix: flux-diff
  .github/workflows/flux-diff.yaml
Labels: area/github

todo: migrate memos to postgres
  kubernetes/apps/default/memos/README.md
Labels: area/kubernetes

todo: migrate memos to postgres
  kubernetes/apps/default/memos/README.md
Labels: area/kubernetes

fix(helm): update chart external-dns to 1.14.1
  bootstrap/templates/kubernetes/apps/networking/external-dns/app/helmrelease.yaml.j2
  kubernetes/apps/networking/external-dns/app/helmrelease.yaml
Labels: area/bootstrap, area/kubernetes

fix(helm): update chart external-dns to 1.14.1
  bootstrap/templates/kubernetes/apps/networking/external-dns/app/helmrelease.yaml.j2
  kubernetes/apps/networking/external-dns/app/helmrelease.yaml
Labels: area/bootstrap, area/kubernetes

fix(helm): update chart windmill to 2.0.71
  kubernetes/apps/datasci/windmill/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update chart windmill to 2.0.71
  kubernetes/apps/datasci/windmill/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update image kube-prometheus-stack to v55.8.1
  bootstrap/templates/addons/kube-prometheus-stack/app/helmrelease.yaml.j2
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/addons, area/bootstrap, area/kubernetes

feat(container): update image kube-prometheus-stack to v55.8.1
  bootstrap/templates/addons/kube-prometheus-stack/app/helmrelease.yaml.j2
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/addons, area/bootstrap, area/kubernetes

feat(helm): update chart grafana to 7.2.0
  bootstrap/templates/addons/grafana/app/helmrelease.yaml.j2
  kubernetes/apps/monitoring/grafana/app/helmrelease.yaml
Labels: area/addons, area/bootstrap, area/kubernetes

feat(helm): update chart grafana to 7.2.0
  bootstrap/templates/addons/grafana/app/helmrelease.yaml.j2
  kubernetes/apps/monitoring/grafana/app/helmrelease.yaml
Labels: area/addons, area/bootstrap, area/kubernetes

fix(github-release): update pre-commit hook crate-ci/typos to v1.17.1
  .pre-commit-config.yaml
Labels: none

fix(github-release): update pre-commit hook crate-ci/typos to v1.17.1
  .pre-commit-config.yaml
Labels: none

fix(helm): update chart windmill to 2.0.72
  kubernetes/apps/datasci/windmill/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update chart windmill to 2.0.72
  kubernetes/apps/datasci/windmill/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/cloudnative-pg/postgresql to v14.10-14
  kubernetes/apps/datasci/postgres/cloudnative-pg/db/cluster.yaml
  kubernetes/apps/default/postgres/cloudnative-pg/db/cluster.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/cloudnative-pg/postgresql to v14.10-14
  kubernetes/apps/datasci/postgres/cloudnative-pg/db/cluster.yaml
  kubernetes/apps/default/postgres/cloudnative-pg/db/cluster.yaml
Labels: area/kubernetes

feat(helm): update chart k8s-gateway to 2.3.0
  bootstrap/templates/kubernetes/apps/networking/k8s-gateway/app/helmrelease.yaml.j2
  kubernetes/apps/networking/k8s-gateway/app/helmrelease.yaml
Labels: area/bootstrap, area/kubernetes

feat(helm): update chart k8s-gateway to 2.3.0
  bootstrap/templates/kubernetes/apps/networking/k8s-gateway/app/helmrelease.yaml.j2
  kubernetes/apps/networking/k8s-gateway/app/helmrelease.yaml
Labels: area/bootstrap, area/kubernetes

fix(container): update image docker.io/restic/restic to v0.16.3
  .taskfiles/volsync/ListJob.tmpl.yaml
  .taskfiles/volsync/UnlockJob.tmpl.yaml
Labels: area/taskfile

fix(container): update image docker.io/restic/restic to v0.16.3
  .taskfiles/volsync/ListJob.tmpl.yaml
  .taskfiles/volsync/UnlockJob.tmpl.yaml
Labels: area/taskfile

fix(helm): update chart grafana to 7.2.1
  bootstrap/templates/addons/grafana/app/helmrelease.yaml.j2
  kubernetes/apps/monitoring/grafana/app/helmrelease.yaml
Labels: area/addons, area/bootstrap, area/kubernetes

fix(helm): update chart grafana to 7.2.1
  bootstrap/templates/addons/grafana/app/helmrelease.yaml.j2
  kubernetes/apps/monitoring/grafana/app/helmrelease.yaml
Labels: area/addons, area/bootstrap, area/kubernetes

fix(container): update image kube-prometheus-stack to v55.8.3
  bootstrap/templates/addons/kube-prometheus-stack/app/helmrelease.yaml.j2
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/addons, area/bootstrap, area/kubernetes
