Repository ahgraber/homelab-gitops-k3s, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/addons, area/ansible, area/bootstrap, area/github, area/kubernetes, area/taskfile

.github/labeler.yaml:

---
area/addons:
  - changed-files:
      - any-glob-to-any-file: bootstrap/templates/addons/**/*
      - any-glob-to-any-file: bootstrap/tasks/addons/**/*
      - any-glob-to-any-file: bootstrap/vars/addons.sample.yaml
area/ansible:
  - changed-files:
      - any-glob-to-any-file: ansible/**/*
      - any-glob-to-any-file: bootstrap/templates/ansible/**/*
      - any-glob-to-any-file: bootstrap/tasks/ansible/**/*
area/bootstrap:
  - changed-files:
      - any-glob-to-any-file: bootstrap/**/*
      - any-glob-to-any-file: bootstrap/configure.yaml
area/github:
  - changed-files:
      - any-glob-to-any-file: .github/**/*
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: kubernetes/**/*
      - any-glob-to-any-file: bootstrap/templates/kubernetes/**/*
      - any-glob-to-any-file: bootstrap/tasks/kubernetes/**/*
area/taskfile:
  - changed-files:
      - any-glob-to-any-file: .taskfiles/**/*
      - any-glob-to-any-file: Taskfile*

fix(container): update image kube-prometheus-stack to v55.8.3
  bootstrap/templates/addons/kube-prometheus-stack/app/helmrelease.yaml.j2
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/addons, area/bootstrap, area/kubernetes

feat(helm): update chart pgadmin4 to 1.23.1
  kubernetes/apps/default/postgres/pgadmin/app/helmrelease.yaml
Labels: area/kubernetes

feat(helm): update chart pgadmin4 to 1.23.1
  kubernetes/apps/default/postgres/pgadmin/app/helmrelease.yaml
Labels: area/kubernetes

feat(helm): update chart csi-driver-nfs to v4.6.0
  bootstrap/templates/addons/csi-driver-nfs/app/helmrelease.yaml.j2
Labels: area/addons, area/bootstrap

feat(helm): update chart csi-driver-nfs to v4.6.0
  bootstrap/templates/addons/csi-driver-nfs/app/helmrelease.yaml.j2
Labels: area/addons, area/bootstrap

fix(helm): update chart reloader to 1.0.63
  bootstrap/templates/kubernetes/apps/kube-system/reloader/app/helmrelease.yaml.j2
  kubernetes/apps/kube-system/reloader/app/helmrelease.yaml
Labels: area/bootstrap, area/kubernetes

fix(helm): update chart reloader to 1.0.63
  bootstrap/templates/kubernetes/apps/kube-system/reloader/app/helmrelease.yaml.j2
  kubernetes/apps/kube-system/reloader/app/helmrelease.yaml
Labels: area/bootstrap, area/kubernetes

fix(helm): update chart goldilocks to 8.0.1
  kubernetes/apps/monitoring/goldilocks/app/helmrelease-goldilocks.yaml
Labels: area/kubernetes

fix(helm): update chart goldilocks to 8.0.1
  kubernetes/apps/monitoring/goldilocks/app/helmrelease-goldilocks.yaml
Labels: area/kubernetes

feat(helm): update chart vpa to 4.4.1
  kubernetes/apps/monitoring/goldilocks/app/helmrelease-vpa.yaml
Labels: area/kubernetes

feat(helm): update chart vpa to 4.4.1
  kubernetes/apps/monitoring/goldilocks/app/helmrelease-vpa.yaml
Labels: area/kubernetes

chore(deps): update ansible-lint to 6.22.2
  requirements.txt
Labels: none

chore(deps): update ansible-lint to 6.22.2
  requirements.txt
Labels: none

fix(helm): update chart cilium to 1.14.6
  ansible/playbooks/templates/custom-cilium-helmchart.yaml.j2
  bootstrap/templates/ansible/playbooks/templates/custom-cilium-helmchart.yaml.j2.j2
  bootstrap/templates/kubernetes/apps/kube-system/cilium/app/helmrelease.yaml.j2
  kubernetes/apps/kube-system/cilium/app/helmrelease.yaml
Labels: area/ansible, area/bootstrap, area/kubernetes

fix(helm): update chart cilium to 1.14.6
  ansible/playbooks/templates/custom-cilium-helmchart.yaml.j2
  bootstrap/templates/ansible/playbooks/templates/custom-cilium-helmchart.yaml.j2.j2
  bootstrap/templates/kubernetes/apps/kube-system/cilium/app/helmrelease.yaml.j2
  kubernetes/apps/kube-system/cilium/app/helmrelease.yaml
Labels: area/ansible, area/bootstrap, area/kubernetes

fix(container): update image ghcr.io/dgtlmoon/changedetection.io to v0.45.13
  kubernetes/apps/default/changedetection/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/dgtlmoon/changedetection.io to v0.45.13
  kubernetes/apps/default/changedetection/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update chart node-problem-detector to 2.3.12
  kubernetes/apps/monitoring/node-problem-detector/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update chart node-problem-detector to 2.3.12
  kubernetes/apps/monitoring/node-problem-detector/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update chart windmill to 2.0.75
  kubernetes/apps/datasci/windmill/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update chart windmill to 2.0.75
  kubernetes/apps/datasci/windmill/app/helmrelease.yaml
Labels: area/kubernetes

chore(deps): update actions/create-github-app-token digest to c4fa18d
  .github/workflows/flux-diff.yaml
Labels: area/github

chore(deps): update actions/create-github-app-token digest to c4fa18d
  .github/workflows/flux-diff.yaml
Labels: area/github

fix(container): update image k8s-ycl to v1.2.1
  kubernetes/apps/kube-system/ycl/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image k8s-ycl to v1.2.1
  kubernetes/apps/kube-system/ycl/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update image kube-prometheus-stack to v55.11.0
  bootstrap/templates/addons/kube-prometheus-stack/app/helmrelease.yaml.j2
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/addons, area/bootstrap, area/kubernetes

feat(container): update image kube-prometheus-stack to v55.11.0
  bootstrap/templates/addons/kube-prometheus-stack/app/helmrelease.yaml.j2
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/addons, area/bootstrap, area/kubernetes

fix(github-release): update pre-commit hook crate-ci/typos to v1.17.2
  .pre-commit-config.yaml
Labels: none

fix(github-release): update pre-commit hook crate-ci/typos to v1.17.2
  .pre-commit-config.yaml
Labels: none

fix(container): update image docker.io/cloudflare/cloudflared to v2024.1.4
  kubernetes/apps/networking/cloudflared/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image docker.io/cloudflare/cloudflared to v2024.1.4
  kubernetes/apps/networking/cloudflared/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update chart loki-stack to 2.10.1
  kubernetes/apps/monitoring/loki-stack/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update chart loki-stack to 2.10.1
  kubernetes/apps/monitoring/loki-stack/app/helmrelease.yaml
Labels: area/kubernetes

chore(container): update image lscr.io/linuxserver/pairdrop to 45cd43d
  kubernetes/apps/default/pairdrop/app/helmrelease.yaml
Labels: area/kubernetes

fix: simplify scrutiny collector
  kubernetes/apps/monitoring/scrutiny/app/helmrelease-collector.yaml
Labels: area/kubernetes

fix: simplify scrutiny collector
  kubernetes/apps/monitoring/scrutiny/app/helmrelease-collector.yaml
Labels: area/kubernetes

fix: simplify scrutiny collector
  kubernetes/apps/monitoring/scrutiny/app/helmrelease-collector.yaml
Labels: area/kubernetes

fix: simplify scrutiny collector
  kubernetes/apps/monitoring/scrutiny/app/helmrelease-collector.yaml
Labels: area/kubernetes

chore(container): update image lscr.io/linuxserver/pairdrop to 45cd43d
  kubernetes/apps/default/pairdrop/app/helmrelease.yaml
Labels: area/kubernetes

chore(container): update image lscr.io/linuxserver/pairdrop to 45cd43d
  kubernetes/apps/default/pairdrop/app/helmrelease.yaml
Labels: area/kubernetes
