Repository ahgraber/homelab-gitops-k3s, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/addons, area/ansible, area/bootstrap, area/github, area/kubernetes

fix(github-release): update pre-commit hook sirosen/texthooks to 0.6.2
  .pre-commit-config.yaml
Labels: none

fix(github-release): update pre-commit hook sirosen/texthooks to 0.6.2
  .pre-commit-config.yaml
Labels: none

fix(helm): update chart goldilocks to 7.3.1
  kubernetes/apps/monitoring/goldilocks/app/helmrelease-goldilocks.yaml
Labels: area/kubernetes

fix(helm): update chart goldilocks to 7.3.1
  kubernetes/apps/monitoring/goldilocks/app/helmrelease-goldilocks.yaml
Labels: area/kubernetes

fix: update prefect for new chart version
  kubernetes/apps/datasci/prefect/server/helmrelease.yaml
Labels: area/kubernetes

fix: update prefect for new chart version
  kubernetes/apps/datasci/prefect/server/helmrelease.yaml
Labels: area/kubernetes

fix: update prefect for new chart version
  kubernetes/apps/datasci/prefect/server/helmrelease.yaml
Labels: area/kubernetes

fix: update prefect for new chart version
  kubernetes/apps/datasci/prefect/server/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update chart reflector to 7.1.216
  kubernetes/apps/kube-system/reflector/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update chart reflector to 7.1.216
  kubernetes/apps/kube-system/reflector/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update chart grafana to 6.61.1
  bootstrap/templates/addons/grafana/app/helmrelease.yaml.j2
  kubernetes/apps/monitoring/grafana/app/helmrelease.yaml
Labels: area/addons, area/bootstrap, area/kubernetes

fix(helm): update chart grafana to 6.61.1
  bootstrap/templates/addons/grafana/app/helmrelease.yaml.j2
  kubernetes/apps/monitoring/grafana/app/helmrelease.yaml
Labels: area/addons, area/bootstrap, area/kubernetes

fix(container): update image ghcr.io/gethomepage/homepage to v0.7.4
  kubernetes/apps/default/homepage/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/gethomepage/homepage to v0.7.4
  kubernetes/apps/default/homepage/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update chart cilium to 1.14.3
  ansible/playbooks/templates/custom-cilium-helmchart.yaml.j2
  bootstrap/templates/ansible/playbooks/templates/custom-cilium-helmchart.yaml.j2.j2
  kubernetes/apps/kube-system/cilium/app/helmrelease.yaml
Labels: area/ansible, area/bootstrap, area/kubernetes

fix(helm): update chart cilium to 1.14.3
  ansible/playbooks/templates/custom-cilium-helmchart.yaml.j2
  bootstrap/templates/ansible/playbooks/templates/custom-cilium-helmchart.yaml.j2.j2
  kubernetes/apps/kube-system/cilium/app/helmrelease.yaml
Labels: area/ansible, area/bootstrap, area/kubernetes

feat(helm): update chart cloudnative-pg to 0.19.0
  kubernetes/apps/cnpg-system/cloudnative-pg/operator/helmrelease.yaml
Labels: area/kubernetes

feat(helm): update chart cloudnative-pg to 0.19.0
  kubernetes/apps/cnpg-system/cloudnative-pg/operator/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update chart reloader to 1.0.46
  bootstrap/templates/kubernetes/apps/kube-system/reloader/app/helmrelease.yaml.j2
  kubernetes/apps/kube-system/reloader/app/helmrelease.yaml
Labels: area/bootstrap, area/kubernetes

fix(helm): update chart reloader to 1.0.46
  bootstrap/templates/kubernetes/apps/kube-system/reloader/app/helmrelease.yaml.j2
  kubernetes/apps/kube-system/reloader/app/helmrelease.yaml
Labels: area/bootstrap, area/kubernetes

chore(deps): update ansible-lint to 6.21.1
  requirements.txt
Labels: none

chore(deps): update ansible-lint to 6.21.1
  requirements.txt
Labels: none

fix(helm): update prefect group to 2023.10.19
  kubernetes/apps/datasci/prefect/agent/helmrelease.yaml
  kubernetes/apps/datasci/prefect/server/helmrelease.yaml
  kubernetes/apps/datasci/prefect/worker/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update prefect group to 2023.10.19
  kubernetes/apps/datasci/prefect/agent/helmrelease.yaml
  kubernetes/apps/datasci/prefect/server/helmrelease.yaml
  kubernetes/apps/datasci/prefect/worker/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update rook-ceph group to v1.12.6
  kubernetes/apps/rook-ceph/rook-ceph/cluster/helmrelease.yaml
  kubernetes/apps/rook-ceph/rook-ceph/operator/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update rook-ceph group to v1.12.6
  kubernetes/apps/rook-ceph/rook-ceph/cluster/helmrelease.yaml
  kubernetes/apps/rook-ceph/rook-ceph/operator/helmrelease.yaml
Labels: area/kubernetes

feat(container): update image kube-prometheus-stack to v51.10.0
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update image kube-prometheus-stack to v51.10.0
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/usememos/memos to v0.16.1
  kubernetes/apps/default/memos/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/usememos/memos to v0.16.1
  kubernetes/apps/default/memos/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/crowdsecurity/crowdsec to v1.5.5
  kubernetes/apps/networking/crowdsec/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/crowdsecurity/crowdsec to v1.5.5
  kubernetes/apps/networking/crowdsec/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image lscr.io/linuxserver/pairdrop to v1.9.4
  kubernetes/apps/default/pairdrop/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image lscr.io/linuxserver/pairdrop to v1.9.4
  kubernetes/apps/default/pairdrop/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update chart vpa to 3.0.2
  kubernetes/apps/monitoring/goldilocks/app/helmrelease-vpa.yaml
Labels: area/kubernetes

fix(helm): update chart vpa to 3.0.2
  kubernetes/apps/monitoring/goldilocks/app/helmrelease-vpa.yaml
Labels: area/kubernetes

fix: fix cnpg memory request is lower than `shared_buffers` value
  kubernetes/apps/datasci/postgres/cloudnative-pg/db/cluster.yaml
  kubernetes/apps/default/postgres/cloudnative-pg/db/cluster.yaml
Labels: area/kubernetes

fix: fix cnpg memory request is lower than `shared_buffers` value
  kubernetes/apps/datasci/postgres/cloudnative-pg/db/cluster.yaml
  kubernetes/apps/default/postgres/cloudnative-pg/db/cluster.yaml
Labels: area/kubernetes

feat(container): update image ghcr.io/ninerealmlabs/mlflow-server to v2.4.0
  kubernetes/apps/datasci/mlflow/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update image ghcr.io/ninerealmlabs/mlflow-server to v2.4.0
  kubernetes/apps/datasci/mlflow/app/helmrelease.yaml
Labels: area/kubernetes

.github/labeler.yaml:

---
area/addons:
  - "bootstrap/templates/addons/**/*"
  - "bootstrap/tasks/addons/**/*"
  - "bootstrap/vars/addons.sample.yaml"
area/ansible:
  - "ansible/**/*"
  - "bootstrap/templates/ansible/**/*"
  - "bootstrap/tasks/ansible/**/*"
area/bootstrap:
  - "bootstrap/**/*"
  - "bootstrap/configure.yaml"
area/github:
  - ".github/**/*"
area/kubernetes:
  - "kubernetes/**/*"
  - "bootstrap/templates/kubernetes/**/*"
  - "bootstrap/tasks/kubernetes/**/*"
